<div class="fullscreen-example">
  <h1>Fullscreen modal</h1>

  <div class="config">
    <h2>Config</h2>

    <kirby-checkbox
      [checked]="showFooter"
      (checkedChange)="toggleFooter()"
      text="Show footer"
    ></kirby-checkbox>

    <kirby-checkbox
      [checked]="isInlineFooter"
      (checkedChange)="toggleIsInlineFooter()"
      text="Inline footer"
    ></kirby-checkbox>

    <kirby-checkbox
      [checked]="showPageProgress"
      (checkedChange)="togglePageProgress()"
      text="Show page progress"
    ></kirby-checkbox>

    <kirby-checkbox
      [checked]="collapseTitle"
      (checkedChange)="toggleCollapseTitle()"
      text="Collapse title"
    ></kirby-checkbox>

    <kirby-checkbox
      [checked]="scrollDisabled"
      (checkedChange)="toggleScrollDisabled()"
      text="Scroll disabled"
    ></kirby-checkbox>
  </div>

  <button kirby-button (click)="openModal()">Open Modal</button>

  <kirby-fullscreen-modal-experimental
    [open]="open"
    [title]="'Modal title'"
    [hasCollapsibleTitle]="collapseTitle"
    [scrollDisabled]="scrollDisabled"
    [canDismiss]="canDismiss"
    (willDismiss)="closeModal()"
  >
    <!-- HEADER SLOT -->
    <kirby-page-progress *ngIf="showPageProgress" header-start>
      <kirby-progress-circle themeColor="warning" value="25" size="sm" class="kirby-text-xsmall">
        1/4
      </kirby-progress-circle>
    </kirby-page-progress>

    <!-- DEFAULT SLOT -->
    <div>
      <button kirby-button attentionLevel="3" (click)="scrollToBottom()">
        Scroll to bottom
        <kirby-icon name="arrow-down"></kirby-icon>
      </button>

      <button kirby-button attentionLevel="3" (click)="toggleCanDismiss()">
        Can dismiss: {{ canDismiss }}
      </button>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nunc eros, fermentum sed
        ligula ac, placerat porta est.
      </p>
      <kirby-dropdown
        placeholder="Dropdown with plain text"
        [items]="[
          'Item 1',
          'Item 2',
          'Item 3',
          'Item 4',
          'Item 5',
          'Item 1',
          'Item 2',
          'Item 3',
          'Item 4',
          'Item 5',
          'Item 1',
          'Item 2',
          'Item 3',
          'Item 4',
          'Item 5'
        ]"
      ></kirby-dropdown>
    </div>

    <!-- FOOTER SLOT -->
    <kirby-modal-footer-experimental
      *ngIf="showFooter"
      [type]="isInlineFooter ? 'inline' : 'fixed'"
      themeColor="white"
      footer
    >
      <button kirby-button attentionLevel="3" (click)="scrollToTop()">
        To top
        <kirby-icon name="arrow-up"></kirby-icon>
      </button>
      <button kirby-button (click)="close()">Close</button>
    </kirby-modal-footer-experimental>
  </kirby-fullscreen-modal-experimental>
</div>
