.fullscreen-example {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;

  .config {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
