@use 'avatar-examples.shared';
@use '@kirbydesign/core/src/scss/utils';

kirby-avatar {
  margin-bottom: utils.size('s');

  &[size='xs']::before {
    content: 'xs';
  }

  &[size='sm']::before {
    content: 'sm';
  }

  &[size='md']::before {
    content: 'md';
  }

  &[size='lg']::before {
    content: 'lg';
  }
}
