@use '@kirbydesign/core/src/scss/utils';

:host {
  display: flex;
  align-items: flex-end;
  margin-bottom: utils.size('xs');

  > * {
    margin-right: utils.size('s');
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.align-top {
    align-items: flex-start;
  }
}

kirby-avatar {
  position: relative;

  &::before {
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    font-size: utils.font-size('xs');
    text-align: center;
    display: inline-block;
    padding-top: utils.size('xxxs');
  }
}

kirby-avatar[stroke]::before {
  content: 'Stroke';
}

kirby-avatar[overlay]::before {
  content: 'Overlay';
}

kirby-avatar[themeColor] {
  margin: 0;
  display: block;

  &::before {
    padding-top: utils.size('s');
  }

  &[themeColor='light']::before {
    content: 'Light';
  }

  &[themeColor='white']::before {
    content: 'White';
  }
}

.avatar-item-inner-container-bg {
  background-color: utils.get-color('white');
  padding: utils.size('xs');
  border-radius: utils.border-radius('n');
  margin-bottom: utils.size('s');
}

.avatar-item-inner-container-bg-none {
  padding: utils.size('xs');
  border-radius: utils.border-radius('n');
  margin-bottom: utils.size('s');
}
