@use '@kirbydesign/core/src/scss/utils';

:host {
  display: flex;
  align-items: flex-end;
  margin-bottom: utils.size('s');

  > * {
    margin-right: utils.size('s');
  }

  &.align-top {
    align-items: flex-start;
  }
}

kirby-avatar {
  position: relative;
}

.avatar-item-container {
  display: inline-block;
  text-align: center;
}

.avatar-item-inner-container {
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: utils.size('xxs');
}

.avatar-item-title {
  display: block;
  max-width: 96px;
  font-size: 12px;
  color: rgb(0 0 0 / 60%);
  white-space: nowrap;
}

.avatar-item-inner-container-bg {
  background-color: utils.get-color('white');
  padding: utils.size('xs');
  border-radius: utils.border-radius('n');
  margin-bottom: utils.size('xxs');
}

.avatar-item-inner-container-bg-none {
  padding: utils.size('xs');
  border-radius: utils.border-radius('n');
  margin-bottom: utils.size('xxs');
}
