@use 'avatar-examples.shared';

kirby-avatar {
  margin-bottom: var(--kirby-spacing-s);

  &[size='xs']::before {
    content: 'xs';
  }

  &[size='sm']::before {
    content: 'sm';
  }

  &[size='md']::before {
    content: 'md';
  }

  &[size='lg']::before {
    content: 'lg';
  }
}
