@import '../../scss/native-imports';

.background, 
.container {
    display: flex;
    flex-direction: column;
    margin: size("xs");
}

.container {
    border-radius: $border-radius;
    background-color: get-color('contrast-light');

    &.primary {
        background-color: get-color('primary');
    }
    
    &.secondary {
        background-color: get-color('secondary');
    }
    
    &.tertiary {
        background-color: get-color('tertiary');
    }

    &.warning {
        background-color: get-color('warning');
    }

    &.success {
        background-color: get-color('success');
    }

    &.danger {
        background-color: get-color('danger');
    }

    &.light {
        background-color: get-color('light');
    }

    &.medium {
        background-color: get-color('medium');
    }

    &.dark {
        background-color: get-color('dark');
    }
}
