@import '../../scss/native-imports';

$color-card-bg: get-color('kirby-contrast-light');

.background, 
.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 8;
}

.container {
    background-color: $color-card-bg;
    border-radius: $border-radius;

}
