@import '../../scss/web-imports';

$min-card-height: 170px;
$min-card-width: 304px;

:host{ 
  --kirby-card-header-background-color:  #{get-color('white')};
  --kirby-card-header-color: #{get-color('primary-contrast')};
  --kirby-card-main-background-color: #{get-color('white')};
  --kirby-card-main-color: #{get-color('primary-contrast')};
  --kirby-card-footer-background-color: #{get-color('white')};
  --kirby-card-footer-color: #{get-color('primary-contrast')};

  border-radius: $border-radius;
  box-shadow: get-elevation(2);
  color: var(--kirby-card-main-color);
  background-color: var(--kirby-card-main-background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: $min-card-height;
  min-width: $min-card-width;
  overflow: hidden;

  &.highlighted {
    box-shadow: get-elevation(4);
  }

  &.flat {
    box-shadow: none;
  }

}

@each $color-name, $color-value in $main-colors {
    :host(.#{$color-name}) {
      --kirby-card-main-background-color: #{get-color($color-name)};
      --kirby-card-main-color: #{get-color($color-name+'-contrast')};
    }
}
