@import '../../scss/web-imports';

$min-card-height: 170px;
$max-card-height: 500px;
$min-card-width: 304px;

:host{ 
  --kirby-card-header-background-color:  #{get-color('contrast-light')};
  --kirby-card-header-color: #{get-color('primary-contrast')};
  --kirby-card-main-background-color: #{get-color('contrast-light')};
  --kirby-card-main-color: #{get-color('primary-contrast')};
  --kirby-card-footer-background-color: #{get-color('contrast-light')};
  --kirby-card-footer-color: #{get-color('primary-contrast')};

  border-radius: $border-radius;
  color: var(--kirby-wireframe-text-color);
  background-color: get-color('contrast-light');
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;
  justify-content: space-between;
  max-height: $max-card-height;
  min-height: $min-card-height;
  min-width: $min-card-width;
  width: 100%;
  overflow: hidden;

  &.primary {
      background-color: get-color('primary');
  }

  &.secondary {
      background-color: get-color('secondary');
  }

  &.tertiary {
      background-color: get-color('tertiary');
  }

  &.warning {
      background-color: get-color('warning');
  }

  &.success {
      background-color: get-color('success');
  }

  &.danger {
      background-color: get-color('danger');
  }

  &.light {
      background-color: get-color('light');
  }

  &.medium {
      background-color: get-color('medium');
  }

  &.dark {
      background-color: get-color('dark');
  }

  &.shadow {
    box-shadow: 0 10px 29px -9px rgba(24, 24, 24, 0.3);
  }
}
