@import '../../scss/native-imports';

.background, 
.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: size("xs");
}

.container {
    background-color: get-color('kirby-contrast-light');
    border-radius: $border-radius;
}
