@import '../../scss/web-imports';

$min-card-height: 170px;
$max-card-height: 500px;
$min-card-width: 304px;

:host{ 
  --kirby-card-header-background-color:  #{get-color('contrast-light')};
  --kirby-card-header-color: #{get-color('primary-contrast')};
  --kirby-card-main-background-color: #{get-color('contrast-light')};
  --kirby-card-main-color: #{get-color('primary-contrast')};
  --kirby-card-footer-background-color: #{get-color('contrast-light')};
  --kirby-card-footer-color: #{get-color('primary-contrast')};

  border-radius: $border-radius;
  color: var(--kirby-card-main-color);
  background-color: var(--kirby-card-main-background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: $max-card-height;
  min-height: $min-card-height;
  min-width: $min-card-width;
  overflow: hidden;

  &.shadow {
    box-shadow: 0 10px 29px -9px rgba(24, 24, 24, 0.3);
  }
}

@each $color-name, $color-value in $main-colors {
    :host(.#{$color-name}) {
      --kirby-card-main-background-color: #{get-color($color-name)};
      --kirby-card-main-color: #{get-color($color-name+'-contrast')};
    }
}
