@import '../../scss/web-imports';

$min-card-height: 345px;
$max-card-height: 500px;
$min-card-width: 304px;

:host {
  --kirby-card-header-background-color: var(--kirby-surface);
  --kirby-card-header-color: var(--kirby-on-surface);
  --kirby-card-main-background-color: var(--kirby-surface);
  --kirby-card-main-color: var(--kirby-on-surface);
  --kirby-card-footer-background-color: var(--kirby-surface);
  --kirby-card-footer-color: var(--kirby-on-surface);

  color: var(--kirby-wireframe-text-color);
  min-width: $min-card-width;
  min-height: $min-card-height;
  max-height: $max-card-height;
  display: flex;
  flex-direction: column;
}

.card {
  &-wrapper {
    border-radius: $border-radius;
    box-shadow: 0 10px 29px -9px rgba(24, 24, 24, 0.3);
    background-color: var(--kirby-surface);
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}