@use '@kirbydesign/core/src/scss/utils';

:host {
  display: block;
}

kirby-segmented-control {
  margin-bottom: utils.size('l');
}

kirby-card {
  margin-bottom: utils.size('s');
}

fieldset {
  display: inline-block;

  .disabled {
    color: utils.get-text-color('semi-dark');
  }
}
