<h3>Simple</h3>
<kirby-dropdown-example-default></kirby-dropdown-example-default>
<kirby-dropdown-example-scroll></kirby-dropdown-example-scroll>
<kirby-dropdown-example-pre-selected></kirby-dropdown-example-pre-selected>
<kirby-dropdown-example-expand></kirby-dropdown-example-expand>
<kirby-dropdown-example-attention-level></kirby-dropdown-example-attention-level>
<kirby-dropdown-example-item-select></kirby-dropdown-example-item-select>
<h3>Custom Item template</h3>
<kirby-dropdown-example-custom-item-template></kirby-dropdown-example-custom-item-template>
