<FlexboxLayout>
    <kirby-card class="theme--cookbook">
      <kirby-card-header [title]="title" [subtitle]="'Card-header Subtitel'">
      </kirby-card-header>
      <kirby-list [items]="[
          {title: 'Titel', amount: 'Beløb'},
          {title: 'Titel', amount: 'Beløb'},
          {title: 'Titel', amount: 'Beløb'},
          {title: 'Titel', amount: 'Beløb'}
          ]"></kirby-list>
      <kirby-card-footer>
        <kirby-button label="Tekst på knap" expand="block" shape="round" theme="cookbook"></kirby-button>
      </kirby-card-footer>
    </kirby-card>
  </FlexboxLayout>