<div class="container">
  <div class="kirby-text-medium">Standard</div>
  <div class="container-item">
    <kirby-checkbox checked="true"></kirby-checkbox>
  </div>
  <div class="kirby-text-medium">Sizes</div>
  <div class="container-item">

    <kirby-checkbox size="small" checked="true"></kirby-checkbox>
    <kirby-checkbox size="medium" checked="true"></kirby-checkbox>
    <kirby-checkbox size="large" checked="true"></kirby-checkbox>
  </div>
  <div class="kirby-text-medium">Colors</div>
  <div class="container-item">

    <kirby-checkbox color="primary" checked="true"></kirby-checkbox>
    <kirby-checkbox color="secondary" checked="true"></kirby-checkbox>
    <kirby-checkbox color="tertiary" checked="true"></kirby-checkbox>
  </div>
  <div class="kirby-text-medium">Shapes</div>
  <div class="container-item">

    <kirby-checkbox shape="square" checked="true"></kirby-checkbox>
    <kirby-checkbox shape="circle" checked="true"></kirby-checkbox>
  </div>
</div>