<p class="kirby-text-medium">Standard</p>
<div class="container-item">
  <kirby-checkbox checked="true" (checkedChange)="checkedChange($event)"></kirby-checkbox>
</div>
<p class="kirby-text-medium">Colors</p>
<div class="container-item">
  <kirby-checkbox color="primary" checked="true" (checkedChange)="checkedChange($event)"></kirby-checkbox>
  <kirby-checkbox color="secondary" checked="true" (checkedChange)="checkedChange($event)"></kirby-checkbox>
  <kirby-checkbox color="tertiary" checked="true" (checkedChange)="checkedChange($event)"></kirby-checkbox>
  <kirby-checkbox color="warning" checked="true" (checkedChange)="checkedChange($event)"></kirby-checkbox>
  <kirby-checkbox color="success" checked="true" (checkedChange)="checkedChange($event)"></kirby-checkbox>
  <kirby-checkbox color="danger" checked="true" (checkedChange)="checkedChange($event)"></kirby-checkbox>
</div>
<p class="kirby-text-medium">Shapes</p>
<div class="container-item">
  <kirby-checkbox shape="square" checked="true" (checkedChange)="checkedChange($event)"></kirby-checkbox>
  <kirby-checkbox shape="circle" checked="true" (checkedChange)="checkedChange($event)"></kirby-checkbox>
</div>