<!-- This container is only needed due to layout of larger screen sizes -->
<kirby-page title="Account">
  <kirby-page-actions *kirbyPageActions="{ sticky: true }">
    <button kirby-button [size]="'sm'" [attentionLevel]="'3'" (click)="onCardSelect()">
      Card
      <kirby-icon name="payment-card"></kirby-icon>
    </button>
  </kirby-page-actions>
  <kirby-page-content>
    <div class="container">
      <div class="app-header">
        <!-- Hidden on small screen sizes-->
      </div>

      <kirby-card>
        <kirby-item (click)="navigateToAccountSub()" routerLinkActive="active"
          >Account 1</kirby-item
        >
        <kirby-item
          (click)="navigateToAccountSub()"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Account 2</kirby-item
        >
        <kirby-item
          (click)="navigateToAccountSub()"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Account 3</kirby-item
        >
        <kirby-item (click)="navigateToAccountSub()">Account 4</kirby-item>
      </kirby-card>
    </div>
  </kirby-page-content>
</kirby-page>
