/* Font-sizes
--------------------------------------------------------------------------------*/
$font-sizes: (
  xxl:  34,  // 3rem,     
  xl:   28,  // 2rem,     
  l:    22,  // 1.5rem,   
  m:    20,  // 1.25rem,  
  n:    17,  // 1rem,     
  s:    15,  // .875rem,  
  xs:   13   // .75rem    
);

/* Font-sizes
--------------------------------------------------------------------------------*/
$font-weight: (
  light: 200,
  normal: 400,
  medium: 500,
  bold: 700
);

/* Sizes
--------------------------------------------------------------------------------*/
$sizes: (
  xxxl:         70,    // 4.375rem,         
  xxl:          60,    // 3.75rem,          
  xl:           50,    // 3.125rem,       
  l:            32,    // 2rem,           
  m:            16,    // 1rem,  - Same as gutter
  s:            12,    // .75rem,         
  xs:           8,     // .5rem, - Same as gutter-small
  xxs:          4,     // .25rem,     
  gutter:       16,    // 1rem,  - helper
  gutter-small: 8      // 0.5rem - helper
);