/* Font-sizes
--------------------------------------------------------------------------------*/
$font-sizes: (
  display: 34,
  xxl:  28,
  xl:   22,
  l:    20,
  m:    17,
  n:    17,
  s:    15,
  xs:   13  
);

/* Font-sizes
--------------------------------------------------------------------------------*/
$line-height: (
  display: 41,
  xxl:  34,
  xl:   28,
  l:    26,
  m:    22,
  n:    22,
  s:    20,
  xs:   18 
);


/* Font-sizes
--------------------------------------------------------------------------------*/
$font-weight: (
  light: 200,
  normal: 400,
  medium: 500,
  bold: 700
);

/* Sizes
--------------------------------------------------------------------------------*/
$sizes: (
  xxxl:         70,    // 4.375rem,         
  xxl:          60,    // 3.75rem,          
  xl:           50,    // 3.125rem,       
  l:            32,    // 2rem,           
  m:            16,    // 1rem,  - Same as gutter
  s:            12,    // .75rem,         
  xs:           8,     // .5rem, - Same as gutter-small
  xxs:          4,     // .25rem,     
  gutter:       16,    // 1rem,  - helper
  gutter-small: 8      // 0.5rem - helper
);