@import 'utils';
@import './base/ionic';
@import './base/typography';

:root {
  --kirby-font-family: 'Roboto';
  font-family: var(--kirby-font-family);
  @each $color, $color-name in $kirby-colors {
    --kirby-#{$color}: #{$color-name};
  }
  --kirby-page-max-width: 1366px;
  --kirby-statusbar-padding: var(--ion-statusbar-padding);
  --kirby-safe-area-top: var(--ion-safe-area-top);
  --kirby-safe-area-right: var(--ion-safe-area-right);
  --kirby-safe-area-bottom: var(--ion-safe-area-bottom);
  --kirby-safe-area-left: var(--ion-safe-area-left);
  --kirby-tab-bar-height: 50px;
}

.kirby-modal {
  box-sizing: border-box;
  --background: #{get-color('background-color')};
  --border-radius: 0;
  position: fixed;

  &.kirby-modal-compact {
    --border-radius: #{$border-radius};

    .modal-wrapper {
      max-width: $compact-modal-max-width;
      height: auto;
      text-align: center;
    }
  }

  &.kirby-drawer {
    padding-top: calc(var(--ion-safe-area-top, 0) + #{size('m')});

    .modal-wrapper {
      border-top-left-radius: #{$border-radius};
      border-top-right-radius: #{$border-radius};
    }
  }

  @include media('>=medium') {
    //TODO Hardcoded magic numbers: Jakob + Jonathan, revisit!!!
    --width: 720px;
    --height: 647px;
    --border-radius: #{$border-radius};
    --box-shadow: #{get-elevation(8)};

    &.kirby-drawer {
      padding-top: unset;
    }
  }
}

.backdrop-no-scroll {
  overflow: hidden;
}

.kirby-action-sheet {
  --background: transparent;
  --width: 100%;
  --height: 100%;
  position: fixed;

  .modal-wrapper {
    pointer-events: none; //Fix clickable backdrop of modal
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}

.alert-wrapper {
  box-shadow: get-elevation(8) !important;
}

.kirby-alert {
  position: fixed;
  --background: #{get-color('background-color')};
  --border-radius: #{$border-radius};
  --box-shadow: #{get-elevation(8)};

  .modal-wrapper {
    max-width: $alert-max-width;
    height: auto;
    text-align: center;
  }
}

.kirby-toast {
  position: fixed;
  user-select: none;
  text-align: center;

  // Set default colors
  --background: #{get-color('success')};
  --color: #{get-color('success-contrast')};
  --button-color: #{get-color('success-contrast')};

  @each $color-name, $color-value in $main-colors {
    @if ($color-name == 'success' or $color-name == 'warning' or $color-name == 'danger') {
      &.#{$color-name} {
        --background: #{get-color($color-name)};
        --color: #{get-color($color-name + '-contrast')};
        --button-color: #{get-color($color-name + '-contrast')};
      }
    }
  }
}
