/* Page layout
--------------------------------------------------------------------------------*/
$page-side-nav-width: 16.625rem;
$page-max-width: 1366px;

/* Breakpoints
--------------------------------------------------------------------------------*/
$breakpoints: (
  small: 361px, 
  medium: 721px, 
  large: 1025px,
  xlarge: 60em, 
  xxlarge: 80em 
);

/* Font-sizes
--------------------------------------------------------------------------------*/
$font-sizes: (
  xxl: 3rem,  // 48px
  xl: 2rem,   // 32px
  l: 1.5rem,  // 24px
  m: 1.25rem, // 20px
  n: 1rem,    // 16px
  s: .875rem, // 14px
  xs: .75rem  // 12px
);

/* Sizes
--------------------------------------------------------------------------------*/
$sizes: (
  xxxl: 4.375rem,  // 70px
  xxl:  3.75rem,   // 60px
  xl:   3.125rem,  // 50px
  l:    2rem,      // 32px
  m:    1rem,      // 16px
  s:    .75rem,    // 12px
  xs:   .5rem,     // 8px
  xxs:  .25rem,    // 4px
  gutter: 1rem,    // 16px
);

/* Z-index
--------------------------------------------------------------------------------*/
$z-layers: (
  default: 1,
  modal-overlay: 900,
  modal: 901
);

/* Borders 
--------------------------------------------------------------------------------*/
$border-radius: 18px;
$border-radius-small: 6px;


/*
 * Specific module coloring and sizing follows
--------------------------------------------------------------------------------*/
