/* General imports for components */
$native: false;
@import './plugins/web-include-media';
@import './common-functions'; 
@import './common-variables';
@import './web-variables';
@import './themes/common-themes';
@import './base/all';

:root {
    --kirby-primary: #{get-color('primary')};
    --kirby-on-primary: #{get-color('on-primary')};
    --kirby-secondary: #{get-color('secondary')};
    --kirby-on-secondary: #{get-color('on-secondary')};
    --kirby-surface: #{get-color('surface')};
    --kirby-on-surface: #{get-color('on-surface')};
}