@import '../../../../kirby/scss/utils';

kirby-card {
  margin: get-shadow-size(2);
  width: map-get($breakpoints, small);

  @include media('>=large') {
    width: map-get($breakpoints, medium);
  }

  kirby-card-header {
    padding: size('xxxs');
    padding-bottom: 0;
    background-color: get-color('warning');
    color: get-color('warning-contrast');
  }

  kirby-list-flex-item {
    box-sizing: border-box;
    padding: size('xs');
    border-bottom: 1px get-color('background-color') solid;

    &:first-child {
      font-weight: bold;
      padding-top: size('s');
      padding-bottom: size('s');
    }

    &:last-child {
      border-bottom: none;
    }
  }
}
