@use '@kirbydesign/core/src/scss/utils';

$app-header-max-width: 1024px;

:host {
  display: block;
  background: utils.get-color('background-color');
  height: 100%;
}

.logo {
  display: none;
  @include utils.media('>=large') {
    display: block;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.app-header {
  margin: 0 auto;
  max-width: $app-header-max-width;
}

kirby-tab-bar {
  --kirby-tab-bar-max-width: #{$app-header-max-width};
}
