<!-- This container is only needed due to layout of larger screen sizes -->
<div class="container">
  <div class="app-header">
    <!-- Hidden on small screen sizes-->
    <kirby-avatar size="sm" overlay="true" text="Logo" class="logo"></kirby-avatar>
  </div>

  <kirby-tab-bar>
    <kirby-tab-button tab="overview">
      <kirby-icon name="overview-outline"></kirby-icon>
      <!--
        Alternative icon for selected tab, e.g. a filled icon:
        <kirby-icon name="overview" selected-tab></kirby-icon>
      -->
      Overview
    </kirby-tab-button>

    <kirby-tab-button tab="transfer">
      <kirby-icon name="swap"></kirby-icon>
      Transfer
    </kirby-tab-button>

    <kirby-tab-button tab="inbox">
      <kirby-icon name="inbox-outline"></kirby-icon>
      Inbox
      <kirby-badge themeColor="danger">1</kirby-badge>
    </kirby-tab-button>

    <kirby-tab-button tab="menu">
      <kirby-icon name="menu-no-decoration"></kirby-icon>
      Menu
    </kirby-tab-button>
  </kirby-tab-bar>
</div>
