<h1>H1 - The quick brown fox jumps over the lazy dog</h1>
<h2>H2 - The quick brown fox jumps over the lazy dog</h2>
<h3>H3 - The quick brown fox jumps over the lazy dog</h3>
<p>P - The quick brown fox jumps over the lazy dog</p>
<p class="text-small">The quick brown fox jumps over the lazy dog</p>
<p class="text-xsmall">The quick brown fox jumps over the lazy dog</p>
<p class="text-xxsmall">The quick brown fox jumps over the lazy dog</p>
<p class="kirby-text-muted">I am muted text, or dimmed, or less highlighted...it's a thing</p>
<p class="kirby-text-right">I am right aligned!</p>
<p class="kirby-text-center">And look at me I am in the center off it all!</p>
<p class="kirby-text-right">I am left aligned!</p>
<p class="kirby-text-nowrap">This text will not wrap, no matter the width of its parent container.</p>
<p class="kirby-text-justify">Justified text looks really nice when you have a longer paragraphs of text. The quick brown fox jumps over the lazy dog.</p>