<div class="example">
  <h2>Input</h2>

  <h3>Default</h3>
  <kirby-example-viewer [html]="inputDefaultExample.template">
    <kirby-form-field-input-example #inputDefaultExample></kirby-form-field-input-example>
  </kirby-example-viewer>

  <h3>Label</h3>
  <kirby-example-viewer [html]="inputLabelExample.template">
    <kirby-form-field-input-label-example #inputLabelExample></kirby-form-field-input-label-example>
  </kirby-example-viewer>

  <h3>Label & Message</h3>
  <kirby-example-viewer [html]="inputLabelMessageExample.template">
    <kirby-form-field-input-label-message-example
      #inputLabelMessageExample
    ></kirby-form-field-input-label-message-example>
  </kirby-example-viewer>

  <h3>Character counter</h3>
  <kirby-example-viewer [html]="inputCounterExample.template">
    <kirby-form-field-input-counter-example
      #inputCounterExample
    ></kirby-form-field-input-counter-example>
  </kirby-example-viewer>

  <h3>Numeric</h3>
  <kirby-example-viewer [html]="inputNumericExample.template">
    <kirby-form-field-input-numeric-example
      #inputNumericExample
    ></kirby-form-field-input-numeric-example>
  </kirby-example-viewer>

  <h3>Disabled</h3>
  <kirby-example-viewer [html]="inputDisabledExample.template">
    <kirby-form-field-input-disabled-example
      #inputDisabledExample
    ></kirby-form-field-input-disabled-example>
  </kirby-example-viewer>

  <h3>Error</h3>
  <kirby-example-viewer [html]="inputErrorExample.template">
    <kirby-form-field-input-error-example #inputErrorExample></kirby-form-field-input-error-example>
  </kirby-example-viewer>

  <h2>Textarea</h2>

  <h3>Default</h3>
  <kirby-example-viewer [html]="textareaDefaultExample.template">
    <kirby-form-field-textarea-example #textareaDefaultExample></kirby-form-field-textarea-example>
  </kirby-example-viewer>

  <h3>Label</h3>
  <kirby-example-viewer [html]="textareaLabelExample.template">
    <kirby-form-field-textarea-label-example
      #textareaLabelExample
    ></kirby-form-field-textarea-label-example>
  </kirby-example-viewer>

  <h2>Form Field</h2>
  <h4>Properties:</h4>
  <kirby-showcase-properties [properties]="formFieldProperties"></kirby-showcase-properties>

  <h2>Input & Textarea: Shared Properties & Events</h2>
  <h4>Properties:</h4>
  <kirby-showcase-properties [properties]="sharedProperties"></kirby-showcase-properties>
  <h4>Events:</h4>
  <kirby-showcase-properties [properties]="sharedEvents"></kirby-showcase-properties>

  <h2>Input: Specific properties</h2>
  <h4>Properties:</h4>
  <kirby-showcase-properties [properties]="inputProperties"></kirby-showcase-properties>

  <h2>Textarea: Specific properties</h2>
  <h4>Properties:</h4>
  <kirby-showcase-properties [properties]="textareaProperties"></kirby-showcase-properties>

  <h2>Input Counter</h2>
  <h4>Properties:</h4>
  <kirby-showcase-properties [properties]="counterProperties"></kirby-showcase-properties>
</div>
