@import '../web-imports';

@mixin background-color($color) {
    --kirby-button-background-color:#{get-color($color)};
}

@mixin border-color($color) {
    --kirby-button-border-color: #{get-color($color)};
}

@mixin text-color($color) {
    --kirby-button-color: #{get-color($color)};
}

@mixin attention-level1-theme() {
    :host-context([themecolor='primary'], [themecolor='success']) {
        @include attention-level2-theme();
    }
    @include background-color('primary');
    @include border-color('primary');
    @include text-color('primary-contrast');
}

@mixin attention-level2-theme() {
    @include background-color('light');
    @include border-color('light');
    @include text-color('light-contrast');
}

@mixin attention-level3-theme() {
    @include border-color('medium');
    @include text-color('medium-contrast');
}

@mixin attention-level4-theme() {
    @include text-color('primary-contrast');
}

@mixin attention-level1-destructive-theme() { 
    @include background-color('danger');
    @include border-color('danger');
    @include text-color('danger-contrast');
}

@mixin attention-level2-destructive-theme() {
    @include background-color('light');
    @include border-color('light');
    @include text-color('danger');
}

@mixin attention-level3-destructive-theme() {
    @include border-color('medium');
    @include text-color('danger');
}

@mixin attention-level4-destructive-theme() {
    @include text-color('danger');
}