$kirby-contrast-light: #fff;
$kirby-contrast-dark: #1c1c1c;

$main-colors: (
  'kirby-primary': #20c598,
  'kirby-secondary': #005c3c,
  'kirby-tertiary': #01352c,
  'kirby-success': #00e89a,
  'kirby-warning': #ffca3a,
  'kirby-danger': #ff595e,
  'kirby-light': #e8e8e8,
  'kirby-medium': #d2d2d2,
  'kirby-dark': #606060
);

@function _get-color-contrast($color, $contrast-dark: $kirby-contrast-dark, $contrast-light: $kirby-contrast-light) {
  $red: red($color);
  $green: green($color);
  $blue: blue($color);
  /*
    Color brightness is determined by the following formula:
    ((Red value X 299) + (Green value X 587) + (Blue value X 114)) / 1000
  */
  $color-brightness: (($red * 299) + ($green * 587) + ($blue * 114)) / 1000;
  /* The range for color brightness difference is 125 */
  $color-range: 125;
  @if $color-brightness < $color-range {
    @return $contrast-light;
  } @else {
    @return $contrast-dark;
  }
}

@function _get-tint-value($color, $weight: 10) {
  @return mix(white, $color, $weight);
}

@function _get-shade-value($color, $weight: 12) {
  @return mix(black, $color, $weight);
}

@function _get-rgb-values($color) {
  @return red($color), green($color), blue($color);
}

@function generate-colors($colors: $main-colors) {
  $color-list: ();
  @each $color-name, $color-value in $colors {
      $color-list: map-merge(
      (
        $color-name: $color-value,
        #{$color-name}-rgb: #{_get-rgb-values($color-value)},
        #{$color-name}-contrast: #{_get-color-contrast($color-value)},
        #{$color-name}-contrast-rgb: #{_get-rgb-values(_get-color-contrast($color-value))},
        #{$color-name}-shade: #{_get-shade-value($color-value)},
        #{$color-name}-tint: #{_get-tint-value($color-value)}
      )
      , $color-list)
  }
  @return $color-list;
}

@function create-stepper() {
  $scale-count: 5;
  $step-color: #ffffff;
  $steps: ();
  @while $scale-count < 100  {
    $steps:  map-merge(
      ('kirby-step-#{$scale-count}': mix($kirby-contrast-dark, $step-color, $scale-count)) 
    , $steps);
    $scale-count: $scale-count + 5;
  }
  @return $steps;
}

$kirby-colors: generate-colors();
$kirby-colors: map-merge(
  (
    'kirby-contrast-light': $kirby-contrast-light,
    'kirby-contrast-dark': $kirby-contrast-dark
  ),
  $kirby-colors
);
$kirby-colors: map-merge(create-stepper(), $kirby-colors); 