$kirby-contrast-light: #fff;
$kirby-contrast-dark: #1c1c1c;

// $kirby-colors: (
//     'kirby-brand-1':              #005c3c,
//     'kirby-brand-2':              #004d32,
//     'kirby-brand-3':              #003c27,
//     'kirby-brand-4':              #002e1e,
//     'kirby-brand-5':              #001b12,

//     'kirby-primary':              #00E89A,
//     'kirby-primary-contrast':     #2D3230,      
//     'kirby-primary-shade':        #004D32,      
    
//     'kirby-secondary':            #ffffff,      
//     'kirby-secondary-contrast':   #2d3230,
//     'kirby-secondary-shade':      #2d3230,      
    
//     'kirby-tertiary':             #ebebeb,
//     'kirby-tertiary-contrast':    #2D3230,      
//     'kirby-tertiary-shade':       #004D32,
    
//     'kirby-success':              #00e89a,
//     'kirby-success-contrast':     #003322,      
//     'kirby-success-shade':        #008055,

//     'kirby-alert':                #ffca3a,
//     'kirby-alert-contrast':       #45240F,      
//     'kirby-alert-shade':          #b34b05,

//     'kirby-danger':               #ff595e, 
//     'kirby-danger-contrast':      #431314,      
//     'kirby-danger-shade':         #cc474b,

//     /* Greyscales */
//     'kirby-step-5':                #f6f6f6, //Not used , yet
//     'kirby-grey-3':                #ebebeb,
//     'kirby-step-25':                #cfd4d3,
//     'kirby-grey-5':                #929694,
//     'kirby-step-65':                #787e7c,
//     'kirby-grey-7':                #5e6462,
//     'kirby-step-85':                #454b49,
//     'kirby-grey-9':                rgb(45, 50, 48),
//     'kirby-step-50':               #1f2321, 
// );

$main-colors: (
  'kirby-primary': #20c598,
  'kirby-secondary': #005c3c,
  'kirby-tertiary': #01352c,
  'kirby-success': #00e89a,
  'kirby-warning': #ffca3a,
  'kirby-danger': #ff595e,
  'kirby-light': #e8e8e8,
  'kirby-medium': #d2d2d2,
  'kirby-dark': #606060
);

@function _get-color-contrast($color, $contrast-dark: $kirby-contrast-dark, $contrast-light: $kirby-contrast-light) {
  $red: red($color);
  $green: green($color);
  $blue: blue($color);
  /*
    Color brightness is determined by the following formula:
    ((Red value X 299) + (Green value X 587) + (Blue value X 114)) / 1000
  */
  $color-brightness: (($red * 299) + ($green * 587) + ($blue * 114)) / 1000;
  /* The range for color brightness difference is 125 */
  $color-range: 125;
  @if $color-brightness < $color-range {
    @return $contrast-light;
  } @else {
    @return $contrast-dark;
  }
}

@function _get-tint-value($color, $weight: 10) {
  @return mix(white, $color, $weight);
}

@function _get-shade-value($color, $weight: 12) {
  @return mix(black, $color, $weight);
}

@function _get-rgb-values($color) {
  @return red($color), green($color), blue($color);
}

@function generate-colors($colors: $main-colors) {
  $color-list: ();
  @each $color-name, $color-value in $colors {
      $color-list: map-merge(
      (
        $color-name: $color-value,
        #{$color-name}-rgb: #{_get-rgb-values($color-value)},
        #{$color-name}-contrast: #{_get-color-contrast($color-value)},
        #{$color-name}-contrast-rgb: #{_get-rgb-values(_get-color-contrast($color-value))},
        #{$color-name}-shade: #{_get-shade-value($color-value)},
        #{$color-name}-tint: #{_get-tint-value($color-value)}
      )
      , $color-list)
  }
  @return $color-list;
}

@function create-stepper() {
  $scale-count: 5;
  $step-color: #f4f4f4;
  $steps: ('kirby-step-5': $step-color);
  @while $scale-count < 95  {
    $scale-count: $scale-count + 5;
    $steps:  map-merge(
      ('kirby-step-#{$scale-count}': mix($kirby-contrast-dark, $step-color, $scale-count - 5)) 
    , $steps)
  }
  @return $steps;
}

$kirby-colors: generate-colors();
$kirby-colors: map-merge(
  (
    'kirby-contrast-light': $kirby-contrast-light,
    'kirby-contrast-dark': $kirby-contrast-dark
  ),
  $kirby-colors
);
$kirby-colors: map-merge(create-stepper(), $kirby-colors); 