$themes: (
  'cookbook': (
    'kirby-surface': #fff,
    'kirby-on-surface': #333,
    'kirby-primary': #2a71b4,
    'kirby-primary-light': #2a71b4,
    'kirby-primary-lighter': #2a71b4,
    'kirby-on-primary': #fff,
    'kirby-secondary': lighten(rgb(51, 134, 212), 30),
    'kirby-on-secondary': rgb(64, 64, 64),
    'kirby-notification': #ff3b30,
    'kirby-on-notification' : #fff,
    'kirby-error': #ff3b30,
    'kirby-on-error': #fff,
    'kirby-warning': #ff9500,
    'kirby-on-warning' : #fff,
    'kirby-positive': #4CD964,
    'kirby-on-positive' : #fff,
    'kirby-disabled' : #b6b6b6,
    'kirby-on-disabled' : #b6b6b6,
    'kirby-text-secondary': #666,
  ),
  'kirby-v1': (
    'kirby-surface': #fff,
    'kirby-on-surface': #333,
    'kirby-background' : #f5f5f5,
    'kirby-on-background' : #666,
    'kirby-primary': #005C3C,
    'kirby-primary-light': #7fad9d,
    'kirby-primary-lighter': #bfd6ce,
    'kirby-on-primary': #fff,
    'kirby-secondary': lighten(rgb(51, 134, 212), 30),
    'kirby-on-secondary': rgb(64, 64, 64),
    'kirby-notification': #ff3b30,
    'kirby-on-notification' : #fff,
    'kirby-error': #ff3b30,
    'kirby-on-error': #fff,
    'kirby-warning': #ff9500,
    'kirby-on-warning' : #fff,
    'kirby-positive': #4CD964,
    'kirby-on-positive' : #fff,
    'kirby-disabled' : #b6b6b6,
    'kirby-on-disabled' : #b6b6b6,
    'kirby-text-secondary': #666,
  )
);
