$themes: (
  'cookbook': (
    'surface': #fff,
    'on-surface': #333,
    'primary': #2a71b4,
    'primary-light': #2a71b4,
    'primary-lighter': #2a71b4,
    'on-primary': #fff,
    'secondary': lighten(rgb(51, 134, 212), 30),
    'on-secondary': rgb(64, 64, 64),
    'notification': #ff3b30,
    'on-notification' : #fff,
    'error': #ff3b30,
    'on-error': #fff,
    'warning': #ff9500,
    'on-warning' : #fff,
    'positive': #4CD964,
    'on-positive' : #fff,
    'disabled' : #b6b6b6,
    'on-disabled' : #b6b6b6,
    'text-secondary': #666,
  ),
  'default': (
    'surface': #fff,
    'on-surface': #333,
    'background' : #f5f5f5,
    'on-background' : #666,
    'primary': #005C3C,
    'primary-light': #7fad9d,
    'primary-lighter': #bfd6ce,
    'on-primary': #fff,
    'secondary': lighten(rgb(51, 134, 212), 30),
    'on-secondary': rgb(64, 64, 64),
    'notification': #ff3b30,
    'on-notification' : #fff,
    'error': #ff3b30,
    'on-error': #fff,
    'warning': #ff9500,
    'on-warning' : #fff,
    'positive': #4CD964,
    'on-positive' : #fff,
    'disabled' : #b6b6b6,
    'on-disabled' : #b6b6b6,
    'text-secondary': #666,
  )
);

@function get-color($variant, $map: map-get($themes, 'default')) {
  $value: map-get($map, $variant);
  @if $value != null {
    @return $value;
  }
  @return null;
}

/* Notes: 

Color naming convention from Material design:
https://material.io/design/color/the-color-system.html#color-theme-creation

HIERARCHY: 
  .domain--name {
    .theme--name { (e.g. dark (Maybe bad), light (Maybe bad), cake, lollipop, 'some other neutral nonsense name') 
      --background 
      --on-background
      --surface
      --on-surface
      --primary
      --on-primary
      --primary-variant (Optional - a darker/lighter version of primary)
      --on-primary-variant (Optional)
      --secondary
      --on-secondary
      --tertiary (Optional...not sure if its even necessary yet)
      --ontertiary (Optional)
      --error
      --on-error
      --warning
      --on-warning
    }
  }

Use opacity for text importance
  - 87% Opacity for High Emphasis
  - 60% Opacity for Medium Emphasis / Helper texts
  - 35% Opacity for DISABLED
  - 100% for Error texts
*/
