<kirby-card [hasPadding]="true">
  <cookbook-chart-wip-example-simple-column></cookbook-chart-wip-example-simple-column>
</kirby-card>

<kirby-card [hasPadding]="true">
  <cookbook-chart-wip-example-bar></cookbook-chart-wip-example-bar>
</kirby-card>

<kirby-card [hasPadding]="true">
  <cookbook-chart-wip-example-column></cookbook-chart-wip-example-column>
</kirby-card>

<kirby-card [hasPadding]="true">
  <cookbook-chart-wip-example-column-stacked> </cookbook-chart-wip-example-column-stacked>
</kirby-card>

<kirby-card [hasPadding]="true">
  <cookbook-chart-wip-example-multiple-datasets> </cookbook-chart-wip-example-multiple-datasets>
</kirby-card>
