@import "../../../kirby/scss/utils";

:host {
    kirby-card {
        margin-bottom: size("m");
        max-width: size("m");
        padding: size("m");
    }

    h2 {
        margin-top: size("m");
    }
}

.button-example-container {
  margin-right: size('xs');
  display: inline-flex;
  align-items: center;
  flex-direction: column;

  label {
    font-size: font-size('xxs');
    color: get-color('semi-dark');
    text-align: center;
  }
}