@import '../../../kirby/scss/utils';

kirby-card {
  margin-bottom: size('m');

  &.attention-levels {
    max-width: map-get($breakpoints, 'small');
  }
}

h2:not(:first-child) {
  margin-top: size('xl');
}

h3 {
  margin-top: size('s');
}

h2,
h3 {
  margin-bottom: size('xxs');
}

.button-example-container {
  margin-right: size('xs');
  display: inline-flex;
  align-items: center;
  flex-direction: column;

  label {
    font-size: font-size('xxs');
    color: get-color('semi-dark');
    text-align: center;
  }
}

fieldset {
  margin-top: size('l');
  width: 300px;

  legend {
    display: flex;
  }
}
