<h2>Standalone button</h2>
<kirby-button text="Kirby Button" (click)="onSelect($event)"></kirby-button>
<kirby-button size="sm" text="Small Button"></kirby-button>
<kirby-button size="md" text="Medium Button"></kirby-button>
<kirby-button size="lg" text="Large Button"></kirby-button>
<kirby-button expand="block" text="Kirby Block Button"></kirby-button>
<kirby-button attentionLevel="1" isDestructive="true" text="Destructive Level 1"></kirby-button>
<kirby-button attentionLevel="2" isDestructive="true" text="Destructive Level 2"></kirby-button>
<kirby-button attentionLevel="3" isDestructive="true" text="Destructive Level 3"></kirby-button>
<kirby-button attentionLevel="4" isDestructive="true" text="Destructive Level 4"></kirby-button>
<kirby-button text="Disabled Button" [isDisabled]="true"></kirby-button>

<h2>Button with attention level</h2>
<kirby-card [themeColor]="themeColor">
  <kirby-button attentionLevel="1" expand="block" text="Attention Level 1"></kirby-button>
  <kirby-button attentionLevel="2" expand="block" text="Attention Level 2"></kirby-button>
  <kirby-button attentionLevel="3" expand="block" text="Attention Level 3"></kirby-button>
  <kirby-button attentionLevel="4" expand="block" text="Attention Level 4"></kirby-button>
</kirby-card>


