@use '@kirbydesign/core/src/scss/utils';
@use './card-example.shared.scss';

$card-gap: utils.size('s');
$card-min-width: 250px;
$break-width: 2 * $card-min-width + $card-gap;

:host {
  container-type: inline-size;
  display: block;
}

.variant-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: $card-gap;

  kirby-card {
    max-width: 50%;
    min-width: $card-min-width;
    flex: 1;
  }

  @container (width < #{$break-width}) {
    flex-direction: column;
    align-items: stretch;

    kirby-card {
      max-width: initial;
    }
  }
}
