@use '@kirbydesign/core/src/scss/utils';
@use './card-example.shared.scss';

$min-width: 250px;

:host {
  container-type: inline-size;
  display: block;
}

.variant-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: utils.size('s');

  kirby-card {
    max-width: 50%;
    min-width: $min-width;
    flex: 1;
  }

  @container (width < #{calc(2 * $min-width + utils.size('s'))}) {
    flex-direction: column;
    align-items: stretch;

    kirby-card {
      max-width: initial;
    }
  }
}
