<!--

  The kirby list will emit an event `(loadMore)`, when the user has scrolled 80% of the list.
  It is the user of the Kirby list to add more items to the bound `[items]`.

  The event emitted is of type `KirbyLoadMoreEvent`:

  export interface KirbyListLoadMoreEvent {
    complete: (disableLoadMore?: boolean) => void;
  }

  The `complete` callback function should be called when the loading of the additional items are done.

  If the callback function is called with the `disableLoadMore` argument set to true, no further events will be emitted. 
  Further more, if any is given, the `noMoreItemsText` will be shown.

-->
<kirby-list [items]="items" (loadOnDemand)="onLoadDemand($event)" noMoreItemsText="No more items">
  <kirby-item *kirbyListItemTemplate="let item">
    <kirby-label>
      <h3>{{ item.title }}</h3>
      <p subtitle>{{ item.subTitle }}</p>
    </kirby-label>
    <kirby-label slot="end">
      <data [value]="item.amount">{{ item.amount }}</data>
      <data [value]="item.detail" detail>{{ item.detail }}</data>
    </kirby-label>
  </kirby-item>
</kirby-list>
