<div class="example">
  <p>
    <em>
      <strong>Please note:</strong>
      The floating action button is placed at the bottom right corner of the page.
    </em>
  </p>
  <fieldset>
    <legend>Configuration</legend>
    <kirby-checkbox
      [checked]="disableFabSheet"
      (checkedChange)="disableFabSheet = $event"
      text="Disable FAB"
    ></kirby-checkbox>
  </fieldset>
  <cookbook-fab-sheet-example [disableFabSheet]="disableFabSheet"></cookbook-fab-sheet-example>
  <cookbook-code-viewer [html]="exampleHtml"></cookbook-code-viewer>

  <p>
    The floating action button is always shown with a close-icon when in its opened state. In order
    to show the icon correctly it needs to be configured as described in
    <a href="https://github.com/kirbydesign/designsystem#icons" class="kirby-external-icon">
      the project readme
    </a>
    .
  </p>

  <p>
    (Optional) if you need to obtain data back from the fab sheet, you can pass a callback function:
  </p>
  <!-- prettier-ignore -->
  <cookbook-code-viewer language="html">(itemSelect)="onItemSelect($event)"</cookbook-code-viewer>
  where
  <code>onItemSelect</code>
  can be e.g.:
  <!-- prettier-ignore -->
  <cookbook-code-viewer language="ts">onItemSelect(item: ActionSheetItem) {{ '{' }}...{{ '}' }}</cookbook-code-viewer>

  <h4>Fab sheet properties:</h4>
  <cookbook-api-description-properties
    [properties]="properties"
  ></cookbook-api-description-properties>
</div>
