<div class="example-container">
  <h2>Simple (Default) range with Reactive Form support</h2>
  <div class="example-frame">
    <cookbook-range-default-example></cookbook-range-default-example>
  </div>

  <h2>Range with pin and snap step</h2>
  <div class="example-frame">
    <cookbook-range-step-example></cookbook-range-step-example>
  </div>

  <h2>Disabled Range using Reactive Forms</h2>
  <div class="example-frame">
    <cookbook-range-disabled-form-example></cookbook-range-disabled-form-example>
  </div>
</div>
