<h2>Simple (Default) range with Reactive Form support</h2>

<cookbook-range-default-example></cookbook-range-default-example>

<h2>Range with pin and snap step</h2>

<cookbook-range-step-example></cookbook-range-step-example>

<h2>Disabled Range using Reactive Forms</h2>

<cookbook-range-disabled-form-example></cookbook-range-disabled-form-example>

<h2>Dual Knobs</h2>

<cookbook-range-dual-knobs-example></cookbook-range-dual-knobs-example>

<h2>Dual Knobs with Pin</h2>

<cookbook-range-dual-knobs-pin-example></cookbook-range-dual-knobs-pin-example>
