<h2>Simple (Default) range with Reactive Form support</h2>
<p>
  <cookbook-range-default-example></cookbook-range-default-example>
</p>

<h2>Range with pin and snap step</h2>
<p>
  <cookbook-range-step-example></cookbook-range-step-example>
</p>

<h2>Range with value shown in external component</h2>
<p>
  <cookbook-range-visible-value-example></cookbook-range-visible-value-example>
</p>

<h2>Disabled Range using Reactive Forms</h2>
<p>
  <cookbook-range-disabled-form-example></cookbook-range-disabled-form-example>
</p>
