<div class="tabs-example">
  <div>
    <h2>Tabs</h2>
    <p>
      Tabs are a top level navigation component to implement a tab-based navigation. The component
      is a container of individual content.
    </p>
    <h4>Icons</h4>
    <p>
      An icon for the tab can be specified by nesting a
      <code>kirby-icon</code>
      inside the
      <code>kirby-tab-button</code>
      tag.
    </p>
    <h3>Alternative icon for selected tab</h3>
    <p>
      If you need a different icon for the selected state of the tab, you can specify an additional
      icon with the attribute:
      <code>selected-tab</code>
      (see example below).
    </p>
    <cookbook-code-viewer [html]="exampleHtml"></cookbook-code-viewer>
  </div>
  <cookbook-iphone src="/examples/tabs" showExternalLink="true"></cookbook-iphone>
</div>

<h2>Router integration:</h2>
<p>
  When used with Angular's router the
  <code>tab</code>
  property of the
  <code>kirby-tab-button</code>
  should be a reference to the route path.
</p>
<p>
  Content of a tab will automatically be included by a
  <code>router-outlet</code>
  . Therefore the route specified by the tab button's
  <code>tab</code>
  property should be a child route of the route hosting your "tabs page" component.
</p>
<cookbook-code-viewer [html]="exampleRouterHtml"></cookbook-code-viewer>
<cookbook-code-viewer [ts]="exampleRouterConfig"></cookbook-code-viewer>

<br />
<h2>Tab Button properties:</h2>
<cookbook-api-description-properties
  [properties]="properties"
></cookbook-api-description-properties>

<br />
<h2>Tabs Service</h2>
The tabs service gives you access to the tabs outlet by just injecting the service into your
component
<cookbook-code-viewer [ts]="exampleTabsService"></cookbook-code-viewer>
