<div class="example">
  <p>
    The virtual scroll should be mostly invisible to the user, but behind the scenes, only a small
    subset of the total number of list items are actually rendered on the page. Items will
    dynamically be added/removed from the top and bottom of the list as the user scrolls up or down.
    This can have a very positive impact on performance - especially on long lists.
  </p>
</div>
<div class="example-wrapper">
  <cookbook-code-viewer [html]="exampleHtml"></cookbook-code-viewer>
  <cookbook-iphone src="/examples/list-virtual-scroll" showExternalLink="true"></cookbook-iphone>
</div>
<h2>Properties:</h2>
<cookbook-api-description-properties
  [properties]="properties"
></cookbook-api-description-properties>
