<kirby-loading-overlay [isLoading]="isLoading" [showBackdrop]="showBackdrop">
  <button kirby-button expand="block" attentionLevel="1" (click)="showAlert()">Show alert</button>
  <button kirby-button expand="block" attentionLevel="1" (click)="showAlert()">Show alert</button>
  <button kirby-button expand="block" attentionLevel="2" (click)="showAlert()">Show alert</button>
  <button kirby-button expand="block" attentionLevel="2" (click)="showAlert()">Show alert</button>
  <button kirby-button expand="block" attentionLevel="3" (click)="showAlert()">Show alert</button>
  <button kirby-button expand="block" attentionLevel="3" (click)="showAlert()">Show alert</button>
  <button kirby-button expand="block" attentionLevel="4" (click)="showLoadingOverlay(true)">Show loading overlay</button>
  <button kirby-button expand="block" attentionLevel="4" (click)="showLoadingOverlay(false)">Show loading overlay without backdrop</button>
</kirby-loading-overlay>
