@import '../../scss/native-imports';

// Ionic fab can be customized by using the css properties listed in the CSS Custom Properties section of the below docs page:
// https://ionicframework.com/docs/api/fab-button

ion-fab-button {
    --box-shadow: 0 10px 20px -10px #{get-color('kirby-primary-shade')};
    width: 64px;
    height: 64px;    

    &.disabled {
        --background: #{get-color('kirby-grey-4')};
        --box-shadow: 0;
    }

    &.no-shadow {
        --box-shadow: 0;
    }
}
