@import '../../scss/native-imports';

.fab {
    background-color: get-color('kirby-primary');
    border-radius: 32;
    width: 64;
    height: 64;
    text-align: center;
    vertical-align: middle;

    Image {
        width: 24;
        height: 24;
    }
}
  
.fab-shadow {
    width:64;
    height:64;
}

.fab-wrapper {
    width:96;
    height:96;
}

.fab-disabled {
    opacity: 0.6;
}