@import '../../scss/native-imports';

// Ionic fab can be customized by using the css properties listed in the CSS Custom Properties section of the below docs page:
// https://ionicframework.com/docs/api/fab-button

ion-fab-button {
    --box-shadow: #{get-elevation(8)};
    width: 64px;
    height: 64px;

    &.no-shadow {
        --box-shadow: 0;
    }

    &.disabled {
        --background: #{get-color('medium')};
        --box-shadow: 0;
    }

    &.not-floating {
        width: 40px;
        height: 40px;
        --background: #{get-color('light')};
        --box-shadow: 0;
    }
}
