@import '../../scss/native-imports';

@mixin fab-size($fab-size) {
  width: #{$fab-size};
  height: #{$fab-size};
}

@mixin fab-wrapper($fab-size, $color) {
  @include fab-size($fab-size * (3/2));
  .fab-shadow {
    @include fab-size($fab-size);
    .fab {
      @include fab-size($fab-size);
      background-color: get-color($color);
      border-radius: $fab-size;
      text-align: center;
      vertical-align: middle;

      &.disabled {
        opacity: 0.6;
        background-color: get-color('medium');
      }
    }
  }
}

.fab-wrapper {
  @include fab-wrapper(64, 'primary');
  
  &.not-floating {
    @include fab-wrapper(size('xl'), 'light');
  }
}
