<p>
  A Modal is a dialog that appears on top of the app's content, and must be dismissed by the app
  before interaction can resume. It is useful as a select component when there are a lot of options
  to choose from, or when filtering items in a list, as well as many other use cases.
</p>

<p>Modals can be generated programmatically or used as components.</p>

<hr />

<h2>Components</h2>
<p>
  The modal components must be used within a <code>kirby-page</code> or on a page with no scrolling
  as the modal will automatically apply a class to the body that prevents scrolling. This is not an
  issue within a <code>kirby-page</code> as that will handle the overflow and not the body.
</p>

<div class="components">
  <div class="components-column">
    <h3>Fullscreen</h3>
    <cookbook-iphone
      src="/examples/modal-experimental-fullscreen"
      showExternalLink="true"
    ></cookbook-iphone>
  </div>

  <div class="components-column">
    <h3>Sheet</h3>
    <cookbook-iphone
      src="/examples/modal-experimental-fullscreen"
      showExternalLink="true"
    ></cookbook-iphone>
  </div>

  <div class="components-column">
    <h3>Custom</h3>
    <cookbook-iphone
      src="/examples/modal-experimental-fullscreen"
      showExternalLink="true"
    ></cookbook-iphone>
  </div>
</div>

<hr />

<h2>Controller</h2>

<p>
  Modals can also be opened programmatically by using the <code>ModalExperimentalController</code>
</p>

<button kirby-button (click)="openModal()">Open modal</button>
