<cookbook-example-configuration-wrapper>
  <ng-content></ng-content>
  <section class="form-state">
    <h4>Form state:</h4>
    <p>
      <strong>form.value:</strong>
      {{ form.value | json }}
      <br />
    </p>

    <p *ngFor="let control of form.controls | keyvalue">
      <strong>{{ control.key }}:</strong>
      <span [class.state-true]="control.value.valid">valid: {{ control.value.valid }}</span>
      <span [class.state-true]="control.value.enabled">enabled: {{ control.value.enabled }}</span>
      <span [class.state-true]="control.value.touched">touched: {{ control.value.touched }}</span>
      <span [class.state-true]="isRequired(control.key)">
        required: {{ isRequired(control.key) }}
      </span>
    </p>
  </section>
</cookbook-example-configuration-wrapper>
