@import '../../scss/utils';

:host-context(kirby-card),
:host-context(.kirby-color-brightness-white) {
  --kirby-divider-color: #{get-color('background-color')};
}

:host-context(.kirby-color-brightness-light) {
  --kirby-divider-color: #{get-color('medium')};
}

hr {
  margin-top: size('xxs');
  margin-bottom: size('xxs');
  border: 0;
  border-top: 1px solid var(--kirby-divider-color, get-color('medium'));

  &.no-margin {
    margin-top: 0;
    margin-bottom: 0;
  }
}
