@import '../../scss/utils';

hr {
  border: 0px;
  border-top: 1px solid var(--kirby-divider-color);

  :host-context(.default),
  :host-context(.kirby-color-brightness-white) {
    --kirby-divider-color: #{get-color('background-color')};
  }
  :host-context(.kirby-color-brightness-light) {
    --kirby-divider-color: #{get-color('medium')};
  }
}
