<p>
  The <code>kirby-section-header</code> can be used as a header for a standalone grouping of
  elements.
</p>
<p>
  The section header is ideal as a first element within a <code>kirby-item-group</code>, as a header
  for that specific group of items, but can also be used for other groups of content such as a
  <code>kirby-card</code>.
</p>

<h2>Section Header in Item Group</h2>
<cookbook-section-header-with-item-group
  #sectionHeaderWithItemGroup
></cookbook-section-header-with-item-group>
<cookbook-example-viewer [html]="sectionHeaderWithItemGroup.template"> </cookbook-example-viewer>

<h2>Section Header with Card</h2>
<cookbook-section-header-with-card #sectionHeaderWithCard></cookbook-section-header-with-card>
<cookbook-example-viewer [html]="sectionHeaderWithCard.template"> </cookbook-example-viewer>
