@import '../../../scss/web-imports';

:host {
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  flex: 1;
  min-height: 0;
  flex-direction: column;
  padding: 10px;
  color: #ccc;
  border-radius: 50px;
  text-align: center;
  }
  
  :host:first-child {
    margin-left: 0;
  }
  
  :host.current-month {
    color: #242424;
  }
  
  :host.weekend {
    color: #ccc;
  }
  
  :host.selected {
    background: get-color('kirby-primary');
  }
  
  :host.today {
    color: #242424;
    background: get-color('kirby-grey-5');
  } 