@use '@kirbydesign/core/src/scss/utils';
@use '../showcase.shared';

.example-frame {
  margin-bottom: utils.size('xxs');
  border: 1px solid #ddd;
  border-radius: 12px;
  padding-block: utils.size('m');
}

.calendar-example {
  display: block;
  max-width: 320px;
  margin: 0 auto;
}
