@import '../form-field-inputs.shared';

:host() {
  &[type='number'] {
    //fallback
    appearance: textfield;
    //Firefox
    -moz-appearance: textfield;
  }

  //Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  height: size('xxxl');
}
