<h2>Number</h2>
<div class="badge-examples">
  <kirby-badge>1</kirby-badge>
  <kirby-badge themeColor="success">7</kirby-badge>
  <kirby-badge themeColor="warning">99</kirby-badge>
  <kirby-badge themeColor="danger">123</kirby-badge>
</div>
<h2>Text</h2>
<div class="badge-examples">
  <kirby-badge>Default</kirby-badge>
  <kirby-badge themeColor="success">Success</kirby-badge>
  <kirby-badge themeColor="warning">Warning</kirby-badge>
  <kirby-badge themeColor="danger">Danger</kirby-badge>
</div>
<h2>Icon</h2>
<div class="badge-examples">
  <kirby-badge>
    <kirby-icon name="attach"></kirby-icon>
  </kirby-badge>
  <kirby-badge themeColor="success">
    <kirby-icon name="attach"></kirby-icon>
  </kirby-badge>
  <kirby-badge themeColor="warning">
    <kirby-icon name="attach"></kirby-icon>
  </kirby-badge>
  <kirby-badge themeColor="danger">
    <kirby-icon name="attach"></kirby-icon>
  </kirby-badge>
</div>
