<ul class="side-nav side-menu" [ngClass]="{'is-open': isMenuOpen}" (click)="onToggleMenu()">
  <button class="side-menu__close-btn" >
      <kirby-icon name="close" size="large"></kirby-icon>
  </button>
  <li>
    <a routerLink="/home/intro" [routerLinkActive]="'is-selected'" class="side-nav__item">Intro</a>
  </li>
  <li>
    <a class="side-nav__item side-nav-header" routerLink="/home/component-status" [routerLinkActive]="'is-selected'" [routerLinkActiveOptions]="{exact: false}">
      <svg class="icon">
        <use xlink:href="../../assets/icons/icon-sprite.svg#icon-make-group"></use>
      </svg>
      Component Status
    </a>
  </li>
  <li routerLinkActive="is-selected" [routerLinkActiveOptions]="{exact: false}">
    <a class="side-nav__item side-nav-header" [routerLinkActive]="'is-selected'" [routerLinkActiveOptions]="{exact: false}">
      <svg class="icon">
        <use xlink:href="../../assets/icons/icon-sprite.svg#icon-point-down"></use>
      </svg>
      Actions
    </a>
    <ul class="side-nav side-nav--sub">
      <li><a routerLink="showcase/button" [routerLinkActive]="'is-selected'" class="side-nav__item">Button</a></li>
      <li><a routerLink="showcase/floating-action-button" [routerLinkActive]="'is-selected'" class="side-nav__item">Floating Action Button</a></li>
      <li><a routerLink="showcase/card" [routerLinkActive]="'is-selected'" class="side-nav__item">Card</a></li>
      <li><a routerLink="showcase/list" [routerLinkActive]="'is-selected'" class="side-nav__item">List</a></li>
      <li><a routerLink="showcase/list-load-on-demand" [routerLinkActive]="'is-selected'" class="side-nav__item">List - load on demand</a></li>
      <li><a routerLink="showcase/chart" [routerLinkActive]="'is-selected'" class="side-nav__item">Charts</a></li>
      <li><a routerLink="showcase/spinner" [routerLinkActive]="'is-selected'" class="side-nav__item">Spinner</a></li>
    </ul>
  </li>
  <li routerLinkActive="is-selected" [routerLinkActiveOptions]="{exact: false}">
    <a class="side-nav__item side-nav-header">
      <svg class="icon">
        <use xlink:href="../../assets/icons/icon-sprite.svg#icon-insert-template"></use>
      </svg>
      Structure
    </a>
    <ul class="side-nav side-nav--sub">
      <li><a routerLink="showcase/grid" [routerLinkActive]="'is-selected'" class="side-nav__item">Grid</a></li>
    </ul>
  </li>
  <li routerLinkActive="is-selected" [routerLinkActiveOptions]="{exact: false}">
    <a class="side-nav__item side-nav-header">
      <svg class="icon">
        <use xlink:href="../../assets/icons/icon-sprite.svg#icon-sleepy"></use>
      </svg>
      Other
    </a>
    <ul class="side-nav side-nav--sub">
      <li><a routerLink="showcase/avatar" [routerLinkActive]="'is-selected'" class="side-nav__item">Avatar</a></li>
      <li><a routerLink="showcase/icon" [routerLinkActive]="'is-selected'" class="side-nav__item">Icon</a></li>
      <li><a routerLink="showcase/colors" [routerLinkActive]="'is-selected'" class="side-nav__item">Colors</a></li>
    </ul>
  </li>
  <li routerLinkActive="is-selected" [routerLinkActiveOptions]="{exact: false}">
    <a class="side-nav__item side-nav-header">
      <svg class="icon">
        <use xlink:href="../../assets/icons/icon-sprite.svg#icon-font-size"></use>
      </svg>
      Typography
    </a>
    <ul class="side-nav side-nav--sub">
      <li><a routerLink="showcase/fonts" [routerLinkActive]="'is-selected'" class="side-nav__item">Font sizes</a></li>
    </ul>
  </li>
</ul>
