@import './libs/designsystem/src/lib/scss/utils';

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;

  thead {
    background-color: get-color('light-tint');
  }

  th {
    text-align: left;

    &:first-child {
      width: (100% / 3);
    }
  }

  td,
  th {
    border: 1px solid get-color('medium');
    padding: 0.5rem 1rem;
  }
}
