<article>
  <h1>Kirby Layout Recipes</h1>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus dignissimos error quo,
    deleniti voluptatum eveniet inventore pariatur a sapiente, quos magnam reprehenderit assumenda
    eos rem cupiditate. Molestias libero optio deserunt.
  </p>
  <h2>Grid Layout</h2>
  <table>
    <thead>
      <tr>
        <th>Recipe</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a [routerLink]="'/examples/grid-layout-core'">Core - single grid container</a>
        </td>
        <td>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur neque eaque
          exercitationem molestiae ut sapiente dolorem veniam, sint qui incidunt et fuga inventore
          blanditiis veritatis magnam earum, nulla mollitia labore?
        </td>
      </tr>
      <tr>
        <td><a href="/examples/grid-layout-core">Core - multiple grid containers</a></td>
        <td>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur neque eaque
          exercitationem molestiae ut sapiente dolorem veniam, sint qui incidunt et fuga inventore
          blanditiis veritatis magnam earum, nulla mollitia labore?
        </td>
      </tr>
      <tr>
        <td><a href="/examples/grid-layout-extended">Extended</a></td>
        <td>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur neque eaque
          exercitationem molestiae ut sapiente dolorem veniam, sint qui incidunt et fuga inventore
          blanditiis veritatis magnam earum, nulla mollitia labore?
        </td>
      </tr>
    </tbody>
  </table>
  <cookbook-iphone src="/examples/grid-layout-core" showExternalLink="true"></cookbook-iphone>
  <div class="example">
    <cookbook-code-viewer [html]="exampleHtml"></cookbook-code-viewer>
    <cookbook-grid-layout-core-example></cookbook-grid-layout-core-example>
  </div>
</article>
