<article>
  <h1>Kirby Layout Recipes</h1>
  <p>
    This section of the cookbook aims to bring together recipes for common layout patterns. The
    recipes provide code you can use as a starting point in your projects.
  </p>
  <h2>Grid Layout</h2>
  <table>
    <thead>
      <tr>
        <th scope="col">Recipe</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a [routerLink]="'/examples/grid-layout-single-container'">Single grid container</a>
        </td>
        <td>
          <p>
            Basic example. Everything is within a single grid container. Contains some decorational
            styles, but no additional layout styles.
          </p>
          <a [routerLink]="'grid-layout-single-container'">Show me the code</a>
        </td>
      </tr>
      <tr>
        <td>
          <a [routerLink]="'/examples/grid-layout-multiple-containers'">Multiple grid containers</a>
        </td>
        <td>
          <p>
            The same layout as the single grid container example. Created with multiple grid
            containers. Contains some decorational styles, but no additional layout styles.
          </p>
          <a [routerLink]="'grid-layout-multiple-containers'">Show me the code</a>
        </td>
      </tr>
      <tr>
        <td>
          <a [routerLink]="'/examples/grid-layout-extended'">Extended example</a>
        </td>
        <td>
          <p>
            The same layout as the basic examples, but with additional layout styles applied, e.g.,
            there are constructs for a max-width container and for gutter.
          </p>
          <a [routerLink]="'grid-layout-extended'">Show me the code</a>
        </td>
      </tr>
    </tbody>
  </table>
</article>
