<p>
  Links are used for navigation between pages. They can be standalone links used on their own or
  inline links placed within a sentence.
</p>
<p>
  A link should be used for simple navigation. That is, situations where the user will be sent to a
  new resource or destination in the app via a
  <code>href</code>
  . Use
  <a routerLink="/home/showcase/button">buttons</a>
  instead of links if the user is not redirected to a new destination but instead triggers an
  action, makes a choice, or in any way manipulate data.
</p>
<p>
  Rather than providing a component for links Kirby simply provides custom styles for the
  <code>&lt;a&gt;</code>
  tag that gives a consistent look and feel of links. Links have an underline and inherit the text
  color of the surrounding elements. The color of visited links does not change.
</p>

<h2>Sizes</h2>
<p>
  By default, links inherit the font-size of the context they are used in. For standalone links, any
  font-class from
  <a routerLink="/home/showcase/fonts">Kirby Fonts</a>
  can be applied. For accessibility reasons it is not recommended to use links when the clickable
  text is smaller than 12px (extra small).
</p>

<cookbook-example-viewer [html]="internal.template">
  <cookbook-link-example-default #internal></cookbook-link-example-default>
</cookbook-example-viewer>

<h2>New tab</h2>
<p>
  If the link is standalone, and will open a new tab, use the
  <code>kirby-external-icon</code>
  css-class to show an icon immediately after the link.
</p>

<cookbook-example-viewer [html]="newTab.template">
  <cookbook-link-example-new-tab #newTab></cookbook-link-example-new-tab>
</cookbook-example-viewer>

<p>
  It is not recommended to use this option for inline links. Instead, consider writing out the
  source for inline links so it is clear that clicking the link will take the user to a new context,
  e.g.
  <a href="https://github.com/kirbydesign/designsystem">www.github.com/kirbydesign/designsystem</a>
  . Then the user can choose how they want to open the link.
</p>
<p>
  <b>Note:</b>
  In a non-web context, i.e. an app, any link will most likely launch the device's browser and
  effectively open a new tab outside the app context.
</p>

<h2>Custom trailing-icon</h2>
<p>
  If you want to use a custom icon after the link instead of the external link icon then include the
  Kirby SCSS &#64;mixin
  <code>utils.trailing-icon</code>
  and the icon name of your choosing:
  <code>&#64;include trailing-icon(iconName)</code>
</p>
<p>
  The example below is using
  <code>"navigation"</code>
  as iconName. If you want to use an external svg, then you can input a URL instead of iconName.
  View code to see examples.
</p>

<cookbook-example-viewer [html]="trailingTab.template" [css]="trailingTab.style">
  <cookbook-link-example-trailing-icon #trailingTab></cookbook-link-example-trailing-icon>
</cookbook-example-viewer>
