@use '../design-token-table';
@use '../showcase.shared';

.spacing-sample {
  display: block;
  height: var(--kirby-spacing-xxs);
  background-color: var(--kirby-primary);
  border-radius: var(--kirby-border-radius-xxs);
  min-width: var(--kirby-spacing-xxxxs);
}
