<p>Spacing tokens can be used for consistent margins, paddings, and gaps.</p>

<p>
  They are available via the SCSS utility function
  <code>size()</code>
  or directly as CSS custom properties.
</p>
<table class="kirby-table">
  <thead>
    <tr>
      <th>Name</th>
      <th class="custom-property-cell">CSS Custom Property</th>
      <th>Base value</th>
      <th class="preview">Preview</th>
    </tr>
  </thead>
  <tbody>
    @for (token of spacings; track token.name) {
      <tr class="kirby-selectable-row" (click)="copyBtn.copy()">
        <td>
          <code>{{ token.name }}</code>
        </td>
        <td>
          <code>{{ token.cssVar }}</code>
          <cookbook-copy-token #copyBtn [cssVar]="token.cssVar"></cookbook-copy-token>
        </td>
        <td>{{ token.description }}</td>
        <td>
          <span
            class="spacing-sample token-preview"
            [style.width]="'var(' + token.cssVar + ')'"
          ></span>
        </td>
      </tr>
    }
  </tbody>
</table>
