# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/dist-lib
/test-reports

# dependencies
/node_modules

# NativeScript
/hooks
/platforms
/.tmp_backup

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
*.bak

# System Files
.DS_Store
Thumbs.db

scripts/manifest.plist
scripts/install-ipa.html
src/kirby/polyfills

# ts-lint
/tools/tslint-rules/dist


# Calendar WebView
src/kirby/components/calendar/calendar.webview.css
