# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/libs/core/loader
/libs/core/dist
/libs/core/www
/libs/core/node_modules
/libs/core/component-docs.d.ts
/libs/core/component-docs.json
/libs/core/src/components.d.ts
/dist
/tmp
/out-tsc
/dist-lib
/test-reports
*.styles.ts
/libs/designsystem/src/lib/polyfills/*.min.js

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
*.bak
.stencil/

# System Files
.DS_Store
Thumbs.db

scripts/manifest.plist
scripts/install-ipa.html

# tools (tslint, sass-to-ts etc.)
/tools/tslint-rules/dist
/tools/sass-to-ts/dist
/tools/generate-mocks/dist
