@import '../../../kirby/scss/utils';

@each $color-name, $color-value in $kirby-colors {
  .#{$color-name} {
    background-color: get-color($color-name);
  }
}

@each $color-name, $color-value in getAllColors() {
  .#{$color-name} {
    color: get-color($color-name + '-contrast');
  }
}

.color-box {
  background-color: get-color('white');
  border: 1px solid get-color('medium');
}

.color-samples {
  position: relative;
  height: size('xxxl');
  width: size('xxxl');
  max-width: size('xxxl');
  margin-right: size('xl');
  margin-bottom: size('xl');
  flex: 1 0 auto;
}

.color-sample {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  margin-top: auto;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  &:nth-child(2) {
    top: size('xxs');
    left: size('xxs');
    z-index: 2;
  }
  &:nth-child(3) {
    top: size('s');
    left: size('s');
    z-index: 1;
  }
}

.color-sample-flex {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  pre {
    min-width: 250px;
    flex-grow: 1;
  }
}

.color-sample-example {
  border-radius: size('s');
  margin: 0.5em 0;
  margin-right: size('s');
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  min-height: 140px;
  min-width: 140px;

  > * {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.color-sample-on-text {
  grid-column: 1 / span 2;
  background-color: transparent;
}

.color-name {
  margin-bottom: size('xxxs');
  width: 100%;
}

.color-values {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: get-color('semi-dark');
  flex: 0 0 100px;
  margin-top: 0;
  dt:first-of-type,
  dd:first-of-type {
    color: get-color('black');
  }
}

.color-palette {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: size('m');
  list-style: none;
  padding: 0;
  margin: 0 0 size('xl');

  li {
    display: flex;
    flex-wrap: wrap;
    padding: size('s');
    min-height: size('xxxl');
    box-sizing: content-box;
    cursor: pointer;
    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    }
  }
}

.color-sample-wrapper {
  background-color: get-color('white');
  border: 1px solid get-color('medium');
  padding: size('s');
  overflow-x: auto;
  margin-bottom: size('s');
}
