@import '../../../kirby/scss/web-imports';

$my-color: #f0f;
@each $color, $color-name in map-get($themes, 'default') {
  .test-#{$color} {
    color: black;
    background-color: $color-name
  }
}

.color-palette {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  li {
    padding: size("m");
    width: calc(100% / 4);
    height: size("l");
    box-sizing: 0 0 2px rgba(0,0,0,0.2);
  }
}