<main>
  <h1>Grid Layout - Multiple Grid Containers</h1>
  <div class="grid-container">
    <div class="grid-item half-at-tablet-up">
      <h2>Heading level 2</h2>
      <kirby-card hasPadding="true">1</kirby-card>
    </div>
    <div class="grid-item half-at-tablet-up">
      <h2>Heading level 2</h2>
      <kirby-card hasPadding="true">2</kirby-card>
    </div>
    <div class="grid-item half-at-tablet-up">
      <h2>Heading level 2</h2>
      <kirby-card hasPadding="true">3</kirby-card>
    </div>
    <div class="grid-item half-at-tablet-up">
      <h2>Heading level 2</h2>
      <kirby-card hasPadding="true">4</kirby-card>
    </div>
  </div>
  <p><button kirby-button size="lg">Add</button></p>
  <p>
    Strategy bonds IRA lucrative Fitch rates bondholders securities fiat public managed 401k risk
    market index.
  </p>
  <h1>Heading level 1</h1>
  <p>
    Government substantially taxpayer market exposure index funds. Fitch municipal bonds managed.
  </p>
  <div class="grid-container">
    <div class="grid-item half-at-tablet-up third-at-desktop-up">
      <kirby-card hasPadding="true">
        <h2>Heading level 2</h2>
        <p>
          Fluctuate interest rates Dow Jones receive rise government term municipal market Nikkei
          passively return performance. Public finance holder fiat established bonds hedge fund
          benchmark.
        </p>
      </kirby-card>
    </div>
    <div class="grid-item half-at-tablet-up third-at-desktop-up">
      <kirby-card hasPadding="true">
        <h2>Heading level 2</h2>
        <p>
          Fluctuate interest rates Dow Jones receive rise government term municipal market Nikkei
          passively return performance. Public finance holder fiat established bonds hedge fund
          benchmark.
        </p>
      </kirby-card>
    </div>
    <div class="grid-item half-at-tablet-up third-at-desktop-up">
      <kirby-card hasPadding="true">
        <h2>Heading level 2</h2>
        <p>
          Fluctuate interest rates Dow Jones receive rise government term municipal market Nikkei
          passively return performance. Public finance holder fiat established bonds hedge fund
          benchmark.
        </p>
      </kirby-card>
    </div>
  </div>
</main>
