@import '../../scss/web-imports';

.bar-container {
    position: relative;
    width: 100%;
    height: 18px;
    overflow: hidden;
    border-radius: 20px;
    .bar {
        height: 100%;
        width: 100%;
        position: absolute;

        &.empty-progress {
            background-color: var(--kirby-primary-lighter);
            width: 100%;
        }

        &.progress {
            background-color: var(--kirby-primary);
        }
    }
}


