<div class="example">
    <kirby-modal-example></kirby-modal-example>
    <kirby-html-viewer [html]="exampleHtml"></kirby-html-viewer>
    <h4>ModalConfig properties:</h4>
    <kirby-showcase-properties [properties]="properties"></kirby-showcase-properties>
    <br>
    <p>For more details concerning the technical implementation of the modal component, see the flow diagram <a target="_blank" href="https://github.com/kirbydesign/designsystem/blob/feature/modal/src/app/showcase/modal-showcase/readme.md">here</a></p>
</div>