<div class="example">
    <kirby-modal-example></kirby-modal-example>
    <kirby-code-viewer [html]="exampleHtml"></kirby-code-viewer>
    <br />
    <h3>Inside the parent (caller) component:</h3>
    <p>
        To show the modal, create a <code>ModalConfig</code> and pass it to the <code>ModalController.showModal</code>:
        <kirby-code-viewer language="ts">constructor(private modalController: ModalController, private vcRef: ViewContainerRef) {{ '{}' }}

showModal() {{ '{' }}
    const config: ModalConfig = {{ '{' }}
        title: 'Your Modal Title',
        closeBtnPosition: 'inside',
        titleHorizontalAlignment: 'center',
        component: YourEmbeddedModalComponent,
        componentProps: {{ '{' }}
            prop1: 'value1',
            prop2: 'value2'
        {{ '}' }}
    {{ '}' }};
    this.modalController.showModal(config, this.vcRef);
{{ '}' }}</kirby-code-viewer>
        <br /><br />
        <em>(Optional)</em><br />
        If you need to obtain data back from the modal, you can pass a callback function:
        <kirby-code-viewer language="ts">this.modalController.showModal(config, this.vcRef, myCallback);

myCallback(dataReturnedByModal: any) {{ '{' }}
    ...
{{ '}' }}</kirby-code-viewer>
    </p>
    <br />
    <h3>Inside the embedded component:</h3>
    <p>To create a embedded component, ensure:</p>
    <ol>
        <li>the embedded component must be declared (module file, or inside your <code>@Component</code> decorator)</li>
        <li>the embedded component must be listed in your <code>entryComponents</code> (module file)</li>
    </ol>
    <br />
    <em>(Optional)</em><br />
    <p>To access data passed into the embedded component, inject the COMPONENT_PROPS inside the embedded components constructor:</p>
    <kirby-code-viewer language="ts">constructor(
    @Inject(COMPONENT_PROPS) private componentProps,
    private modalController: ModalController,
    private vcRef: ViewContainerRef
) {{ '{' }}
    this.props = componentProps;
{{ '}' }}</kirby-code-viewer><br />
    <p>
        In order to hide a modal from within your embedded component (and destroy its component), you can use:
        <kirby-code-viewer language="ts">constructor(private modalController: ModalController) {{ '{}' }}
this.modalController.hideTopmost();</kirby-code-viewer>
        <br /><br />
        <em>(Optional)</em><br />
        You can additionally pass data, which will be available in your callback:
        <kirby-code-viewer language="ts">let returnData = ...;
this.modalController.hideTopmost(returnData);</kirby-code-viewer>
        It is possible to nest more modals from within your embedded components, <br />
        by using the same services and principles as above.
    </p>

    <h4>ModalConfig properties:</h4>
    <kirby-showcase-properties [properties]="properties"></kirby-showcase-properties>
    <br>
    <p><ion-icon name="information-circle" style="color: #3880ff"></ion-icon>
        <em>For more details concerning the technical implementation of the modal component, see <a target="_blank" href="https://github.com/kirbydesign/designsystem/tree/master/src/app/showcase/modal-showcase/readme.md">this flow diagram</a></em>
    </p>
</div>
