<ModalStack class="action-sheet-wrapper" dismissEnabled="false" (showingModally)="onShowingActionSheet($event)">
    <GridLayout rows="*, auto, auto" class="action-sheet">
        <kirby-card row="1">
            <kirby-card-header textWrap="true" [title]="'Brug for hjælp?'" [subtitle]="'Here is a message where we can put absolutely anything we want.'"></kirby-card-header>
            <StackLayout orientation="vertical" class="options-container">
                <Button text="Option 1"></Button>        
                <Button text="Option 2"></Button>        
                <Button text="Option 3"></Button>        
            </StackLayout>
            <kirby-card-footer></kirby-card-footer>
        </kirby-card>
        <Button row="2" class="cancel-btn" text="Cancel.."></Button>
    </GridLayout>
</ModalStack>