<div class="action-sheet-wrapper" dismissEnabled="false">
    <div class="action-sheet">
        <kirby-card class="action-sheet-card">
            <div class="action-sheet-card-header">
                <h3>Brug for hjælp?</h3>
                <p>
                    Here is a message where we can put absolutely anything we want.
                </p>
            </div>
            <kirby-list [items]="items" (itemSelect)="onItemSelect($event)">
                <kirby-list-cell *kirbyListCell="let item" horizontalAlignment="right">
                    <kirby-list-cell-line [text]="item"></kirby-list-cell-line>
                </kirby-list-cell>
            </kirby-list>
        </kirby-card>
    </div>
</div>