<div class="example-container">
  <h1>Slides Example</h1>

  <h2>Slides simple example</h2>

  <div class="example-frame">
    <cookbook-slides-simple-example></cookbook-slides-simple-example>
  </div>

  <h2>Slides custom heading example</h2>

  <div class="example-frame">
    <cookbook-slides-custom-heading-example></cookbook-slides-custom-heading-example>
  </div>

  <h2>Slides height example</h2>

  <div class="example-frame">
    <cookbook-slides-height-example></cookbook-slides-height-example>
  </div>
</div>
