@use '@kirbydesign/core/src/scss/utils';
@use '../examples.shared';

:host {
  // We need to set these in the examples to ensure Slides on small screens
  // stretch to viewport edges, i.e. they are used to create negative margins
  // to counteract page padding (when used within kirby-page these vars are already set):
  --padding-start: #{utils.size('s')};
  --padding-end: #{utils.size('s')};
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@include utils.media('>small') {
  .card-content {
    justify-content: space-between;
    flex-direction: row;
  }
}

sl-rating {
  margin: 0 auto;
}

.star-rating-wrapper {
  display: flex;
  position: relative;
  max-width: 300px;
  align-self: center;
}

.texts {
  display: flex;
  justify-content: space-between;

  p {
    font-size: small;
  }
}

.layer {
  background-color: white;
  opacity: 0.1;
  position: absolute;
  inset: 0;
  border-radius: 999px;
}
