<table class="cookbook-members-table">
  <thead>
    <th *ngIf="columns.Name">{{ columns.Name }}</th>
    <th *ngIf="columns.Description">{{ columns.Description }}</th>
    <th *ngIf="columns.Type">{{ columns.Type }}</th>
  </thead>
  <tbody>
    <tr *ngFor="let e of events">
      <td *ngIf="columns.Name">
        <code>{{ e.name }}</code>
      </td>
      <td *ngIf="columns.Description" class="description">{{ e.description }}</td>
      <td *ngIf="columns.Type">
        <code>{{ e.signature }}</code>
      </td>
    </tr>
  </tbody>
</table>
