<div class="example">
  <p>
    A kirby-label is a layout element used to structure text content inside
    <a href="https://cookbook.kirby.design/#/home/showcase/item">Items.</a>
    Recommended usage of Kirby-label and the standard label are illustrated in the following
    examples. Kirby-label should be used in item components and label should be used in form fields.
  </p>
  <br />

  <h2>In item</h2>
  <p>Use the kirby-label inside the kirby-item to add title and detail</p>
  <cookbook-example-viewer [html]="itemExample.template">
    <div class="example-frame">
      <cookbook-label-example-item #itemExample></cookbook-label-example-item>
    </div>
  </cookbook-example-viewer>

  <h2>Other label types</h2>
  <p>
    Despite its naming, the kirby-label component is not to be confused with the HTML-element, which
    has an entirely different purpose of associating a label text with a form control.
  </p>
  <p>
    In fact, when you are using the form-field element, a native label element is rendered
    under-the-hood around the supplied kirby components (input, checkbox, radio-group etc.)
  </p>

  <p>
    More information about the advantage of this approach can be found in the
    <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/label">
      MDN label documentation
    </a>
    .
  </p>
  <h3>Form Field with label</h3>

  <cookbook-example-viewer [html]="inputLabelExample.template">
    <div class="example-frame">
      <cookbook-label-form-field-input-label-example
        #inputLabelExample
      ></cookbook-label-form-field-input-label-example>
    </div>
  </cookbook-example-viewer>
</div>

<p>
  More information about the advantage of using label
  <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/label">
    Mdn documentation
  </a>
</p>

<h2>API Description</h2>
<h3>Label properties:</h3>
<cookbook-api-description-properties
  [properties]="properties"
></cookbook-api-description-properties>
<h3>Label CSS Custom Properties</h3>
<cookbook-api-description-properties
  [properties]="customCssProperties"
  [columns]="customCssPropertiesColumns"
></cookbook-api-description-properties>
