@import "../../../scss/web-imports";

.action-sheet {
  background-color: transparent;
  width: 304px;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -110%);
  position: absolute;

  .action-sheet-card {
    text-align: center;
    height: 100%;

    .action-sheet-card-header {
      line-break: auto;
      padding: 10px;
    }
  }

  .option {
    width: 100%;
  }
  
  kirby-list {
    cursor: pointer;
  }

  .cancel-btn-wrapper {
    width: 100%;
    text-align: center;
    
    .cancel-btn {
      width: 200px;
      margin-top: 30px;
    }
  }
  
}
