<ModalStack dismissEnabled="true" (showingModally)="onShowingActionSheet($event)">
    <GridLayout id="action-sheet" rows="*, auto, auto">
        <!-- TODO: onModalDismiss() is better off in the parent GridLayout, but that introduces a bug -->
        <Label row="0" (tap)="onModalDismiss()"></Label>
        <kirby-card row="1">
            <kirby-card-header *ngIf="config.header" [title]="config.header" [isTitleBold]="true" [subtitle]="config.subheader">
            </kirby-card-header>
            <StackLayout class="action-container">
                <Label *ngFor="let item of config.items" class="action-item" (tap)="onItemSelect(item)" text="{{ item.text }}"></Label>
            </StackLayout>
        </kirby-card>
        <Button row="2" kirby-button attentionLevel="2" verticalAlignment="bottom" class="cancel-btn" [text]="cancelButtonText" (tap)="onModalDismiss()"></Button> -->
    </GridLayout>
</ModalStack>
