@import "../../../scss/web-imports";

.action-sheet {
  background-color: transparent;
  width: 250px;
  position: absolute;

  .action-sheet-card {
    text-align: center;

    .action-sheet-card-header {
      line-break: auto;
      padding: 10px;
    }
  }

  .option {
    width: 100%;
  }
  
  kirby-list {
    cursor: pointer;
  }
}
