<ModalStack class="action-sheet-wrapper" dismissEnabled="true" (showingModally)="onShowingActionSheet($event)">
    <GridLayout rows="*, auto">
        <StackLayout row="0" (tap)="onModalDismiss()"></StackLayout>
        <StackLayout row="1">
            <kirby-card>
                <StackLayout>
                    <StackLayout *ngIf="config.header" class="action-sheet-header">
                        <Label horizontalAlignment="center" fontWeight="bold" text="{{ config.header }}"></Label>
                        <Label horizontalAlignment="center" textWrap="true" text="{{ config.subheader }}"></Label>
                    </StackLayout>
                    <StackLayout class="action-container" *ngFor="let item of config.actions">
                        <Label class="action-item" (tap)="onItemSelect(item)" text="{{ item }}"></Label>
                    </StackLayout>
                </StackLayout>
            </kirby-card>

            <!-- FAB Sheet -->
            <StackLayout *ngIf="config.hideCancelButton" horizontalAlignment="{{ config.horizontalAlignment }}"> 
                <kirby-floating-action-button (tap)="onModalDismiss()">
                    <kirby-icon name="close" size="large"></kirby-icon>
                </kirby-floating-action-button>
            </StackLayout>
            
            <Button *ngIf="!config.hideCancelButton" verticalAlignment="bottom" class="cancel-btn" text="Cancel" (tap)="onModalDismiss()"></Button>
        </StackLayout>
    </GridLayout>
</ModalStack>
