<kirby-card [ngStyle]="config.position">
    <kirby-card-header *ngIf="config.header" [title]="config.header" [subtitle]="config.subheader">
    </kirby-card-header>
    <kirby-list [items]="config.actions" (itemSelect)="onItemSelect($event)">
        <kirby-list-cell *kirbyListCell="let item" showDivider="true" horisontalAlignment="center">
            <kirby-list-cell-line [text]="item"></kirby-list-cell-line>
        </kirby-list-cell>
    </kirby-list>
</kirby-card>
<button *ngIf="!config.position" kirby-button class="cancel-btn" colortype="secondary" (click)="onModalDismiss()">Cancel</button>
