<p>
  The <code>kirby-item</code> component consists of three possible columns: <em>the default</em>,
  which spans the entire item, and optionally the <code>'start'</code> and
  <code>'end'</code> columns (aka <code>'slots'</code>)<br />
  In addition to this there is a special slot for flags named <code>'outside'</code>.
</p>
<p>
  The <em>default column</em> is the content that isn't slotted into either <code>'start'</code> or
  <code>'end'</code>.<br />
  If there are more than one line of content it can be contained within a
  <code>kirby-label</code> that by default stacks content vertically (multi lines).<br />
  Optionally it can be configured to stack horizontally:
  <code>&lt;kirby-label direction="horizontal"&gt;...&lt;/kirby-label&gt;</code>
</p>

<div class="item-illustration">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="769"
    height="114"
    viewBox="0 0 769 114"
  >
    <defs>
      <rect id="a" width="53" height="114" x="716" y="0" />
      <rect id="b" width="42" height="114" x="0" y="0" />
      <mask
        id="c"
        width="53"
        height="114"
        x="0"
        y="0"
        fill="#fff"
        maskContentUnits="userSpaceOnUse"
        maskUnits="objectBoundingBox"
      >
        <use xlink:href="#a" />
      </mask>
      <mask
        id="d"
        width="42"
        height="114"
        x="0"
        y="0"
        fill="#fff"
        maskContentUnits="userSpaceOnUse"
        maskUnits="objectBoundingBox"
      >
        <use xlink:href="#b" />
      </mask>
    </defs>
    <g fill="none" fill-rule="evenodd">
      <use
        xlink:href="#a"
        fill="#F8E3F2"
        stroke="#FC7EE3"
        stroke-dasharray="10 10"
        stroke-width="8"
        mask="url(#c)"
      />
      <rect
        width="380"
        height="110"
        x="189"
        y="2"
        fill="#F8E3F2"
        stroke="#FC7EE3"
        stroke-width="4"
      />
      <text fill="#FC7EE3" font-family="Roboto-Medium, Roboto" font-size="24" font-weight="400">
        <tspan x="331" y="65">DEFAULT</tspan>
      </text>
      <use
        xlink:href="#b"
        fill="#F8E3F2"
        stroke="#FC7EE3"
        stroke-dasharray="10 10"
        stroke-width="8"
        mask="url(#d)"
      />
      <rect
        width="151"
        height="110"
        x="38"
        y="2"
        fill="#F8E3F2"
        stroke="#FC7EE3"
        stroke-width="4"
      />
      <text fill="#FC7EE3" font-family="Roboto-Medium, Roboto" font-size="24" font-weight="400">
        <tspan x="77" y="65">START</tspan>
      </text>
      <rect
        width="151"
        height="110"
        x="568"
        y="2"
        fill="#F8E3F2"
        stroke="#FC7EE3"
        stroke-width="4"
      />
      <text fill="#FC7EE3" font-family="Roboto-Medium, Roboto" font-size="24" font-weight="400">
        <tspan x="620" y="65">END</tspan>
      </text>
      <text
        fill="#FC7EE3"
        font-family="Roboto-Medium, Roboto"
        font-size="18"
        font-weight="400"
        transform="rotate(-90 21 57)"
      >
        <tspan x="-15.5" y="63.5">OUTSIDE</tspan>
      </text>
      <text
        fill="#FC7EE3"
        font-family="Roboto-Medium, Roboto"
        font-size="16"
        font-weight="400"
        transform="rotate(-90 743 56.5)"
      >
        <tspan x="696" y="62">DISCLOSURE</tspan>
      </text>
    </g>
  </svg>
</div>

<p class="comment">
  <strong>Please note</strong>, if you need a label to span a title and a value, you can wrap the
  title and value in another <code>kirby-label</code> as in
  <a href="#" (click)="scrollTo(message)">this example</a>
</p>
<p>
  The <em>start column</em> is usually only used with avatars, icons and such. To place content in
  the start column specify the <code>slot="start"</code> attribute on your content. If no content is
  placed into the 'start' slot, the first column will not be shown.
</p>
<p>
  The <em>end column</em> is usually used for values such as number, currency, date etc. To place
  content in the end column specify the <code>slot="end"</code> attribute on your content. If
  multiple lines are needed the values can be wrapped in a <code>kirby-label</code> as in
  <a href="#" (click)="scrollTo(twoValueLines)">this example</a>.<br />
  Values can optionally be contained in a <code>time</code> or <code>data</code> tag as in
  <a href="#" (click)="scrollTo(avatarWithDate)">this example</a>.
</p>
<p>
  The <em>outside</em> slot can be used for flags as in
  <a href="#" (click)="scrollTo(flagged)">this example</a>.
</p>
<p>
  The <em>disclosure</em> slot can be used for navigation icons which are toned down to Kirby grey-4
  as in <a href="#" (click)="scrollTo(disclosure)">this example</a>.
</p>

<section class="sizes">
  <h2>Sizes</h2>
  <cookbook-example-viewer [html]="simpleExampleMedium.template">
    <cookbook-item-example-simple-md #simpleExampleMedium></cookbook-item-example-simple-md>
  </cookbook-example-viewer>
  <cookbook-example-viewer [html]="simpleExampleSmall.template">
    <cookbook-item-example-simple-sm #simpleExampleSmall></cookbook-item-example-simple-sm>
  </cookbook-example-viewer>
  <p class="comment">
    <strong>Please note</strong>, extra small should <strong>NOT</strong> be used if clickable
  </p>
  <cookbook-example-viewer [html]="simpleExampleExtraSmall.template">
    <cookbook-item-example-simple-xs #simpleExampleExtraSmall></cookbook-item-example-simple-xs>
  </cookbook-example-viewer>
</section>

<h2>Simple</h2>
<h3>Default</h3>
<cookbook-example-viewer [html]="simpleExample.template">
  <cookbook-item-example-simple #simpleExample></cookbook-item-example-simple>
</cookbook-example-viewer>
<h3>Long title (truncated)</h3>
<cookbook-example-viewer [html]="longTitleExample.template">
  <cookbook-item-example-long-title #longTitleExample></cookbook-item-example-long-title>
</cookbook-example-viewer>
<h3>Two lines</h3>
<cookbook-example-viewer [html]="twoLinesExample.template">
  <cookbook-item-example-simple-two-lines #twoLinesExample></cookbook-item-example-simple-two-lines>
</cookbook-example-viewer>
<h3>Three lines</h3>
<cookbook-example-viewer [html]="threeLinesExample.template">
  <cookbook-item-example-simple-three-lines
    #threeLinesExample
  ></cookbook-item-example-simple-three-lines>
</cookbook-example-viewer>
<h3 #twoValueLines>Two value lines</h3>
<cookbook-example-viewer [html]="twoValueLinesExample.template">
  <cookbook-item-example-simple-two-value-lines
    #twoValueLinesExample
  ></cookbook-item-example-simple-two-value-lines>
</cookbook-example-viewer>

<h2>Picker</h2>
<h3>Default</h3>
<cookbook-example-viewer [html]="pickerDefaultExample.template">
  <cookbook-item-example-picker-default
    #pickerDefaultExample
  ></cookbook-item-example-picker-default>
</cookbook-example-viewer>
<h3>Selected</h3>
<cookbook-example-viewer [html]="pickerDefaultSelectedExample.template">
  <cookbook-item-example-picker-default-selected
    #pickerDefaultSelectedExample
  ></cookbook-item-example-picker-default-selected>
</cookbook-example-viewer>
<h3>With Avatar - Selected</h3>
<cookbook-example-viewer [html]="pickerAvatarSelectedExample.template">
  <cookbook-item-example-picker-avatar-selected
    #pickerAvatarSelectedExample
  ></cookbook-item-example-picker-avatar-selected>
</cookbook-example-viewer>
<h3>With checkbox</h3>
<cookbook-example-viewer [html]="pickerCheckboxExample.template">
  <cookbook-item-example-picker-checkbox
    #pickerCheckboxExample
  ></cookbook-item-example-picker-checkbox>
</cookbook-example-viewer>

<h2>FAB menu</h2>
<cookbook-example-viewer [html]="fabMenuExample.template">
  <cookbook-item-example-fab-menu #fabMenuExample></cookbook-item-example-fab-menu>
</cookbook-example-viewer>

<h2>Attachment</h2>
<cookbook-example-viewer [html]="attachmentExample.template">
  <cookbook-item-example-attachment #attachmentExample></cookbook-item-example-attachment>
</cookbook-example-viewer>

<h2>Settings</h2>
<h3>Enabled</h3>
<cookbook-example-viewer [html]="settingsDefaultExample.template">
  <cookbook-item-example-settings #settingsDefaultExample></cookbook-item-example-settings>
</cookbook-example-viewer>
<h3>Disabled</h3>
<cookbook-example-viewer [html]="settingsDisabledExample.template">
  <cookbook-item-example-settings-disabled
    #settingsDisabledExample
  ></cookbook-item-example-settings-disabled>
</cookbook-example-viewer>
<p class="comment small">
  <em
    ><strong>Please note</strong>, setting the <code>disabled</code> attribute on
    <code>kirby-item</code> will disable the entire item including buttons, toggles etc.</em
  >
</p>

<h2 #flagged>Flagged</h2>
<cookbook-example-viewer [html]="flaggedExample.template">
  <cookbook-item-example-flagged #flaggedExample></cookbook-item-example-flagged>
</cookbook-example-viewer>

<h2>Avatar</h2>
<h3>Default</h3>
<cookbook-example-viewer [html]="avatarDefaultExample.template">
  <cookbook-item-example-avatar #avatarDefaultExample></cookbook-item-example-avatar>
</cookbook-example-viewer>
<h3 #avatarWithDate>Avatar with date</h3>
<cookbook-example-viewer [html]="avatarDateExample.template">
  <cookbook-item-example-avatar-date #avatarDateExample></cookbook-item-example-avatar-date>
</cookbook-example-viewer>
<h3>Avatar flagged</h3>
<cookbook-example-viewer [html]="avatarFlaggedExample.template">
  <cookbook-item-example-avatar-flagged
    #avatarFlaggedExample
  ></cookbook-item-example-avatar-flagged>
</cookbook-example-viewer>
<h3>Avatar flagged, three lines</h3>
<cookbook-example-viewer [html]="avatarFlaggedThreeLinesExample.template">
  <cookbook-item-example-avatar-flagged-three-lines
    #avatarFlaggedThreeLinesExample
  ></cookbook-item-example-avatar-flagged-three-lines>
</cookbook-example-viewer>

<h2 #message>Message</h2>
<cookbook-example-viewer [html]="messagesExample.template">
  <cookbook-item-example-horizontal #messagesExample></cookbook-item-example-horizontal>
</cookbook-example-viewer>

<h2>Button</h2>
<cookbook-example-viewer [html]="buttonExample.template">
  <cookbook-item-example-button #buttonExample></cookbook-item-example-button>
</cookbook-example-viewer>

<h2>Input</h2>
<h3>Default</h3>
<cookbook-example-viewer [html]="inputDefaultExample.template">
  <cookbook-item-example-input-default #inputDefaultExample></cookbook-item-example-input-default>
</cookbook-example-viewer>
<h3>Numeric</h3>
<cookbook-example-viewer [html]="inputNumericExample.template">
  <cookbook-item-example-input-numeric #inputNumericExample></cookbook-item-example-input-numeric>
</cookbook-example-viewer>

<h2 #disclosure>Disclosure slot</h2>
<cookbook-example-viewer [html]="disclosureExample.template">
  <cookbook-item-example-disclosure #disclosureExample></cookbook-item-example-disclosure>
</cookbook-example-viewer>
<p class="comment small">
  <em
    ><strong>Please note</strong>, set disclosure attribute on <code>kirby-item</code> to current
    available icons in disclosure slot
    <code> 'link' | 'arrow-more' | 'arrow-down' | 'arrow-up'</code>
  </em>
</p>

<h2>Card with item</h2>
<cookbook-example-viewer [html]="cardExample.template">
  <cookbook-item-example-card #cardExample></cookbook-item-example-card>
</cookbook-example-viewer>

<h2>CSS Custom Properties</h2>
<cookbook-api-description-properties
  [properties]="properties"
  [columns]="columns"
></cookbook-api-description-properties>
