@use '@kirbydesign/core/src/scss/utils';

:host {
  > h2:not(:first-child) {
    margin-top: utils.size('l');
    border-bottom: 1px dotted utils.get-color('medium');
  }

  > h3 {
    font-size: utils.font-size('xs');
    color: utils.get-text-color('semi-dark');
    text-transform: uppercase;
    margin-top: utils.size('xs');
    margin-bottom: utils.size('xxxs');
  }

  > h4 {
    margin-top: utils.size('m');
  }
}

.item-illustration {
  display: flex;
  justify-content: center;
  margin-bottom: utils.size('xs');

  svg {
    max-width: 600px;
  }
}

.sizes cookbook-example-viewer {
  margin-top: utils.size('xs');
}
