<p>
  Items are elements that contain text, icons, avatars and controls such as checkboxes. They are
  mainly used to structure similar content in a list together with other items.
</p>

<h2>Sizes</h2>
<p>
  Items can be displayed in different sizes, depending on the need for visual space around the
  content. It can be controlled with the
  <code>size</code>
  property. Accepted values are
  <code>xs</code>
  ,
  <code>sm</code>
  or
  <code>md</code>
  . The default size is
  <code>md</code>
  .
</p>

<cookbook-example-viewer [html]="sizesExample.template">
  <div class="example-frame">
    <cookbook-item-example-sizes #sizesExample></cookbook-item-example-sizes>
  </div>
</cookbook-example-viewer>

<h2>Text</h2>

<p>
  Items display paragraphs as a single line of text, and the text is truncated with an ellipsis if
  it exceeds available space. By adding the class
  <code>kirby-item-wrap</code>
  text will wrap to the next line.
</p>

<cookbook-example-viewer [html]="textExample.template">
  <div class="example-frame">
    <cookbook-item-example-text #textExample></cookbook-item-example-text>
  </div>
</cookbook-example-viewer>

<h3>Vertically stacked texts</h3>

<p>
  Items can display multiple lines of content using the
  <code>kirby-label</code>
  component.
</p>
<p>
  The appearance of text content can be adjusted using the
  <code>kirby-item-title</code>
  ,
  <code>kirby-item-subtitle</code>
  and
  <code>kirby-item-detail</code>
  css classes.
</p>
<cookbook-example-viewer [html]="textVerticallyStackedExample.template">
  <div class="example-frame">
    <cookbook-item-example-text-vertically-stacked
      #textVerticallyStackedExample
    ></cookbook-item-example-text-vertically-stacked>
  </div>
</cookbook-example-viewer>

<h3>Complex label structures</h3>
<p>
  Items can display complex label structures using multiple
  <code>kirby-label</code>
  elements. When multiple labels are combined, the direction property of the label can be used to,
  as in this example, horizontally align the title text with some other element like a related date.
</p>

<cookbook-example-viewer [html]="complexLabelsExample.template">
  <div class="example-frame">
    <cookbook-item-example-complex-labels
      #complexLabelsExample
    ></cookbook-item-example-complex-labels>
  </div>
</cookbook-example-viewer>

<h2>Slots</h2>
<p>
  In addition to the default slot, content can be placed in the
  <code>start</code>
  ,
  <code>end</code>
  , or
  <code>outside</code>
  slots.
</p>
<cookbook-example-viewer [html]="slotsExample.template">
  <div class="example-frame">
    <cookbook-item-example-slots #slotsExample></cookbook-item-example-slots>
  </div>
</cookbook-example-viewer>

<h2>Selectable & Disclosure</h2>
<p>
  The selectable property should be added to items when some action is bound to the item with a
  click listener or similar. The selectable property will add hover, focus and active states to the
  item.
</p>
<p>
  Generally, a disclosure indicator should be added on items that navigate to a new page or
  activates a modal or similar overlay.
</p>
<cookbook-example-viewer [html]="selectableExample.template">
  <div class="example-frame">
    <cookbook-item-example-selectable #selectableExample></cookbook-item-example-selectable>
  </div>
</cookbook-example-viewer>

<h3>Disabled</h3>
<p>Selectable items can be disabled, to prevent the user from activating them.</p>
<cookbook-example-viewer [html]="disabledExample.template">
  <div class="example-frame">
    <cookbook-item-example-disabled #disabledExample></cookbook-item-example-disabled>
  </div>
</cookbook-example-viewer>

<h2>Nested Controls</h2>
<p>Items can contain nested controls, such as checkboxes or radio buttons.</p>
<cookbook-example-viewer [html]="nestedControlsExample.template">
  <div class="example-frame">
    <cookbook-item-example-nested-controls
      #nestedControlsExample
    ></cookbook-item-example-nested-controls>
  </div>
</cookbook-example-viewer>

<h3>Avoiding nested interactives</h3>
<p>
  Nested interactives are interactive elements, such as buttons or links, placed inside other
  interactive elements. This can lead to accessibility issues and unexpected behavior, as browsers
  and assistive technologies will handle them inconsistently if at all.
</p>
<p>
  To avoid issues with nested interactives in selectable items, ensure that interactive controls are
  not placed inside selectable items.
</p>
<p>
  When a button, checkbox or similar is nested inside an item, the item should never be marked as
  selectable.
</p>

<h3>Disabled Nested Controls</h3>
<p>
  Since items with nested controls should not be selectable, they cannot be disabled either.
  Instead, any nested control itself should be disabled so users of Assistive Technology can still
  explore the remaining item content.
</p>

<cookbook-example-viewer [html]="disabledNestedControlsExample.template">
  <div class="example-frame">
    <cookbook-item-example-disabled-controls
      #disabledNestedControlsExample
    ></cookbook-item-example-disabled-controls>
  </div>
</cookbook-example-viewer>

<h2>API</h2>
<h3>Item Properties</h3>
<cookbook-api-description-properties
  [properties]="properties"
></cookbook-api-description-properties>

<h3>CSS Custom Properties</h3>
<cookbook-api-description-properties
  [properties]="customCssProperties"
  [columns]="customCssPropertiesColumns"
></cookbook-api-description-properties>
