<div class="example">
  <p>
    <em
      ><strong>Please note:</strong>The slides do not like beeing switched between chrome-devtools
      mobileview and standard webview. Please refresh your browser after changing from web to mobile
      and visa versa</em
    >
  </p>
  <cookbook-slides-example></cookbook-slides-example>
  <cookbook-code-viewer [html]="exampleHtml"></cookbook-code-viewer>
  <cookbook-code-viewer [ts]="exampleTS"></cookbook-code-viewer>
  <h4>Slides properties:</h4>
  <cookbook-api-description-properties
    [properties]="properties"
  ></cookbook-api-description-properties>
  <br />
  <h4>Slides Events:</h4>
  <cookbook-api-description-events [events]="events"></cookbook-api-description-events>
</div>
