@import '../../scss/utils';

:host {
  &.default-mode {
    display: inline-block;

    ion-segment {
      --color: #{get-color('black')};
      --color-checked: #{get-color('white')};
      --background: #{get-color('white')};
      --background-checked: #{get-color('black')};
      --background-hover: #{get-color('white')};
      border-radius: $border-radius;
      background: get-color('white');
    }

    ion-segment-button {
      min-height: size('xl');
      height: size('xl');
      font-weight: font-weight('normal');
      font-size: font-size('s');
      text-transform: none;
      border-radius: $border-radius;
      position: relative;
      --border-style: none;
      --padding-start: #{size('m')};
      --padding-end: #{size('m')};

      &.segment-button-checked:hover {
        --background-hover: #{get-color('black')};
      }

      &:focus-within {
        outline-color: -webkit-focus-ring-color;
        outline-style: auto;
      }
    }

    .segment-btn-wrapper {
      position: relative;
      display: inherit;
    }

    kirby-badge {
      --kirby-badge-elevation: #{get-elevation(2)};
      position: absolute;
      top: -#{size('xxs')};
      right: #{size('xxs')};
      z-index: z('segmentBadge');
    }
  }

  &.chip-mode {
    /* @Polyfill  
    * This is the way to hide scrollbar
    * Firefox, IE, Chrome
    * */
    overflow: hidden;
    .scrollable {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      margin-bottom: -30px;
      padding-bottom: 30px;
      @include media('>=medium') {
        justify-content: center;
        margin-bottom: -50px;
        padding-bottom: 50px;
      }
    }
  }
}
