<ion-segment mode="ios" *ngIf="isDefaultMode">
  <div class="segment-btn-wrapper" *ngFor="let item of items">
    <kirby-badge *ngIf="item.badge" [themeColor]="item.badge.themeColor">{{
      item.badge.content
    }}</kirby-badge>
    <ion-segment-button
      [value]="item"
      class="kirby-text-small"
      [checked]="item.checked"
      (ionSelect)="onSegmentSelect(item)"
    >
      {{ item.text }}
    </ion-segment-button>
  </div>
</ion-segment>

<div class="scrollable" *ngIf="isChipMode">
  <kirby-chip
    [text]="item.text"
    [isSelected]="item.checked"
    (click)="onSegmentSelect(item)"
    *ngFor="let item of items"
  ></kirby-chip>
</div>
