  <StackLayout orientation="horizontal" horizontalAlignment="left" class="segment-control">
    <ng-container *ngFor="let item of segmentItems">
      <GridLayout columns="auto, auto" (tap)="onSegmentTap(item)">
        <ng-container *ngIf="item.badge">
          <FlexBoxLayout class="segment-badge-wrapper" col="1" flexDirection="row" alignItems="center" justifyContent="flex-end">
            <kirby-badge text="{{item.badge.content}}"></kirby-badge>
          </FlexBoxLayout>
        </ng-container>
        <StackLayout class="segment-item" col="0" colSpan="2" verticalAlignment="center" [ngClass]="{'is-checked': item.checked}">
          <Label text="{{item.text}}" value="{{item.id}}"></Label>
        </StackLayout>
      </GridLayout>
    </ng-container>
  </StackLayout>
 