@import '../../../kirby/scss/native-imports';

.background {
  background-color: get-color('background-color');
  padding: size('s');
  // add vertical spacing of 'xxs' between each card
  > * {
    margin-bottom: size('xxs');
  }
}

Label.h2 {
    margin-bottom: size('xxxs');
    margin-top: size('s');
}

.card-content-background-color {
  padding: size('s');
  background-color: get-color('light');
}

.bottom-rounded {
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}
