$bacon-height: 130px;
$bacon-width: 130px;

kirby-card-header {
  color: var(--kirby-on-primary);
  background-color: var(--kirby-primary);
  padding-bottom: $bacon-width / 2;
  margin-bottom: $bacon-width / 2;
  position: relative;
}

.img-wrapper {
  width: $bacon-width;
  height: $bacon-height;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}