<kirby-card class="theme--cookbook">
  <kirby-card-header [title]="'Card-header Titel'" [subtitle]="'Card-header Subtitel'">
    <div class="img-wrapper">
      <img src="https://via.placeholder.com/130" alt="Some image" />
    </div>
  </kirby-card-header>  
  <div>
    <kirby-list [items]="[
    {title: 'Titel', amount: 'Beløb'},
    {title: 'Titel', amount: 'Beløb'},
    {title: 'Titel', amount: 'Beløb'},
    {title: 'Titel', amount: 'Beløb'}
    ]"></kirby-list>        
  </div>
  <kirby-card-footer>
    <kirby-button label="Tekst på knap" expand="block" shape="round" theme="cookbook"></kirby-button>
  </kirby-card-footer>
</kirby-card>