@import '../../../kirby/scss/web-imports';

kirby-card {
  position: relative;
}

kirby-card-header {
  padding-bottom: 0;
}

.card-content {
  padding: size("gutter");
}

kirby-card::after {
  position: absolute;
  content: 'no size class';
  background-color: #a7a7a7;
  bottom: size("m");
  left: size("m");
  color: white;
  padding: 0 size("m");
  border-radius: 5px;
}

kirby-card {
  --cardSmallBackgroundColor: #8dabee;
  --cardMediumBackgroundColor: #d2a2ee;
  --cardLargeBackgroundColor: #d8b280;
  &.card-small::after {
    content: 'small';
    background-color: var(--cardSmallBackgroundColor);
  }
  &.card-medium::after {
    content: 'medium';
    background-color: var(--cardMediumBackgroundColor);
  }
  &.card-large::after {
    content: 'large';
    background-color: var(--cardLargeBackgroundColor);
  }
}