@import '../../../scss/utils';
ion-label {
    ::ng-deep {
        h1,h2,h3,h4,h5,h6 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}