@import '../../../scss/utils';


:host {
  display: block;
  box-sizing: border-box;
  font-size: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  &.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include slotted(':not(:first-child)') {
      margin-left: size('xs');
    }
  }
}

:host-context(kirby-item) {

  @include slotted(h1,h2,h3,h4,h5,h6,p) {
    font-size: font-size('n');
    color: get-color('black');
    line-height: line-height('n');
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: inherit;
    font-weight: normal;

    &.kirby-text-bold {
      font-weight: font-weight('bold');
    }
  }

 
  @include slotted(p) {
    font-size: font-size('s');
  }

  @include slotted('[subtitle]', time) {
    font-size: font-size('xs');
    color: get-color('semi-dark');
    line-height: line-height('xs');
  }


  @include slotted(data) {
    display: block;
    font-size: font-size('n');
    color: get-color('black');
    line-height: line-height('n');
    white-space: nowrap;
  }
}

:host-context(kirby-item.selected) {
  @include slotted(h1,h2,h3,h4,h5,h6,p,data) {
    font-weight: font-weight('bold');
  }
}