<div class="example">
  <h2>Checkboxes</h2>
  <cookbook-example-viewer [html]="checkboxDefaultExample.template">
    <cookbook-checkbox-default-example #checkboxDefaultExample></cookbook-checkbox-default-example>
  </cookbook-example-viewer>

  <h2>Checkboxes in a kirby-list</h2>
  <cookbook-example-viewer [html]="checkboxListExample.template">
    <cookbook-checkbox-list-example #checkboxListExample></cookbook-checkbox-list-example>
  </cookbook-example-viewer>

  <h2>Checkbox for confirmation</h2>
  <p>Add <code>attentionLevel="1"</code> when used to confirm something</p>
  <cookbook-example-viewer [html]="checkboxConfirmExample.template">
    <cookbook-checkbox-confirm-example #checkboxConfirmExample></cookbook-checkbox-confirm-example>
  </cookbook-example-viewer>

  <h2>States</h2>
  <p>The states a checkbox can have</p>
  <cookbook-example-viewer [html]="checkboxStatesExample.template">
    <cookbook-checkbox-states-example #checkboxStatesExample></cookbook-checkbox-states-example>
  </cookbook-example-viewer>

  <h2>Properties:</h2>
  <cookbook-showcase-properties [properties]="properties"></cookbook-showcase-properties>

  <h2>Events:</h2>
  <cookbook-showcase-properties
    [properties]="events"
    [columns]="{
      Name: 'Name',
      Description: 'Description'
    }"
  ></cookbook-showcase-properties>
</div>
