<div class="example">
  <h2>Single select</h2>
  <p>Use as a binary choice for a standalone checkbox</p>
  <cookbook-example-viewer [html]="checkboxSingleExample.template">
    <cookbook-checkbox-single-example #checkboxSingleExample></cookbook-checkbox-single-example>
  </cookbook-example-viewer>

  <h2>Multi select</h2>
  <p>Use in a list of checkboxes, where multiple choices can be selected</p>
  <cookbook-example-viewer [html]="checkboxMultiExample.template">
    <cookbook-checkbox-multi-example #checkboxMultiExample></cookbook-checkbox-multi-example>
  </cookbook-example-viewer>

  <h2>Multi select in a list</h2>
  <cookbook-example-viewer [html]="checkboxMultiListExample.template">
    <cookbook-checkbox-multi-list-example
      #checkboxMultiListExample
    ></cookbook-checkbox-multi-list-example>
  </cookbook-example-viewer>

  <h2>Properties:</h2>
  <cookbook-showcase-properties [properties]="properties"></cookbook-showcase-properties>

  <h2>Events:</h2>
  <cookbook-showcase-properties
    [properties]="events"
    [columns]="{
      Name: 'Name',
      Description: 'Description'
    }"
  ></cookbook-showcase-properties>
</div>
