<kirby-card mode="flat">
  <kirby-card-header title="Flat" subtitle='mode="flat"'></kirby-card-header>
  <div class="card-content">
    <p>Setting <code>mode="flat"</code> sets the elevation of the z-axis to 0.</p>
  </div>
</kirby-card>

<kirby-card>
  <kirby-card-header title="Default"></kirby-card-header>
  <div class="card-content">
    <p>The default elevation of the card on the z-axis is 2.</p>
  </div>
</kirby-card>

<kirby-card mode="highlighted">
  <kirby-card-header title="Highlighted" subtitle='mode="highlighted"'></kirby-card-header>
  <div class="card-content">
    <p><code>mode="highlighted"</code> sets the elevation of the z-axis to 4.</p>
  </div>
</kirby-card>
