<main>
  <section>
    <div class="max-width-container gutter">
      <h1>Værdier i alt</h1>
      <div class="grid-container">
        <div class="grid-item half@tablet-up">
          <article>
            <h2>Bolig</h2>
            <div class="kirby-card example-text">
              1
            </div>
          </article>
        </div>
        <div class="grid-item half@tablet-up">
          <article>
            <h2>Konti</h2>
            <div class="kirby-card example-text">
              2
            </div>
          </article>
        </div>
        <div class="grid-item half@tablet-up">
          <article>
            <h2>Pension</h2>
            <div class="kirby-card example-text">
              3
            </div>
          </article>
        </div>
        <div class="grid-item half@tablet-up">
          <article>
            <h2>Investering</h2>
            <div class="kirby-card example-text">
              4
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
  <div class="max-width-container gutter">
    <button>Tilføj</button>
  </div>

  <div class="max-width-container">
    <div id="example-no-gutter" class="example-text">
      Contained by max-width but no gutter
    </div>
  </div>

  <div class="gutter">
    <div id="example-full-width-gutter" class="example-text">
      Full width with gutter
    </div>
  </div>

  <div id="example-full-width" class="example-text">
    Full width no gutter
  </div>

  <section>
    <div class="safe-area-inline">
      <div class="max-width-container gutter">
        <h1>Anbefalinger</h1>
        <p>
          Du har 3 nye anbefalinger til at forbedre din økonomi. Kontakt din rådgiver for at høre
          mere.
        </p>
      </div>
      <div class="max-width-container">
        <div class="grid-container">
          <div class="grid-item half@tablet-up third@desktop-up">
            <article>
              <kirby-card hasPadding="true">
                <h2>Få mere ud af din opsparing</h2>
                <p>
                  Fluctuate interest rates Dow Jones receive rise government term municipal market
                  Nikkei passively return performance. Public finance holder fiat established bonds
                  hedge fund benchmark.
                </p>
              </kirby-card>
            </article>
          </div>
          <div class="grid-item half@tablet-up third@desktop-up">
            <article>
              <kirby-card hasPadding="true">
                <h2>Udnyt friværdi i din bolig</h2>
                <p>
                  Fluctuate interest rates Dow Jones receive rise government term municipal market
                  Nikkei passively return performance. Public finance holder fiat established bonds
                  hedge fund benchmark.
                </p>
              </kirby-card>
            </article>
          </div>
          <div class="grid-item half@tablet-up third@desktop-up">
            <article>
              <kirby-card hasPadding="true">
                <h2>Forøg din formue</h2>
                <p>
                  Fluctuate interest rates Dow Jones receive rise government term municipal market
                  Nikkei passively return performance. Public finance holder fiat established bonds
                  hedge fund benchmark.
                </p>
              </kirby-card>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
