<section>
  <div class="kirby-max-width-container kirby-gutter">
    <h1>Værdier i alt</h1>
    <div class="grid-container">
      <div class="grid-item half@tablet-up">
        <article>
          <h2>Bolig</h2>
          <div class="kirby-card example-text">
            1
          </div>
        </article>
      </div>
      <div class="grid-item half@tablet-up">
        <article>
          <h2>Konti</h2>
          <div class="kirby-card example-text">
            2
          </div>
        </article>
      </div>
      <div class="grid-item half@tablet-up">
        <article>
          <h2>Pension</h2>
          <div class="kirby-card example-text">
            3
          </div>
        </article>
      </div>
      <div class="grid-item half@tablet-up">
        <article>
          <h2>Investering</h2>
          <div class="kirby-card example-text">
            4
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<div class="kirby-max-width-container kirby-gutter">
  <button>Tilføj</button>
</div>

<div class="kirby-max-width-container">
  <div id="example-no-gutter" class="example-text">
    Contained by max-width but no gutter
  </div>
</div>

<div class="kirby-gutter">
  <div id="example-full-width-gutter" class="example-text">
    Full width with gutter
  </div>
</div>

<div id="example-full-width" class="example-text">
  Full width no gutter
</div>

<section>
  <div class="kirby-max-width-container kirby-gutter">
    <h1>Anbefalinger</h1>
    <div class="grid-container">
      <div class="grid-item half@tablet-up third@desktop-up">
        <article>
          <div class="kirby-card">
            <h2>Få mere ud af din opsparing</h2>
          </div>
        </article>
      </div>
      <div class="grid-item half@tablet-up third@desktop-up">
        <article>
          <div class="kirby-card">
            <h2>Få mere ud af din opsparing</h2>
          </div>
        </article>
      </div>
      <div class="grid-item half@tablet-up third@desktop-up">
        <article>
          <div class="kirby-card">
            <h2>Få mere ud af din opsparing</h2>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
