<GridLayout #overlayWrapperRef
  class="spinner-wrapper"
  columns="*"
  rows="auto auto auto" 
  horizontalAlignment="center"
>
  <StackLayout class="content-wrapper">
      <ng-content></ng-content>
  </StackLayout>
  <StackLayout [visibility]="isLoading ? 'visible' : 'collapse'" [class.backdrop]="showBackdrop" class="overlay"></StackLayout>
  <StackLayout [visibility]="isLoading ? 'visible' : 'collapse'"verticalAlignment="center">
    <kirby-spinner class="spinner"></kirby-spinner>
  </StackLayout>
</GridLayout>