@use '../examples.shared';

.header-example-container {
  margin: var(--kirby-spacing-l) auto;
  max-width: var(--kirby-breakpoint-medium);
}

.header-example {
  margin-bottom: var(--kirby-spacing-l);
  border: 1px solid var(--kirby-medium);
  border-radius: var(--kirby-spacing-xs);
}
