<div class="header-example-container">
  <h2>Default</h2>
  <div class="header-example">
    <cookbook-header-example-default></cookbook-header-example-default>
  </div>
</div>

<div class="header-example-container">
  <h2>Subtitle list</h2>
  <div class="header-example">
    <cookbook-header-example-subtitle-list></cookbook-header-example-subtitle-list>
  </div>
</div>

<div class="header-example-container">
  <h2>Flag</h2>
  <div class="header-example">
    <cookbook-header-example-flag></cookbook-header-example-flag>
  </div>
</div>

<div class="header-example-container">
  <h2>Flag with custom content</h2>
  <div class="header-example">
    <cookbook-header-example-custom-flag></cookbook-header-example-custom-flag>
  </div>
</div>

<div class="header-example-container">
  <h2>Key value</h2>
  <div class="header-example">
    <cookbook-header-example-value></cookbook-header-example-value>
  </div>
</div>

<div class="header-example-container">
  <h2>Avatar</h2>
  <div class="header-example">
    <cookbook-header-example-avatar></cookbook-header-example-avatar>
  </div>
  <div class="header-example">
    <cookbook-header-example-progress-circle-with-avatar></cookbook-header-example-progress-circle-with-avatar>
  </div>
</div>

<div class="header-example-container">
  <h2>Scaling of title</h2>
  <div class="header-example">
    <cookbook-header-example-title-scaling></cookbook-header-example-title-scaling>
  </div>
</div>

<div class="header-example-container">
  <h2>Custom Section</h2>
  <div class="header-example">
    <cookbook-header-example-custom-section></cookbook-header-example-custom-section>
  </div>
</div>

<div class="header-example-container">
  <h2>Combined</h2>
  <div class="header-example">
    <cookbook-header-example-combined></cookbook-header-example-combined>
  </div>
</div>
