<div class="header-example-container">
  <h1>Simple</h1>
  <kirby-header [titleMaxLines]="2">
    <ng-container *kirbyHeaderTitle>Title</ng-container>
    <ng-container *kirbyHeaderSubtitle1>Subtitle one</ng-container>
    <ng-container *kirbyHeaderSubtitle2>Subtitle two</ng-container>
  </kirby-header>
</div>

<div class="header-example-container">
  <h1>Key value</h1>
  <kirby-header>
    <ng-container *kirbyHeaderTitle>Title</ng-container>
    <ng-container *kirbyHeaderValue>12.345,67</ng-container>
    <ng-container *kirbyHeaderSubtitle1>Subtitle one</ng-container>
    <ng-container *kirbyHeaderSubtitle2>Subtitle two</ng-container>
  </kirby-header>
</div>

<div class="header-example-container">
  <h1>Simple - Centered</h1>
  <kirby-header [centered]="true">
    <kirby-avatar *kirbyHeaderAvatar avatar size="lg" text="A" title="lg"></kirby-avatar>
    <ng-container *kirbyHeaderTitle>Title</ng-container>
    <ng-container *kirbyHeaderSubtitle1>Subtitle one</ng-container>
    <ng-container *kirbyHeaderSubtitle2>Subtitle two</ng-container>
  </kirby-header>
</div>

<div class="header-example-container">
  <h1>Key value - Centered</h1>
  <kirby-header [centered]="true">
    <kirby-avatar *kirbyHeaderAvatar avatar size="lg" text="A" title="lg"></kirby-avatar>
    <ng-container *kirbyHeaderTitle>Title</ng-container>
    <ng-container *kirbyHeaderValue>12.345,67</ng-container>
    <ng-container *kirbyHeaderSubtitle1>Subtitle one</ng-container>
    <ng-container *kirbyHeaderSubtitle2>Subtitle two</ng-container>
  </kirby-header>
</div>

<div class="header-example-container">
  <h1>Button Group</h1>
  <kirby-header>
    <ng-container *kirbyHeaderTitle>Title</ng-container>
    <ng-container *kirbyHeaderSubtitle1>Subtitle one</ng-container>
    <ng-container *kirbyHeaderSubtitle2>Subtitle two</ng-container>
    <ng-container *kirbyHeaderActions>
      <button kirby-button>
        <kirby-icon name="edit"></kirby-icon>
        Action 1
      </button>
      <button kirby-button attentionLevel="3">Action 2</button>
      <button kirby-button attentionLevel="3">
        <kirby-icon name="more"></kirby-icon>
      </button>
    </ng-container>
  </kirby-header>
</div>

<div class="header-example-container">
  <h1>Truncation Demo</h1>
  <kirby-header titleMaxLines="2">
    <kirby-avatar *kirbyHeaderAvatar avatar size="lg" text="A" title="lg"></kirby-avatar>
    <kirby-flag *kirbyHeaderFlag themeColor="warning">Warning</kirby-flag>
    <ng-container *kirbyHeaderTitle>
      This is very very very very very loooooooooooooooong title
    </ng-container>
    <ng-container *kirbyHeaderSubtitle1>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet dui ante. Donec aliquam
      interdum ipsum sit amet egestas. In hac habitasse platea dictumst. Nullam sed libero eros. Ut
      ut tortor bibendum, convallis neque in, dignissim nibh. Quisque posuere lacinia congue. Cras
      at lorem aliquet, fermentum ante in, aliquet nisl.
    </ng-container>
    <ng-container *kirbyHeaderSubtitle2>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet dui ante. Donec aliquam
      interdum ipsum sit amet egestas. In hac habitasse platea dictumst. Nullam sed libero eros. Ut
      ut tortor bibendum, convallis neque in, dignissim nibh. Quisque posuere lacinia congue. Cras
      at lorem aliquet, fermentum ante in, aliquet nisl.
    </ng-container>
    <ng-container *kirbyHeaderCustomSection>Custom Section</ng-container>
    <ng-container *kirbyHeaderActions>
      <button kirby-button>
        <kirby-icon name="edit"></kirby-icon>
        Action 1
      </button>
      <button kirby-button attentionLevel="3">Action 2</button>
      <button kirby-button attentionLevel="3">
        <kirby-icon name="more"></kirby-icon>
      </button>
    </ng-container>
    <div>Tester lige her</div>
  </kirby-header>
</div>

<div class="header-example-container">
  <h1>Truncation Demo - Centered</h1>
  <kirby-header centered="true" titleMaxLines="2">
    <kirby-avatar *kirbyHeaderAvatar avatar size="lg" text="A" title="lg"></kirby-avatar>
    <kirby-flag *kirbyHeaderFlag themeColor="warning">Warning</kirby-flag>
    <ng-container *kirbyHeaderTitle>
      This is very very very very very loooooooooooooooong title
    </ng-container>
    <ng-container *kirbyHeaderSubtitle1>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet dui ante. Donec aliquam
      interdum ipsum sit amet egestas. In hac habitasse platea dictumst. Nullam sed libero eros. Ut
      ut tortor bibendum, convallis neque in, dignissim nibh. Quisque posuere lacinia congue. Cras
      at lorem aliquet, fermentum ante in, aliquet nisl.
    </ng-container>
    <ng-container *kirbyHeaderSubtitle2>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet dui ante. Donec aliquam
      interdum ipsum sit amet egestas. In hac habitasse platea dictumst. Nullam sed libero eros. Ut
      ut tortor bibendum, convallis neque in, dignissim nibh. Quisque posuere lacinia congue. Cras
      at lorem aliquet, fermentum ante in, aliquet nisl.
    </ng-container>
    <ng-container *kirbyHeaderCustomSection>Custom Section</ng-container>
    <ng-container *kirbyHeaderActions>
      <button kirby-button>
        <kirby-icon name="edit"></kirby-icon>
        Action 1
      </button>
      <button kirby-button attentionLevel="3">Action 2</button>
      <button kirby-button attentionLevel="3">
        <kirby-icon name="more"></kirby-icon>
      </button>
    </ng-container>
    <div>Tester lige her</div>
  </kirby-header>
</div>

<div class="header-example-container">
  <h1>Kitchen sink</h1>
  <kirby-header>
    <kirby-avatar *kirbyHeaderAvatar avatar size="lg" text="A" title="lg"></kirby-avatar>
    <kirby-flag *kirbyHeaderFlag themeColor="warning">Warning</kirby-flag>
    <ng-container *kirbyHeaderTitle>Title</ng-container>
    <ng-container *kirbyHeaderValue>12.345,67</ng-container>
    <ng-container *kirbyHeaderSubtitle1>Subtitle one</ng-container>
    <ng-container *kirbyHeaderSubtitle2>Subtitle two</ng-container>
    <ng-container *kirbyHeaderCustomSection>Custom Section</ng-container>
    <ng-container *kirbyHeaderActions>
      <button kirby-button>
        <kirby-icon name="edit"></kirby-icon>
        Action 1
      </button>
      <button kirby-button attentionLevel="3">Action 2</button>
      <button kirby-button attentionLevel="3">
        <kirby-icon name="more"></kirby-icon>
      </button>
    </ng-container>
    <div>Tester lige her</div>
  </kirby-header>
</div>
