kirby-checkbox {
  &:not(:first-of-type) {
    margin-top: var(--kirby-spacing-xxxs);
  }

  &.indent {
    margin-left: var(--kirby-spacing-l);
    margin-top: var(--kirby-spacing-xxxs);
  }
}

p {
  margin: 0;
  font-size: var(--kirby-font-size-s);
}
