<kirby-checkbox
  *ngIf="showDummyKeyboard !== undefined"
  [checked]="showDummyKeyboard && !interactWithBackground"
  (checkedChange)="toggleDummyKeyboard($event)"
  [disabled]="interactWithBackground || disabled"
  text="Show dummy keyboard"
></kirby-checkbox>

<kirby-checkbox
  *ngIf="showPageProgress !== undefined"
  [checked]="showPageProgress && !interactWithBackground"
  (checkedChange)="toggleShowPageProgress($event)"
  [disabled]="interactWithBackground || disabled"
  text="Show page progress"
></kirby-checkbox>

<kirby-checkbox
  *ngIf="showFooter !== undefined"
  [checked]="showFooter && !interactWithBackground"
  (checkedChange)="toggleShowFooter($event)"
  [disabled]="interactWithBackground || disabled"
  text="Show footer"
></kirby-checkbox>

<kirby-checkbox
  *ngIf="displayFooterAsInline !== undefined"
  [checked]="displayFooterAsInline"
  (checkedChange)="toggleDisplayFooterAsInline($event)"
  [disabled]="disabled || !showFooter"
  text="Display footer as inline"
  class="indent"
></kirby-checkbox>

<kirby-checkbox
  [checked]="snapFooterToKeyboard"
  (checkedChange)="toggleSnapFooterToKeyboard($event)"
  [disabled]="disabled || !showFooter"
  text="Snap footer to keyboard"
  class="indent"
></kirby-checkbox>

<kirby-checkbox
  *ngIf="disableScroll !== undefined"
  [checked]="disableScroll"
  (checkedChange)="toggleDisableScroll($event)"
  [disabled]="disabled"
  text="Disable scroll"
></kirby-checkbox>

<kirby-checkbox
  *ngIf="showDummyContent !== undefined"
  [checked]="showDummyContent"
  (checkedChange)="toggleShowDummyContent($event)"
  [disabled]="interactWithBackground || disabled"
  text="Show dummy content"
></kirby-checkbox>

<kirby-checkbox
  *ngIf="delayLoadDummyContent !== undefined"
  [checked]="delayLoadDummyContent && !interactWithBackground"
  (checkedChange)="toggleDelayLoadDummyContent($event)"
  [disabled]="!showDummyContent || interactWithBackground || disabled"
  class="indent"
  text="Delay load modal"
></kirby-checkbox>

<kirby-checkbox
  *ngIf="loadAdditionalContent !== undefined"
  [checked]="loadAdditionalContent && !interactWithBackground"
  (checkedChange)="toggleLoadAdditionalContent($event)"
  [disabled]="!showDummyContent || interactWithBackground || disabled"
  class="indent"
  text="Delay load additional"
></kirby-checkbox>

<kirby-checkbox
  *ngIf="openFullHeight !== undefined"
  [checked]="openFullHeight && !interactWithBackground"
  (checkedChange)="toggleOpenFullHeight($event)"
  [disabled]="interactWithBackground || disabled"
  text="Open in full height"
></kirby-checkbox>

<kirby-checkbox
  [checked]="collapseTitle"
  (checkedChange)="toggleCollapseTitle($event)"
  [disabled]="disabled"
  text="Collapse title"
></kirby-checkbox>

<small>
  (Collapse title is unavailable for routed modals. See
  <a href="https://github.com/kirbydesign/designsystem/issues/2192" target="_blank">issue #2192</a>
  .)
</small>

<kirby-checkbox
  [checked]="alertBeforeClose"
  (checkedChange)="toggleAlertBeforeClose($event)"
  [disabled]="disabled"
  text="Alert before closing"
></kirby-checkbox>

<kirby-divider [hasMargin]="true"></kirby-divider>
<p>Modal and drawer size on screens larger than 768px:</p>

<kirby-dropdown
  [items]="modalSizeOptions"
  (change)="changeSize($event)"
  [usePopover]="true"
></kirby-dropdown>

<ng-container *ngIf="interactWithBackground !== undefined || customCssClass !== undefined">
  <kirby-divider [hasMargin]="true"></kirby-divider>
  <p>Custom modal/drawer:</p>
  <kirby-checkbox
    *ngIf="interactWithBackground !== undefined"
    [checked]="interactWithBackground"
    (checkedChange)="toggleInteractWithBackground($event)"
    [disabled]="disabled"
    text="Interact with background (drawer only)"
  ></kirby-checkbox>

  <kirby-checkbox
    *ngIf="customCssClass !== undefined"
    [checked]="customCssClass"
    (checkedChange)="toggleCustomCssClass($event)"
    [disabled]="disabled"
    text="Add custom CSS class"
  ></kirby-checkbox>
</ng-container>
