@use '@kirbydesign/core/src/scss/utils';

:host {
  kirby-checkbox {
    &:not(:first-of-type) {
      margin-top: utils.size('xxxs');
    }

    &.indent {
      margin-left: utils.size('l');
      margin-top: utils.size('xxxs');
      font-size: utils.font-size('s');
    }
  }

  p {
    margin: 0;
    font-style: italic;
  }

  kirby-dropdown {
    margin-block: utils.size('xxs');
  }
}
