<ScrollView>
    <StackLayout class="background">
        <Label text="Default Icons" class="h2"></Label>
        <WrapLayout itemWidth="100" itemHeight="90">
            <StackLayout *ngFor="let icon of icons">
                <kirby-icon [name]="icon.name"></kirby-icon>
                <Label [text]="icon.name"></Label>
            </StackLayout>
        </WrapLayout>

        <Label text="Custom Icons" class="h2"></Label>
        <WrapLayout orientation="horizontal" itemWidth="100" itemHeight="60">
            <StackLayout>
                <kirby-icon customName="football"></kirby-icon>
                <Label text="customName: football" textWrap="true"></Label>
            </StackLayout>
            <StackLayout>
                <kirby-icon customName="umbrella"></kirby-icon>
                <Label text="customName: umbrella" textWrap="true"></Label>
            </StackLayout>
        </WrapLayout>

        <Label text="Sizes" class="h2"></Label>
        <WrapLayout orientation="horizontal" itemWidth="80" itemHeight="80">
            <StackLayout *ngFor="let size of (sizes | keyvalue).reverse()">
                <kirby-icon name="person" [size]="size.value"></kirby-icon>
                <Label [text]="size.value"></Label>
            </StackLayout>
        </WrapLayout>

        <Label text="Colors" class="h2"></Label>
        <WrapLayout orientation="horizontal" itemWidth="60" itemHeight="60">
            <StackLayout>
                <kirby-icon name="person" themeColor="primary"></kirby-icon>
                <Label text="primary"></Label>
            </StackLayout>
            <StackLayout>
                <kirby-icon name="person" themeColor="secondary"></kirby-icon>
                <Label text="secondary"></Label>
            </StackLayout>
            <StackLayout>
                <kirby-icon name="person" themeColor="tertiary"></kirby-icon>
                <Label text="tertiary"></Label>
            </StackLayout>
            <StackLayout>
                <kirby-icon name="person" themeColor="success"></kirby-icon>
                <Label text="success"></Label>
            </StackLayout>
            <StackLayout>
                <kirby-icon name="person" themeColor="warning"></kirby-icon>
                <Label text="warning"></Label>
            </StackLayout>
            <StackLayout>
                <kirby-icon name="person" themeColor="danger"></kirby-icon>
                <Label text="danger"></Label>
            </StackLayout>
            <StackLayout>
                <kirby-icon name="person" themeColor="light"></kirby-icon>
                <Label text="light"></Label>
            </StackLayout>
            <StackLayout>
                <kirby-icon name="person" colortype="medium"></kirby-icon>
                <Label text="medium"></Label>
            </StackLayout>
            <StackLayout>
                <kirby-icon name="person" colortype="dark"></kirby-icon>
                <Label text="dark"></Label>
            </StackLayout>
        </WrapLayout>

        <Label text="Outline" class="h2"></Label>
        <WrapLayout orientation="horizontal" itemWidth="140" itemHeight="140">
            <StackLayout *ngFor="let size of (sizes | keyvalue).reverse()">
                <kirby-icon name="person" [size]="size.value" outline="true"></kirby-icon>
                <Label [text]="size.value"></Label>
            </StackLayout>
        </WrapLayout>

    </StackLayout>
</ScrollView>
