<h2>Default Icons</h2>
<p class="note">*If icon is <strong>NOT</strong> found, 'cog' will be used as default icon</p>

<div class="icon-item-container" *ngFor="let icon of icons">
    <div class="icon-item-inner-container">
        <kirby-icon [name]="icon.name" size="md" title="md"></kirby-icon>
        <span class="icon-item-title">{{icon.name}}</span>
    </div>
</div>

<h2>Custom Icons</h2>

<div class="icon-item-container">
    <div class="icon-item-inner-container">
        <kirby-icon customName="football" title="football"></kirby-icon>
        <span class="icon-item-title">football</span>
    </div>
</div>
<div class="icon-item-container">
    <div class="icon-item-inner-container">
        <kirby-icon customName="umbrella" title="umbrella"></kirby-icon>
        <span class="icon-item-title">umbrella</span>
    </div>
</div>

<h2>Sizes</h2>
<div class="icon-item-container" *ngFor="let size of sizes | keyvalue">
    <div class="icon-item-inner-container">
        <kirby-icon name="person" [size]="size.value" [title]="size.value"></kirby-icon>
        <span class="icon-item-title">{{size.value}}</span>
    </div>
</div>

<!-- Removed for now, until we have a usecase for using colors for icons -->
<!--<h2>Colors</h2>-->
<!--<kirby-icon name="person" themeColor="primary" title="primary"></kirby-icon>-->
<!--<kirby-icon name="person" themeColor="secondary" title="secondary"></kirby-icon>-->
<!--<kirby-icon name="person" themeColor="tertiary" title="tertiary"></kirby-icon>-->
<!--<kirby-icon name="person" themeColor="success" title="success"></kirby-icon>-->
<!--<kirby-icon name="person" themeColor="warning" title="warning"></kirby-icon>-->
<!--<kirby-icon name="person" themeColor="danger" title="danger"></kirby-icon>-->
<!--<kirby-icon name="person" themeColor="light" title="light"></kirby-icon>-->
<!--<kirby-icon name="person" colortype="medium" title="medium"></kirby-icon>-->
<!--<kirby-icon name="person" colortype="dark" title="dark"></kirby-icon>-->
