<kirby-icon name="search"></kirby-icon>
<kirby-icon name="person" size="sm"></kirby-icon>
<kirby-icon name="person" size="md"></kirby-icon>
<kirby-icon name="person" size="lg"></kirby-icon>
<kirby-icon name="person" size="lg" colortype="success"></kirby-icon>

<!-- use custom font icons -->
<kirby-icon customName="football" size="sm" colortype="warning"></kirby-icon>
<kirby-icon customName="umbrella" size="md" colortype="danger"></kirby-icon>
<kirby-icon customName="umbrella" size="lg"></kirby-icon>
