<h2>Default Icons</h2>
<kirby-icon name="add" title="add"></kirby-icon>
<kirby-icon name="cog" title="cog"></kirby-icon>
<kirby-icon name="swap" title="swap"></kirby-icon>
<kirby-icon name="move" title="move"></kirby-icon>
<kirby-icon name="log-out" title="log-out"></kirby-icon>
<kirby-icon name="more" title="more"></kirby-icon>
<kirby-icon name="arrow-back" title="arrow-back"></kirby-icon>
<kirby-icon name="help" title="help"></kirby-icon>
<kirby-icon name="close" title="close"></kirby-icon>
<kirby-icon name="attach" title="attach"></kirby-icon>
<kirby-icon name="search" title="search"></kirby-icon>
<kirby-icon name="checkbox" title="checkbox"></kirby-icon>
<kirby-icon name="checkbox-outline" title="checkbox-outline"></kirby-icon>
<kirby-icon name="menu" title="menu"></kirby-icon>
<kirby-icon name="person" title="person"></kirby-icon>

<h2>Custom Icons</h2>
<kirby-icon customName="football" title="football"></kirby-icon>
<kirby-icon customName="umbrella" title="umbrella"></kirby-icon>

<h2>Sizes</h2>
<kirby-icon name="person" size="sm" title="sm (default)"></kirby-icon>
<kirby-icon name="person" size="md" title="md"></kirby-icon>
<kirby-icon name="person" size="lg" title="lg"></kirby-icon>

<h2>Colors</h2>
<kirby-icon name="person" themeColor="primary" title="primary"></kirby-icon>
<kirby-icon name="person" themeColor="secondary" title="secondary"></kirby-icon>
<kirby-icon name="person" themeColor="tertiary" title="tertiary"></kirby-icon>
<kirby-icon name="person" themeColor="success" title="success"></kirby-icon>
<kirby-icon name="person" themeColor="warning" title="warning"></kirby-icon>
<kirby-icon name="person" themeColor="danger" title="danger"></kirby-icon>
<kirby-icon name="person" themeColor="light" title="light"></kirby-icon>
<kirby-icon name="person" colortype="medium" title="medium"></kirby-icon>
<kirby-icon name="person" colortype="dark" title="dark"></kirby-icon>