:host {
  display: flex;

  ::ng-deep .chip-card {
    flex-direction: initial;
    height: initial;
    justify-content: initial;
    min-height: initial;
    min-width: initial;
    padding: 25px;
  }
}
