@import '../../../scss/native-imports';

.background {
     background-color: transparent;
     align-items: center;
     flex-wrap: wrap;
     justify-content: center;
     align-content: flex-start;
}

.line-chart {
    background-color: transparent;
    height: 150;
    width: 100%;
}

.label-text {
    
}

