@use '../design-token-table';
@use '../showcase.shared';

@include design-token-table.copy-token-cell;

.font-size-sample,
.font-weight-sample,
.line-height-sample {
  display: inline-block;
  transition: transform var(--kirby-transition-duration-quick);
}

tr:hover .font-size-sample,
tr:hover .font-weight-sample,
tr:hover .line-height-sample {
  transform: scale(110%);
}

.font-size-sample {
  line-height: 1;
}

.line-height-sample {
  font-size: var(--kirby-font-size-n);
  background-color: var(--kirby-semi-light);
}
