@import "../../scss/web-imports";

:host {
  display: inline-flex;

  kirby-floating-action-button  {
      z-index: 30000;
  }

  .fab-sheet {
    position: absolute;
    width: 304px;
    margin-left: -230px;
    margin-top: 0;
    background-color: transparent;

    .card {
      text-align: center;
      min-height: auto;
    }

    .option {
      width: 100%;
    }
    
    kirby-list {
      cursor: pointer;
    }  
  }
}


