:host {
    kirby-floating-action-button  {     
        display: flex;
        flex-direction: row;
        width: fit-content;
    }
    
    ::ng-deep ion-fab-button {
        z-index: 100000;
    }
}
