<div class="example">
  <h2>Input</h2>

  <h3>Default</h3>
  <cookbook-example-viewer [html]="inputDefaultExample.template">
    <cookbook-form-field-input-example #inputDefaultExample></cookbook-form-field-input-example>
  </cookbook-example-viewer>

  <h3>Label</h3>
  <cookbook-example-viewer [html]="inputLabelExample.template">
    <cookbook-form-field-input-label-example
      #inputLabelExample
    ></cookbook-form-field-input-label-example>
  </cookbook-example-viewer>

  <h3>Label & Message</h3>
  <cookbook-example-viewer [html]="inputLabelMessageExample.template">
    <cookbook-form-field-input-label-message-example
      #inputLabelMessageExample
    ></cookbook-form-field-input-label-message-example>
  </cookbook-example-viewer>

  <h3>Character counter</h3>
  <cookbook-example-viewer [html]="inputCounterExample.template">
    <cookbook-form-field-input-counter-example
      #inputCounterExample
    ></cookbook-form-field-input-counter-example>
  </cookbook-example-viewer>

  <h3>Numeric</h3>
  <cookbook-example-viewer [html]="inputNumericExample.template">
    <cookbook-form-field-input-numeric-example
      #inputNumericExample
    ></cookbook-form-field-input-numeric-example>
  </cookbook-example-viewer>

  <h3>Numeric input with Thousand (grouping) separator and decimal support</h3>
  <cookbook-example-viewer [html]="inputNumericGroupingExample.template">
    <cookbook-form-field-input-numeric-input-example
      #inputNumericGroupingExample
    ></cookbook-form-field-input-numeric-input-example>
  </cookbook-example-viewer>

  <h3>Disabled</h3>
  <cookbook-example-viewer [html]="inputDisabledExample.template">
    <cookbook-form-field-input-disabled-example
      #inputDisabledExample
    ></cookbook-form-field-input-disabled-example>
  </cookbook-example-viewer>

  <h3>Error</h3>
  <cookbook-example-viewer [html]="inputErrorExample.template">
    <cookbook-form-field-input-error-example
      #inputErrorExample
    ></cookbook-form-field-input-error-example>
  </cookbook-example-viewer>

  <h3>Borderless</h3>
  <cookbook-example-viewer [html]="inputBorderlessExample.template">
    <cookbook-form-field-input-borderless-example
      #inputBorderlessExample
    ></cookbook-form-field-input-borderless-example>
  </cookbook-example-viewer>

  <h2>Textarea</h2>

  <h3>Default</h3>
  <cookbook-example-viewer [html]="textareaDefaultExample.template">
    <cookbook-form-field-textarea-example
      #textareaDefaultExample
    ></cookbook-form-field-textarea-example>
  </cookbook-example-viewer>

  <h3>Label</h3>
  <cookbook-example-viewer [html]="textareaLabelExample.template">
    <cookbook-form-field-textarea-label-example
      #textareaLabelExample
    ></cookbook-form-field-textarea-label-example>
  </cookbook-example-viewer>

  <h3>Character counter</h3>
  <cookbook-example-viewer [html]="textareaCounterExample.template">
    <cookbook-form-field-textarea-counter-example
      #textareaCounterExample
    ></cookbook-form-field-textarea-counter-example>
  </cookbook-example-viewer>

  <h2>Form Field</h2>
  <h4>Properties:</h4>
  <cookbook-showcase-properties [properties]="formFieldProperties"></cookbook-showcase-properties>

  <h2>Input & Textarea: Shared Properties & Events</h2>
  <h4>Properties:</h4>
  <cookbook-showcase-properties [properties]="sharedProperties"></cookbook-showcase-properties>
  <h4>Events:</h4>
  <cookbook-showcase-properties [properties]="sharedEvents"></cookbook-showcase-properties>

  <h2>Input: Specific properties</h2>
  <h4>Properties:</h4>
  <cookbook-showcase-properties [properties]="inputProperties"></cookbook-showcase-properties>

  <h2>Textarea: Specific properties</h2>
  <h4>Properties:</h4>
  <cookbook-showcase-properties [properties]="textareaProperties"></cookbook-showcase-properties>

  <h2>Input Counter</h2>
  <h4>Properties:</h4>
  <cookbook-showcase-properties [properties]="counterProperties"></cookbook-showcase-properties>
</div>
