@import '../../kirby/scss/web-imports';
.show-case {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;

  &__header {
    text-transform: uppercase;
    font-size: 24px;
    color: #797985;
    font-weight: 400;
    position: relative;
    flex-grow: 1;
    align-self: flex-start;

    &:after {
      content: "";
      height: 2px;
      background-color: currentColor;
      width: calc(100% - 2rem); 
      position: absolute;
      bottom: -1rem;
      left: 0;
    }
  }
}


.showcase-cta-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ececec;
  box-shadow: 0px 3px 0px 0px rgba(25, 23, 23, 0.23);
  padding: 0.5rem 1rem;
  margin-top: size("s");
  border-radius: 10px;
  z-index: 1;
  position: relative;

  &__link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    padding: 0.3rem 0;
    color: gray;
    width: 100%;
    transition: 0.15s ease-in-out background-color;

    &:hover {
      background-color: #e2e2e2;
    }
  }
}

.icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  color: currentColor;
  fill: currentColor;
}

::ng-deep .cookbook-properties {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  margin-top: size("m");
  thead {
    background-color: var(--kirby-background);
    color: var(--kirby-on-background);
  }
  th {
    font-weight: font-weight("normal");
    border: none;
    text-align: left;
    height: size("xl");
    border-bottom: none;
  }
  td, th {
    border: 1px solid var(--kirby-disabled);
    border-width: 1px 1px 1px 1px;
    padding: 0.5rem 1rem;
  }
}

::ng-deep :not(pre) > code[class*="language-"], 
::ng-deep pre[class*="language-"] {
  background-color: var(--kirby-background);
  border: 1px solid var(--kirby-disabled);
}