@import "../../scss/native-imports";

.box {
  text-align: center;
}

.icon-outline {
  margin-bottom: size('m');
  border-radius: size('xxxl') * 3;
  border-width: 3;
  border-color: get-color('medium');
  $icon-size: size('l') * 2;
  width: $icon-size;
  height: $icon-size;
}

.title {
  margin-bottom: size('xs');
}

.subtitle {
  margin-bottom: size('m');
}
