@import "../../scss/web-imports";

article {
  max-width: 330px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.icon-outline {
  margin-left: auto;
  margin-right: auto;
  border: 3px solid var(--kirby-medium);
  padding: var(--kirby-icon-padding);
  border-radius: size('xxxl') * 3;
  $icon-size: size('l') * 2;
  width: $icon-size;
  height: $icon-size;
  margin-bottom: size('m'); 
}

h3.title {
  margin-bottom: size('xs');
}

p.subtitle {
  margin-bottom: size('m');
}
