@import "../../scss/native-imports";

.box {
  width: 88%;
  text-align: center;
}

.icon {
  margin-bottom: size('m');
}

.title {
  margin-bottom: size('xs');
}

.subtitle {
  margin-bottom: size('m');
}
