<FlexboxLayout flexDirection="column" justifyContent="space-around">
  <StackLayout class="box" alignSelf="center">
    <kirby-icon *ngIf="iconName" [name]="iconName" size="lg" outline="true" class="icon"></kirby-icon>
    <Label *ngIf="title" class="kirby-text-normal-bold title" [text]="title"></Label>
    <Label *ngIf="text" class="kirby-text-normal message" [text]="text" textWrap="true"></Label>
    <StackLayout class="button-wrapper">
      <ng-content></ng-content>
    </StackLayout>
  </StackLayout>
</FlexboxLayout>