@import '../../scss/utils';

article {
  max-width: 330px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.icon-outline {
  $icon-size: size('xxl') * 2;
  width: $icon-size;
  height: $icon-size;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: size('m');
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid var(--kirby-medium);
  border-radius: 50%;
}

h3.title {
  margin-bottom: size('xxs');
}

p.subtitle {
  margin-bottom: size('m');
}

@each $color-name, $color-value in $main-colors {
  :host(.#{$color-name}) {
    .icon-outline {
      border-color: #{get-color($color-name)};
    }
    kirby-icon {
      color: #{get-color($color-name)};
    }
  }
}
