@import "../../scss/web-imports";

article {
  max-width: 330px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

kirby-icon {
  margin: auto;
}

h3,p {
  margin: 0px;
}

kirby-icon + * {
  margin-top: size('s');
}

h3 + .content,
p + .content {
  margin-top: size('s');
}

h3 + p {
  margin-top: size('xs');
}
