<!-- <kirby-carousel [config]="config">
  <kirby-carousel-slide>
    <kirby-card [hasPadding]="true">
      <kirby-card-header [title]="'Flagged card header'" [flagged]="'success'"></kirby-card-header>

      <strong>A flagged card</strong>
      <p>
        This is a card that uses a
        <em>kirby-card-header</em>
        with the
        <code>flagged</code>
        input set.
      </p>
      <p>
        Possible values for the flagged header are:
        <br />
        <code>'success' | 'warning' | 'danger' | 'info'</code>
      </p>
      <p>Use the buttons below to see the different options 👇</p>
    </kirby-card>
  </kirby-carousel-slide>
  <kirby-carousel-slide>
    <kirby-card [hasPadding]="true">
      <kirby-card-header [title]="'Flagged card header'" [flagged]="'warning'"></kirby-card-header>

      <strong>A flagged card</strong>
      <p>
        This is a card that uses a
        <em>kirby-card-header</em>
        with the
        <code>flagged</code>
        input set.
      </p>
      <p>
        Possible values for the flagged header are:
        <br />
        <code>'success' | 'warning' | 'danger' | 'info'</code>
      </p>
      <p>Use the buttons below to see the different options 👇</p>
    </kirby-card>
  </kirby-carousel-slide>
  <kirby-carousel-slide>
    <kirby-card [hasPadding]="true">
      <kirby-card-header [title]="'Flagged card header'" [flagged]="'danger'"></kirby-card-header>

      <strong>A flagged card</strong>
      <p>
        This is a card that uses a
        <em>kirby-card-header</em>
        with the
        <code>flagged</code>
        input set.
      </p>
      <p>
        Possible values for the flagged header are:
        <br />
        <code>'success' | 'warning' | 'danger' | 'info'</code>
      </p>
      <p>Use the buttons below to see the different options 👇</p>
    </kirby-card>
  </kirby-carousel-slide>

  <kirby-carousel-slide>
    <kirby-card [hasPadding]="true">
      <kirby-card-header [title]="'Flagged card header'" [flagged]="'warning'"></kirby-card-header>

      <strong>A flagged card</strong>
      <p>
        This is a card that uses a
        <em>kirby-card-header</em>
        with the
        <code>flagged</code>
        input set.
      </p>
      <p>
        Possible values for the flagged header are:
        <br />
        <code>'success' | 'warning' | 'danger' | 'info'</code>
      </p>
      <p>Use the buttons below to see the different options 👇</p>
    </kirby-card>
  </kirby-carousel-slide>

  <kirby-carousel-slide>
    <kirby-card [hasPadding]="true">
      <kirby-card-header [title]="'Flagged card header'" [flagged]="'success'"></kirby-card-header>

      <strong>A flagged card</strong>
      <p>
        This is a card that uses a
        <em>kirby-card-header</em>
        with the
        <code>flagged</code>
        input set.
      </p>
      <p>
        Possible values for the flagged header are:
        <br />
        <code>'success' | 'warning' | 'danger' | 'info'</code>
      </p>
      <p>Use the buttons below to see the different options 👇</p>
    </kirby-card>
  </kirby-carousel-slide>
</kirby-carousel> -->

<cookbook-iphone src="/examples/carousel/" showExternalLink="true"></cookbook-iphone>
