<p>
  Carousels are a collection of cards you can navigate horizontally in, either swipe or click.
  Carousels are great to contain content without using a lot of space, but the content has to be
  closely related.
</p>

<div class="page-example">
  <div>
    <h2>Example:</h2>

    <cookbook-code-viewer [html]="exampleComponentHTML"></cookbook-code-viewer>

    <!-- <p>The <code>kirby-carousel</code> comes with a default config that</p> -->
    <!-- <cookbook-code-viewer [html]="items"></cookbook-code-viewer> -->
  </div>

  <div>
    <cookbook-iphone src="/examples/carousel/" showExternalLink="true"></cookbook-iphone>
  </div>
</div>

<p>
  The
  <code>kirby-carousel</code>
  uses
  <code>swiper.js</code>
  under the hood and accepts the same
  <a href="https://swiperjs.com/swiper-api#parameters" target="_blank">configuration</a>
  as
  <code>swiper.js</code>
  . The component comes with this default config:
</p>

<cookbook-code-viewer [ts]="carouselDefaultConfig"></cookbook-code-viewer>

<p>
  This config can be extended be passing in
  <code>slidesOptions</code>
  as shown in the example above.
</p>
<p>
  <em>
    <strong>Please note:</strong>
    When providing your own config it is important that you don't specify
    <code>pagination</code>
    ,
    <code>navigation</code>
    &
    <code>slideChange</code>
    , as this would overwrite these properties in the default config.
  </em>
</p>
