<div class="example">
  <cookbook-example-viewer [html]="chipExample.template">
    <div>
      <cookbook-chip-example [themeColor]="themeColor" #chipExample></cookbook-chip-example>
    </div>
  </cookbook-example-viewer>

  <fieldset>
    <legend>Configuration: Card color</legend>
    <kirby-dropdown
      [items]="themeColors"
      [selectedIndex]="0"
      (change)="onThemeChange($event.value)"
    >
    </kirby-dropdown>
  </fieldset>
  <h2>Properties:</h2>
  <cookbook-api-description-properties
    [columns]="columns"
    [properties]="properties"
  ></cookbook-api-description-properties>
</div>
