@use '@kirbydesign/core/src/scss/utils';

kirby-card {
  position: relative;
  margin-bottom: utils.size('s');
}

kirby-card-header {
  &:not(.bg-color) {
    padding-bottom: 0;
  }

  &.bg-color {
    --kirby-card-header-color: #{utils.get-color('dark-contrast')};
    --kirby-card-header-background-color: #{utils.get-color('dark')};
  }
}

kirby-card-footer {
  &.bg-color {
    color: utils.get-color('dark-contrast');
    background-color: utils.get-color('dark');
  }
}

.card-content {
  padding: utils.size('s');
  background-color: utils.get-color('light');
}

kirby-card.show-size {
  &::before {
    background-color: #ccc;
    color: white;
    content: '-'; // "\00a0";
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 0.1em;
    position: absolute;
    text-align: center;
    margin-top: 0.9em;
    margin-left: -0.9em;
    transform: rotate(-45deg);
    transform-origin: center bottom;
    width: 6em;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    box-shadow: 0 6px 8px rgb(0 0 0 / 30%);
  }

  --card-small-background-color: #8dabee;
  --card-medium-background-color: #d2a2ee;
  --card-large-background-color: #d8b280;

  &[size='<small']::before,
  &[size='small']::before {
    content: 'SM';
    background-color: var(--card-small-background-color);
  }

  &[size='medium']::before {
    content: 'MD';
    background-color: var(--card-medium-background-color);
  }

  &[size='large']::before {
    content: 'LG';
    background-color: var(--card-large-background-color);
  }
}
