@use '@kirbydesign/core/src/scss/utils';

kirby-card-header {
  &:not(.bg-color) {
    padding-bottom: 0;
  }

  &.bg-color {
    --kirby-card-header-color: #{utils.get-color('dark-contrast')};
    --kirby-card-header-background-color: #{utils.get-color('dark')};
  }
}

kirby-card-footer {
  &.bg-color {
    color: utils.get-color('dark-contrast');
    background-color: utils.get-color('dark');
  }
}
