@import '../../scss/utils';

:host {
  display: block;
  margin-bottom: size('s');
}

.texts {
  display: flex;
  justify-content: space-between;
  padding: 2px size('s') 0 size('s');

  .message {
    flex: 75%;

    &:only-child {
      flex-basis: auto;
    }
  }

  .counter {
    flex: 25%;
    text-align: right;
  }
}

label {
  display: block;

  .text {
    font-size: font-size('s');
    font-weight: font-weight('light');
    line-height: line-height('s');
    margin-bottom: size('xxxs');
    padding: 0 size('s');
  }
}
