<div class="example">
    <kirby-badge-example></kirby-badge-example>
    <kirby-html-viewer [html]="exampleHtml"></kirby-html-viewer>
    <h4>Properties:</h4>
    <table class="cookbook-properties">
      <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Input values</th>
      </thead>
      <tbody>
        <tr>
          <td><code>colortype</code></td>
          <td>Sets which color the badge should use from the theme palette</td>
          <td><code>primary, secondary, danger, alert</code></td>
        </tr>
      </tbody>
    </table>     
</div>