@use '@kirbydesign/core/src/scss/utils';

:host {
  display: block;
  margin-bottom: var(--kirby-spacing-s);

  a {
    margin-right: var(--kirby-spacing-s);
  }
}

.trailing-icon-example {
  @include utils.trailing-icon('navigation');
}
