<kirby-form-field label="Choose dropdown size for examples below">
  <kirby-radio-group [value]="size" (valueChange)="sizeChanged.emit($event)">
    <kirby-radio value="md" size="sm">
      <strong>Medium</strong>
      (
      <code>md</code>
      ) typically used when only one or a few dropdowns are needed in a view.
    </kirby-radio>
    <kirby-radio value="sm" size="sm">
      <strong>Small</strong>
      (
      <code>sm</code>
      ) typically used in smaller areas or when there is a need to fit multiple dropdowns within the
      content area.
    </kirby-radio>
  </kirby-radio-group>
</kirby-form-field>
