<fieldset>
  <legend>Dropdown size for examples below</legend>
  <p>
    <strong>Size:</strong>
    <br />
    <label>
      <input
        type="radio"
        name="size"
        value="sm"
        [checked]="size === 'sm'"
        (change)="sizeChanged.emit($event.target.value)"
      />
      Small (
      <code>sm</code>
      )
    </label>
    <label>
      <input
        type="radio"
        name="size"
        value="md"
        [checked]="size === 'md'"
        (change)="sizeChanged.emit($event.target.value)"
      />
      Medium (
      <code>md</code>
      ) - default
    </label>
  </p>
</fieldset>
