<!-- This container is only needed due to layout of larger screen sizes -->
<kirby-page>
  <kirby-page-content>
    <div class="container">
      <div class="app-header">
        <!-- Hidden on small screen sizes-->
      </div>
      <p><br /><br /><br /></p>
      <H1>Til dig</H1>

      <kirby-card [hasPadding]="true">1</kirby-card>
      <kirby-card [hasPadding]="true">2</kirby-card>
      <kirby-card [hasPadding]="true">3</kirby-card>
      <div>
        <kirby-card [hasPadding]="true" themeColor="secondary">Betal og overfør</kirby-card>
        <kirby-card [hasPadding]="true">4</kirby-card>
        <kirby-card [hasPadding]="true">5</kirby-card>
      </div>
    </div>
  </kirby-page-content>
</kirby-page>
