@use '../showcase.shared';
@use '@kirbydesign/core/src/scss/utils';

cookbook-toggle-default-example {
  --kirby-item-background: transparent;
}

cookbook-reative-forms-example {
  padding: 0;
  margin-bottom: utils.size('s');
}
