<h1>Avatar</h1>

<h2>Default</h2>
<cookbook-avatar-example-default></cookbook-avatar-example-default>

<h2>Colors</h2>
<cookbook-avatar-example-colors></cookbook-avatar-example-colors>

<h2>Avatar with text</h2>
<cookbook-avatar-example-text></cookbook-avatar-example-text>

<h2>Avatar with icon</h2>
<cookbook-avatar-example-icon></cookbook-avatar-example-icon>

<h2>Avatar with badge</h2>
<cookbook-avatar-example-badge></cookbook-avatar-example-badge>

<h2>Avatar with image</h2>
<cookbook-avatar-example-image></cookbook-avatar-example-image>
<h3>Sizes</h3>
<cookbook-avatar-example-image-size></cookbook-avatar-example-image-size>
<h3>Lazy loaded image</h3>
<cookbook-avatar-example-image-loazy-loading></cookbook-avatar-example-image-loazy-loading>
<h3>Fallback image</h3>
<cookbook-avatar-example-image-error></cookbook-avatar-example-image-error>
