<div class="example-container">
  <h1>Avatar</h1>

  <h2>Default</h2>
  <div class="example-frame">
    <cookbook-avatar-example-default></cookbook-avatar-example-default>
  </div>

  <h2>Sizes</h2>
  <div class="example-frame">
    <cookbook-avatar-example-size></cookbook-avatar-example-size>
  </div>

  <h2>Colors</h2>
  <div class="example-frame">
    <cookbook-avatar-example-colors></cookbook-avatar-example-colors>
  </div>

  <h2>Avatar with text</h2>
  <div class="example-frame">
    <cookbook-avatar-example-text></cookbook-avatar-example-text>
  </div>

  <h2>Avatar with badge</h2>
  <div class="example-frame">
    <cookbook-avatar-example-badge></cookbook-avatar-example-badge>
  </div>

  <h2>Avatar with image</h2>
  <div class="example-frame">
    <cookbook-avatar-example-image></cookbook-avatar-example-image>
  </div>

  <h3>Lazy loaded image</h3>
  <div class="example-frame">
    <cookbook-avatar-example-image-loazy-loading></cookbook-avatar-example-image-loazy-loading>
  </div>

  <h3>Fallback image</h3>
  <div class="example-frame">
    <cookbook-avatar-example-image-error></cookbook-avatar-example-image-error>
  </div>
</div>
