<div class="flag-example-wrapper">
  <p class="kirby-text-large">Size: md (default)</p>
  <div class="flag-examples">
    <kirby-flag themeColor="success">Success</kirby-flag>
    <kirby-flag themeColor="warning">Warning</kirby-flag>
    <kirby-flag themeColor="danger">Danger</kirby-flag>
    <kirby-flag themeColor="semi-light">Semi-Light</kirby-flag>
    <kirby-flag themeColor="transparent">Transparent</kirby-flag>
  </div>
  <p class="kirby-text-large">Size: sm</p>
  <div class="flag-examples">
    <kirby-flag size="sm" themeColor="success">Small Success</kirby-flag>
    <kirby-flag size="sm" themeColor="warning">Warning</kirby-flag>
    <kirby-flag size="sm" themeColor="danger">Danger</kirby-flag>
    <kirby-flag size="sm" themeColor="semi-light">Semi-Light</kirby-flag>
    <kirby-flag size="sm" themeColor="transparent">Transparent</kirby-flag>
  </div>
  <p class="kirby-text-large">Size: xs</p>
  <div class="flag-examples">
    <kirby-flag size="xs" themeColor="success">Tiny Success</kirby-flag>
    <kirby-flag size="xs" themeColor="warning">Warning</kirby-flag>
    <kirby-flag size="xs" themeColor="danger">Danger</kirby-flag>
    <kirby-flag size="xs" themeColor="semi-light">Semi-Light</kirby-flag>
    <kirby-flag size="xs" themeColor="transparent">Transparent</kirby-flag>
  </div>
</div>
