@import './libs/designsystem/src/lib/scss/utils';

.flag-example-wrapper {
  display: flex;
  flex-direction: column;

  .flag-examples {
    display: inline-flex;
    kirby-flag + kirby-flag {
      margin-left: size('s');
    }
    margin-bottom: size('s');
  }
}
