<div class="tabs-example">
  <div>
    <h2>Tabs</h2>
    <p>
      Tabs are a top level navigation component to implement a tab-based navigation. The component
      is a container of individual content.
    </p>
    <h4>Icons</h4>
    <p>
      An icon for the tab can be specified by nesting a <code>kirby-icon</code> inside the
      <code>kirby-tab-button</code> tag.
    </p>
    <h3>Alternative icon for selected tab</h3>
    <p>
      If you need a different icon for the selected state of the tab, you can specify an additional
      icon with the attribute: <code>selected-tab</code> (see example below).
    </p>
    <kirby-code-viewer [html]="exampleHtml"></kirby-code-viewer>
  </div>
  <kirby-iphone src="/examples/tabs" showExternalLink="true"></kirby-iphone>
</div>

<h2>Router integration:</h2>
<p>
  When used with Angular's router the <code>routerLink</code> property of the
  <code>kirby-tab-button</code> should be a reference to the route path.
</p>
<p>
  Content of a tab will automatically be included by a <code>router-outlet</code>. Therefore the
  route specified by the tab's <code>routerLink</code> property should be a child route of the route
  hosting your "tabs page" component.
</p>
<kirby-code-viewer [html]="exampleRouterHtml"></kirby-code-viewer>
<kirby-code-viewer [ts]="exampleRouterConfig"></kirby-code-viewer>

<br />
<h2>Tab Button properties:</h2>
<kirby-showcase-properties [properties]="properties"></kirby-showcase-properties>
