<div class="page-example">
    <div>
        <h2>Tabs</h2>
        <p>Tabs are a top level navigation component to implement a tab-based navigation. The component is a container of individual content.</p>
        <p>Content of tabs should be child of the tabs component in the route configuration, as this will be included by a router-outlet.</p>
        <kirby-code-viewer [html]="exampleHtml"></kirby-code-viewer>
    </div>
    <kirby-iphone src="/examples/tabs/simple" showExternalLink="true"></kirby-iphone>
</div>

<h2>Tab button properties:</h2>
<kirby-showcase-properties [properties]="properties"></kirby-showcase-properties>
