<div style="position: relative; height: 500px; background: red;">

    <div style="display: flex; align-items: center;">
        <kirby-avatar size="sm" overlay="true" text="Logo">
        </kirby-avatar>

        <kirby-tab-bar style="max-width: 50%;">

            <kirby-tab-button routerLink="">
                <kirby-icon name="person-outline"></kirby-icon>
                Dashboard
            </kirby-tab-button>

            <kirby-tab-button routerLink="">
                <kirby-icon name="accounts-outline"></kirby-icon>
                Account
            </kirby-tab-button>

            <kirby-tab-button routerLink="">
                <kirby-icon name="inbox"></kirby-icon>
                Inbox
                <kirby-badge themeColor="danger">1</kirby-badge>
            </kirby-tab-button>

            <kirby-tab-button routerLink="">
                <kirby-icon name="menu-outline"></kirby-icon>
                Menu
            </kirby-tab-button>

        </kirby-tab-bar>
    </div>
</div>
