@import '../../../kirby/scss/utils';

.performance {
  margin-top: 20px;

  .title {
    display: flex;

    ion-icon {
      color: #3880ff;
    }

    h4 {
      margin-left: 5px;
    }
  }

  .info {
    font-style: italic;
  }
}
