<article>
  <h1>Kirby Extensions for Angular</h1>
  <p>
    The Kirby Extensions library is a collection of design guidelines and components that build on
    top of the core Kirby Design library.
  </p>

  <p>
    The components follow the Kirby Design guidelines, but they differ from the core components by
    being built by the community, often with specific product-needs or requirements in mind. This
    means that components in this library might not be universally useful to everyone, though some
    components can also become core-candidates and graduate once they are battle-tested and initial
    experimentation is over.
  </p>

  <p>
    Extensions allow for quicker iteration and less focus on generalising behavior, while the test
    and especially documentation burden is also significantly lower.
  </p>

  <p>
    Components in this library are developed and maintained by the community, with support from
    <a
      class="kirby-external-icon"
      href="https://github.com/kirbydesign/designsystem/blob/develop/.github/SUPPORT.md#team-kirby"
    >
      Team Kirby
    </a>
    .
  </p>

  <p>
    The components are documented on
    <a class="kirby-external-icon" href="http://extensions.kirby.design">extensions.kirby.design</a>
    where information about installing and using the package—and guidelines for contributing to
    extensions—can be found.
  </p>
</article>
