<p>
  Cards are containers that display content about a single subject. They are also useful for
  grouping a list of related information.
</p>
<p>
  In its definition cards are containers that need to include other components like list/items,
  images, buttons avatars etc.
</p>

<h2>Default</h2>

<cookbook-example-viewer [html]="defaultExample.template">
  <cookbook-card-example-default #defaultExample></cookbook-card-example-default>
</cookbook-example-viewer>

<h2>Flags</h2>
<p>
  A card can show a flag in the very top. This is mostly used when a bundle of items in the card can
  express the same “flag”.
</p>

<cookbook-example-viewer [html]="flagExample.codeSnippet">
  <cookbook-card-example-flag #flagExample></cookbook-card-example-flag>
</cookbook-example-viewer>

<h2>Colors</h2>
<p>Cards can have a colored background to stand out even more.</p>
<cookbook-example-viewer [html]="themeColorExample.codeSnippet">
  <cookbook-card-example-color #themeColorExample></cookbook-card-example-color>
</cookbook-example-viewer>

<h2>Background image</h2>
<p>
  The recommended approach for setting a background image on the card is with the
  <code>--kirby-card-background-image</code> CSS Custom Property.
</p>

<p>
  <em>Note:</em> this example uses
  <a target="_blank" href="https://www.npmjs.com/package/include-media">include-media</a> for media
  queries. This is re-exported from the <code>@kirbydesign/designsystem/scss/utils</code> Sass
  module.
</p>
<cookbook-example-viewer
  [html]="backgroundImageExample.template"
  [css]="backgroundImageExample.style"
>
  <cookbook-card-example-background-image
    #backgroundImageExample
  ></cookbook-card-example-background-image>
</cookbook-example-viewer>

<h2>State & Disclosure</h2>
<p>
  The card expresses its state with its container color shade & tint, when hovered or pressed.
  Registering any click event <code>(click)="function()"</code> on the card will activate its state
  behavior.
</p>

<p>Whenever a card is clickable it is a best practice to also add a disclosure indicator.</p>
<p>
  A card with a disclosure indicator is composed of a card-header with a slotted
  <code>kirby-item</code>, and often uses <code>--kirby-card-padding-top</code> CSS Custom Property
  to set the padding top in card content area to <code>0px</code>.
</p>
<cookbook-example-viewer [html]="clickableExample.template">
  <cookbook-card-example-clickable #clickableExample></cookbook-card-example-clickable>
</cookbook-example-viewer>

<h2>Card with item disclosure in card header</h2>
<p>
  This example uses the Thereafter an item with disclosure is placed in the card header. The card
  header input property <code>hasPadding</code> is set to <code>false</code> to adjust to the use of
  item.
</p>
<p>
  <em>Note: </em> Card footer support the use of item disclosure as well and often is used with the
  custom css property
  <code>--kirby-card-padding-bottom</code>
</p>
<cookbook-example-viewer
  [html]="CardHeaderDisclosureExample.template"
  [css]="CardHeaderDisclosureExample.style"
  ><cookbook-card-with-item-header-example
    #CardHeaderDisclosureExample
  ></cookbook-card-with-item-header-example
></cookbook-example-viewer>

<kirby-divider [hasMargin]="true"></kirby-divider>

<h2>API Description</h2>
<h3>Card properties:</h3>
<cookbook-api-description-properties
  [properties]="properties"
></cookbook-api-description-properties>
<h3>Card CSS Custom Properties</h3>
<cookbook-api-description-properties
  [properties]="customCssProperties"
  [columns]="customCssPropertiesColumns"
>
</cookbook-api-description-properties>
<h3>Card header and footer properties:</h3>
<cookbook-api-description-properties
  [properties]="propertiesHeaderAndFooter"
></cookbook-api-description-properties>
