@import "../base/functions";
@import "../themes/colors";

@mixin ionic-color-map($ionic-variant, $kirby-variant: $ionic-variant) {
    --ion-color-#{$ionic-variant}: var(--kirby-#{$kirby-variant});
    --ion-color-#{$ionic-variant}-rgb: #{get-color(kirby-#{$kirby-variant}-rgb, true, $kirby-colors)};
    --ion-color-#{$ionic-variant}-contrast: var(--kirby-#{$kirby-variant}-contrast);
    --ion-color-#{$ionic-variant}-contrast-rgb: #{get-color(kirby-#{$kirby-variant}-contrast-rgb, true, $kirby-colors)};
    --ion-color-#{$ionic-variant}-shade: var(--kirby-#{$kirby-variant}-shade);
    --ion-color-#{$ionic-variant}-tint: var(--kirby-#{$kirby-variant}-tint);
}

:root {
    @include ionic-color-map('primary');
    @include ionic-color-map('secondary');
    @include ionic-color-map('tertiary');
    @include ionic-color-map('success');
    @include ionic-color-map('warning');
    @include ionic-color-map('danger');
    @include ionic-color-map('light');
    @include ionic-color-map('medium');
    @include ionic-color-map('dark');
}

// Kirby modal styles
.kirby-modal {
  --background: whitesmoke;
  --border-radius: 15px;
  --width: 600px;
  --height: 300px;
  --overflow: visible;
  position: fixed;
}

.backdrop-no-scroll {
  overflow: hidden;
}

.kirby-action-sheet {
  --background: transparent;
  --box-shadow: none;
  --width: 100%;
  --height: 100%;

  .selectable {
    cursor: pointer;
    height: 50px;
  }
  
  ion-backdrop {
    opacity: 0 !important;
  }
}

// .backdrop-no-scroll {
//   overflow: hidden;
// }
