@import "../themes/colors";
@import "../base/functions";

@function _get-kirby-color($variant) {
    $map: $kirby-colors;
    @if map-has-key($map, 'kirby-' + $variant) {
        @return map-get($map, 'kirby-' + $variant);
    }
}

@function _get-rgb-values($color) {
    @return red($color), green($color), blue($color);
}

@function _tint($color) {
    @return mix(white, $color, 10%);
}

@mixin ionic-color-map($ionic-variant, $kirby-variant: $ionic-variant) {
    $kirby-base: _get-kirby-color($kirby-variant);
    $kirby-contrast: _get-kirby-color($kirby-variant + '-contrast');
    --ion-color-#{$ionic-variant}: var(--kirby-#{$kirby-variant});
    --ion-color-#{$ionic-variant}-rgb: #{_get-rgb-values($kirby-base)};
    --ion-color-#{$ionic-variant}-contrast: var(--kirby-#{$kirby-variant}-contrast);
    --ion-color-#{$ionic-variant}-contrast-rgb: #{_get-rgb-values($kirby-contrast)};
    --ion-color-#{$ionic-variant}-shade: var(--kirby-#{$kirby-variant}-shade);
    --ion-color-#{$ionic-variant}-tint: #{_tint($kirby-base)};

}

:root {
    @include ionic-color-map('primary');
    @include ionic-color-map('secondary');
    @include ionic-color-map('tertiary');

    @include ionic-color-map('success');
    @include ionic-color-map('warning', 'alert');
    @include ionic-color-map('danger');
}

// Kirby modal styles
.kirby-modal {
  --background: whitesmoke;
  --border-radius: 15px;
  --width: 600px;
  --height: 300px;
  --overflow: visible;
  position: fixed;
}

.backdrop-no-scroll {
  overflow: hidden;
}