@import "./ionic";
@import "./web-variables"; 
@import './web-include-media';
@import "./../base/typography"; 
@import "./../themes/colors";

:root { 
    --kirby-font-family: "Roboto";
    font-family: var(--kirby-font-family);
    @each $color, $color-name in $kirby-colors {
        --kirby-#{$color}: #{$color-name};
    }
    
}
  
.kirby-modal {
    --background: #{get-color('base-color')};
    --border-radius: #{$border-radius};
    position: fixed;

    @include media(">=medium") {
        //TODO Hardcoded magic numbers: Jakob + Jonathan, revisit!!!
        --width: 720px;
        --height: 647px;
    }
}
  
.backdrop-no-scroll {
    overflow: hidden;
}
  
.kirby-action-sheet {
    --background: transparent;
    --width: 100%;
    --height: 100%;
  
    .modal-wrapper {
        pointer-events: none; //Fix clickable backdrop of modal
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }  
}

.kirby-alert-btn {
    cursor: pointer;
    --ion-color-primary: #{get-color(contrast-dark)};

    &.cancel {
        --ion-color-primary: #{get-color(danger)};
    }
}

.kirby-toast {
    position: fixed;
    
    // Set default colors
    --background: #{get-color('light')};
    --color: #{get-color('light-contrast')};
    --button-color: #{get-color('light-contrast')};

    @each $color-name, $color-value in $main-colors {
        &.#{$color-name} {
            --background: #{get-color($color-name)};
            --color: #{get-color($color-name+'-contrast')};
            --button-color: #{get-color($color-name+'-contrast')};
        }
    }
}
