@import "./ionic";
@import "./../base/typography"; 
@import "./../themes/colors";

:root { 
    --kirby-font-family: "Roboto";
    font-family: var(--kirby-font-family);
    @each $color, $color-name in $kirby-colors {
        --kirby-#{$color}: #{$color-name};
    }
    
}
  
.kirby-modal {
    --background: #{get-color('base-color')};
    --border-radius: #{$border-radius};
    --overflow: visible;
    position: fixed;

    @mixin wrapper-bottom() {
        .modal-wrapper {
            height: unquote("calc(100% - 72px)");
            position: fixed;
            bottom: 0;
        }
    }

    // phone if less than, tablet or desktop if larger than
    $width-separator: 768px;
    // 647 + the top margin needed for the close button
    $height-separator: 719px;

    // small width
    @media screen and (max-width: $width-separator) {
        --width: 100%;
        @include wrapper-bottom();
    }

    // large width
    @media screen and (min-width: $width-separator) {
        --width: 375px;
    }

    // small height
    @media screen and (max-height: $height-separator) {
        @include wrapper-bottom();
    }

    // large height
    @media screen and (min-height: $height-separator) {
        --height: 647px;
    }
}
  
.backdrop-no-scroll {
    overflow: hidden;
}
  
.kirby-action-sheet {
    --background: transparent;
    --width: 100%;
    --height: 100%;
  
    .modal-wrapper {
        pointer-events: none; //Fix clickable backdrop of modal
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }  
}

.kirby-alert-btn {
    cursor: pointer;
    --ion-color-primary: #{get-color(contrast-dark)};

    &.cancel {
        --ion-color-primary: #{get-color(danger)};
    }
}
