/* Breakpoints
--------------------------------------------------------------------------------*/
$breakpoints: (
  small: 361px, 
  medium: 721px, 
  large: 1025px,
  xlarge: 60em, 
  xxlarge: 80em 
);
