<p>The <code>kirby-item</code> component consists of three possible columns: <em>the default</em>, which spans the entire item, and optionally the <code>'start'</code> and <code>'end'</code> columns (aka <code>'slots'</code>)<br/>
In addition to this there is a special slot for flags named <code>'outside'</code>.</p>
<p>The <em>default column</em> is the content that isn't slotted into either <code>'start'</code> or <code>'end'</code>.<br/>
 If there are more than one line of content it can be contained within a <code>kirby-label</code> that by default stacks content vertically (multi lines).<br/>
 Optionally it can be configured to stack horizontally: <code>&lt;kirby-label direction="horizontal"&gt;...&lt;/kirby-label&gt;</code></p>
<p class="comment"><strong>Please note</strong>, if you need a label to span a title and a value, you can wrap the title and value in another <code>kirby-label</code> as in <a href="#" (click)="scrollTo(message);">this example</a></p>
<p>The <em>start column</em> is usually only used with avatars, icons and such. To place content in the start column specify the <code>slot="start"</code> attribute on your content. If no content is placed into the 'start' slot, the first column will not be shown.</p>
<p>The <em>end column</em> is usually used for values such as number, currency, date etc. To place content in the end column specify the <code>slot="end"</code> attribute on your content. If multiple lines are needed the values can be wrapped in a <code>kirby-label</code> as in <a href="#" (click)="scrollTo(twoValueLines);">this example</a>.<br/>
 Values can optionally be contained in a <code>time</code> or <code>data</code> tag as in <a href="#" (click)="scrollTo(avatarWithDate);">this example</a>.</p>
<p>The <em>outside</em> slot can be used for flags as in <a href="#" (click)="scrollTo(flagged);">this example</a>.</p>

<h2>Simple</h2>
<h3>Default</h3>
<kirby-example-viewer [html]="simpleExample.template">
  <kirby-item-example-simple #simpleExample></kirby-item-example-simple>
</kirby-example-viewer>
<h3>Two lines</h3>
<kirby-example-viewer [html]="twoLinesExample.template">
  <kirby-item-example-simple-two-lines #twoLinesExample></kirby-item-example-simple-two-lines>
</kirby-example-viewer>
<h3>Three lines</h3>
<kirby-example-viewer [html]="threeLinesExample.template">
  <kirby-item-example-simple-three-lines #threeLinesExample></kirby-item-example-simple-three-lines>
</kirby-example-viewer>
<h3 #twoValueLines>Two value lines</h3>
<kirby-example-viewer [html]="twoValueLinesExample.template">
  <kirby-item-example-simple-two-value-lines #twoValueLinesExample></kirby-item-example-simple-two-value-lines>
</kirby-example-viewer>

<h2>Picker</h2>
<h3>Default</h3>
<kirby-example-viewer [html]="pickerDefaultExample.template">
  <kirby-item-example-picker-default #pickerDefaultExample></kirby-item-example-picker-default>
</kirby-example-viewer>
<h3>Selected</h3>
<kirby-example-viewer [html]="pickerDefaultSelectedExample.template">
  <kirby-item-example-picker-default-selected #pickerDefaultSelectedExample></kirby-item-example-picker-default-selected>
</kirby-example-viewer>
<h3>With Avatar - Selected</h3>
<kirby-example-viewer [html]="pickerAvatarSelectedExample.template">
  <kirby-item-example-picker-avatar-selected #pickerAvatarSelectedExample></kirby-item-example-picker-avatar-selected>
</kirby-example-viewer>

<h2>FAB menu</h2>
<kirby-example-viewer [html]="fabMenuExample.template">
  <kirby-item-example-fab-menu #fabMenuExample></kirby-item-example-fab-menu>
</kirby-example-viewer>

<h2>Attachment</h2>
<kirby-example-viewer [html]="attachmentExample.template">
  <kirby-item-example-attachment #attachmentExample></kirby-item-example-attachment>
</kirby-example-viewer>

<h2>Settings</h2>
<h3>Enabled</h3>
<kirby-example-viewer [html]="settingsDefaultExample.template">
  <kirby-item-example-settings #settingsDefaultExample></kirby-item-example-settings>
</kirby-example-viewer>
<h3>Disabled</h3>
<kirby-example-viewer [html]="settingsDisabledExample.template">
  <kirby-item-example-settings-disabled #settingsDisabledExample></kirby-item-example-settings-disabled>
</kirby-example-viewer>
<p class="comment small"><em><strong>Please note</strong>, setting the <code>disabled</code> attribute on <code>kirby-item</code> will disable the entire item including buttons, toggles etc.</em></p>

<h2 #flagged>Flagged</h2>
<kirby-example-viewer [html]="flaggedExample.template">
  <kirby-item-example-flagged #flaggedExample></kirby-item-example-flagged>
</kirby-example-viewer>

<h2>Avatar</h2>
<h3>Default</h3>
<kirby-example-viewer [html]="avatarDefaultExample.template">
  <kirby-item-example-avatar #avatarDefaultExample></kirby-item-example-avatar>
</kirby-example-viewer>
<h3 #avatarWithDate>Avatar with date</h3>
<kirby-example-viewer [html]="avatarDateExample.template">
  <kirby-item-example-avatar-date #avatarDateExample></kirby-item-example-avatar-date>
</kirby-example-viewer>
<h3>Avatar flagged</h3>
<kirby-example-viewer [html]="avatarFlaggedExample.template">
  <kirby-item-example-avatar-flagged #avatarFlaggedExample></kirby-item-example-avatar-flagged>
</kirby-example-viewer>
<h3>Avatar flagged, three lines</h3>
<kirby-example-viewer [html]="avatarFlaggedThreeLinesExample.template">
  <kirby-item-example-avatar-flagged-three-lines #avatarFlaggedThreeLinesExample></kirby-item-example-avatar-flagged-three-lines>
</kirby-example-viewer>

<h2 #message>Message</h2>
<kirby-example-viewer [html]="messagesExample.template">
  <kirby-item-example-horizontal #messagesExample></kirby-item-example-horizontal>
</kirby-example-viewer>

<h2>Button</h2>
<kirby-example-viewer [html]="buttonExample.template">
  <kirby-item-example-button #buttonExample></kirby-item-example-button>
</kirby-example-viewer>
