<h2>Item</h2>
<h3>Default</h3>
<p><em><strong>Please note</strong>, you should always strive to...</em></p>
<kirby-example-viewer [html]="defaultExample.template">
  <kirby-item-example #defaultExample></kirby-item-example>
</kirby-example-viewer>
<hr />
<h3>Two Columns Single Line</h3>
<p><em><strong>Please note</strong>, you should always strive to...</em></p>
<kirby-example-viewer [html]="twoColSingleLineExample.template">
  <kirby-item-ex2 #twoColSingleLineExample></kirby-item-ex2>
</kirby-example-viewer>
<hr />
<h3>Two Columns Two Lines</h3>
<p><em><strong>Please note</strong>, you should always strive to...</em></p>
<kirby-example-viewer [html]="twoColTwoRowsExample.template">
  <kirby-item-ex5 #twoColTwoRowsExample></kirby-item-ex5>
</kirby-example-viewer>
<hr />
<h3>Two Columns Single Line With Toggle</h3>
<p><em><strong>Please note</strong>, you should always strive to...</em></p>
<kirby-example-viewer [html]="twoColSingleLineExampleWithToggle.template">
  <kirby-item-ex3 #twoColSingleLineExampleWithToggle></kirby-item-ex3>
</kirby-example-viewer>
<hr />
<h3>Two Columns With Button</h3>
<p><em><strong>Please note</strong>, you should always strive to...</em></p>
<kirby-example-viewer [html]="twoColWithButtonExample.template">
  <kirby-item-ex4 #twoColWithButtonExample></kirby-item-ex4>
</kirby-example-viewer>
<hr />
<h3>Two Columns With Avatar</h3>
<p><em><strong>Please note</strong>, you should always strive to...</em></p>
<kirby-example-viewer [html]="twoColWithAvatarExample.template">
  <kirby-item-ex6 #twoColWithAvatarExample></kirby-item-ex6>
</kirby-example-viewer>
<hr />
<h3>Three Columns With Avatar</h3>
<p><em><strong>Please note</strong>, you should always strive to...</em></p>
<kirby-example-viewer [html]="threeColWithAvatarExample.template">
  <kirby-item-ex7 #threeColWithAvatarExample></kirby-item-ex7>
</kirby-example-viewer>
<hr />
<h3>Three Columns With Avatar and Subtitle</h3>
<p><em><strong>Please note</strong>, you should always strive to...</em></p>
<kirby-example-viewer [html]="threeColWithAvatarAndSubtitleExample.template">
  <kirby-item-ex8 #threeColWithAvatarAndSubtitleExample></kirby-item-ex8>
</kirby-example-viewer>
<hr />
<h3>Two Columns With Avatar, Subtitle and Details</h3>
<p><em><strong>Please note</strong>, you should always strive to...</em></p>
<kirby-example-viewer [html]="twoColWithAvatarSubtitleAndDetailsExample.template">
  <kirby-item-ex9 #twoColWithAvatarSubtitleAndDetailsExample></kirby-item-ex9>
</kirby-example-viewer>
<hr />
<h3>Three Columns With Avatar, Subtitle and Details</h3>
<p><em><strong>Please note</strong>, you should always strive to...</em></p>
<kirby-example-viewer [html]="twoColWithAvatarSubtitleAndDetailsExample.template">
  <kirby-item-ex10 #twoColWithAvatarSubtitleAndDetailsExample></kirby-item-ex10>
</kirby-example-viewer>
<hr />
<h3>Three Columns With Avatar and Button</h3>
<p><em><strong>Please note</strong>, you should always strive to...</em></p>
<kirby-example-viewer [html]="threeColWithAvatarAndButton.template">
  <kirby-item-ex11 #threeColWithAvatarAndButton></kirby-item-ex11>
</kirby-example-viewer>
<hr />
<h3>Three Columns Selected</h3>
<p><em><strong>Please note</strong>, you should always strive to...</em></p>
<kirby-example-viewer [html]="threeColSelected.template">
  <kirby-item-ex12 #threeColSelected></kirby-item-ex12>
</kirby-example-viewer>
<hr />
<h3>Three Columns With Avatar and Checkmark</h3>
<p><em><strong>Please note</strong>, you should always strive to...</em></p>
<kirby-example-viewer [html]="threeColWithAvatarAndCheckmark.template">
  <kirby-item-ex13 #threeColWithAvatarAndCheckmark></kirby-item-ex13>
</kirby-example-viewer>
<hr />
<h3>Three Columns With Note</h3>
<p><em><strong>Please note</strong>, you should always strive to...</em></p>
<kirby-example-viewer [html]="threeColWithNote.template">
  <kirby-item-ex14 #threeColWithNote></kirby-item-ex14>
</kirby-example-viewer>