<div class="example">
  <kirby-toolbar-example></kirby-toolbar-example>
  <kirby-code-viewer [html]="exampleHtml"></kirby-code-viewer>
  <h4>Properties:</h4>
  <table class="cookbook-properties">
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Input values</th>
      <th>Default</th>
    </thead>
    <tbody>
      <tr>
        <td><code>title</code></td>
        <td>Sets the title in the toolbar</td>
        <td><code>string</code></td>
        <td>''</td>
      </tr>
      <tr>
        <td><code>hideBackButton</code></td>
        <td>Specifies if the backbutton should be hidden</td>
        <td><code>boolean</code></td>
        <td>false</td>
      </tr>
    </tbody>
  </table>
  <h4>Events:</h4>
  <table class="cookbook-properties">
    <thead>
      <th>Name</th>
      <th>Description</th>
    </thead>
    <tbody>
      <tr>
        <td><code>back</code></td>
        <td>Emits a click/tap event for the back navigation button</td>
      </tr>
      <tr>
        <td><code>primarySelect</code></td>
        <td>Emits a click/tap event for the primary element</td>
      </tr>
      <tr>
        <td><code>secondarySelect</code></td>
        <td>Emits a click/tap event for the secondary element</td>
      </tr>
    </tbody>
  </table>
</div>
