<div class="container">
    <kirby-card>
        <kirby-card-header title="Progress bar" subtitle="Default Example"></kirby-card-header>
        <div class="card-content">
            <kirby-progress-bar progress="54"></kirby-progress-bar>
        </div>
        <kirby-card-footer></kirby-card-footer>
    </kirby-card>
    <kirby-card>
        <kirby-card-header title="Progress bar" subtitle="Custom color example"></kirby-card-header>
        <div class="card-content">
            <kirby-progress-bar progress="33" progressColor="#FFC163" backgroundColor="#00A775"></kirby-progress-bar>
        </div>
        <kirby-card-footer></kirby-card-footer>
    </kirby-card>
</div>