@use '@kirbydesign/core/src/scss/utils';

:host {
  padding: 2px;
  width: 100%;
  background: utils.get-color('background-color');
  height: 100%;
  display: block;
}

hr {
  visibility: hidden;
}

h2 {
  margin-top: utils.size('xl');
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: utils.size('s');

  h2 {
    margin: 0;
  }
}
