<div class="example-container">
  <h2>List with items</h2>
  <div class="example-frame"><cookbook-list-items-example></cookbook-list-items-example></div>

  <h2>List with items with no dividers</h2>
  <div class="example-frame">
    <cookbook-list-items-no-dividers-example></cookbook-list-items-no-dividers-example>
  </div>
  <h2>List with selectable items</h2>
  <div class="example-frame">
    <cookbook-list-selectable-items-example></cookbook-list-selectable-items-example>
  </div>

  <h2>List with header and footer</h2>
  <div class="example-frame">
    <cookbook-list-with-header-and-footer-example></cookbook-list-with-header-and-footer-example>
  </div>

  <h2>List with sections</h2>
  <div class="example-frame">
    <cookbook-list-with-sections-example></cookbook-list-with-sections-example>
  </div>

  <h2>List with standalone items</h2>
  <div class="example-frame">
    <cookbook-list-with-stand-alone-example></cookbook-list-with-stand-alone-example>
  </div>

  <h2>List with sections and standalone items</h2>
  <div class="example-frame">
    <cookbook-list-with-sections-and-stand-alone-example></cookbook-list-with-sections-and-stand-alone-example>
  </div>
</div>
