/*
  You can add global styles to this file, and also import other style files
*/
// Import common styles
@import './libs/designsystem/src/lib/scss/global-styles';

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/roboto-regular-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/assets/fonts/roboto-light-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/roboto-bold-webfont.woff2') format('woff2');
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: get-color('white');
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-size: font-size('n');
  color: get-color('black');
  height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// The <cookbook-code-viewer> component prefixes the class attribute with "language-" on <code> elements.
// Do not target those.
code:not([class*='language-']) {
  border-radius: 4px;
  background-color: var(--kirby-semi-light, #e2e2e2);
  padding: 2px 5px;
}
