/*
  You can add global styles to this file, and also import other style files
*/
// Import common styles
@import './libs/designsystem/src/lib/scss/global-styles';

body,
html {
  margin: 0;
  padding: 0;
  background-color: get-color('white');
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-size: font-size('n');
  color: get-color('black');
  height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// The <cookbook-code-viewer> component prefixes the class attribute
// with "language-" on <code> elements. Do not target those.
code:not([class*='language-']) {
  border-radius: size('xxxs');
  background-color: get-color('semi-light');
  padding: size('xxxxs') size('xxxs');
}

.my-custom-modal-class {
  --kirby-modal-background: #{get-color('black')};
  --kirby-modal-color: #{get-color('black-contrast')};
  --kirby-modal-footer-background: #{get-color('dark')};
  --kirby-modal-footer-color: #{get-color('dark-contrast')};

  button[kirby-button] {
    &.attention-level3 {
      --kirby-button-border-color: #{get-color('white')};
      --kirby-button-color: #{get-color('white')};
    }
    &.attention-level4 {
      --kirby-button-color: #{get-color('white')};
    }
  }

  code {
    background-color: get-color('dark');
    color: get-color('dark-contrast');
  }
}
