/*
  You can add global styles to this file, and also import other style files
*/
// Import common styles
@import './libs/designsystem/src/lib/scss/global-styles';

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/roboto-regular-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/assets/fonts/roboto-light-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/roboto-bold-webfont.woff2') format('woff2');
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: get-color('white');
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font: -apple-system-body;
  font-family: var(--kirby-font-family);
  color: get-color('black');
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
