<!-- Since there is a bug in Ionic when binding mode to anything else than md,
a switch between templates is used -->
<ng-container *ngIf="shape === 'circle'; else squareBox">
  <ion-checkbox class="checkbox" [ngClass]="classes" mode="ios" [checked]="checked" (ionChange)="onChecked($event.detail.checked)">
  </ion-checkbox>
</ng-container>




<ng-template #squareBox>
  <ion-checkbox class="checkbox" [ngClass]="classes" mode="md" [checked]="checked" (ionChange)="onChecked($event.detail.checked)">
  </ion-checkbox>
</ng-template>