@import '../../scss/native-imports'; 
@import '../../scss/web-imports';

.checkbox {
  --border-color: #{get-color('primary-contrast')};
}

.primary {
  --checkmark-color: #{get-color('primary-contrast')};
  --background-checked: #{get-color('primary')};
  --border-color-checked: #{get-color('primary')};
}

.secondary {
  --checkmark-color: #{get-color('secondary-contrast')};
  --background-checked: #{get-color('secondary')};
  --border-color-checked: #{get-color('secondary')};
}

.tertiary {
  --checkmark-color: #{get-color('tertiary-contrast')};
  --background-checked: #{get-color('tertiary')};
  --border-color-checked: #{get-color('tertiary')};
}

.warning {
  --checkmark-color: #{get-color('warning-contrast')};
  --background-checked: #{get-color('warning')};
  --border-color-checked: #{get-color('warning')};
}

.success {
  --checkmark-color: #{get-color('success-contrast')};
  --background-checked: #{get-color('success')};
  --border-color-checked: #{get-color('success')};
}

.danger {
  --checkmark-color: #{get-color('danger-contrast')};
  --background-checked: #{get-color('danger')};
  --border-color-checked: #{get-color('danger')};
}