@import '../../scss/native-imports'; 
@import '../../scss/web-imports';

.checkbox {
  --border-color: #{get-color('kirby-primary-contrast')};
}

.primary {
  --checkmark-color: #{get-color('kirby-primary-contrast')};
  --background-checked: #{get-color('kirby-primary')};
  --border-color-checked: #{get-color('kirby-primary')};
}

.secondary {
  --checkmark-color: #{get-color('kirby-secondary-contrast')};
  --background-checked: #{get-color('kirby-secondary')};
  --border-color-checked: #{get-color('kirby-secondary')};
}

.tertiary {
  --checkmark-color:  #{get-color('kirby-tertiary-contrast')};
  --background-checked:  #{get-color('kirby-tertiary')};
  --border-color-checked:  #{get-color('kirby-tertiary')};
}

.warning {
  --checkmark-color:  #{get-color('kirby-warning-contrast')};
  --background-checked:  #{get-color('kirby-warning')};
  --border-color-checked:  #{get-color('kirby-warning')};
}

.success {
  --checkmark-color:  #{get-color('kirby-success-contrast')};
  --background-checked:  #{get-color('kirby-success')};
  --border-color-checked:  #{get-color('kirby-success')};
}

.danger {
  --checkmark-color:  #{get-color('kirby-danger-contrast')};
  --background-checked:  #{get-color('kirby-danger')};
  --border-color-checked:  #{get-color('kirby-danger')};
}