@import '../../scss/native-imports'; 
@import '../../scss/web-imports';
.small {
  --size: size('s');
}

.medium {
  --size: size('m');
}

.large {
  --size: size('l');
}

.checkbox {
  --border-color: #{get-color('kirby-primary-contrast')};
}

.primary {
  --checkmark-color: #{get-color('kirby-primary-contrast')};
  --background-checked: #{get-color('kirby-primary')};
  --border-color-checked: #{get-color('kirby-primary')};
}

.secondary {
  --checkmark-color: #{get-color('kirby-secondary-contrast')};
  --background-checked: #{get-color('kirby-secondary')};
  --border-color-checked: #{get-color('kirby-secondary')};
}

.tertiary {
  --checkmark-color:  #{get-color('kirby-tertiary-contrast')};
  --background-checked:  #{get-color('kirby-tertiary')};
  --border-color-checked:  #{get-color('kirby-tertiary')};
}