<ul class="menu" [ngClass]="{'is-open': isMenuOpen}">
  <button class="menu__close-btn" (click)="onToggleMenu()">
    <kirby-icon name="cross"></kirby-icon>
  </button>
  <li class="menu__item"><a href="#" class="menu__item-link">MENU ITEM 1</a></li>
  <li class="menu__item"><a href="#" class="menu__item-link">MENU ITEM 2</a></li>
  <li class="menu__item"><a href="#" class="menu__item-link">MENU ITEM 3</a></li>
  <li class="menu__item"><a href="#" class="menu__item-link">MENU ITEM 4</a></li>
  <li class="menu__item"><a href="#" class="menu__item-link">MENU ITEM 5</a></li>
</ul>
