@import '../../../kirby/scss/web-imports';

:host {
  position: absolute;
  @include media('>=xlarge') {
    position: static;
  }
}

.menu {
  visibility: hidden;
  padding: 4rem 0 0;
  margin: 0;
  list-style: none;
  min-width: 15rem;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #008b8b;
  color: white;
  box-shadow: -2px 0 12px rgba(0, 0, 0, 0.4);
  transform: translateX(100%) translateZ(0); // translateZ(0) Promotes element layer - needed because of position: fixed
  transition: 0.13s visibility ease-in-out, transform 0.13s cubic-bezier(0,0,0.3,1);
  will-change: visibility;

  @include media('>=xlarge') {
    visibility: visible;
    position: static;
    box-shadow: none;
    padding-top: 0;
    transform: none; //Remove layer promotions  
  }

  &.is-open {
    visibility: visible;
    transition: 0.33s visibility ease-in-out, transform 0.33s cubic-bezier(0,0,0.3,1);
    transform: translateX(0%) translateZ(0);
  }

  &__item-link {
    display: block;
    margin: 0;
    padding: 1rem;
    text-decoration: none;
    color: currentColor;
  }
  &__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    border: none;
    background: none;
    padding: 1rem;
    font-size: 16px;

    @include media('>=xlarge') {
      display: none;
    }
  }
}
