@use '@kirbydesign/core/src/scss/utils';

:host {
  display: block;
  height: 100%;
  overflow-x: hidden;
  background: var(--kirby-background-color);
  padding: var(--kirby-spacing-s);
  box-sizing: border-box;

  @include utils.media('>=medium') {
    padding: var(--kirby-spacing-l);
  }
}
