<h1 class="kirby-text-display-1">Display 1</h1>
<h2 class="kirby-text-display-2">Display 2</h2>
<h3 class="kirby-text-display-3">Display 3</h3>

<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<!-- Paragraphs that are visually the same as headings: -->
<p class="kirby-text-xlarge">kirby-text-xlarge (Heading 1)</p>
<p class="kirby-text-large">kirby-text-large (Heading 2)</p>
<p class="kirby-text-medium">kirby-text-medium (Heading 3)</p>
<p class="kirby-text-normal-bold">kirby-text-normal-bold (Heading 4)</p>

<p class="kirby-text-bold">Bold text (kirby-text-bold)</p>
<p>p - Paragraph (default body font)</p>

<p class="kirby-text-small">kirby-text-small</p>
<p class="kirby-text-small-light">kirby-text-small-light</p>
<p class="kirby-text-xsmall">kirby-text-xsmall</p>
<p class="kirby-text-xxsmall">kirby-text-xxsmall</p>
