// Always remember to keep this file and scss-helper.ts in sync

/* Page layout
--------------------------------------------------------------------------------*/
$page-max-width: 1366;

/* Breakpoints
--------------------------------------------------------------------------------*/
$breakpoints: (
  small: 361,
  medium: 721,
  large: 1025
);

/* Z-index
--------------------------------------------------------------------------------*/
$z-layers: (
  default: 1,
  modal-overlay: 900,
  modal: 901
);

/* Borders 
--------------------------------------------------------------------------------*/
$border-radius: 18;
$border-radius-small: 6;
