// Always remember to keep this file and scss-helper.ts in sync

/* Page layout
--------------------------------------------------------------------------------*/
$page-max-width: 1366;

/* Breakpoints
--------------------------------------------------------------------------------*/
$breakpoints: (
  small: 361,
  medium: 721,
  large: 1025
);
