@import "../../scss/native-imports";

$elevation: 2;
//Note: On Android the shadow size is a result of the elevation property, e.g. 6 => 9:
$shadow-size: $elevation * 3/2;
$shadow-size-bottom: $elevation * 2;
$row-padding-top: size('s');

RadListView {
  background-color:  get-color('background-color');
}

.row, .section-header {
  padding: $row-padding-top size('xs') size('s') size('xs');
}

.row.divider {
  border-color: get-color('background-color');
  border-bottom-width: 1;
}

.footer {
  font-weight: bold;
  text-align: center;
  padding-bottom: size('s');
  padding-top: 0;
}

.row {
  background-color: get-color('white');
  margin: 0 $shadow-size;
  margin-top: -$shadow-size;
  padding-top: $row-padding-top + $shadow-size;

  &.first {
    margin-top: $shadow-size;
    padding-top: $row-padding-top;

    &.rounded {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }

  &.last {
    margin-bottom: $shadow-size-bottom;

    &.rounded {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}
