:host {
    --kirby-wireframe-color: lightskyblue;
    --kirby-wireframe-border-color: var(--kirby-wireframe-color);
    --kirby-wireframe-border: 1px solid var(--kirby-wireframe-border-color);
    --kirby-wireframe-text-color: var(--kirby-wireframe-color);
    color: var(--kirby-wireframe-text-color);
}

ul {   
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    font-size: 0.8em;
    margin-block-end: 0;
    
    li {
        padding: 1.3em 1.8em;
        // padding-top: 1.6em;
        // padding-bottom: 1.0em;
        border-bottom: var(--kirby-wireframe-border);
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p {
            margin: 0;
        }

        &:hover {
            background-color: rgba(lightskyblue, 0.1);
        }
    }
}