<ng-container *ngTemplateOutlet="headerTemplate"></ng-container>

<ul>
        <ng-container *ngFor="let item of items; let i = index">
            <ng-container *ngIf="shouldRenderSectionHeader && shouldRenderSectionHeader(item, items, i)">
                <ng-container *ngTemplateOutlet="sectionHeaderTemplate; context: {$implicit: item}">
                </ng-container>
            </ng-container>
            <li (click)="onRowClick(item)">
                <ng-container *ngTemplateOutlet="listItemTemplate; context: {$implicit: item}">
                </ng-container>
            </li>
        </ng-container>
</ul>
