<GridLayout rows="*"> <!-- GridLayout kept for iOS compability -->
  <RadListView
    (itemSwipeProgressEnded)="onSwipeCellFinished($event)"
    (itemSwipeProgressStarted)="onSwipeCellStarted($event)"
    (itemSwipeProgressChanged)="onCellSwiping($event)" 
    [swipeActions]="!isSwipingDisabled"
    loadOnDemandMode="Auto"
    (loadMoreDataRequested)="onLoadOnDemand($event)"
    [groupingFunction]="getSectionName"
    [items]="items"
    (itemTap)="onItemSelect($event)">
    <!-- ITEM -->
    <ng-template tkListItemTemplate let-item="item" let-index="index">
      <StackLayout [kirbyElevation]="2" [iosMasksToBounds]="true">
        <StackLayout class="row"
          [class.divider]="showDivider"
          [class.rounded]="shape === 'rounded'"
          [class.first]="isFirstItem(item, index)"
          [class.last]="isLastItem(item, index)">
          <ng-container
            *ngTemplateOutlet="listItemTemplate; context: { $implicit: item }">
          </ng-container>
          <ng-container
            *ngTemplateOutlet="listFlexItemTemplate; context: { $implicit: item }">
          </ng-container>  
        </StackLayout>
      </StackLayout>
    </ng-template>

    <!-- SWIPE ACTIONS -->
    <ng-template tkListItemSwipeTemplate *ngIf="!isSwipingDisabled" let-item="item">
        <GridLayout columns="auto, *, auto">          
          <StackLayout col=0 orientation="horizontal" id="swipe-actions-left">
            <ng-container *ngTemplateOutlet="swipeActionTemplate; context: { swipeActions: getSwipeActionsSide('left') }"></ng-container>
          </StackLayout>
          <StackLayout col=2 orientation="horizontal" id="swipe-actions-right">
            <ng-container *ngTemplateOutlet="swipeActionTemplate; context: { swipeActions: getSwipeActionsSide('right') }"></ng-container>  
          </StackLayout>
        </GridLayout>
    </ng-template>

    <!-- SECTION HEADER-->
    <ng-template let-section="category" tkGroupTemplate *ngIf="isSectionsEnabled">
      <StackLayout>
            <ng-container
            *ngTemplateOutlet="
              sectionHeaderTemplate;
              context: { $implicit: section }
            ">
          </ng-container> 
      </StackLayout>
    </ng-template> 

    <!-- HEADER -->
    <ng-template tkListViewHeader *ngIf="listHeaderTemplate">
      <StackLayout>
        <ng-container *ngTemplateOutlet="listHeaderTemplate"></ng-container>
      </StackLayout>
    </ng-template>

    <!-- FOOTER -->
    <ng-template tkListViewFooter *ngIf="!isLoadOnDemandEnabled && noMoreItemsText && !listFooterTemplate">
      <Label class="footer" text="{{noMoreItemsText}}"></Label>
    </ng-template>
    <ng-template tkListViewFooter *ngIf="listFooterTemplate">
      <ng-container *ngTemplateOutlet="listFooterTemplate"></ng-container>
    </ng-template>

    <!-- SWIPE ACTION TEMPLATE -->
    <ng-template #swipeActionTemplate let-swipeActions="swipeActions">
      <StackLayout *ngFor="let swipeAction of swipeActions" 
          minWidth="60" 
          padding="5"
          class="swipe-action"
          [ngClass]="swipeAction.themeColor"
          (tap)="onSwipeActionSelect(swipeAction, null)">
        <kirby-icon *ngIf="swipeAction.iconName" [name]="getSwipeActionIconName(swipeAction, null)">
        </kirby-icon>
        <Label fontSize="13" horizontalAlignment="center" [text]="getSwipeActionTitle(swipeAction, null)">
        </Label>
      </StackLayout>
    </ng-template>
  </RadListView>
</GridLayout>