@import "../../scss/native-imports";

.row {
  padding: size('gutter') size('gutter-small') size('gutter') size('gutter-small');
  justify-content: space-between;
  flex-direction: row;
  border-color: get-color('kirby-background');;
  border-width: 0 0 1 0;
}

.lastRow {
  font-weight: bold;
  text-align: center;
  padding-bottom: size('gutter');
  padding-top: 0;
}