<!-- HEADER-->
<ng-container *ngIf="listHeaderTemplate"> 
  <ng-container *ngTemplateOutlet="listHeaderTemplate" ></ng-container>
</ng-container>

<!-- BODY-->
<ul kirbyInfiniteScroll (scrollEnd)="onLoadOnDemand()" [disabled]="!isLoadOnDemandEnabled">
  <ng-container *ngIf="isSectionsEnabled; else normalList">
    <ng-container *ngFor="let section of (items | groupBy: getSectionName)">
      <li class="section-header">
        <ng-container
          *ngTemplateOutlet="
            sectionHeaderTemplate;
            context: { $implicit: section.name }
          ">
        </ng-container>
      </li>
      <li class="row" [ngClass]="{'selectable': isSelectable}" *ngFor="let item of section.items" (click)="onItemSelect(item)" tabindex="0" [attr.role]="isSelectable ? 'button' : null">
        <!-- TODO remove container when the kirbyListItem is no longer in use -->
        <ng-container
          *ngTemplateOutlet="listItemTemplate; context: { $implicit: item }">
        </ng-container>

        <ng-container *ngFor="let template of listCellTemplates">
          <ng-container
            *ngTemplateOutlet="template; context: { $implicit: item }">
          </ng-container>
        </ng-container>
      </li>
    </ng-container>
  </ng-container>

  <ng-template #normalList>
    <li class="row" [ngClass]="{'selectable': isSelectable}" *ngFor="let item of items" (click)="onItemClick(item)" tabindex="0" [attr.role]="isSelectable ? 'button' : null">
      <!-- TODO remove container when the kirbyListItem is no longer in use -->
      <ng-container
        *ngTemplateOutlet="listItemTemplate; context: { $implicit: item }">
      </ng-container>

      <ng-container *ngFor="let template of listCellTemplates">
        <ng-container
          *ngTemplateOutlet="template; context: { $implicit: item }"></ng-container>
      </ng-container>
    </li>
  </ng-template>
  
  <li *ngIf="isLoading">
      <div class="extending"><kirby-spinner></kirby-spinner></div>
  </li>
  <li *ngIf="!isLoadOnDemandEnabled && noMoreItemsText">
    <span class="extending">{{noMoreItemsText}}</span>
  </li>
</ul>
