@import '../../scss/web-imports';
ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  font-size: font-size('s');
  margin-block-end: 0;

  li {
    background-color: get-color('kirby-white');
    border-bottom: 1px solid get-color('kirby-grey-2');
    padding: size('m');
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
      margin: 0;
    }
    
    

    &.row{
      &:first-of-type {
        border-top: 1px solid get-color('kirby-grey-2');
      }
    }

    &.section-header {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid get-color('kirby-grey-2');

      &:hover {
        background-color: transparent;
      }
    }

    &.selectable {

      &:hover {
        background-color: get-color('kirby-secondary');
      }
    }
  }
}

.extending {
  margin: auto;
}
