
@import 'web-imports';

@mixin list-item {
    $divider-color: get-color('background-color');
    $background-color-hover: get-color('background-color');
    $hover-text: get-color('background-color-contrast');

    $list-colors: ('white', 'light', 'medium');

    @each $color-name, $color-value in $list-colors {
        &.#{$color-name} {
            ion-item {
                background-color: #{get-color($color-name)};
                &:hover {
                    background-color: #{get-color($color-name+'-tint')};
                }
                &:focus {
                    background-color: #{get-color($color-name+'-shade')};
                }
            }
        }
    }

    .selectable {
        cursor: pointer;
        &:hover {
          background-color: $background-color-hover;
          color: $hover-text;
        }
    }

    ion-item {
        display: flex;
        width: 100%;
        padding: size('m') size('xs');
        font-size: font-size('s');
        --inner-border-width: 0;
        --background: transparent;
        --min-height: unset;

        .row-content {
            width: 100%;
            display: grid;
            padding: size('s') size('m');
            grid-template-columns: 40% 20% 40%;
        }

        background-color: get-color('white');
        &.has-divider {
            border-bottom: 1px solid $divider-color;
        }

        &:focus {
            $outline-width: 5px;
            outline-color: var(--highlight-color-focused);
            outline-style: auto;
            outline-width: $outline-width;
            margin-bottom: $outline-width;
            background-color: $background-color-hover;
            color: var(--kirby-black);
        }
    }
}
