@import "../../scss/native-imports";

.row {
  padding: size('gutter') size('gutter-small') size('gutter') size('gutter-small');
  justify-content: space-between;
  flex-direction: row;

  &.divider {
    border-color: get-color('kirby-grey-2');
    border-bottom-width: 1;
    
    &.bottom {
      border-width: 0;
    }
  }
}

.lastRow {
  font-weight: bold;
  text-align: center;
  padding-bottom: size('gutter');
  padding-top: 0;
}
