@import "../../scss/native-imports";

.row, .section-header {
  padding: size('s') size('xs') size('s') size('xs');
}

.row.divider {
  border-color: get-color('medium');
  border-bottom-width: 1;
}

.footer {
  font-weight: bold;
  text-align: center;
  padding-bottom: size('s');
  padding-top: 0;
}

.row {
  border-color: get-color('medium');
  border-left-width: 1;
  border-right-width: 1;

  &.first {
    border-top-width: 1;

    &.rounded {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }

  &.last {
    border-bottom-width: 1;

    &.rounded {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}
