@import '../../scss/web-imports';
ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  font-size: font-size('s');
  margin-block-end: 0;

  li {
    background-color: var(--kirby-surface);
    border-bottom: 1px solid var(--kirby-background);
    padding: size('m');
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
      margin: 0;
    }
    
    &:hover {
      background-color: var(--kirby-secondary);
    }

    &.row{
      &:first-of-type {
        border-top: 1px solid var(--kirby-background);
      }
    }

    &.section-header {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid var(--kirby-background);

      &:hover {
        background-color: transparent;
      }
    }
  }
}