@import '../../scss/web-imports';

$shadow: 0 5px 10px -10px rgba(28, 28, 28, 0.3), 0 0 5px 0 rgba(28, 28, 28, 0.08);
$shadow-mask: 0 -6px 0px 0px get-color('white');
$shadow-mask-hover: 0 -6px 0px 0px get-color('background-color');

:host {
  display: block;
  background-color: get-color('background-color');

  &:not(.has-sections) {
    box-shadow: $shadow;
  }

  ion-list {
    background: transparent;
    contain: inherit;
    padding: 0;
  }

  ion-list-header {
    background-color: get-color('white');
    border-bottom: 1px solid get-color('background-color');
    padding: 0;
  } 

  ion-item-divider {
    background-color: get-color('white');
    border-color: transparent;
    padding: 0;
    --color: unset;

    &.divider:not(:last-child) {
      border-color: get-color('background-color');
    }

    &.selectable {
      cursor: pointer;

      &:hover {
        background-color: get-color('background-color');
      }
    }
  }

  ion-item {
    display: flex;
    width: 100%;
    padding: size('m') size('xs');
    font-size: font-size('s');
    --inner-border-width: 0;
    --background: transparent;
    --min-height: unset;
  }

  .loading,
  .no-more-items,
  .extending  {
    display: block;
    background-color: get-color('white');
    text-align: center;
    padding: size('s');
  }

  .footer {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  }

  .section-header {
    background-color: transparent;
    padding: size('m');
  }
}

:host(.rounded) {
  &:not(.has-sections) {
    border-radius: $border-radius;

    :first-child {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
    
    :last-child {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  &.has-sections  {
    ion-item-divider:not(.section-header) {
      box-shadow: $shadow-mask, $shadow;
    }

    ion-item-divider.selectable:hover {
      background-color: get-color('background-color');
      box-shadow: $shadow-mask-hover, $shadow;
    }

    .section-header + ion-item-divider {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      box-shadow: $shadow;
    }

    ion-item-divider.last-in-section {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}
