@import '../../scss/web-imports';

$shadow: 0 5px 10px -10px rgba(28, 28, 28, 0.3), 0 0 5px 0 rgba(28, 28, 28, 0.08);
$shadow-mask: 0 -6px 0px 0px get-color('white');

:host {
  display: block;
  background-color: get-color('background-color');

  &:not(.has-sections) {
    box-shadow: $shadow;
  }
}

:host(.rounded) {
  &:not(.has-sections) {
    border-radius: $border-radius;

    li:first-child {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }

    .list-header {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;

      & + ul > li:first-child {
        border-radius: 0;
      }
    }

    li:last-child {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  &.has-sections {

    li.row {
      box-shadow: $shadow-mask, $shadow;
      
    }

    li.row.selectable:hover {
      background-color: get-color('background-color');
    }

    li.section-header + li.row
    {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      box-shadow: $shadow;
    }

    li.row.last-in-section {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}

.list-header {
  background-color: get-color('white');
  border-bottom: 1px solid get-color('background-color');
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  font-size: font-size('s');

  li {
    padding: size('m');
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
      margin: 0;
    }

    &.row {
      background-color: get-color('white');

      &.divider:not(:last-child) {
        border-bottom: 1px solid get-color('background-color');
      }

      &.selectable {
        cursor: pointer;

        &:hover {
          background-color: get-color('background-color');
        }
      }
    }
    
    &.loading,
    &.no-more-items
    {
      background-color: get-color('white');
    }
  }
}

.extending {
  margin: auto;
}
