@import "../../scss/native-imports";


RadListView {
  background-color:  get-color('background-color');
  //TODO: Add shadow for entire list for list WITHOUT sections
}

.row, .section-header {
  padding: size('s') size('xs') size('s') size('xs');
}

.row.divider {
  border-color: get-color('background-color');
  border-bottom-width: 1;
}

.footer {
  font-weight: bold;
  text-align: center;
  padding-bottom: size('s');
  padding-top: 0;
}

.row {
  background-color: get-color('contrast-light');
  //TODO: Add shadow on each section for list WITH sections

  &.first {

    &.rounded {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }

  &.last {

    &.rounded {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}
