@import '../../scss/web-imports';

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  font-size: font-size('s');

  li {
    padding: size('m');
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
      margin: 0;
    }

    &.row {
      border: 0 solid get-color('kirby-medium');

      &.divider:not(:last-child) {
        border-bottom-width: 1px;
      }

      &.selectable:hover {
        background-color: get-color('kirby-secondary');
      }

      &:last-child {
        border-bottom-width: 0;
      }
    }
  }
}

.extending {
  margin: auto;
}

:host {
  display: block;

  &:not(.has-sections) {
    background-color: get-color('kirby-contrast-light');
    border: 1px solid  get-color('kirby-medium');
  }
}

:host([shape="rounded"]) {
  &:not(.has-sections) {
    border-radius: $border-radius;

    li:first-child {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }

    li:last-child {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  &.has-sections {
    li.row {
      background-color: get-color('kirby-contrast-light');

      &.selectable:hover {
        background-color: get-color('kirby-secondary');
      }
    }

    li.section-header + li.row
    {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }

    li.row.last-in-section {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      border-width: 0;
    }
  }
}

.list-header {
  border-bottom: 1px solid get-color('kirby-medium');
}
