<fieldset>
  <legend>Input field size for examples below</legend>
  <p>
    <strong>Size:</strong><br />
    <label>
      <input
        type="radio"
        name="size"
        value="md"
        [checked]="size === 'md'"
        (change)="sizeChanged.emit($event.target.value)"
      />
      Medium (<code>md</code>)
    </label>
    <label>
      <input
        type="radio"
        name="size"
        value="lg"
        [checked]="size === 'lg'"
        (change)="sizeChanged.emit($event.target.value)"
      />
      Large (<code>lg</code>) - default
    </label>
  </p>
</fieldset>
