@use '@kirbydesign/core/src/scss/base/list';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  background: var(--kirby-background-color);
  gap: var(--kirby-spacing-m);
  padding-top: var(--kirby-spacing-s);

  > * {
    width: min(100%, var(--kirby-breakpoint-medium));
  }
}
