<h2>Sizes</h2>
<cookbook-item-example-simple-md></cookbook-item-example-simple-md>
<cookbook-item-example-simple-sm></cookbook-item-example-simple-sm>
<cookbook-item-example-simple-xs></cookbook-item-example-simple-xs>

<h2>Simple</h2>
<h3>Default</h3>
<cookbook-item-example-simple></cookbook-item-example-simple>

<h3>Long title (truncated)</h3>
<cookbook-item-example-long-title></cookbook-item-example-long-title>

<h3>Two lines</h3>
<cookbook-item-example-simple-two-lines></cookbook-item-example-simple-two-lines>

<h3>Three lines</h3>
<cookbook-item-example-simple-three-lines></cookbook-item-example-simple-three-lines>

<h3>Two value lines</h3>
<cookbook-item-example-simple-two-value-lines></cookbook-item-example-simple-two-value-lines>

<h3>Multiline</h3>
<cookbook-item-example-simple-multiline></cookbook-item-example-simple-multiline>

<h3>Multiline - subtitle</h3>
<cookbook-item-example-simple-multiline-subtitle></cookbook-item-example-simple-multiline-subtitle>

<h2>Picker</h2>
<h3>Default</h3>
<cookbook-item-example-picker-default></cookbook-item-example-picker-default>

<h3>Selected</h3>
<cookbook-item-example-picker-default-selected></cookbook-item-example-picker-default-selected>

<h3>With Avatar - Selected</h3>
<cookbook-item-example-picker-avatar-selected></cookbook-item-example-picker-avatar-selected>

<h3>With checkbox</h3>
<cookbook-item-example-picker-checkbox></cookbook-item-example-picker-checkbox>

<h2>FAB menu</h2>
<cookbook-item-example-fab-menu></cookbook-item-example-fab-menu>

<h2>Attachment</h2>
<cookbook-item-example-attachment></cookbook-item-example-attachment>

<h2>Settings</h2>
<h3>Enabled</h3>
<cookbook-item-example-settings></cookbook-item-example-settings>

<h3>Disabled</h3>
<cookbook-item-example-settings-disabled></cookbook-item-example-settings-disabled>

<h2>Flagged</h2>
<cookbook-item-example-flagged></cookbook-item-example-flagged>

<h2>Avatar</h2>
<h3>Default</h3>
<cookbook-item-example-avatar></cookbook-item-example-avatar>

<h3>Avatar with date</h3>
<cookbook-item-example-avatar-date></cookbook-item-example-avatar-date>

<h3>Avatar flagged</h3>
<cookbook-item-example-avatar-flagged></cookbook-item-example-avatar-flagged>

<h3>Avatar flagged, three lines</h3>
<cookbook-item-example-avatar-flagged-three-lines></cookbook-item-example-avatar-flagged-three-lines>

<h2>Message</h2>
<cookbook-item-example-horizontal></cookbook-item-example-horizontal>

<h2>Button</h2>
<cookbook-item-example-button></cookbook-item-example-button>

<h2>Input</h2>
<h3>Default</h3>
<cookbook-item-example-input-default></cookbook-item-example-input-default>

<h3>Numeric</h3>
<cookbook-item-example-input-numeric></cookbook-item-example-input-numeric>

<h2>Disclosure</h2>
<cookbook-item-example-disclosure></cookbook-item-example-disclosure>

<h3>Rotation animation</h3>
<cookbook-item-example-disclosure-animation></cookbook-item-example-disclosure-animation>

<h2>Card with item</h2>
<cookbook-item-example-card></cookbook-item-example-card>
