@use '@kirbydesign/core/src/scss/utils';

:host {
  display: block;
  background: utils.get-color('background-color');
  padding: utils.size('m');

  > h2 {
    font-size: utils.font-size('xs');
    color: utils.get-text-color('semi-dark');
    text-transform: uppercase;
    margin-top: utils.size('m');
    margin-bottom: utils.size('xs');
  }

  > * {
    display: block;
    margin: 10px 0;
  }
}
