<div class="example-container">
  <h2>Sizes</h2>
  <div class="example-frame">
    <cookbook-item-example-sizes></cookbook-item-example-sizes>
  </div>

  <h2>Text</h2>
  <div class="example-frame">
    <cookbook-item-example-text></cookbook-item-example-text>
  </div>

  <h3>Vertically stacked texts</h3>
  <div class="example-frame">
    <cookbook-item-example-text-vertically-stacked></cookbook-item-example-text-vertically-stacked>
  </div>

  <h3>Complex label structures</h3>
  <div class="example-frame">
    <cookbook-item-example-complex-labels></cookbook-item-example-complex-labels>
  </div>

  <h2>Slots</h2>
  <div class="example-frame">
    <cookbook-item-example-slots></cookbook-item-example-slots>
  </div>

  <h2>Nested Controls</h2>
  <div class="example-frame">
    <cookbook-item-example-nested-controls></cookbook-item-example-nested-controls>
  </div>

  <h3>Disabled Nested Controls</h3>
  <div class="example-frame">
    <cookbook-item-example-disabled-controls></cookbook-item-example-disabled-controls>
  </div>

  <h2>Selectable & Disclosure</h2>
  <div class="example-frame">
    <cookbook-item-example-selectable></cookbook-item-example-selectable>
  </div>

  <h3>Disabled</h3>
  <div class="example-frame">
    <cookbook-item-example-disabled></cookbook-item-example-disabled>
  </div>
</div>
