@import '../../../kirby/scss/utils';

h4 {
  padding-top: size('s');
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: size('s');

  @include media('>=medium') {
    grid-template-columns: repeat(2, 1fr);
  }
}
