<div class="example">
  <kirby-card-example></kirby-card-example>
  <kirby-html-viewer [html]="exampleHtml"></kirby-html-viewer>
  <h4>Properties:</h4>
  <table class="cookbook-properties">
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Input values</th>
    </thead>
    <tbody>
      <tr>
        <td><code>title</code></td>
        <td>Sets the larger title in kirby-card-header</td>
        <td><code>string</code></td>
      </tr>
      <tr>
        <td><code>subtitle</code></td>
        <td>Smaller title in kirby-card-header</td>
        <td><code>string</code></td>
      </tr>
    </tbody>
  </table>  
</div>