<picture>
  <source
    media="(max-width: 767px)"
    srcset="assets/images/kirby-components-w375.png 1x, assets/images/kirby-components-w700.png 2x"
  />
  <source
    media="(min-width: 768px)"
    srcset="
      assets/images/kirby-components-w800.png   800w,
      assets/images/kirby-components-w1020.png 1020w
    "
    sizes="(max-width: 1024px) 1024px,
           (min-width: 1025px) and (max-width: 1163px) 800px,
           (min-width: 1164px) 100vw,
           1020px"
  />
  <img src="assets/images/kirby-components-w1020.png" alt="Kirby UI Components" />
</picture>

<h1>This is Kirby Design System™</h1>
<p>
  Kirby is a friendly design system that allows you to build simple intuitive designs while having
  fun. We have created a shared visual language established on classic principles of good design.
</p>
<p>
  Kirby Design System provides flexible building blocks that make building digital services across
  platforms faster while creating a unified user experience. By using Kirby the collaboration
  between designers and developers is streamlined, and helps teams to quickly build beautiful
  screens.
</p>
<p>We are on a constant journey of learning and Kirby is steadily evolving day by day.</p>
<p>Thanks for your interest — have fun building!</p>
