@use '@kirbydesign/core/src/scss/utils';

.example-container {
  margin: utils.size('l') auto;
  max-width: 768px;
}

.example-frame {
  position: relative;
  border: 1px solid var(--kirby-medium);
  border-radius: 12px;
  padding: utils.size('l');

  &.no-padding {
    padding: 0;
  }

  &.xl-padding {
    padding: utils.size('xl');
  }
}
