@mixin copied {
  transition: transform var(--kirby-transition-duration-quick);

  &:hover {
    transform: scale(120%);
  }

  &::before {
    display: block;
    position: absolute;
    content: 'Copied!';
    background-color: var(--kirby-semi-light);
    color: var(--kirby-semi-dark-contrast);
    font-size: var(--kirby-font-size-xxs);
    padding: var(--kirby-spacing-xxxxs) var(--kirby-spacing-xxxs);
    border-radius: var(--kirby-spacing-xxxs);
    opacity: 0;
    transform: translateY(-50%);
  }

  &.copied::before {
    opacity: 1;
    animation-name: slide-in-out;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
  }
}

@keyframes slide-in-out {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }

  10% {
    opacity: 1;
    transform: translateY(-125%);
  }

  90% {
    opacity: 1;
    transform: translateY(-125%);
  }

  100% {
    opacity: 0;
    transform: translateY(-200%);
  }
}
