<h2>Simple</h2>
<h3>Default</h3>
<kirby-example-viewer [html]="defaultExample.template">
  <div>
    <kirby-dropdown-example-default #defaultExample></kirby-dropdown-example-default>
  </div>
</kirby-example-viewer>
<h3>Scroll</h3>
<kirby-example-viewer [html]="scrollExample.template">
  <div>
    <kirby-dropdown-example-scroll #scrollExample></kirby-dropdown-example-scroll>
  </div>
</kirby-example-viewer>
<h3>Pre-selected</h3>
<kirby-example-viewer [html]="preSelectedExample.template">
  <div>
    <kirby-dropdown-example-pre-selected #preSelectedExample></kirby-dropdown-example-pre-selected>
  </div>
</kirby-example-viewer>
<h3>Block level</h3>
<kirby-example-viewer [html]="expandExample.template">
  <div>
    <kirby-dropdown-example-expand #expandExample></kirby-dropdown-example-expand>
  </div>
</kirby-example-viewer>
<h3>Attention level</h3>
<kirby-example-viewer [html]="attentionLevelExample.template">
  <div>
    <kirby-dropdown-example-attention-level
      #attentionLevelExample
    ></kirby-dropdown-example-attention-level>
  </div>
</kirby-example-viewer>
<h3>Event handler</h3>
<kirby-example-viewer [html]="itemSelectExample.template">
  <div>
    <kirby-dropdown-example-item-select #itemSelectExample></kirby-dropdown-example-item-select>
  </div>
</kirby-example-viewer>
<h2>Advanced</h2>
<h3>Custom Item template</h3>
<kirby-example-viewer [html]="customItemTemplateExample.template">
  <div>
    <kirby-dropdown-example-custom-item-template
      #customItemTemplateExample
    ></kirby-dropdown-example-custom-item-template>
  </div>
</kirby-example-viewer>
<h3>Forms</h3>
<kirby-example-viewer [html]="formsExample.template" [ts]="formsExample.codeSnippet">
  <div>
    <kirby-dropdown-example-ng-forms #formsExample></kirby-dropdown-example-ng-forms>
  </div>
</kirby-example-viewer>
<h2>Properties:</h2>
<kirby-showcase-properties [properties]="properties"></kirby-showcase-properties>
<h2>Events:</h2>
<kirby-showcase-properties
  [properties]="events"
  [columns]="eventColumns"
></kirby-showcase-properties>
<h2>Methods:</h2>
<kirby-showcase-properties
  [properties]="methods"
  [columns]="methodColumns"
></kirby-showcase-properties>
