@use '@kirbydesign/core/src/scss/utils';
@use '../showcase.shared';

h2:not(:first-child) {
  margin-top: utils.size('l');
}

cookbook-example-viewer > *:first-child {
  display: block;
  margin-bottom: utils.size('s');
}
