<kirby-loading-overlay
  [isLoading]="isLoading"
  [showBackdrop]="showBackdrop"
  [hideContent]="hideContent"
>
  <button
    kirby-button
    attentionLevel="2"
    size="lg"
    expand="block"
    (click)="showWrapperLoadingOverlay(true)"
  >
    Show wrapper loading overlay
  </button>
  <button
    kirby-button
    attentionLevel="2"
    size="lg"
    expand="block"
    (click)="showWrapperLoadingOverlay(false, true)"
  >
    Show wrapper loading overlay that hides content
  </button>
  <button
    kirby-button
    attentionLevel="2"
    size="lg"
    expand="block"
    (click)="showWrapperLoadingOverlay(false)"
  >
    Show wrapper loading overlay without backdrop
  </button>
</kirby-loading-overlay>
