<!-- <kirby-fullscreen-modal></kirby-fullscreen-modal> -->

<button kirby-button (click)="openModal()">Fullscreen modal</button>
<button kirby-button (click)="openModal()">Sheet modal</button>
<button kirby-button (click)="openModal('custom')">Custom modal</button>

<h2>Fullscreen modal</h2>
<cookbook-iphone src="/examples/new-fullscreen-modal" showExternalLink="true"></cookbook-iphone>

<h2>Sheet modal</h2>
<cookbook-iphone src="/examples/new-sheet-modal" showExternalLink="true"></cookbook-iphone>

<h2>Card modal</h2>
<cookbook-iphone src="/examples/new-card-modal" showExternalLink="true"></cookbook-iphone>
