<kirby-floating-action-button>
    <!-- Change icon: -->
    <kirby-icon name="add"></kirby-icon>
</kirby-floating-action-button>

<kirby-floating-action-button [showShadow]="false">
    <!-- Change icon: -->
    <kirby-icon name="add"></kirby-icon>
</kirby-floating-action-button>

<kirby-floating-action-button [disabled]="true">
    <!-- Change icon: -->
    <kirby-icon name="add"></kirby-icon>
</kirby-floating-action-button>

<kirby-floating-action-button>
    <!-- Change icon: -->
    <kirby-icon name="close"></kirby-icon>
</kirby-floating-action-button>
