<kirby-page title="Page Title">
    <!-- Custom Page Title: -->
    <!--
    <div *kirbyPageFloatingTitle style="display: flex;">
        <kirby-icon name="moneybag"></kirby-icon>
        Custom Title
    </div>
    -->
    <kirby-page-actions *kirbyPageFloatingActions>
        <button kirby-button>
            <kirby-icon name="cog"></kirby-icon>
        </button>
        <button kirby-button>
            <kirby-icon name="more"></kirby-icon>
        </button>
    </kirby-page-actions>
    <!-- Page Content without kirby-page-content wrapper: -->
    <!--
    <ul *kirbyPageContent>
        <li>If you need content without additional wrapper, use the <code>*kirbyPageContent</code> directive </li>
    </ul>
    -->
    <kirby-page-content><div [innerHTML]="content"></div></kirby-page-content>
    <kirby-fab-sheet *kirbyPageContentFixed horizontalAlignment="right">
        <kirby-icon name="write-message"></kirby-icon>
        <kirby-action-sheet
                header="Your action sheet header"
                subheader="Your action sheet subheader"
                [items]="items"
                (itemSelect)="onItemSelect($event)">
        </kirby-action-sheet>
    </kirby-fab-sheet>
</kirby-page>
