<kirby-empty-state [iconName]="iconName" [title]="title" [text]="text">
    <button kirby-button>{{ buttonText }}</button>
</kirby-empty-state>
<hr/>
<kirby-empty-state [title]="title" [text]="text">
    <button kirby-button>{{ buttonText }}</button>
</kirby-empty-state>
<hr/>
<kirby-empty-state [iconName]="iconName" [title]="title" [text]="text"></kirby-empty-state>
<hr/>
<kirby-empty-state [title]="title" [text]="text"></kirby-empty-state>
<hr/>
<kirby-empty-state [iconName]="iconName" [title]="title">
    <button kirby-button>{{ buttonText }}</button>
</kirby-empty-state>
<hr/>
<kirby-empty-state [iconName]="iconName">
    <button kirby-button>{{ buttonText }}</button>
</kirby-empty-state>
