<kirby-empty-state [iconName]="iconName" [title]="title" [text]="text" [buttonText]="buttonText"></kirby-empty-state>
<hr/>
<kirby-empty-state [title]="title" [text]="text" [buttonText]="buttonText"></kirby-empty-state>
<hr/>
<kirby-empty-state [iconName]="iconName" [title]="title" [text]="text"></kirby-empty-state>
<hr/>
<kirby-empty-state [title]="title" [text]="text"></kirby-empty-state>
<hr/>
<kirby-empty-state [iconName]="iconName" [title]="title" [buttonText]="buttonText"></kirby-empty-state>
<hr/>
<kirby-empty-state [iconName]="iconName" [buttonText]="buttonText"></kirby-empty-state>
