@use '@kirbydesign/core/src/scss/utils';

$logo-size-mobile: utils.size('xl');
$logo-size-desktop: 2 * utils.size('l');
$text-delay: 500ms;
$large-rect-delay: $text-delay + 400ms;
$medium-rect-delay: $large-rect-delay + 300ms;
$small-rect-delay: $medium-rect-delay + 200ms;

:host {
  display: flex;
  grid-area: header;
  align-items: flex-end;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
}

.menu-button {
  @include utils.media('>=large') {
    display: none;
  }
}

nav {
  display: none;

  @include utils.media('>=large') {
    display: block;
  }

  ul {
    display: flex;
    column-gap: utils.size('xxxl');
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: normal;

    li {
      margin-block-start: 0;
    }
  }
}

.logo {
  width: $logo-size-mobile;
  height: $logo-size-mobile;

  @include utils.media('>=large') {
    width: $logo-size-desktop;
    height: $logo-size-desktop;
  }

  svg {
    height: 100%;
    width: 100%;
  }

  .text {
    opacity: 0;
    animation: enter utils.get-transition-duration('long') ease-in-out $text-delay forwards;
  }

  .large-rect {
    opacity: 0;
    animation: enter utils.get-transition-duration('long') ease-in-out $large-rect-delay forwards;
  }

  .medium-rect {
    opacity: 0;
    transform-origin: center top;
    animation: enter-pop utils.get-transition-duration('short') ease-in-out $medium-rect-delay
      forwards;
  }

  .small-rect {
    opacity: 0;
    transform-origin: center;
    animation: enter-pop utils.get-transition-duration('short') ease-in-out $small-rect-delay
      forwards;
  }
}

@keyframes enter {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes enter-pop {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  89% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
