@import './libs/designsystem/src/lib/scss/utils';

$page-header-bg: #1c1c1c;
$page-header-color: #f4f1e8;
$page-gutter: 20px;
$page-side-nav-width: 16.625rem;

$sårt: #1c1c1c;
$hvii: #f4f1e8;
$dark-grey: #353535;
$semi-dark-grey: #838383;

:host {
  display: block;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: var(--kirby-page-max-width);
  padding: 20px $page-gutter 0;
  @include media('>=large') {
    padding: 20px $page-gutter 0;
  }
}

.menu-button {
  text-decoration: none;
  appearance: none;
  border: none;
  background: none;
  font-size: 0.7rem;
  margin: 0;
  padding: $page-gutter;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include media('>=large') {
    display: none;
  }

  .icon {
    width: 1.4rem;
    height: 1.4rem;
    align-self: center;
    justify-self: center;
    stroke: currentColor;
    fill: currentColor;
  }
}

.header-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

  &__item-link {
    text-decoration: none;
  }
}

.title {
  font-size: 1.5em;
  font-weight: 200;
  margin-top: auto;
  grid-column-start: span 2;
  font-family: courier new;
}

// .block {
//   opacity: 0;
//   //name duration timing delay
//   animation: enter 1s ease-in-out 2.5s forwards;

//   &--large {
//     transform-origin: 0 0;
//     animation: enter 1s ease-in-out 1s forwards;
//   }

//   &--medium {
//     animation: enter 1s ease-in-out 1.5s forwards;
//     width: 85%;
//   }

//   &--small {
//     width: 40%;
//   }
// }

.kirby-icon {
  display: none;
  @include media('>=large') {
    width: 70px;
    height: 70px;
    display: block;
  }
  svg {
    height: 100%;
    width: 100%;
  }
}
.logo {
  &-text {
    opacity: 0;
    animation: enter 0.6s ease-in-out 1.5s forwards;
  }
  &-large-rect {
    opacity: 0;
    animation: enter 0.6s ease-in-out 1.8s forwards;
  }
  &-medium-rect {
    opacity: 0;
    transform-origin: top center;
    transform: scale(0);
    animation: enter-pop 0.4s ease-in-out 2s forwards;
  }
  &-small-rect {
    opacity: 0;
    transform-origin: center;
    transform: scale(0);
    animation: enter-pop 0.4s ease-in-out 2.2s forwards;
  }
}

@keyframes enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes enter-pop {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  89% {
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
