@import './libs/designsystem/src/lib/scss/utils';

$logo-size-mobile: size('xl');
$logo-size-desktop: 2 * size('l');
$text-delay: 500ms;
$large-rect-delay: 900ms;
$medium-rect-delay: 1200ms;
$small-rect-delay: 1400ms;

:host {
  display: flex;
  grid-area: header;
  align-items: flex-end;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.menu-button {
  @include media('>=large') {
    display: none;
  }
}

nav {
  display: none;

  @include media('>=large') {
    display: block;
  }

  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    a {
      text-decoration: none;
    }
  }
}

.logo {
  width: $logo-size-mobile;
  height: $logo-size-mobile;

  @include media('>=large') {
    width: $logo-size-desktop;
    height: $logo-size-desktop;
  }

  svg {
    height: 100%;
    width: 100%;
  }
}

.logo {
  .text {
    opacity: 0;
    animation: enter get-transition-duration('long') ease-in-out $text-delay forwards;
  }
  .large-rect {
    opacity: 0;
    animation: enter get-transition-duration('long') ease-in-out $large-rect-delay forwards;
  }
  .medium-rect {
    opacity: 0;
    transform-origin: center top;
    animation: enter-pop get-transition-duration('short') ease-in-out $medium-rect-delay forwards;
  }
  .small-rect {
    opacity: 0;
    transform-origin: center;
    animation: enter-pop get-transition-duration('short') ease-in-out $small-rect-delay forwards;
  }
}

@keyframes enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes enter-pop {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  89% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
