@import './libs/designsystem/src/lib/scss/utils';

$page-gutter: 20px;

:host {
  display: block;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: var(--kirby-page-max-width);
  padding: 20px $page-gutter 0;
  @include media('>=large') {
    padding: 20px $page-gutter 0;
  }
}

.menu-button {
  @include media('>=large') {
    display: none;
  }
}

.header-nav {
  display: none;
  @include media('>=large') {
    display: block;
  }
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    a {
      text-decoration: none;
    }
  }
}

.kirby-logo {
  width: 40px;
  height: 40px;
  @include media('>=large') {
    width: 70px;
    height: 70px;
  }
  svg {
    height: 100%;
    width: 100%;
  }
}

.logo {
  &-text {
    opacity: 0;
    animation: enter 450ms ease-in-out 500ms forwards;
  }
  &-large-rect {
    opacity: 0;
    animation: enter 450ms ease-in-out 900ms forwards;
  }
  &-medium-rect {
    opacity: 0;
    transform-origin: center top;
    animation: enter-pop 300ms ease-in-out 1200ms forwards;
  }
  &-small-rect {
    opacity: 0;
    transform-origin: center;
    animation: enter-pop 300ms ease-in-out 1400ms forwards;
  }
}

@keyframes enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes enter-pop {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  89% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
