@use '@kirbydesign/core/src/scss/utils';

$logo-size-mobile: utils.size('xl');
$logo-size-desktop: 2 * utils.size('l');
$text-delay: 500ms;
$large-rect-delay: $text-delay + 400ms;
$medium-rect-delay: $large-rect-delay + 300ms;
$small-rect-delay: $medium-rect-delay + 200ms;

:host {
  grid-area: header;
  z-index: utils.z('sticky-content') + 1; // above side-nav
  position: sticky;
  top: 0;
  background-color: utils.get-color('light');
  border-bottom: 1px solid utils.get-color('medium');

  @include utils.media('>=large') {
    position: static;
    background-color: transparent;
    border-bottom: none;
  }
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 100%;
  padding: var(--kirby-spacing-xxs);

  @include utils.media('>=large') {
    padding-block: var(--kirby-spacing-m) 0;
    align-items: start;

    .menu-button {
      display: none;
    }
  }
}

.logo-anchor {
  width: $logo-size-mobile;
  height: $logo-size-mobile;
  justify-self: center;

  @include utils.media('>=large') {
    width: $logo-size-desktop;
    height: $logo-size-desktop;
    margin-inline-start: var(--kirby-spacing-m);
    justify-self: start;
  }

  svg {
    height: 100%;
    width: 100%;
  }

  .text {
    opacity: 0;
    animation: enter utils.get-transition-duration('long') ease-in-out $text-delay forwards;
  }

  .large-rect {
    opacity: 0;
    animation: enter utils.get-transition-duration('long') ease-in-out $large-rect-delay forwards;
  }

  .medium-rect {
    opacity: 0;
    transform-origin: center top;
    animation: enter-pop utils.get-transition-duration('short') ease-in-out $medium-rect-delay
      forwards;
  }

  .small-rect {
    opacity: 0;
    transform-origin: center;
    animation: enter-pop utils.get-transition-duration('short') ease-in-out $small-rect-delay
      forwards;
  }
}

@keyframes enter {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes enter-pop {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  89% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
