<div class="example">
    <kirby-avatar-example></kirby-avatar-example>
    <kirby-html-viewer [html]="exampleHtml"></kirby-html-viewer>
    <h4>Properties:</h4>
    <table class="cookbook-properties">
      <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Input values</th>
      </thead>
      <tbody>
        <tr>
          <td><code>imageSrc</code></td>
          <td>Points to the src of the image location.</td>
          <td><code>string</code></td>
        </tr>
        <tr>
          <td><code>altText</code></td>
          <td>Must be filled out - its the alt text attribute that screenreaders use when 'viewing' the image.</td>
          <td><code>string</code></td>
        </tr>
        <tr>
            <td><code>size</code></td>
            <td>Yeah, as the name implies, this sets it size :)</td>
            <td><code>small, medium, large</code></td>
        </tr>      
    </tbody>
    </table>     
</div>