<div class="fullscreen-example">
  <h1>Modal</h1>

  <div class="config">
    <h2>Config</h2>

    <kirby-checkbox
      [checked]="showFooter"
      (checkedChange)="toggleFooter()"
      text="Show footer"
    ></kirby-checkbox>

    <kirby-checkbox
      [checked]="isInlineFooter"
      (checkedChange)="toggleIsInlineFooter()"
      text="Inline footer"
    ></kirby-checkbox>

    <kirby-checkbox
      [checked]="showPageProgress"
      (checkedChange)="togglePageProgress()"
      text="Show page progress"
    ></kirby-checkbox>

    <kirby-checkbox
      [checked]="collapseTitle"
      (checkedChange)="toggleCollapseTitle()"
      text="Collapse title"
    ></kirby-checkbox>

    <kirby-checkbox
      [checked]="scrollDisabled"
      (checkedChange)="toggleScrollDisabled()"
      text="Scroll disabled"
    ></kirby-checkbox>
  </div>

  <button kirby-button (click)="openModal()">Open Modal</button>

  <kirby-modal-experimental
    [open]="open"
    [title]="'Modal title'"
    [hasCollapsibleTitle]="collapseTitle"
    [scrollDisabled]="scrollDisabled"
    [canDismiss]="canDismiss"
    (willDismiss)="closeModal()"
  >
    <!-- HEADER SLOT -->
    <kirby-page-progress *ngIf="showPageProgress" header-start>
      <kirby-progress-circle themeColor="warning" value="25" size="sm" class="kirby-text-xsmall">
        1/4
      </kirby-progress-circle>
    </kirby-page-progress>

    <!-- DEFAULT SLOT -->
    <div>
      <button kirby-button attentionLevel="3" (click)="scrollToBottom()">
        Scroll to bottom
        <kirby-icon name="arrow-down"></kirby-icon>
      </button>

      <button kirby-button attentionLevel="3" (click)="toggleCanDismiss()">
        Can dismiss: {{ canDismiss }}
      </button>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nunc eros, fermentum sed
        ligula ac, placerat porta est. Cras luctus mi et aliquam semper. Sed urna leo, gravida
        accumsan vulputate in, viverra at neque. Cras in nisi ac orci venenatis semper scelerisque
        ullamcorper libero. Donec ornare accumsan massa, at eleifend lorem sollicitudin ut. Donec
        vitae malesuada neque. Morbi ultricies urna ac dignissim blandit. Duis sollicitudin tellus
        ligula, sit amet congue augue blandit et. Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Aenean cursus laoreet diam sed elementum. In justo est, aliquet sed placerat quis,
        tincidunt rhoncus augue. Donec vulputate suscipit nulla, quis consectetur dolor congue
        vitae. Fusce felis ex, ornare id finibus vel, tempus vel tellus. Vestibulum cursus nulla et
        sem fermentum pulvinar. Curabitur ac odio vulputate, condimentum nulla non, vestibulum sem.
        Praesent semper sodales nisi, quis ornare nisi vehicula pellentesque. Duis nulla felis,
        sollicitudin vitae eleifend a, mollis eu elit. Nulla aliquam, diam eget cursus pellentesque,
        nulla dui elementum risus, in sodales dolor mauris sit amet magna. Praesent nec metus a
        massa elementum eleifend nec vulputate est. Nullam blandit lorem et tortor semper, tempus
        tempor ipsum varius. Etiam et laoreet massa. Nam lacinia purus a lorem pellentesque varius.
        Donec vel dui tincidunt, efficitur dui a, rhoncus nisi. Sed id lectus libero. Duis turpis
        lorem, placerat eu tortor vel, tempor luctus enim. Donec pulvinar odio at fringilla
        ultricies. Aliquam erat volutpat. Cras eget elit eleifend, lacinia sapien sit amet, mattis
        orci. Fusce ac scelerisque est. Nulla orci dui, placerat fringilla felis vitae, cursus
        facilisis est. Aenean consectetur, dui ut scelerisque lacinia, ante arcu laoreet ligula,
        vitae congue ex nulla consequat purus. Maecenas sit amet velit eget dui sodales iaculis nec
        nec ante. Morbi bibendum sapien et pulvinar ornare. Nullam commodo varius mi, ac tincidunt
        lectus vulputate nec. Orci varius natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Quisque ac orci libero. Nulla facilisi. Nullam quis lacinia elit.
        Morbi tempus, lacus ac vehicula finibus, urna mi viverra nulla, quis malesuada mi magna eu
        libero. Aliquam consectetur neque sed nisi vestibulum posuere. Nam viverra nisl varius
        placerat sagittis. Pellentesque velit nisl, blandit nec laoreet at, tincidunt quis augue.
        Nunc ultrices lacinia est, eu lacinia felis fermentum vel. Sed a quam lobortis, facilisis
        nunc vitae, faucibus sapien. Sed et orci vitae leo consequat consectetur non eu mauris. Nunc
        non vulputate diam. Sed ultricies arcu et mattis ullamcorper. Curabitur vel massa enim. In
        venenatis augue eu lectus scelerisque egestas. Duis dignissim at augue non semper. Integer
        lectus mi, pulvinar porta velit ac, interdum consequat felis. Vestibulum vitae ipsum
        viverra, egestas neque et, efficitur velit. Aenean ac facilisis velit. Ut imperdiet, lacus
        nec tempor ornare, sem odio pulvinar justo, in pellentesque orci lacus non mauris. Sed
        aliquam neque vel mauris consequat, elementum lacinia ex convallis. In nec dui vitae quam
        sodales venenatis. Aenean lacus purus, iaculis sed sollicitudin vitae, consequat ut magna.
        Suspendisse malesuada justo quis ante sollicitudin blandit elementum sit amet dolor.
      </p>
    </div>

    <!-- FOOTER SLOT -->
    <kirby-modal-footer-experimental
      *ngIf="showFooter"
      [type]="isInlineFooter ? 'inline' : 'fixed'"
      themeColor="white"
      footer
    >
      <button kirby-button attentionLevel="3" (click)="scrollToTop()">
        To top
        <kirby-icon name="arrow-up"></kirby-icon>
      </button>
      <button kirby-button (click)="closeModal()">Close</button>
    </kirby-modal-footer-experimental>
  </kirby-modal-experimental>
</div>
