<p>
  The Text Link component redirects the user to a new destination that can either be a route within
  the application or an external web page.
</p>
<p>
  If the component is supplied with an internal route, the Angular <code>RouterLink</code>
  directive is used to avoid reloading the entire application. External links will automatically get
  an icon to indicate that the user is sent to an external web page when clicking the link.
</p>
<p>
  External links will open in a new tab by default, but this behavior can be changed via the
  <code>target</code> property, similar to the <code>target</code> attribute of a
  <kirby-text-link
    route="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a#attributes"
    text="regular anchor tag"
  >
  </kirby-text-link
  >.
</p>

<h2>Internal links</h2>
<cookbook-example-viewer [html]="internalExample.template">
  <cookbook-text-link-example-internal #internalExample></cookbook-text-link-example-internal>
</cookbook-example-viewer>

<h2>External links</h2>
<cookbook-example-viewer [html]="externalExample.template">
  <cookbook-text-link-example-external #externalExample></cookbook-text-link-example-external>
</cookbook-example-viewer>

<h2>Links in text</h2>
<cookbook-example-viewer [html]="inlineExample.template">
  <cookbook-text-link-example-inline #inlineExample></cookbook-text-link-example-inline>
</cookbook-example-viewer>

<h2>Properties:</h2>
<cookbook-api-description-properties
  [properties]="properties"
></cookbook-api-description-properties>
