<p>
  The Link component consists of two types. A link with and without a icon. <br />
  The component will automatically add a icon for external links. The Component is built using the
  angular
  <strong>RouterLink </strong> componenet for internal link and <strong>href</strong> for external
  links.
</p>
<h2>Internal links</h2>
<cookbook-example-viewer [html]="internalExample.template">
  <cookbook-text-link-example-internal #internalExample></cookbook-text-link-example-internal>
</cookbook-example-viewer>

<h2>External links</h2>
<cookbook-example-viewer [html]="externalExample.template">
  <cookbook-text-link-example-external #externalExample></cookbook-text-link-example-external>
</cookbook-example-viewer>

<h2>Properties:</h2>
<cookbook-showcase-properties [properties]="properties"></cookbook-showcase-properties>
