@import '~@kirbydesign/core/src/scss/utils';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  background: get-color('background-color');
  padding: size('s');

  @include media('>=medium') {
    padding: size('l');
  }

  > * {
    display: block;
    margin: size('s') 0;
  }

  kirby-card {
    width: 100%;
  }
}
