@import './libs/designsystem/src/lib/scss/utils';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  background: get-color('background-color');
  padding: size('s');

  @include media('>=medium') {
    padding: size('l');
  }

  > * {
    display: block;
    margin: size('s') 0;
  }

  kirby-card {
    width: 100%;
    max-width: 624px;
  }

  .outer {
    display: flex;
    background-color: red;
  }

  .inner {
    background-color: green;

    padding-left: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      background-color: yellow;
      white-space: nowrap;
      margin-bottom: 0;
    }
  }

  kirby-chart {
    background-color: blue;
    flex-basis: 100%;
  }
}
