<div class="example">
  <kirby-chart-example></kirby-chart-example>
  <div class="code-example">
    <kirby-code-viewer [html]="exampleHtml"></kirby-code-viewer>
    <h4>Properties:</h4>
    <table class="cookbook-properties">
      <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Input values</th>
      </thead>
      <tbody>
        <tr>
          <td><code>height</code></td>
          <td>The height of the chart in px for web and dp for native</td>
          <td><code>number</code></td>
        </tr>
        <tr>
          <td><code>type</code></td>
          <td>The type of chart</td>
          <td><code>donut | pie | areaspline</code></td>
        </tr>
        <tr>
          <td><code>showDataLabels</code></td>
          <td>Enable or disable labels around pie/donut charts (default: true)</td>
          <td><code>true, false</code></td>
        </tr>
        <tr>
          <td><code>description</code></td>
          <td>Description of chart for accessibility</td>
          <td><code>string - e.g. "Distribution of assets in custody account"</code></td>
        </tr>
        <tr>
          <td><code>data</code></td>
          <td>Data input for chart</td>
          <td><code>See examples above for exact format</code></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>