<div class="example-container">
  <h1>Dropdown</h1>
  <cookbook-dropdown-example-configuration
    [size]="size"
    (sizeChanged)="onSizeChange($event)"
  ></cookbook-dropdown-example-configuration>

  <h2>Default</h2>
  <div class="example-frame">
    <cookbook-dropdown-example-default [size]="size"></cookbook-dropdown-example-default>
  </div>

  <h2>Scroll</h2>
  <div class="example-frame">
    <cookbook-dropdown-example-scroll [size]="size"></cookbook-dropdown-example-scroll>
  </div>

  <h2>Pre-selected</h2>
  <div class="example-frame">
    <cookbook-dropdown-example-pre-selected [size]="size"></cookbook-dropdown-example-pre-selected>
  </div>

  <h2>Block level</h2>
  <div class="example-frame">
    <cookbook-dropdown-example-expand [size]="size"></cookbook-dropdown-example-expand>
  </div>

  <h2>Attention level</h2>
  <div class="example-frame">
    <cookbook-dropdown-example-right-aligned
      [size]="size"
    ></cookbook-dropdown-example-right-aligned>
  </div>

  <h2>Right aligned</h2>
  <div class="example-frame">
    <cookbook-dropdown-example-attention-level
      [size]="size"
    ></cookbook-dropdown-example-attention-level>
  </div>

  <h2>Custom Item template</h2>
  <div class="example-frame">
    <cookbook-dropdown-example-item-select [size]="size"></cookbook-dropdown-example-item-select>
  </div>

  <h2>Forms</h2>
  <div class="example-frame">
    <cookbook-dropdown-example-ng-forms [size]="size"></cookbook-dropdown-example-ng-forms>
  </div>
</div>
