@use '@kirbydesign/core/src/scss/utils';

:host {
  display: block;
  height: 100%;
  overflow-x: hidden;
  background: utils.get-color('background-color');
  padding: utils.size('s');

  @include utils.media('>=medium') {
    padding: utils.size('l');
  }

  h3 {
    font-size: utils.font-size('xs');
    color: utils.get-color('semi-dark');
    text-transform: uppercase;
    margin-top: utils.size('xs');
    margin-bottom: utils.size('xxxs');
  }

  > * {
    display: block;
    margin: utils.size('xxs') 0;
  }
}
