@use '@kirbydesign/core/src/scss/utils';

// We need this for api-description to avoid breaking mobile.
:host {
  display: block;
  width: 100%;
  overflow-x: auto;
}

table.api-description {
  margin-bottom: utils.size('xl');
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;

  thead {
    background-color: utils.get-color('light-tint');
  }

  th {
    font-weight: utils.font-weight('normal');
    border: none;
    text-align: left;
    height: utils.size('xl');
    border-bottom: none;
  }

  td,
  th {
    border: 1px solid utils.get-color('medium');
    padding: 0.5rem 1rem;
  }

  .property-name code {
    white-space: nowrap;
  }
}

.description {
  white-space: pre-line;
}
