@import './libs/designsystem/src/lib/scss/utils';

.api-description {
  margin-bottom: size('xl');

  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;

  thead {
    background-color: get-color('light-tint');
  }

  th {
    font-weight: font-weight('normal');
    border: none;
    text-align: left;
    height: size('xl');
    border-bottom: none;
  }

  td,
  th {
    border: 1px solid get-color('medium');
    border-width: 1px 1px 1px 1px;
    padding: 0.5rem 1rem;
  }
}

.description {
  white-space: pre-line;
}
