@use '../design-token-table';
@use '../showcase.shared';

@include design-token-table.copy-token-cell;

.radius-sample {
  display: block;
  width: var(--kirby-spacing-xxl);
  height: var(--kirby-spacing-xxl);
  background-color: var(--kirby-primary-tint);
  border-radius: var(--kirby-border-radius-xxs);
}

.radius-sample.pill {
  height: var(--kirby-spacing-l);
  border-radius: var(--kirby-border-radius-pill);
  margin-block: var(--kirby-spacing-xxs);
}

.radius-sample.circle {
  border-radius: var(--kirby-border-radius-circle);
}
