<p>
  Available via the SCSS utility function
  <code>border-radius('n')</code>
  or as CSS custom properties.
</p>
<table class="kirby-table">
  <thead>
    <tr>
      <th>Name</th>
      <th class="custom-property-cell">CSS Custom Property</th>
      <th>Base value</th>
      <th>Preview</th>
    </tr>
  </thead>
  <tbody>
    @for (token of borderRadii; track token.name) {
      <tr class="kirby-selectable-row" [cookbookCopyToken]="token.cssVar">
        <td>
          <code>{{ token.name }}</code>
        </td>
        <td>
          <code>{{ token.cssVar }}</code>
        </td>
        <td>{{ token.description }}</td>
        <td>
          <span
            [class]="['radius-sample', token.name]"
            [style.border-top-right-radius]="'var(' + token.cssVar + ')'"
          ></span>
        </td>
      </tr>
    }
  </tbody>
</table>
