:host {
    width: 100%;
    display: flex;
    padding: 1.3em 1.8em;
}

.title-container {
    flex: 1;
}

.details-container {
    margin-left: auto;
    flex: 1;
    display: flex;
    font-weight: bold;

    .amount {
        margin-left: auto;
    }
}