.item-container {
    display: flex;
    justify-content: space-between;
}

.title-container {
    flex: 1;

    label {
        font-weight: bold;
    }
}

.details-container {
    margin-left: auto;
    flex: 1;
    display: flex;
}