@import "native-imports";
@import '../list-item.tns';

$elevation: 2;
//Note: On Android the shadow size is a result of the elevation property, e.g. 6 => 9:
$shadow-size: $elevation * 3/2;
$shadow-size-bottom: $elevation * 2;
$row-padding-top: size('s');

@include rounded-corners("kirby-list-item");
  
.kirby-list-item {

    width: 100%;
    height: 100%;

    @include list-item;

    .titles-container {
        vertical-align: center;
    }
    
    .amount-container {
        vertical-align: center;
    }
    
    .detail-container {
        text-align: center;
        vertical-align: center;
    }
    
    .list-item-subTitle {
        color: #a0a0a0
        
    }
    
    .list-item-detail {
        &.green {
            color: lightgreen;
        }
        
        &.red {
            color: red;
        }
    }
    
    .list-item-amount {
        font-weight: bold;
        horizontal-align:right;
    }

    .list-item {
        padding: 0 size('xs') 0 size('xs');

    }
}