@use '@kirbydesign/core/src/scss/utils';

:host {
  display: flex;
  flex-direction: column;
  gap: var(--kirby-spacing-s);

  @include utils.media('>=medium') {
    flex-direction: row;
    gap: var(--kirby-spacing-xl);
  }
}
