<h2>Attention Level 1</h2>
<cookbook-checkbox-confirm-example></cookbook-checkbox-confirm-example>

<h2>Attention Level 2</h2>
<cookbook-checkbox-default-example></cookbook-checkbox-default-example>

<h2>Used in a list</h2>
<cookbook-checkbox-list-example></cookbook-checkbox-list-example>

<h2>States</h2>
<cookbook-checkbox-states-example></cookbook-checkbox-states-example>

<h2>Sizes</h2>
<cookbook-checkbox-sizes-example></cookbook-checkbox-sizes-example>

<h2>Multiline Label</h2>
<cookbook-checkbox-multiline-example></cookbook-checkbox-multiline-example>

<h2>Checked Change Event</h2>
<cookbook-checkbox-events-example></cookbook-checkbox-events-example>
