@use 'sass:map';
@use '@kirbydesign/core/src/scss/utils';

kirby-card {
  margin-bottom: utils.size('m');

  &.attention-levels {
    max-width: map.get(utils.$breakpoints, 'xsmall');
  }
}

h2:not(:first-child) {
  margin-top: utils.size('xl');
}

h3 {
  margin-top: utils.size('s');
}

h2,
h3 {
  margin-bottom: utils.size('xxs');
}

.button-example-container {
  margin-right: utils.size('xs');
  display: inline-flex;
  align-items: center;
  flex-direction: column;

  label {
    font-size: utils.font-size('xxs');
    color: utils.get-text-color('semi-dark');
    text-align: center;
  }
}

fieldset {
  margin-top: utils.size('l');
  width: 300px;

  legend {
    display: flex;
  }
}
