<h2>Default</h2>
<cookbook-button-example-default></cookbook-button-example-default>

<h2>Attention Levels</h2>
<cookbook-button-example-attention-level></cookbook-button-example-attention-level>

<h2>Sizes</h2>
<cookbook-button-example-sizes></cookbook-button-example-sizes>

<h2>Block button</h2>
<cookbook-button-example-block></cookbook-button-example-block>

<h2>Icons</h2>
<cookbook-button-example-icons></cookbook-button-example-icons>

<h2>Icon only</h2>
<cookbook-button-example-icon-only></cookbook-button-example-icon-only>

<h3>Undecorated</h3>
<cookbook-button-example-undecorated></cookbook-button-example-undecorated>

<h2>Disabled</h2>
<cookbook-button-example-disabled></cookbook-button-example-disabled>

<h2>Link Button</h2>
<cookbook-button-example-link></cookbook-button-example-link>
