<h1>Progress Circle</h1>

<h2>Default</h2>
<cookbook-progress-circle-example-default></cookbook-progress-circle-example-default>

<h2>Sizes</h2>
<cookbook-progress-circle-example-sizes></cookbook-progress-circle-example-sizes>

<h2>With content</h2>
<h3>Steps</h3>
<cookbook-progress-circle-example-content-steps></cookbook-progress-circle-example-content-steps>
<h3>Avatar and icon</h3>
<cookbook-progress-circle-example-content-avatar></cookbook-progress-circle-example-content-avatar>
<h3>Percent</h3>
<cookbook-progress-circle-example-content-percent></cookbook-progress-circle-example-content-percent>

<h2>Dynamic</h2>
<cookbook-progress-circle-example-animated></cookbook-progress-circle-example-animated>

<h2>In card</h2>
<cookbook-progress-circle-example-card></cookbook-progress-circle-example-card>
