<h3>Default</h3>
<cookbook-progress-circle-example-default
  #defaultExample
></cookbook-progress-circle-example-default>

<h2>Sizes</h2>
<cookbook-progress-circle-example-default-large
  #defaultLargeExample
></cookbook-progress-circle-example-default-large>

<h3>With content</h3>

<h3>Steps</h3>
<cookbook-progress-circle-example-content-steps
  #contentStepsExample
></cookbook-progress-circle-example-content-steps>

<cookbook-progress-circle-example-content-icon
  #contentIconExample
></cookbook-progress-circle-example-content-icon>

<cookbook-progress-circle-example-content-percent
  #contentPercentExample
></cookbook-progress-circle-example-content-percent>

<h3>Dynamic</h3>

<cookbook-progress-circle-example-animated
  #animatedExample
></cookbook-progress-circle-example-animated>

<h3>In card</h3>

<cookbook-progress-circle-example-card #cardExample></cookbook-progress-circle-example-card>
