@use '@kirbydesign/core/src/scss/utils';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  background: utils.get-color('background-color');
  padding: utils.size('s');

  @include utils.media('>=medium') {
    padding: utils.size('l');
  }

  h2 {
    margin-bottom: utils.size('xxxs');

    &:not(first-of-type) {
      margin-top: utils.size('l');
    }
  }

  h3 {
    font-size: utils.font-size('xs');
    color: utils.get-color('semi-dark');
    text-transform: uppercase;
    margin-top: utils.size('xs');
    margin-bottom: utils.size('xxxs');
  }
}
