<h1>Progress Circle</h1>

<h2>Default usage</h2>

<cookbook-progress-circle-example-default-small
  #defaultSmallExample
></cookbook-progress-circle-example-default-small>

<cookbook-progress-circle-example-default-medium
  #defaultMediumExample
></cookbook-progress-circle-example-default-medium>

<cookbook-progress-circle-example-default-large
  #defaultLargeExample
></cookbook-progress-circle-example-default-large>

<h2>With content</h2>
<cookbook-progress-circle-example-content-steps
  #contentStepsExample
></cookbook-progress-circle-example-content-steps>

<cookbook-progress-circle-example-content-icon
  #contentIconExample
></cookbook-progress-circle-example-content-icon>

<cookbook-progress-circle-example-content-percent
  #contentPercentExample
></cookbook-progress-circle-example-content-percent>

<h2>Dynamic</h2>

<cookbook-progress-circle-example-animated
  #animatedExample
></cookbook-progress-circle-example-animated>

<h2>In card</h2>

<cookbook-progress-circle-example-card #cardExample></cookbook-progress-circle-example-card>
