<div class="example-container">
  <h2>Heading, label and detail</h2>
  <div class="example-frame">
    <cookbook-section-header-heading-with-label></cookbook-section-header-heading-with-label>
  </div>
  <div class="example-frame">
    <cookbook-section-header-label-and-detail></cookbook-section-header-label-and-detail>
  </div>
  <div class="example-frame">
    <cookbook-section-header-heading-with-multiline-label></cookbook-section-header-heading-with-multiline-label>
  </div>

  <h2>Heading levels</h2>
  <div class="example-frame">
    <cookbook-section-header-heading-levels></cookbook-section-header-heading-levels>
  </div>

  <h2>Multiline</h2>
  <div class="example-frame">
    <cookbook-section-header-heading-with-multiline-label></cookbook-section-header-heading-with-multiline-label>
  </div>

  <h2>Section Header with Card</h2>
  <div class="example-frame">
    <cookbook-section-header-with-card></cookbook-section-header-with-card>
  </div>
</div>
