<kirby-item-group>
  <kirby-section-header>
    <h3 class="kirby-text-bold">Heading</h3>
  </kirby-section-header>
  <kirby-item>
    <kirby-label>
      <h3 class="kirby-text-bold">Title</h3>
      <p detail>Detail</p>
    </kirby-label>
    <kirby-label slot="end">
      <data>Value</data>
    </kirby-label>
  </kirby-item>
  <kirby-item>
    <kirby-label>
      <h3 class="kirby-text-bold">Title</h3>
      <p detail>Detail</p>
    </kirby-label>
    <kirby-label slot="end">
      <data>Value</data>
    </kirby-label>
  </kirby-item>
</kirby-item-group>
