@use '../examples.shared';

:host {
  display: block;
  height: 100%;
  background: var(--kirby-background-color);
  padding: var(--kirby-spacing-m);

  h2 {
    &:not(:first-child) {
      margin-top: var(--kirby-spacing-l);
    }

    border-bottom: 1px dotted var(--kirby-medium);
  }

  .example-frame {
    margin-bottom: var(--kirby-spacing-l);
  }
}
