<ion-item-sliding mode="ios">
  <!-- Left side sliding items -->
  <div *ngIf="isSlidingEnabled">
    <ion-item-options side="start">
      <div *ngFor="let item of leftItems;">
        <ion-item-option [ngClass]="item.color" (click)="onClick(item)">
          <ion-icon *ngIf="item.icon" name="{{ item.icon }}"></ion-icon>
          <span *ngIf="item.name">{{ item.name }}</span>
        </ion-item-option>
      </div>
    </ion-item-options>
  </div>

  <!-- Item content -->
  <ng-content></ng-content>

  <!-- Right side sliding items -->
  <div *ngIf="isSlidingEnabled">
    <ion-item-options side="end">
      <div *ngFor="let item of rightItems;">
          <ion-item-option [ngClass]="item.color" (click)="onClick(item)">
            <ion-icon *ngIf="item.icon" name="{{ item.icon }}"></ion-icon>
            <span *ngIf="item.name">{{ item.name }}</span>
          </ion-item-option>
      </div>
    </ion-item-options>
  </div>
</ion-item-sliding>