@import "../../../scss/utils";

h3.title {
  margin-top: size('m');
  margin-bottom: size('m');
  font-weight: font-weight("bold");
}

article{
  overflow: hidden;
  padding: size('s');
  @include media("<small") {
    padding: size('xxs');
  }
}

.message{
  margin-bottom: size('m');
}

.buttongroup{
  display:flex;
  justify-content:space-around;
  
  button {
    width: 50%;
    margin-left: 6px;
    margin-right: 6px;
  }
}

.icon-outline {
  $icon-size: size('xxl') * 2;
  width: $icon-size;
  height: $icon-size;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: size('m');
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid var(--kirby-medium);
  border-radius: 50%;
}

@each $color-name, $color-value in $notification-colors {
  
  &.#{$color-name} {
    .icon-outline {
      border-color: #{get-color($color-name)};
    }

    kirby-icon {
      color: #{get-color($color-name)};
    }
  }
}