@import './libs/designsystem/src/lib/scss/utils';

.example-properties {
  display: none;

  @include media('>=medium') {
    display: unset;
  }

  dl {
    display: grid;
    grid-template: auto / auto 1fr;

    dt {
      padding-right: size('xxxs');
    }

    dd {
      margin: 0;
      font-style: italic;
    }
  }
}

kirby-card {
  &.nested-modal-configuration {
    margin-top: size('l');
    margin-bottom: size('l');
    cookbook-modal-example-configuration {
      margin-top: size('m');
    }
  }

  &.current-modal-configuration {
    position: fixed;
    z-index: z('default') + 1;
    top: var(--header-height);
    right: 0;
    margin-top: $border-radius;
    font-size: font-size('xs');
    opacity: 0.5;
    transition-property: transform, border-radius;
    transition-duration: get-transition-duration('short');
    transition-timing-function: get-transition-easing('enter-exit');
    transform: rotate(-90deg) translateY(-#{$border-radius + size('xs')});
    transform-origin: top right;
    padding: size('xxs');
    --border-color: transparent;
    --text-align: center;

    @include media('>=medium') {
      transform: translateX(40%);
      padding: size('s');
      --text-align: initial;
      --border-color: initial;
    }

    cookbook-modal-example-configuration {
      pointer-events: none;
    }

    &:hover,
    &:active {
      opacity: unset;
      transform: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      --border-color: initial;
    }
  }
}

kirby-modal-footer {
  button {
    flex-grow: 1;
  }

  kirby-checkbox {
    padding-right: size('xxxs');
  }

  label {
    font-size: font-size('xs');
    cursor: pointer;
  }
}
