@import './libs/designsystem/src/lib/scss/utils';

kirby-card {
  &.nested-modal-configuration {
    margin-top: size('l');
    margin-bottom: size('l');
    cookbook-modal-example-configuration {
      margin-top: size('m');
    }
  }

  &.current-modal-configuration {
    position: fixed;
    top: 0;
    right: -$border-radius;
    font-size: font-size('xs');

    // @include not-touch() {
    opacity: 0.5;
    transition: transform get-transition-duration('short') get-transition-easing('enter-exit');
    transform: translateX(40%);

    &:hover,
    &:active {
      opacity: unset;
      transform: translateX(0);
    }
    // }
  }
}

kirby-modal-footer {
  button {
    flex-grow: 1;
  }

  kirby-checkbox {
    padding-right: size('xxxs');
  }

  label {
    font-size: font-size('xs');
  }
}
