@import './libs/designsystem/src/lib/scss/utils';

kirby-card {
  margin-top: size('l');
}

cookbook-modal-example-configuration {
  margin-top: size('l');
}

kirby-modal-footer {
  button {
    flex-grow: 1;
  }

  kirby-checkbox {
    padding-right: size('xxxs');
  }

  label {
    font-size: font-size('xs');
  }
}
