<section>
  <h2>Examples</h2>
  <div>
    <kirby-card>
      <h3>Unordered list</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing delectus perspiciatis illo corrupti ad,
        eius voluptas.
      </p>
      <ul>
        <li>Aenean id odio turpis</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Donec ullamcorper, risus id venenatis</li>
      </ul>
      <p>
        Voluptatum hic consectetur ea odit cupiditate corrupti, doloremque, nisi, cumque quisquam
        ipsa?
      </p>
    </kirby-card>
    <kirby-card>
      <h3>Ordered list</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing pariatur accusantium optio debitis dolore
        beatae.
      </p>
      <ol>
        <li>Nulla cursus sem nulla</li>
        <li>Sed egestas lorem pharetra</li>
        <li>Pellentesque habitant morbi</li>
      </ol>
      <p>Ipsum, vero est? Iusto ipsum cumque nemo aut exercitationem!</p>
    </kirby-card>
    <kirby-card>
      <h3>Nested list (unordered)</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure unde eos enim omnis, nulla
        veniam laudantium.
      </p>
      <ul>
        <li>
          Dignissim et lorem mollis
          <ul>
            <li>Duis eget tincidunt sapien</li>
            <li>
              Donec pulvinar aliquet turpis
              <ul>
                <li>Praesent vitae augue sed</li>
                <li>Vitae convallis enim lobortis</li>
              </ul>
            </li>
            <li>Phasellus viverra ipsum sed</li>
          </ul>
        </li>
        <li>Maecenas purus sapien</li>
        <li>Pellentesque ultricies mi</li>
      </ul>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ipsum quas modi temporibus
        iusto, error commodi minima architecto nam iste nulla perferendis.
      </p>
    </kirby-card>

    <kirby-card>
      <h3>Nested list (ordered)</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deserunt libero rerum
        excepturi.
      </p>
      <ol>
        <li>
          Vestibulum in tortor vulputate
          <ol>
            <li>Fusce iaculis ante ac diam</li>
            <li>
              Maecenas nec convallis orci
              <ol>
                <li>Praesent ut felis quis</li>
                <li>Etiam quis placerat neque</li>
              </ol>
            </li>
            <li>Ac elementum nisi eleifend</li>
          </ol>
        </li>
        <li>Proin consectetur pharetra</li>
        <li>Aeneanlobortis porta dictum</li>
      </ol>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa autem ratione iure vero
        laboriosam velit rerum nesciunt quia amet ad vitae totam, tempore magni harum at.
      </p>
    </kirby-card>
    <kirby-card>
      <h3>Nested list (mixed unordered and ordered)</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus molestiae aliquam veniam
        accusamus dolor optio dignissimos, et iure! Repellat quod veniam obcaecati aliquid expedita
        velit autem deleniti? Dolorum, vitae exercitationem.
      </p>
      <ol>
        <li>Proin at pharetra ligula</li>
        <li>
          Sit amet blandit tortor dignissim
          <ul>
            <li>
              In pulvinar massa ac porttitor
              <ul>
                <li>Proin at pharetra ligula</li>
              </ul>
            </li>
            <li>Consectetur adipiscing elit</li>
            <li>Mauris fringilla sodales nulla</li>
          </ul>
        </li>
        <li>Integer id diam eleifend ac</li>
      </ol>
      <p>
        Optio culpa, consequatur necessitatibus repellat, laborum eum sunt reprehenderit tempora
        aperiam facilis?
      </p>
    </kirby-card>
    <kirby-card>
      <h3>Text overflow (normal wrap)</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit recusandae eum officiis cupiditate
        quos, quod non ad veniam ex voluptatibus tempore enim modi.
      </p>
      <ul>
        <li>
          Proin at pharetra ligula, donec ullamcorper, risus id venenatis. Integer id diam eleifend
          ac, consectetur adipiscing elit. Fusce iaculis ante ac diam.
        </li>
        <li>
          Proin at pharetra ligula, donec ullamcorper, risus id venenatis. Integer id diam eleifend
          ac, consectetur adipiscing elit. Fusce iaculis ante ac diam.
        </li>
        <li>
          Proin at pharetra ligula, donec ullamcorper, risus id venenatis. Integer id diam eleifend
          ac, consectetur adipiscing elit. Fusce iaculis ante ac diam.
        </li>
      </ul>
      <p>Quidem magnam ad architecto quod modi explicabo reiciendis omnis perferendis.</p>
    </kirby-card>
  </div>
</section>
