<button kirby-button (click)="showAlert()">Show alert</button>
<button kirby-button (click)="showAlertWithIcon()">Show alert with icon</button>
<button kirby-button (click)="showAlertWithoutCancel()">Show alert without cancel</button>
<button kirby-button (click)="showDestructiveAlert()" class="destructive">
  Show destructive alert
</button>
<button kirby-button (click)="showAlertWithNewline()">Show alert with newline</button>
<button kirby-button (click)="showAlertWithDynamicValues()">Show alert with dynamic values</button>
