<ion-item-options *ngIf="swipeActionsStart && swipeActionsStart.length > 0" side="start" (ionSwipe)="onActionSwipeLtR()">
  <ng-container *ngTemplateOutlet="swipeAction; context: {swipeActions: swipeActionsStart}"></ng-container>
</ion-item-options>

<ion-item-options  *ngIf="swipeActionsEnd && swipeActionsEnd.length > 0" side="end" (ionSwipe)="onActionSwipeRtL()">
  <ng-container *ngTemplateOutlet="swipeAction; context: {swipeActions: swipeActionsEnd}"></ng-container>
</ion-item-options>

<ng-template #swipeAction let-swipeActions="swipeActions">
  <div class="swipe-action">
    <ion-item-option
        *ngFor="let swipeAction of swipeActions" 
        [ngClass]="swipeAction.themeColor" 
        (click)="selectSwipeAction(swipeAction.onSelected)" 
        expandable>
      <div class="item-content">
        <kirby-icon 
          *ngIf="swipeAction.iconName" 
          [name]="item[swipeAction.swipeActionFlag] && swipeAction.altIconName ? swipeAction.altIconName : swipeAction.iconName">
        </kirby-icon>
        <ion-label>{{ item[swipeAction.swipeActionFlag] && swipeAction.altTitle ? swipeAction.altTitle : swipeAction.title }}</ion-label>
      </div>
    </ion-item-option>
  </div>
</ng-template>
