// Core example
$columns: 12;
$desktop-min-width: 1025px;
$gap: 24px;
$tablet-min-width: 721px;

// Core example
.grid-container {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap;
}

// Core example
.grid-item {
  grid-column: span $columns;
}

// Core example
@media screen and (min-width: $tablet-min-width) {
  .half\@tablet-up {
    grid-column: span ($columns / 2);
  }
}

// Core example
@media screen and (min-width: $desktop-min-width) {
  .half\@desktop-up {
    grid-column: span ($columns / 2);
  }

  .third\@desktop-up {
    grid-column: span ($columns / 3);
  }
}

// Context
main {
  background-color: var(--kirby-background-color);
  min-height: 100%;
}
