<main>
  <!-- Example: Single grid container -->
  <p class="example-title">Example: Single grid container</p>
  <div class="grid-container">
    <div class="grid-item">
      <h1>Example Content 1</h1>
    </div>
    <div class="grid-item half@tablet-up">
      <h2>Heading</h2>
      <kirby-card hasPadding="true">
        1
      </kirby-card>
    </div>
    <div class="grid-item half@tablet-up">
      <h2>Heading</h2>
      <kirby-card hasPadding="true">
        2
      </kirby-card>
    </div>
    <div class="grid-item half@tablet-up">
      <h2>Heading</h2>
      <kirby-card hasPadding="true">
        3
      </kirby-card>
    </div>
    <div class="grid-item half@tablet-up">
      <h2>Heading</h2>
      <kirby-card hasPadding="true">
        4
      </kirby-card>
    </div>
    <div class="grid-item">
      <button kirby-button size="lg">Add</button>
      <p class="align-center">
        Strategy bonds IRA lucrative Fitch rates bondholders securities fiat public managed 401k
        risk market index.
      </p>
    </div>
    <div class="grid-item">
      <h1>Example Content 2</h1>
      <p>
        Strategy bonds IRA lucrative Fitch rates bondholders securities fiat public managed 401k
        risk market index.
      </p>
    </div>
    <div class="grid-item half@tablet-up third@desktop-up">
      <kirby-card hasPadding="true">
        <h2>Heading</h2>
        <p>
          Fluctuate interest rates Dow Jones receive rise government term municipal market Nikkei
          passively return performance. Public finance holder fiat established bonds hedge fund
          benchmark.
        </p>
      </kirby-card>
    </div>
    <div class="grid-item half@tablet-up third@desktop-up">
      <kirby-card hasPadding="true">
        <h2>Heading</h2>
        <p>
          Fluctuate interest rates Dow Jones receive rise government term municipal market Nikkei
          passively return performance. Public finance holder fiat established bonds hedge fund
          benchmark.
        </p>
      </kirby-card>
    </div>
    <div class="grid-item half@tablet-up third@desktop-up">
      <kirby-card hasPadding="true">
        <h2>Heading</h2>
        <p>
          Fluctuate interest rates Dow Jones receive rise government term municipal market Nikkei
          passively return performance. Public finance holder fiat established bonds hedge fund
          benchmark.
        </p>
      </kirby-card>
    </div>
  </div>
  <!-- Example: Multiple grid containers -->
  <div>
    <p class="example-title">Example: Multiple grid containers</p>
    <h1>Example Content 3</h1>
    <div class="grid-container">
      <div class="grid-item half@tablet-up">
        <h2>Heading</h2>
        <kirby-card hasPadding="true">
          1
        </kirby-card>
      </div>
      <div class="grid-item half@tablet-up">
        <h2>Heading</h2>
        <kirby-card hasPadding="true">
          2
        </kirby-card>
      </div>
      <div class="grid-item half@tablet-up">
        <h2>Heading</h2>
        <kirby-card hasPadding="true">
          3
        </kirby-card>
      </div>
      <div class="grid-item half@tablet-up">
        <h2>Heading</h2>
        <kirby-card hasPadding="true">
          4
        </kirby-card>
      </div>
    </div>
    <button kirby-button size="lg">Add</button>
    <p class="align-center"></p>
    <h1>Example Content 4</h1>
    <p>
      Government substantially taxpayer market exposure index funds. Fitch municipal bonds managed.
    </p>
    <div class="grid-container">
      <div class="grid-item half@tablet-up third@desktop-up">
        <kirby-card hasPadding="true">
          <h2>Heading</h2>
          <p>
            Fluctuate interest rates Dow Jones receive rise government term municipal market Nikkei
            passively return performance. Public finance holder fiat established bonds hedge fund
            benchmark.
          </p>
        </kirby-card>
      </div>
      <div class="grid-item half@tablet-up third@desktop-up">
        <kirby-card hasPadding="true">
          <h2>Heading</h2>
          <p>
            Fluctuate interest rates Dow Jones receive rise government term municipal market Nikkei
            passively return performance. Public finance holder fiat established bonds hedge fund
            benchmark.
          </p>
        </kirby-card>
      </div>
      <div class="grid-item half@tablet-up third@desktop-up">
        <kirby-card hasPadding="true">
          <h2>Heading</h2>
          <p>
            Fluctuate interest rates Dow Jones receive rise government term municipal market Nikkei
            passively return performance. Public finance holder fiat established bonds hedge fund
            benchmark.
          </p>
        </kirby-card>
      </div>
    </div>
  </div>
</main>
