<main class="debug">
  <section>
    <h1>Værdier i alt</h1>
    <div class="grid-container">
      <div class="grid-item half@tablet-up">
        <article>
          <h2>Bolig</h2>
          <kirby-card hasPadding="true">
            1
          </kirby-card>
        </article>
      </div>
      <div class="grid-item half@tablet-up">
        <article>
          <h2>Konti</h2>
          <kirby-card hasPadding="true">
            2
          </kirby-card>
        </article>
      </div>
      <div class="grid-item half@tablet-up">
        <article>
          <h2>Pension</h2>
          <kirby-card hasPadding="true">
            3
          </kirby-card>
        </article>
      </div>
      <div class="grid-item half@tablet-up">
        <article>
          <h2>Investering</h2>
          <kirby-card hasPadding="true">
            4
          </kirby-card>
        </article>
      </div>
    </div>
  </section>

  <button kirby-button size="lg">Tilføj</button>
  <p class="align-center">Tilføj gæld og formue fra andre banker m.m.</p>

  <section>
    <h1>Anbefalinger</h1>
    <p>
      Du har 3 nye anbefalinger til at forbedre din økonomi. Kontakt din rådgiver for at høre mere.
    </p>
    <div class="grid-container">
      <div class="grid-item half@tablet-up third@desktop-up">
        <article>
          <kirby-card hasPadding="true">
            <h2>Få mere ud af din opsparing</h2>
            <p>
              Fluctuate interest rates Dow Jones receive rise government term municipal market
              Nikkei passively return performance. Public finance holder fiat established bonds
              hedge fund benchmark.
            </p>
          </kirby-card>
        </article>
      </div>
      <div class="grid-item half@tablet-up third@desktop-up">
        <article>
          <kirby-card hasPadding="true">
            <h2>Udnyt friværdi i din bolig</h2>
            <p>
              Fluctuate interest rates Dow Jones receive rise government term municipal market
              Nikkei passively return performance. Public finance holder fiat established bonds
              hedge fund benchmark.
            </p>
          </kirby-card>
        </article>
      </div>
      <div class="grid-item half@tablet-up third@desktop-up">
        <article>
          <kirby-card hasPadding="true">
            <h2>Forøg din formue</h2>
            <p>
              Fluctuate interest rates Dow Jones receive rise government term municipal market
              Nikkei passively return performance. Public finance holder fiat established bonds
              hedge fund benchmark.
            </p>
          </kirby-card>
        </article>
      </div>
    </div>
  </section>
</main>
