<header>
    <div class="block-container">
        <div class="block block--large"></div>
        <div class="block block--medium"></div>
        <div class="block block--small"></div>
        <div class="title">Kirby_</div>
    </div>
    <nav>
        <ul class="header-nav">
            <li class="header-nav__item" *ngFor="let item of items">
                <a href="javascript:void(0)" class="header-nav__item-link" [routerLink]="[item.path]"
                   routerLinkActive="is-selected" [ngClass]="{'is-selected': item.selected}">{{item.name}}</a>
            </li>
        </ul>
    </nav>
</header>
