@import '../../../scss/web-imports';

.primary {
  font-size: font-size('n');
  font-weight: font-weight('light');
}

:not(.primary) {
  font-size: font-size('xs');
  font-weight: font-weight('light');
}