<kirby-page title="Form Field">
  <kirby-page-content>
    <cookbook-form-field-example-configuration
      [(size)]="size"
    ></cookbook-form-field-example-configuration>
    <h2>Input</h2>
    <cookbook-form-field-input-example [size]="size"></cookbook-form-field-input-example>
    <cookbook-form-field-input-color-example></cookbook-form-field-input-color-example>
    <cookbook-form-field-input-label-example
      [size]="size"
    ></cookbook-form-field-input-label-example>
    <cookbook-form-field-input-label-message-example
      [size]="size"
    ></cookbook-form-field-input-label-message-example>
    <cookbook-form-field-input-affix-example
      [size]="size"
    ></cookbook-form-field-input-affix-example>
    <cookbook-form-field-input-counter-example
      [size]="size"
    ></cookbook-form-field-input-counter-example>
    <cookbook-form-field-input-numeric-example
      [size]="size"
    ></cookbook-form-field-input-numeric-example>
    <cookbook-form-field-input-date-example [size]="size"></cookbook-form-field-input-date-example>
    <cookbook-form-field-input-date-native-example
      [size]="size"
    ></cookbook-form-field-input-date-native-example>
    <cookbook-form-field-input-disabled-example
      [size]="size"
    ></cookbook-form-field-input-disabled-example>
    <cookbook-form-field-input-error-example
      [size]="size"
    ></cookbook-form-field-input-error-example>
    <cookbook-form-field-input-borderless-example
      [size]="size"
    ></cookbook-form-field-input-borderless-example>
    <cookbook-form-field-focus-example [size]="size"></cookbook-form-field-focus-example>

    <h2>Textarea</h2>
    <cookbook-form-field-textarea-example></cookbook-form-field-textarea-example>
    <cookbook-form-field-textarea-label-example></cookbook-form-field-textarea-label-example>
    <cookbook-form-field-textarea-counter-example></cookbook-form-field-textarea-counter-example>

    <cookbook-example-configuration-wrapper configAppearance="toggle">
      <kirby-checkbox
        [checked]="showDummyKeyboard"
        (checkedChange)="toggleDummyKeyboard($event)"
        text="Show dummy keyboard"
        size="xs"
      ></kirby-checkbox>
    </cookbook-example-configuration-wrapper>
  </kirby-page-content>
</kirby-page>
