@import './libs/designsystem/src/lib/scss/utils';

kirby-page-content > * {
  display: block;
}

kirby-page-content > * + * {
  margin-top: size('m');
}

kirby-checkbox {
  padding-right: size('xxxs');
}
