<div class="app">
  <div column="tertiary" class="kirby-color-brightness-dark">
    <div style="background-color: #005b67">
      <kirby-form-field>
        <input kirby-input placeholder="Djurslands Bank" />
      </kirby-form-field>
    </div>
    <div style="background-color: #01352c">
      <kirby-form-field>
        <input kirby-input placeholder="Jyske Bank" />
      </kirby-form-field>
    </div>
    <div style="background-color: #1a4341">
      <kirby-form-field>
        <input kirby-input placeholder="Kreditbanken" />
      </kirby-form-field>
    </div>
    <div style="background-color: #2c872d">
      <kirby-form-field>
        <input kirby-input placeholder="Landbobanken" />
      </kirby-form-field>
    </div>
    <div style="background-color: #064060">
      <kirby-form-field>
        <input kirby-input placeholder="Nordfyns Bank" />
      </kirby-form-field>
    </div>
    <div style="background-color: #353535">
      <kirby-form-field>
        <input kirby-input placeholder="Skjern Bank" />
      </kirby-form-field>
    </div>
    <div style="background-color: #00594e">
      <kirby-form-field>
        <input kirby-input placeholder="Spks. Sjælland" />
      </kirby-form-field>
    </div>
    <div style="background-color: #002c5b">
      <kirby-form-field>
        <input kirby-input placeholder="Sydbank" />
      </kirby-form-field>
    </div>
  </div>

  <div column="greyscale">
    <div dark-bg class="kirby-color-brightness-dark">
      <kirby-form-field>
        <input kirby-input placeholder="Default input with placeholder text" />
      </kirby-form-field>
    </div>

    <div light-bg class="kirby-color-brightness-light">
      <kirby-form-field>
        <input kirby-input placeholder="Default input with placeholder text" />
      </kirby-form-field>
    </div>

    <div white-bg class="kirby-color-brightness-white">
      <kirby-form-field>
        <input kirby-input placeholder="Default input with placeholder text" />
      </kirby-form-field>
    </div>
  </div>
</div>
