@import '../../scss/native-imports';

Button[kirby-button] {
  color: get-color('kirby-primary-contrast');
  background-color: get-color('kirby-primary');
  border-color: get-color('kirby-primary');
  border-radius: 100;
  border-width: 1;
  margin: 10 10;
  padding: 12 20;
  
  &[colortype='secondary'] {
    color: get-color('kirby-contrast-dark');
    background-color: get-color('kirby-contrast-light');
    border-color: get-color('kirby-contrast-light');
  }
  
  &[shape='square'] {
    border-radius: 5;
  }

  &[isEnabled=false] {
    background-color: get-color('kirby-grey-3');
    border-color: get-color('kirby-grey-3');
  }

}