@import '../../scss/web-imports';

:host {
  --kirby-button-border-radius: 2rem;
  background-color: get-color('kirby-primary');
  border-radius: var(--kirby-button-border-radius);
  border: 1px solid get-color('kirby-primary');
  color: get-color('kirby-primary-contrast');
  cursor: pointer;
  transition: opacity 200ms linear;
  
  // we default to 'md' size.
  margin: size('xxs');
  padding: size('xs') size('m') size('xs') size('m');
  font-size: font-size('s');
  height: size('xl');
  line-height: line-height('xs');

  &.sm {
    padding: size('xxs') size('s') size('xxs') size('s');
    font-size: font-size('xs');
    height: size('l');
  }

  &.lg {
    font-size: font-size('s');
    height: size('xxl');
  }

  &[expand='block'] {
    display: inline-block;
    width: 100%;
  }

  &[colortype='primary'] {
    background-color: get-color('kirby-primary');
    border-color: get-color('kirby-primary');
    color: get-color('kirby-primary-contrast');
  }

  &[colortype='secondary'] {
    background-color: get-color('kirby-contrast-light');
    border-color: get-color('kirby-contrast-light');
    color: get-color('kirby-contrast-dark');
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:disabled {
    background-color: var(--kirby-light-tint);
    border-color: var(--kirby-light-tint);
    pointer-events: none;
  }

}
