@import '../../scss/web-imports';

:host {
  --kirby-button-background-color: transparent;
  --kirby-button-border-color: transparent;
  --kirby-button-border-radius: 2rem;
  background-color: var(--kirby-button-background-color);
  border-radius: var(--kirby-button-border-radius);
  border: 1px solid var(--kirby-button-border-color);
  color: var(--kirby-button-color);
  cursor: pointer;
  transition: opacity 200ms linear;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  // we default to 'md' size.
  margin: size('xxxs');
  padding: size('xxs') size('m') size('xxs') size('m');
  font-size: font-size('s');
  height: size('xl');
  line-height: line-height('xs');

  &.icon-left {
    flex-direction: row-reverse;
  }

  &.sm {
    padding: size('xxxs') size('s') size('xxxs') size('s');
    font-size: font-size('xs');
    height: size('l');
  }

  &.lg {
    font-size: font-size('s');
    height: size('xxl');
    min-width: 220px;
  }

  &.attention-level1 {
    --kirby-button-background-color:#{get-color('primary')};
    --kirby-button-border-color: #{get-color('primary')};
    --kirby-button-color: #{get-color('primary-contrast')};
  
    &.destructive {
      --kirby-button-background-color:#{get-color('danger')};
      --kirby-button-border-color: #{get-color('danger')};
      --kirby-button-color: #{get-color('danger-contrast')};
    }
  }

  &.attention-level2 {
    --kirby-button-background-color:#{get-color('white')};
    --kirby-button-border-color: #{get-color('white')};
    --kirby-button-color: #{get-color('white-contrast')};

    &.destructive {
      --kirby-button-background-color:#{get-color('light')};
      --kirby-button-border-color: #{get-color('light')};
      --kirby-button-color: #{get-color('danger')};
    }
  }

  &.attention-level3 {
    --kirby-button-border-color: #{get-color('medium')};
    --kirby-button-color: #{get-color('medium-contrast')};

    &.destructive {
      --kirby-button-border-color: #{get-color('medium')};
      --kirby-button-color: #{get-color('danger')};
    }
  }

  &.attention-level4 {
    --kirby-button-color: #{get-color('primary-contrast')};

    &.destructive {
      --kirby-button-color: #{get-color('danger')};
    }
  }

  &[expand='block'] {
    width: 100%;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:disabled {
    background-color: get-color('light-tint');
    border-color: get-color('light-tint');
    pointer-events: none;
  }

  :host-context(.default),
  :host-context(.kirby-color-brightness-white) {
    &.attention-level2 {
      --kirby-button-background-color: #{get-color('light')};
      --kirby-button-border-color: #{get-color('light')};
      --kirby-button-color: #{get-color('light-contrast')};
    }
  }

  :host-context(.kirby-color-brightness-dark) {
    &.attention-level3 {
      --kirby-button-border-color: #{get-color('white')};
      --kirby-button-color: #{get-color('white')};
    }
    &.attention-level4 {
      --kirby-button-color: #{get-color('white')};
    }
  }
}
