Button.round {
    border-radius: 100%;
}

Button {
    border-color: lightskyblue;
    border-width: 1;
    border-radius: 5;
    // padding: 0.7em 0.75em;
    background-color: white;
    color: lightskyblue;
    margin: 10 10;
}
