@import '../../scss/web-imports';

:host {
  @mixin background-color($color) {
    --kirby-button-background-color:#{get-color($color)};
  }

  @mixin border-color($color) {
      --kirby-button-border-color: #{get-color($color)};
  }

  @mixin text-color($color) {
      --kirby-button-color: #{get-color($color)};
  }

  :host-context(.primary).attention-level1,
  :host-context(.secondary).attention-level1,
  :host-context(.tertiary).attention-level1,
  :host-context(.success).attention-level1,
  :host-context(.warning).attention-level1,
  :host-context(.danger).attention-level1 {
    @include background-color('base-color');
    @include border-color('base-color');
    @include text-color('contrast-dark');
  }

  :host-context(.white).attention-level2 {
    @include background-color('light');
    @include border-color('light');
    @include text-color('light-contrast');
  }

  :host-context(.black).attention-level3,
  :host-context(.semi-dark).attention-level3,
  :host-context(.dark).attention-level3,
  :host-context(.secondary).attention-level3,
  :host-context(.tertiary).attention-level3 {
    @include border-color('base-color');
    @include text-color('base-color');
  }

  :host-context(.semi-light).attention-level3,
  :host-context(.medium).attention-level3,
  :host-context(.success).attention-level3,
  :host-context(.warning).attention-level3,
  :host-context(.danger).attention-level3,
  :host-context(.primary).attention-level3 {
    @include border-color('contrast-dark');
    @include text-color('contrast-dark');
  }

  :host-context(.black).attention-level4,
  :host-context(.semi-dark).attention-level4,
  :host-context(.dark).attention-level4,
  :host-context(.secondary).attention-level4,
  :host-context(.tertiary).attention-level4 {
    @include text-color('base-color');
  }

  --kirby-button-background-color: transparent;
  --kirby-button-border-color: transparent;
  --kirby-button-border-radius: 2rem;
  background-color: var(--kirby-button-background-color);
  border-radius: var(--kirby-button-border-radius);
  border: 1px solid var(--kirby-button-border-color);
  color: var(--kirby-button-color);
  cursor: pointer;
  transition: opacity 200ms linear;
  
  // we default to 'md' size.
  margin: size('xxs');
  padding: size('xs') size('m') size('xs') size('m');
  font-size: font-size('s');
  height: size('xl');
  line-height: line-height('xs');

  &.sm {
    padding: size('xxs') size('s') size('xxs') size('s');
    font-size: font-size('xs');
    height: size('l');
  }

  &.lg {
    font-size: font-size('s');
    height: size('xxl');
  }

  &.attention-level1 {
    @include background-color('primary');
    @include border-color('primary');
    @include text-color('primary-contrast');
      
    &.destructive {
      @include background-color('danger');
      @include border-color('danger');
      @include text-color('danger-contrast');
    }
  }

  &.attention-level2 {
    @include background-color('base-color');
    @include border-color('base-color');
    @include text-color('contrast-dark');

    &.destructive {
      @include background-color('light');
      @include border-color('light');
      @include text-color('danger');
    }
  }

  &.attention-level3 {
    @include border-color('medium');
    @include text-color('medium-contrast');

    &.destructive {
      @include border-color('medium');
      @include text-color('danger');
    }
  }

  &.attention-level4 {
    @include text-color('primary-contrast');

    &.destructive {
      @include text-color('danger');
    }
  }

  &[expand='block'] {
    display: block;
    width: 100%;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:disabled {
    background-color: var(--kirby-light-tint);
    border-color: var(--kirby-light-tint);
    pointer-events: none;
  }
}
