@import '../../scss/web-imports';

:host {
  margin: 0.25em 0.25em;
  --kirby-button-border-radius: 2rem;
  background-color: get-color('kirby-primary');
  border-radius: var(--kirby-button-border-radius);
  border: 1px solid get-color('kirby-primary');
  color: get-color('kirby-primary-contrast');
  cursor: pointer;
  font-size: font-size('n');
  padding: 0.7rem 1.75rem;
  transition: opacity 200ms linear;

  &[expand='block'] {
    display: block;
    width: 100%;
  }

  &[shape='square'] {
    --kirby-button-border-radius: 0.2rem;
  }

  &[colortype='primary'] {
    background-color: get-color('kirby-primary');
    border-color: get-color('kirby-primary');
    color: get-color('kirby-primary-contrast');
  }

  &[colortype='secondary'] {
    background-color: get-color('kirby-contrast-light');
    border-color: get-color('kirby-contrast-light');
    color: get-color('kirby-contrast-dark');
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:disabled {
    background-color: get-color('kirby-grey-3');
    border-color: get-color('kirby-grey-3');
    pointer-events: none;
  }

}
