@import '../../scss/utils';

:host {
  --kirby-button-background-color: transparent;
  --kirby-button-border-color: transparent;
  --kirby-button-border-radius: 2rem;
  --kirby-button-padding-left: #{size('m')};
  --kirby-button-padding-right: #{size('m')};
  font-family: var(--kirby-font-family);
  background-color: var(--kirby-button-background-color);
  border-radius: var(--kirby-button-border-radius);
  border: 1px solid var(--kirby-button-border-color);
  color: var(--kirby-button-color);
  cursor: pointer;
  transition: opacity 200ms linear;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  box-sizing: border-box;
  white-space: nowrap;

  // we default to 'md' size.
  margin: size('xxxs');
  padding: size('xxs') var(--kirby-button-padding-right) size('xxs')
    var(--kirby-button-padding-left);
  font-size: font-size('s');
  height: size('xl');
  line-height: line-height('xs');

  &.icon-left {
    --kirby-icon-margin-right: #{size('xxs')};
    --kirby-button-padding-left: #{size('xs')};
    --kirby-button-padding-right: #{size('s')};
  }

  &.icon-right {
    --kirby-icon-margin-left: #{size('xxs')};
    --kirby-button-padding-left: #{size('s')};
    --kirby-button-padding-right: #{size('xs')};
  }

  &.icon-only {
    width: size('xl');
  }

  &.sm {
    padding: size('xxxs') size('s') size('xxxs') size('s');
    font-size: font-size('xs');
    height: size('l');

    &.icon-only {
      width: size('l');
    }
  }

  &.lg {
    font-size: font-size('n');
    height: size('xxl');
    min-width: 220px;

    &.icon-only {
      width: size('xxl');
    }
  }

  &.attention-level1 {
    --kirby-button-background-color: #{get-color('primary')};
    --kirby-button-border-color: #{get-color('primary')};
    --kirby-button-color: #{get-color('primary-contrast')};

    &.destructive {
      --kirby-button-background-color: #{get-color('danger')};
      --kirby-button-border-color: #{get-color('danger')};
      --kirby-button-color: #{get-color('danger-contrast')};
    }
  }

  &.attention-level2 {
    --kirby-button-background-color: #{get-color('white')};
    --kirby-button-border-color: #{get-color('white')};
    --kirby-button-color: #{get-color('white-contrast')};

    &.destructive {
      --kirby-button-background-color: #{get-color('light')};
      --kirby-button-border-color: #{get-color('light')};
      --kirby-button-color: #{get-color('danger')};
    }
  }

  &.attention-level3 {
    --kirby-button-border-color: #{get-color('medium')};
    --kirby-button-color: #{get-color('medium-contrast')};

    &.destructive {
      --kirby-button-border-color: #{get-color('medium')};
      --kirby-button-color: #{get-color('danger')};
    }
  }

  &.attention-level4 {
    --kirby-button-color: #{get-color('primary-contrast')};

    &.destructive {
      --kirby-button-color: #{get-color('danger')};
    }
  }

  &[expand='block'] {
    width: 100%;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:disabled {
    background-color: get-color('light-tint');
    border-color: get-color('light-tint');
    pointer-events: none;
    --kirby-button-color: #{get-color('semi-dark-shade')};
  }

  :host-context(.default),
  :host-context(.kirby-color-brightness-white) {
    &.attention-level2 {
      --kirby-button-background-color: #{get-color('black')};
      --kirby-button-border-color: #{get-color('black')};
      --kirby-button-color: #{get-color('black-contrast')};
    }
  }

  :host-context(.kirby-color-brightness-dark) {
    &.attention-level3 {
      --kirby-button-border-color: #{get-color('white')};
      --kirby-button-color: #{get-color('white')};
    }
    &.attention-level4 {
      --kirby-button-color: #{get-color('white')};
    }
  }

  &.floating {
    $fab-size: 64px;
    width: $fab-size !important;
    height: $fab-size !important;
    min-width: unset;

    &:not(:disabled) {
      box-shadow: get-elevation(8);
    }
  }

  &.icon-only {
    padding: 0;
    min-width: unset;
  }
}
