@import '../../scss/web-imports';

:host {
  --kirby-button-background-color: transparent;
  --kirby-button-border-color: transparent;
  --kirby-button-border-radius: 2rem;
  background-color: var(--kirby-button-background-color);
  border-radius: var(--kirby-button-border-radius);
  border: 1px solid var(--kirby-button-border-color);
  color: var(--kirby-button-color);
  cursor: pointer;
  transition: opacity 200ms linear;
  
  // we default to 'md' size.
  margin: size('xxs');
  padding: size('xs') size('m') size('xs') size('m');
  font-size: font-size('s');
  height: size('xl');
  line-height: line-height('xs');

  &.sm {
    padding: size('xxs') size('s') size('xxs') size('s');
    font-size: font-size('xs');
    height: size('l');
  }

  &.lg {
    font-size: font-size('s');
    height: size('xxl');
  }

  &.attention-level1 {
    --kirby-button-background-color:#{get-color('primary')};
    --kirby-button-border-color: #{get-color('primary')};
    --kirby-button-color: #{get-color('primary-contrast')};
  
    &.destructive {
      --kirby-button-background-color:#{get-color('danger')};
      --kirby-button-border-color: #{get-color('danger')};
      --kirby-button-color: #{get-color('danger-contrast')};
    }
  }

  &.attention-level2 {
    --kirby-button-background-color:#{get-color('white')};
    --kirby-button-border-color: #{get-color('white')};
    --kirby-button-color: #{get-color('black')};

    &.destructive {
      --kirby-button-background-color:#{get-color('light')};
      --kirby-button-border-color: #{get-color('light')};
      --kirby-button-color: #{get-color('danger')};
    }
  }

  &.attention-level3 {
    --kirby-button-border-color: #{get-color('medium')};
    --kirby-button-color: #{get-color('medium-contrast')};

    &.destructive {
      --kirby-button-border-color: #{get-color('medium')};
      --kirby-button-color: #{get-color('danger')};
    }
  }

  &.attention-level4 {
    --kirby-button-color: #{get-color('primary-contrast')};

    &.destructive {
      --kirby-button-color: #{get-color('danger')};
    }
  }

  &[expand='block'] {
    display: block;
    width: 100%;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:disabled {
    background-color: get-color('light-tint');
    border-color: get-color('light-tint');
    pointer-events: none;
  }

  :host-context(.default).attention-level2 {
    --kirby-button-border-color: #{get-color('light')};
    --kirby-button-background-color: #{get-color('light')};
    --kirby-button-color: #{get-color('light-contrast')};
  }
  
  :host-context(.primary).attention-level1,
  :host-context(.secondary).attention-level1,
  :host-context(.tertiary).attention-level1,
  :host-context(.success).attention-level1,
  :host-context(.warning).attention-level1,
  :host-context(.danger).attention-level1 {
    --kirby-button-background-color: #{get-color('white')};
    --kirby-button-border-color: #{get-color('white')};
    --kirby-button-color: #{get-color('black')};
  }
  
  :host-context(.secondary).attention-level3,
  :host-context(.tertiary).attention-level3,
  :host-context(.dark).attention-level3 {
    --kirby-button-border-color: #{get-color('white')};
    --kirby-button-color: #{get-color('white')};
  }
  
  :host-context(.primary).attention-level3,
  :host-context(.success).attention-level3,
  :host-context(.warning).attention-level3,
  :host-context(.danger).attention-level3,
  :host-context(.medium).attention-level3 {
    --kirby-button-border-color: #{get-color('black')};
    --kirby-button-color: #{get-color('black')};
  }
  
  :host-context(.secondary).attention-level4,
  :host-context(.tertiary).attention-level4,
  :host-context(.dark).attention-level4 {
    --kirby-button-color: #{get-color('white')};
  }
}
