<p>
  <kirby-button theme="dark" label="Open dark modal" (click)="openDarkModal()"></kirby-button>
</p>
<p>
  <kirby-button theme="cookbook" label="Open light modal" (click)="openLightModal()"></kirby-button>
</p> 

<kirby-modal theme="dark" (closingModal)='closeDarkModal()' [isOpen]='isDarkModalOpen' size="large">
  <div header>MODAL HEADER</div>
  <div>MODAL CONTENT
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, cupiditate architecto. Possimus, tenetur, eos consectetur quibusdam repellendus dolores autem molestias omnis doloremque, hic ipsa quisquam molestiae? Molestiae rem excepturi minus.</p>
    <kirby-button colortype="secondary" label="A button" shape="round"></kirby-button>
  </div>
  <div footer>
    FOOTER CONTENT
  </div>
</kirby-modal>

<kirby-modal theme="cookbook" (closingModal)='closeLightModal()' [isOpen]='isLightModalOpen' size="small">
  <div header>MODAL HEADER</div>
  <div>MODAL CONTENT
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, cupiditate architecto. Possimus, tenetur, eos consectetur quibusdam repellendus dolores autem molestias omnis doloremque, hic ipsa quisquam molestiae? Molestiae rem excepturi minus.</p>
    <kirby-button colortype="primary" label="A button" shape="round"></kirby-button>
  </div>
  <div footer>
    FOOTER CONTENT
  </div>
</kirby-modal>