<!--
    // --- Inside the parent(caller) component ---
    // To show the modal, create a ModalConfig and pass it to the ModalService.showModal:
    const config: ModalConfig = {
      title: 'Your Modal Title',
      titleHorizontalAlignment: 'center',
      component: YourEmbeddedModalComponent,
    };
    this.modalService.showModal(config, this.vcRef);

    // (Optional) if you need to obtain data back from the modal, you can pass a callback function:
    this.modalService.showModal(config, this.vcRef, myCallback);
    
    // where myCallback can be e.g.:
    myCallback(dataReturnedByModal: any)
      ...
    }


    // --- Inside the nested component ---
    //To create a nested component, ensure:
    // 1) the nested component must be declared (module file, or inside your @Component decorator)
    // 2) the nested component must be listed in your entryComponents (module file) 
    // 3) (Optional) the nested component can inject ModalUidProvider
    //    which allows you to obtain an uid for your modal and use it to 
    //    close the modal from within your nested component
    //    Note that you cannot close the modal without the uid.

    // In order to close a modal from within your nested component, you can then use:
    constructor(private modalService: ModalService, private modalUidProvider: ModalUidProvider) {}
    this.modalService.hideModal(this.modalUidProvider.uid);

    // (Optional) You can pass data as a 2nd parameter, which will be available in your callback  
    let anyReturnData = ...;
    this.modalService.hideModal(this.uid, anyReturnData);
    
    // It is possible to nest more modals from within your nested components, 
    // by using the same services and principles as above
-->

<button kirby-button (click)="openModal()">Open modal</button>