@import '../../../kirby/scss/utils';

a {
  display: block;
  color: get-color('black');
  text-decoration: none;

  &:hover {
    color: get-color('primary');
  }
}

.note {
  color: get-color('danger');
}
