<table class="api-description">
  <thead>
    @if (columns.name) {
      <th>{{ columns.name }}</th>
    }
    @if (columns.description) {
      <th>{{ columns.description }}</th>
    }
    @if (columns.type) {
      <th>{{ columns.type }}</th>
    }
    @if (columns.default) {
      <th>{{ columns.default }}</th>
    }
  </thead>
  <tbody>
    @for (prop of properties; track prop.name) {
      <tr>
        @if (columns.name) {
          <td class="property-name">
            <code>{{ prop.name }}</code>
          </td>
        }
        @if (columns.description) {
          <td class="description">{{ prop.description }}</td>
        }
        @if (columns.type) {
          <td>
            @if (!prop.preserveTypeWhitespaces && prop.type) {
              <code>{{ prop.type.join(' | ') }}</code>
            }
            @if (prop.preserveTypeWhitespaces && prop.type) {
              <pre><code>{{  prop.type.join(' | ') }}</code></pre>
            }
          </td>
        }
        @if (columns.default) {
          <td>
            @if (prop.defaultValue) {
              <code>{{ prop.defaultValue }}</code>
            }
          </td>
        }
      </tr>
    }
  </tbody>
</table>
