@import '../../scss/utils';

:host {
  ion-tabs ion-tab-bar {
    --background: #{get-color('background-color')};
    --border: none;
    --color: #{get-color('black')};

    @include media(">=large") {
      order: -1;
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;
      justify-content: flex-end;
    }
  }
}
