@import '../../../scss/utils';

:host {
  height: 100%;
  flex: 1 1 0%;
  max-width: 168px;

  @include media(">=large") {
    flex: none;
    padding: 0 size('xs');
  }
}

.tab-button {
  --kirby-badge-position: absolute;
  --kirby-badge-left: calc(50% + 5px);
  --kirby-badge-top: 0;

  font-size: font-size('xxs');

  @include media(">=large") {
    font-size: font-size('s');
    flex-direction: row;

    --kirby-badge-top: -5px;
    --kirby-badge-left: auto;
    --kirby-badge-right: -5px;

    .icon-container {
      position: relative;
      margin-right: size('xxs');
    }
  }
}

