<ion-tab-button class="tab-button" [tab]="routerLink">
    <div class="icon-container" *ngIf="icon">
        <kirby-icon [name]="tabButton.selected ? icon?.default : icon?.outlined"
                    [customName]="tabButton.selected ? customIcon?.default : customIcon?.outlined">
        </kirby-icon>
        <ng-content select="kirby-badge"></ng-content>
    </div>
    <ion-label><ng-content></ng-content></ion-label>
</ion-tab-button>

<ng-template>
  <!-- This is used to avoid the kirby-icon, inside ng-content without select -->
  <ng-content select="kirby-icon"></ng-content>
</ng-template>
