.bigboy {
  --kirby-item-background: red;
  --kirby-item-height: 120px;
  height: 120px;
}

::ng-deep .cdk-virtual-scroll-viewport {
  display: block;
  //position: relative;
  overflow: visible;
  contain: none;

  .cdk-virtual-scroll-content-wrapper {
    overflow: auto;
    width: 100%;
  }
}
