body {
}
.item {
  height: 50px;
}

::ng-deep .cdk-virtual-scroll-viewport {
  display: block;
  max-height: 100vh;
  position: relative;
  overflow: visible;
  contain: none;

  .cdk-virtual-scroll-content-wrapper {
    overflow: auto;
    width: 100%;
  }
}
