@import './libs/designsystem/src/lib/scss/utils';

:host {
  background-color: var(--kirby-background-color);
  display: grid;
  grid-template-columns: 15px minmax(0, 1fr) 15px;
  grid-template-rows: 58px minmax(0, 1fr) 140px;
  grid-template-areas:
    '. header .'
    '. main .'
    'footer footer footer';
  gap: 20px;
  min-height: 100vh;

  @include media('>=large') {
    grid-template-columns: minmax(20px, 1fr) 260px minmax(0, 1020px) minmax(20px, 1fr);
    grid-template-rows: 90px minmax(0, 1fr) 140px;
    grid-template-areas:
      '. header header .'
      '. sidebar main .'
      'footer footer footer footer';
    gap: 40px;
  }
}

.main {
  grid-area: main;
}
