@import './libs/designsystem/src/lib/scss/utils';

$page-header-bg: #1c1c1c;
$page-header-color: #f4f1e8;
$page-header-height: 7rem;
$page-gutter: 1rem;
$page-side-nav-width: 16.625rem;

:host {
  background-color: var(--kirby-background-color);
  display: grid;
  grid-template-columns: 20px 260px auto 20px;
  grid-template-rows: 90px auto 100px;
  grid-template-areas:
    '. header header .'
    '. sidebar main .'
    'footer footer footer footer';
  gap: 40px;
  min-height: 100vh;
}

.main {
  grid-area: main;
}
