@use '@kirbydesign/core/src/scss/utils';

/* stylelint-disable declaration-block-no-redundant-longhand-properties */

$header-height-mobile: utils.size('xxxl');
$header-height-desktop: 2 * utils.size('xxl');
$footer-height: 3 * utils.size('xxl');
$sidebar-width: 5 * utils.size('xxl');
$content-max-width: 1020px;
$mobile-gutter: utils.size('s');
$desktop-gutter: minmax(utils.size('m'), 1fr);

:host {
  background-color: yellowgreen;
  display: grid;
  grid-template-columns: $mobile-gutter minmax(0, 1fr) $mobile-gutter;
  grid-template-rows: $header-height-mobile minmax(0, 1fr) $footer-height;
  grid-template-areas:
    '. header .'
    '. main .'
    'footer footer footer';
  gap: utils.size('m');
  min-height: 100vh;

  @include utils.media('>=large') {
    grid-template-columns: $desktop-gutter $sidebar-width minmax(0, $content-max-width) $desktop-gutter;
    grid-template-rows: $header-height-desktop minmax(0, 1fr) $footer-height;
    grid-template-areas:
      '. header header .'
      '. sidebar main .'
      'footer footer footer footer';
    gap: utils.size('xl');
  }
}

.main {
  grid-area: main;
}
