<kirby-page-title>Transfer and pay</kirby-page-title>
<div>
  <input
    class="large-text"
    maxlength="14"
    type="text"
    #input
    [(ngModel)]="currency"
    (input)="onChange()"
  />
  <span class="small-text">Kr.</span>
</div>

<kirby-modal-footer>
  <div class="container-over">
    <div class="grid" (click)="showModalChooseOwnAccount()">
      <p>From</p>
      <p>Accounts</p>
    </div>
    <kirby-divider></kirby-divider>
    <div class="container-under">
      <button kirby-button (click)="showModalChooseReciever()">Choose reciever</button>
    </div>
  </div>
</kirby-modal-footer>
