<kirby-page-title>Transfer and pay</kirby-page-title>

<div class="align-center"><input type="number" /> <span>Kr.</span></div>

<kirby-modal-footer>
  <!-- <div class="container"> -->
  <!-- <div class="grid" (click)="showModalChoose()" >
            <p>Fra</p>
            <p>Accounts</p>
    </div>
     <kirby-divider></kirby-divider> 
    <div>
    <button class="align-center" kirby-button (click)="showModalChoose()">Choose reciever</button> -->
  <!-- </div> -->
  <!-- </div> -->
</kirby-modal-footer>
