.align-center {
  display: flex;
  justify-content: center;
}

.grid {
  display: flex;
  justify-content: space-between;
}

input {
  margin-left: auto;
  margin-right: auto;
  all: unset;
  text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.container {
  width: 90%;
}
