.component-display {
  width: 237px;
}

kirby-card {
  height: 150px;
  width: 237px;
}

kirby-card:hover {
  background-color: var(--kirby-background-color);
}

h3 {
  padding-top: 15px;
}

p {
  color: var(--kirby-black);
}

a {
  text-decoration: none;
}
