
  <p>
    The font sizes can be set by either using the font classes, e.g. <code>kirby-text-large</code>, or by using the
    right tags like <code>H1, H2, H3</code> etc.
  </p>
  <p>Font can also be set with the font-size function directly on your own classes, e.g:</p>
<pre>
  .my-own-class {{'{'}}
    font-size: font-size("xxl");
    ...
  {{'}'}}
</pre>
<div class="fonts">
  <div class="kirby-typography">
    <div class="fonts__display kirby-text-display">Display</div>
    <code class="fonts__pre">font-size: font-size("display);</code>
    <code class="fonts__pre">font-weight: font-weight("normal");</code>
    <code class="fonts__pre fonts__pre--highlight">CLASS: kirby-text-display</code>

    <h1 class="fonts__header-1 kirby-text-xxlarge">Heading 1</h1>
    <code class="fonts__pre">font-size: font-size("xxl);</code>
    <code class="fonts__pre">font-weight: font-weight("normal");</code>
    <code class="fonts__pre fonts__pre--highlight">CLASS: kirby-text-xxlarge</code>

    <h2 class="fonts__header-2 kirby-text-xlarge">Heading 2</h2>
    <code class="fonts__pre">font-size: font-size("xl);</code>
    <code class="fonts__pre">font-weight: font-weight("normal");</code>
    <code class="fonts__pre fonts__pre--highlight">CLASS: kirby-text-xlarge</code>

    <h3 class="fonts__header-3 kirby-text-large">Heading 3</h3>
    <code class="fonts__pre">font-size: font-size("l);</code>
    <code class="fonts__pre">font-weight: font-weight("normal");</code>
    <code class="fonts__pre fonts__pre--highlight">CLASS: kirby-text-large</code>

    <h4 class="fonts__header-4 kirby-text-medium">Heading 4</h4>
    <code class="fonts__pre">font-size: font-size("m);</code>
    <code class="fonts__pre">font-weight: font-weight("medium");</code>
    <code class="fonts__pre fonts__pre--highlight">CLASS: kirby-text-medium</code>

    <p class="fonts__body kirby-text-normal">Body</p>
    <code class="fonts__pre">font-size: font-size("n);</code>
    <code class="fonts__pre">font-weight: font-weight("normal");</code>
    <code class="fonts__pre fonts__pre--highlight">CLASS: kirby-text-normal</code>

    <p class="fonts__body-small kirby-text-small">Body small</p>
    <code class="fonts__pre">font-size: font-size("s);</code>
    <code class="fonts__pre">font-weight: font-weight("normal");</code>
    <code class="fonts__pre fonts__pre--highlight">CLASS: kirby-text-small</code>

    <p class="fonts__body-xsmall kirby-text-xsmall">Body x-small</p>
    <code class="fonts__pre">font-size: font-size("xs);</code>
    <code class="fonts__pre">font-weight: font-weight("normal");</code>
    <code class="fonts__pre fonts__pre--highlight">CLASS: kirby-text-xsmall</code>
  </div>
  <kirby-html-viewer [html]="exampleHtml"></kirby-html-viewer>
</div>