@import '../../../kirby/scss/web-imports';

code {
  background-color: get-color('medium');
  color: get-color('black');
  padding: 0.2rem 0.5rem;
  border-radius: 2px;
  white-space: nowrap;
}

.fonts {
  display: flex;
  flex-wrap: wrap;

  kirby-code-viewer {
    flex: 1;
    flex-basis: 200px;
  }

  code {
    padding: 0.25rem 0 0 0;
    display: block;
    color: get-color('dark');
    background-color: transparent;
  }

  code.highlight {
    color: get-color('black');
    font-weight: font-weight('bold');
  }
}

.sample {
  &-header-1,
  &-header-2,
  &-header-3,
  &-body,
  &-body-small,
  &-body-small-light,
  &-body-xsmall,
  &-body-xxsmall {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &-header-1 {
    &::after {
      content: "(#{font-size("l")})";
    }
  }

  &-header-2 {
    &::after {
      content: "(#{font-size("m")})";
    }
  }

  &-header-3 {
    &::after {
      content: "(#{font-size("n")})";
    }
  }

  &-body {
    &::after {
      content: "(#{font-size("n")})";
    }    
  }

  &-body-small {
    &::after {
      content: "(#{font-size("s")})";
    }    
  }

  &-body-xsmall {
    &::after {
      content: "(#{font-size("xs")})";
    }    
  }

  &-body-xxsmall {
    &::after {
      content: "(#{font-size("xxs")})";
    }    
  }
}

[class^="sample-"]::after {
  color: get-color('danger');
  font-size: font-size("xs");
  margin-left: size("m");
}

.info-box {
  background-color: get-color('white');
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border: 1px solid get-color('medium');
}