@import '../../../kirby/scss/utils';

.grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-gap: size('s');
  @include media('>=medium') {
    grid-template-columns: minmax(0, 60%) minmax(320px, 40%);
  }
  margin-bottom: size('m');
}

.fonts-examples,
.font-sizes {
  border: 1px solid get-color('semi-light');
  background-color: get-color('white');
  border-radius: size('xs');
  padding: size('m');
}

@each $name, $value in $font-sizes {
  .size-#{$name} {
    display: flex;
    &::before {
      content: '#{$name}:';
      margin-left: size('s');
      margin-right: size('s');
      flex-basis: 40px;
      font-weight: font-weight('bold');
    }
    &::after {
      content: '#{$value},';
    }
  }
}

@each $name, $value in $font-weight {
  .weight-#{$name} {
    display: flex;
    &::before {
      content: '#{$name}:';
      margin-left: size('s');
      margin-right: size('s');
      flex-basis: 40px;
      font-weight: font-weight('bold');
    }
    &::after {
      content: '#{$value},';
    }
  }
}

.sample {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  &-header-1,
  &-header-2,
  &-header-3,
  &-body,
  &-body-small,
  &-body-small-light,
  &-body-xsmall,
  &-body-xxsmall {
    margin-top: 1rem;
    margin-bottom: 1rem;
    &::after {
      margin-left: size('xxs');
      color: get-color('danger');
    }
  }

  &-header-1 {
    &::after {
      content: "(#{font-size("xl")})";
    }
  }

  &-header-2 {
    &::after {
      content: "(#{font-size("l")})";
    }
  }

  &-header-3 {
    &::after {
      content: "(#{font-size("m")})";
    }
  }

  &-body {
    &::after {
      content: "(#{font-size("n")})";
    }    
  }

  &-body-small {
    &::after {
      content: "(#{font-size("s")})";
    }    
  }

  &-body-xsmall {
    &::after {
      content: "(#{font-size("xs")})";
    }    
  }

  &-body-xxsmall {
    &::after {
      content: "(#{font-size("xxs")})";
    }    
  }
}


/* AFTER REFACTOR */
code {
  background-color: get-color('medium');
  color: get-color('black');
  padding: 0.2rem 0.5rem;
  border-radius: 2px;
  white-space: nowrap;
}
