<div class="fonts">
  <p>
    Fonts fonts, lovely fonts...
  </p>
  <div class="fonts__display text--xxlarge">Display</div>
  <code class="fonts__pre">font-size: font-size("xxl);</code>
  <code class="fonts__pre">font-weight: font-weight("normal");</code>
  <code class="fonts__pre">line-height: ??;</code>
  
  <h1 class="fonts__header-1 text--xxlarge">Heading 1</h1>
  <code class="fonts__pre">font-size: font-size("xxl);</code>
  <code class="fonts__pre">font-weight: font-weight("normal");</code>
  <code class="fonts__pre">line-height: ??;</code>
  
  <h2 class="fonts__header-2 text--xlarge">Heading 2</h2>
  <code class="fonts__pre">font-size: font-size("xxl);</code>
  <code class="fonts__pre">font-weight: font-weight("normal");</code>
  <code class="fonts__pre">line-height: ??;</code>
  
  <h3 class="fonts__header-3 text--large">Heading 3</h3>
  <code class="fonts__pre">font-size: font-size("xxl);</code>
  <code class="fonts__pre">font-weight: font-weight("normal");</code>
  <code class="fonts__pre">line-height: ??;</code>
  
  <h4 class="fonts__header-4 text--medium">Heading 4</h4>
  <code class="fonts__pre">font-size: font-size("xxl);</code>
  <code class="fonts__pre">font-weight: font-weight("normal");</code>
  <code class="fonts__pre">line-height: ??;</code>

  <p class="fonts__body text--normal">Body</p>  
  <code class="fonts__pre">font-size: font-size("xxl);</code>
  <code class="fonts__pre">font-weight: font-weight("normal");</code>
  <code class="fonts__pre">line-height: ??;</code>

  <p class="fonts__body-small text--small">Body small</p>
  <code class="fonts__pre">font-size: font-size("xxl);</code>
  <code class="fonts__pre">font-weight: font-weight("normal");</code>
  <code class="fonts__pre">line-height: ??;</code>

</div>