@import '../../scss/utils';

@mixin margin($val) {
  margin: $val;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

:host {
  display: block;
  padding: 8px 0;
  background-color:white;

  ion-item {
    --padding-start: 16px;
    --inner-padding-end: 16px;
  }
}

:host ::ng-deep {
  h1,h2,h3,h4,h5,h6 {
    margin: 0;
  }
  ion-item {
    box-sizing: border-box;
  }

  kirby-avatar {
    align-self: center;
    @include margin(0 6px);
  }
  kirby-icon {
    @include margin(0 3px);
  }
  kirby-label:first-of-type {
    @include margin (0 0);
  }
  kirby-label:first-of-type + * {
    @include margin (0 16px);
  }
  kirby-label:first-of-type + time {
    @include margin (0 12px);
  }
  kirby-label:first-of-type + kirby-icon {
    @include margin (0 8px);
  }
  kirby-label:first-of-type + kirby-icon {
    @include margin (0 8px);
  }
  kirby-label[expand]:first-of-type + kirby-label {
    @include margin (0 0px);
    width: 100%;
    text-align: left;
  }

  kirby-label {
    flex: 1;
    margin: 0;

    &:last-child {
      flex-basis: auto;
      flex-direction: row;
      flex-grow: 0;
      flex-shrink: 1;
      flex-wrap: nowrap;
    }

    &:last-child:not(&:first-child) {
      text-align: right;
    }

    [expand='true'] {
      text-align: left;
      margin-left: 0;
    }
  }

  kirby-label[expand] {
   width: 100%;
    display: flex;
    align-items: center;
    
    ion-label {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    } 
  }
}
