<ion-item-sliding id="item100">
  <ion-item>
    <ng-content></ng-content>
  </ion-item>

  <ion-item-options side="start">
    <ion-item-option>
      <ion-icon slot="icon-only" name="heart"></ion-icon>
    </ion-item-option>
  </ion-item-options>

  <ion-item-options side="end">
    <ion-item-option color="danger">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-item-option>
    <ion-item-option>
      <ion-icon slot="icon-only" name="star"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
