:host {
  display: flex;
  align-items: flex-end;
  margin-bottom: var(--kirby-spacing-s);
  flex-wrap: wrap;

  > * {
    margin-right: var(--kirby-spacing-s);
    margin-bottom: var(--kirby-spacing-s);
  }

  &.align-top {
    align-items: flex-start;
  }
}

kirby-flag {
  position: relative;
}

kirby-flag[title] {
  margin-bottom: var(--kirby-spacing-s);

  &::before {
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    font-size: var(--kirby-font-size-xs);
    text-align: center;
  }

  &[title='(default)']::before {
    content: '(default)';
  }
}
