  
@import "../../scss/web-imports";

:host {
    display: block;
    width: 320px;
    &[expand='fullWidth'] {
        display: block;
        width: 100%;
    }

    .slide-button {
        outline: none;
        -webkit-appearance: none;
        width: 100%;
        background: get-color("primary");
        -webkit-appearance: none;
        border-radius: 28px;
        padding: 2px;
        transition: opacity 0.5s;
        position: relative;
    }
    
    .slide-button::-webkit-slider-thumb {
        -webkit-appearance: none;
        border-radius: 50%;
        background: get-color('white');
        z-index: 1;
        font-size: font-size('m');
        position: relative;
        width: size('xxl');
        height: size('xxl');
    }
  
    .slide-button::before {
        content: attr(data-before-content);
        color: get-color('primary-contrast');
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        text-align: center;
        z-index: 1;
        font-size: font-size('n');
    }

    @for $i from 1 through 10 {
        $iTenth: $i*10;
        .slide-#{$iTenth}-pct {
            &.slide-button::before {
                transition: opacity 0.2s linear;
                opacity: 1-($i/10);
            }
        }
    }

    .slide-done {
        transition: opacity 0.5s ease-in-out;
        opacity: 0;
    }

    .slide-button::-webkit-slider-thumb:before {
        color: get-color('light-contrast');
        position: absolute;
        left: 5px;
        top: -10px;
        z-index: 1;
        font-size: font-size('xxl');;
        font-weight: bold;
        content: "→";
    }
  }
