
$slide-button-container-width: get-unit-value(256);
$slide-button-container-bg-color: get-color("primary");
$slider-thumb-width: size('xxl');
$slider-thumb-bg-color: get-color('white');
$slide-button-text-color: get-color('primary-contrast');
