@import '../../scss/utils';
@import 'slide-button.component.shared';

@mixin _slider-thumb() {
  -webkit-appearance: none;
  border-radius: 50%;
  background-color: $slider-thumb-bg-color;
  background-image: url('../../icons/svg/arrow-more.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: size('m');
  width: $slide-button-width;
  height: $slide-button-width;
  border: none;
  cursor: pointer;
}

:host {
  position: relative;
  display: inline-block;
  width: $slide-button-container-width;

  &[expand='block'] {
    display: block;
    width: 100%;
  }

  .slide-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $slide-button-container-bg-color;
    height: $slide-button-container-height;
    border-radius: $slide-button-container-radius;
  }

  @for $i from 1 through 10 {
    $iTenth: $i * 10;
    .slide-#{$iTenth}-pct {
      opacity: 1- ($i/10);
    }
  }

  .slide-button-text {
    position: absolute;
    color: $slide-button-text-color;
    font-size: font-size('n');
    margin: 0;
    line-height: 1;
    z-index: 1;
    width: 100%;
    text-align: center;
    padding: $slide-button-text-padding;
  }

  .slide-button {
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    background: transparent;
    z-index: 2;
  }

  .slide-button::-webkit-slider-thumb {
    @include _slider-thumb;
  }

  .slide-button::-moz-range-thumb {
    @include _slider-thumb;
  }

  .slide-done {
    transition: all 0.3s ease-in-out;
    opacity: 0;
    height: 0;
    transform: scale(0);
    poiter-events: none;
  }
}
