@import "native-imports";
@import "slide-button.common";



.slide-button-container {
    width: $slide-button-container-width;
    height: $slider-thumb-width;
    $slide-button-container-radius: $slider-thumb-width/2;
    border-radius: $slide-button-container-radius;
    background-color: $slide-button-container-bg-color;
    margin: size('xxxs');

    &.expand {
        width: 100%;
    }

    $slide-button-margin: 2;
    .slide-button {
        width: $slide-button-width;
        height: $slide-button-width;
        margin: $slide-button-margin;
        border-radius: 100;
        background-color: $slider-thumb-bg-color;
        color: $slide-button-text-color;
        font-family: 'kirby';
        font-size: font-size('m');
    }

    .slide-button-text {
        color: $slide-button-text-color;
        font-size: font-size('n');
        width: 100%;
        text-align: center;
        $total-slider-thumb-width: $slide-button-width+$slide-button-margin*2;
        padding: 0 $slide-button-container-radius 0 $total-slider-thumb-width;
    }
}
