<GridLayout class="m-15" rows="auto auto" columns="50 * 50">
    <Label row="0" colSpan="3" class="h2 p-15" [text]="currentValue | number:'2.2'" textWrap="true"></Label>
    <Label row="1" col="0" text="&#xe90b;" textWrap="true" fontSize="15" class="icon"></Label>
    <Slider row="1" col="1" [value]="value" (touch)="onTouch($event)" (valueChange)="onSliderValueChange($event.object.value)" minValue="0" maxValue="100"></Slider>
    <Label row="1" col="2" text="&#xe90b;" textWrap="true" fontSize="20" class="icon"></Label>
</GridLayout>