@import '../../scss/native-imports';
$min-card-width: 50;
$chip-active-color:#cfd4d3;
.chip {
  border-radius: 25;
  margin-right: 10;
  padding:5 10;
  font-size: font-size('xs');
  min-width: $min-card-width;
  &.active {
      background: $chip-active-color;
  }
}