@import "../../scss/web-imports";
$min-card-width: 50px;
.chip {
  white-space:nowrap;
  padding: 0 25px;
  height: 30px;
  font-size: font-size('s');
  line-height: line-height('xl');
  border-radius: 25px;
  margin-right: 5px;
  min-width: $min-card-width;
  cursor: pointer;
  &:hover, &.active{
      background-color:get-color('kirby-grey-4');
    }
  
}