<div class="example">
    <kirby-segment-example></kirby-segment-example>
    <kirby-html-viewer [html]="exampleHtml"></kirby-html-viewer>
    <h4>Properties:</h4>
    <table class="cookbook-properties">
      <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Input values</th>
      </thead>
      <tbody>
         <tr>
          <td><code>items</code></td>
          <td>Array of items.</td>
          <td><code>Array of type &#123;title, index&#125;</code></td>
        </tr>  
        <tr>
          <td><code>chipSelect</code></td>
          <td>It will give selected chip.</td>
          <td><code>function</code></td>
        </tr>  
      </tbody>
    </table>     
</div>