@import './libs/designsystem/src/lib/scss/utils';

kirby-card {
  width: map-get($breakpoints, small);

  @include media('>=large') {
    width: map-get($breakpoints, medium);
  }

  kirby-card-header {
    padding: size('xxxs');
    padding-bottom: 0;
    background-color: get-color('warning');
    color: get-color('warning-contrast');
  }

  kirby-item:not(:last-child) {
    border-bottom: 1px get-color('background-color') solid;
  }
}
