@import '../../scss/web-imports';

#calendar {
  width: 320px;
  background-color: transparent;
  overflow: hidden;
}

table.calendar-table {
  width: 100%;
  border-collapse: collapse;
  user-select: none;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  border-spacing: 0;
}

tr, td {
  border-style: none;
  padding: 0;
  line-height: 2em;
  height: 0;
}

thead.calendar-table-header {
  padding: 0.5em;
  border-bottom: 1px solid get-color('kirby-grey-2');
}

tbody.calendar-table-body {
  padding: 0.5em;
}

.month-and-year, th, td {
  background-color: transparent;
}

.month-and-year {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;
}

.month-name {
  line-height: 35px;
  user-select: none;
}

th,
div.cell-content {
  text-align: center;
}

thead th {
  height: 50px;
}

div.cell-content {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  margin: auto;
}

div.cell-content span {
  text-align: center;
  line-height: 40px;
  pointer-events: none;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.disable-past-dates {
  opacity: 0.5;
  pointer-events: none;
}

div.cell-content.selectable {
  cursor: pointer;
}

div.cell-content.weekend,
div.cell-content.disabled {
  color: get-color('kirby-grey-5');
}

div.cell-content.today {
  color: get-color('kirby-grey-10');
  background-color: get-color('kirby-grey-5');
}

div.cell-content.selected {
  color: get-color('kirby-grey-10');
  background-color: get-color('kirby-primary');
}

div.cell-content.past {
  color: get-color('kirby-grey-5');
  opacity: 0.5;
}

div.cell-content:not(.current-month) {
  opacity: 0;
  pointer-events: none;
}

div.cell-content.selectable:not(.selected):hover {
  color: get-color('kirby-grey-10');
  background-color: get-color('kirby-grey-3');
}
