<div id="calendar">
  <div class="month-and-year">
    <button [ngClass]="{ 'disable-past-dates' : disablePastDatesButton }" (click)="changeMonth(-1)">
      <kirby-icon name="arrow-back"></kirby-icon>
    </button>

    <div class="month-name"><b>{{ currentMonth }}</b> {{ displayDate | date:'y' }}</div>
  
    <button (click)="changeMonth(1)">
      <kirby-icon name="arrow-forward"></kirby-icon>
    </button>
  </div>

  <table class="calendar-table">
    <thead class="calendar-table-header">
      <th *ngFor="let weekDay of weekDays">{{ weekDay }}</th>
    </thead>
      
    <tbody>
      <tr *ngFor="let week of month">
        <td class="cell" *ngFor="let day of week">
          <div *ngIf="day.currentMonth" (click)="selectCalendarDate(day)" class="cell-content" [ngClass]="{ 'current-month' : day.currentMonth, 'weekend' : day.weekend, 'today' : day.today, 'selectable' :  day.selectable , 'selected' :  day.selected, 'past' :  day.past, 'disabled' :  day.disabled }">
            <span>{{ day.date | date:'d' }}</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  
<br>
<!-- <iframe src="kirby/components/calendar/calendar.webview.html" #calendarContainer style="width: 380px; height: 380px; border: 0"> -->
    