$native: false;

@import '../../scss/web/web-styles';
@import 'calendar.component';

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url("./../fonts/Roboto-Regular.ttf") format("truetype");
}

body {
  font-family: Roboto;
  background-color: transparent;
}
