<!-- <div>
  <div class="days" *ngFor="let day of weekDays">
    <div class="day name">{{ day }}</div>
  </div>
</div>

<div>
  <button (click)="previous()">previous</button>
  <div class="month-name">{{ currentMonthAndYear }}</div>
  <button (click)="next()">next</button>
</div>

<div *ngFor="let week of month">
  <ng-container *ngFor="let day of week">
    <ng-container [ngTemplateOutlet]="dayTemplate.template" [ngTemplateOutletContext]="day"></ng-container>
  </ng-container>
</div>
 -->

 <!-- <iframe src="kirby/components/calendar/calendar.webview.html" #calendarContainer style="width: 300px; height: 300px; border: 0"> -->