@import '../../../scss/web-imports';
:host {
  flex-grow: 0;
  flex-shrink: 1;
  flex-direction: row;
  display: flex;
//   padding: size('gutter-small') size('m');
  background-color: var(--kirby-surface);
//   border-bottom: 1px solid var(--kirby-background);
  color: var(--kirby-on-background);
  font-size: font-size('n');
}