/* Add mobile styles for the component here.  */
.columns {
    
}
.left-column {
    text-align: left;
    vertical-align: center;
}

.middle-column {
    text-align: center;
    vertical-align: center;
}

.right-column {
    text-align: right;
    vertical-align: center;
}