<h2>Simple</h2>
<cookbook-radio-example-binding></cookbook-radio-example-binding>

<h2>States</h2>
<cookbook-radio-states-example></cookbook-radio-states-example>

<h2>Sizes</h2>
<cookbook-radio-sizes-example></cookbook-radio-sizes-example>

<h2>Multiline Label</h2>
<cookbook-radio-multiline-example></cookbook-radio-multiline-example>

<h2>Custom radio template</h2>
<cookbook-radio-custom-content-example></cookbook-radio-custom-content-example>

<h2>In Form Field</h2>
<cookbook-radio-in-form-field-example></cookbook-radio-in-form-field-example>

<h2>In Item</h2>
<cookbook-radio-in-item-example></cookbook-radio-in-item-example>

<h2>ngForms</h2>
<h3>Reactive forms</h3>
<cookbook-radio-reactive-forms-example></cookbook-radio-reactive-forms-example>

<h3>Template driven forms</h3>
<cookbook-radio-template-driven-forms-example></cookbook-radio-template-driven-forms-example>
