<div class="example">
  <p>
    Grid works well for a layout with a known number of columns. The columns can be configured with
    multiple breakpoints to specify the column span of each child. Breakpoints makes is easy to
    adapt the layout to different screen sizes.
  </p>
  <h3>Breakpoints</h3>
  <p>Each breakpoint is named using t-shirt sizes and maps to a defined screen size or bigger:</p>
  <ul>
    <li *ngFor="let breakpoint of shorthandToBreakpointMap | keyvalue: originalOrder">
      {{ breakpoint.key }}: {{ breakpoint.value }}
    </li>
  </ul>
  <h3>HTML validity</h3>
  <p>
    If you have concerns about HTML validity related to the custom attributes, you can prefix the
    attributes above with
    <code>data-*</code>
    . That way your HTML will be valid and it will function exactly the same. Here is an example:
    <code>&lt;div class="kirby-grid-item" data-xs="12" data-sm="6"&gt;&lt;/div&gt;</code>
  </p>
</div>

<div class="page-example">
  <h1>Examples</h1>
  <cookbook-example-viewer [html]="exampleHtml">
    <cookbook-grid-example></cookbook-grid-example>
  </cookbook-example-viewer>
  <br />

  <h1>Attributes</h1>
  <h2>Grid</h2>
  <cookbook-api-description-properties
    [properties]="gridProperties"
  ></cookbook-api-description-properties>

  <h2>Grid Item</h2>
  <cookbook-api-description-properties
    [properties]="gridItemProperties"
  ></cookbook-api-description-properties>
</div>
