@use '../shared/mini-toast';

@mixin copy-token-cell {
  tbody td:nth-child(2) {
    position: relative;
    white-space: nowrap;

    @include mini-toast.copied;

    &:hover {
      transform: none;
    }
  }

  tbody tr:hover cookbook-copy-token {
    opacity: 1;
  }
}

th:first-child,
td:first-child {
  width: 150px;
}

th.preview {
  width: 1px; // make cell follow content width
  white-space: nowrap;
}
