cookbook-copy-token {
  opacity: 0;
  transition: opacity var(--kirby-transition-duration-quick);

  &:has(:focus-visible) {
    opacity: 1;
  }
}

th.preview,
table:has(th.preview) td:last-child {
  width: 1px;
  white-space: nowrap;
}

tr:hover cookbook-copy-token {
  opacity: 1;
}

// inline-block is needed for the transform (scale on hover) to take effect
.sample {
  display: inline-block;
  transition: transform var(--kirby-transition-duration-quick);
}

tr:hover .sample {
  transform: scale(110%);
}
