@use '@kirbydesign/core/src/scss/utils';

h2:not(:first-child) {
  margin-top: utils.size('l');
}

h3 {
  border-bottom: 1px dotted utils.get-color('medium');
}

cookbook-example-viewer,
cookbook-code-viewer {
  margin-bottom: utils.size('l');
}

.example-frame {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding-block: utils.size('m');

  &.no-vertical-padding {
    padding-block: 0;
  }
}

// Style the Keyboard Input element. Borrowed from https://developer.mozilla.org/en-US/docs/Web/HTML/Element/kbd
kbd {
  border-radius: 3px;
  border: 1px solid var(--kirby-semi-dark);
  box-shadow:
    0 2px 1px var(--kirby-dark-overlay-20),
    0 2px 1px 0 var(--kirby-white) inset;
  color: var(--kirby-black);
  font-size: 0.85em;
  font-weight: var(--kirby-font-weight-bold);
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}
