@use '@kirbydesign/core/src/scss/utils';

h2:not(:first-child) {
  margin-top: utils.size('l');
}

h3 {
  border-bottom: 1px dotted utils.get-color('medium');
}

cookbook-example-viewer,
cookbook-code-viewer {
  margin-bottom: utils.size('l');
}

.example-frame {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding-block: utils.size('m');

  &.no-vertical-padding {
    padding-block: 0;
  }
}
