@import './libs/designsystem/src/lib/scss/utils';

.show-case {
  margin-bottom: 2rem;

  h1 {
    text-transform: uppercase;
    font-size: 40px;
    color: get-color('dark');
    font-weight: 300;
    position: relative;
    padding-bottom: 20px;
    border-bottom: solid 1px get-color('medium');
    margin-bottom: 10px;
  }
}

.show-case-actions {
  display: flex;
  justify-content: space-between;

  a {
    color: get-text-color('semi-dark');
    font-size: font-size('s');
  }
}

h4 {
  margin-top: size('s');
}

.icon {
  width: 14px;
  height: 14px;
  margin-right: 4px;
  margin-left: 20px;
  color: currentColor;
  fill: currentColor;
  vertical-align: baseline;
}

::ng-deep .cookbook-properties {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  thead {
    background-color: get-color('light-tint');
  }
  th {
    font-weight: font-weight('normal');
    border: none;
    text-align: left;
    height: size('xl');
    border-bottom: none;
  }
  td,
  th {
    border: 1px solid get-color('medium');
    border-width: 1px 1px 1px 1px;
    padding: 0.5rem 1rem;
  }
}

::ng-deep :not(pre) > code[class*='language-'],
::ng-deep pre[class*='language-'] {
  background-color: get-color('light-tint');
  border: 1px solid get-color('medium');
}
