@use '@kirbydesign/core/src/scss/utils';

$icon-size: utils.size('s');

.show-case {
  margin-bottom: 2rem;

  h1 {
    text-transform: uppercase;
    font-size: utils.font-size('xxl');

    --line-height: calc(38 / 40); // calculated from old px values

    line-height: var(--line-height);
    color: utils.get-color('dark');
    font-weight: utils.font-weight('light');
    position: relative;
    padding-bottom: 5 * utils.size('xxxs');
    border-bottom: solid 1px utils.get-color('medium');
    margin-bottom: utils.size('xs');
  }
}

.show-case-actions {
  display: flex;
  justify-content: space-between;

  a {
    color: utils.get-text-color('semi-dark');
    font-size: utils.font-size('s');
  }
}

.cta-links {
  a {
    display: block;
    margin-bottom: utils.size('xxs');
    @include utils.media('>=large') {
      display: inline-block;
      margin-bottom: 0;
    }
  }
}

h4 {
  margin-top: utils.size('s');
}

.icon {
  width: $icon-size;
  height: $icon-size;
  margin-right: utils.size('xxs');
  margin-left: utils.size('m');
  color: currentcolor;
  fill: currentcolor;
  vertical-align: bottom;
}

/* stylelint-disable selector-pseudo-element-no-unknown */
::ng-deep :not(pre) > code[class*='language-'],
::ng-deep pre[class*='language-'] {
  background-color: utils.get-color('light-tint');
  border: 1px solid utils.get-color('medium');
}
