@import './libs/designsystem/src/lib/scss/utils';

$icon-size: size('s');

.show-case {
  margin-bottom: 2rem;

  h1 {
    text-transform: uppercase;
    font-size: font-size('xxl');
    color: get-color('dark');
    font-weight: font-weight('light');
    position: relative;
    padding-bottom: 5 * size('xxxs');
    border-bottom: solid 1px get-color('medium');
    margin-bottom: size('xs');
  }
}

.show-case-actions {
  display: flex;
  justify-content: space-between;

  a {
    color: get-text-color('semi-dark');
    font-size: font-size('s');
  }
}

.cta-links {
  a {
    display: block;
    margin-bottom: size('xxs');
    @include media('>=large') {
      display: inline-block;
      margin-bottom: 0;
    }
  }
}

h4 {
  margin-top: size('s');
}

.icon {
  width: $icon-size;
  height: $icon-size;
  margin-right: size('xxs');
  margin-left: size('m');
  color: currentColor;
  fill: currentColor;
  vertical-align: bottom;
}

::ng-deep :not(pre) > code[class*='language-'],
::ng-deep pre[class*='language-'] {
  background-color: get-color('light-tint');
  border: 1px solid get-color('medium');
}
