@use '@kirbydesign/core/src/scss/utils';

$icon-size: var(--kirby-spacing-s);

.show-case {
  margin-bottom: 2rem;

  h1 {
    text-transform: uppercase;
    font-size: var(--kirby-font-size-xxl);
    color: var(--kirby-dark);
    font-weight: var(--kirby-font-weight-light);
    position: relative;
    padding-bottom: calc(5 * var(--kirby-spacing-xxxs));
    border-bottom: solid 1px var(--kirby-medium);
    margin-bottom: var(--kirby-spacing-xs);
  }
}

.show-case-actions {
  display: flex;
  justify-content: space-between;

  a {
    color: var(--kirby-text-color-semi-dark);
    font-size: var(--kirby-font-size-s);
  }
}

.cta-links {
  a {
    display: block;
    margin-bottom: var(--kirby-spacing-xxs);
    @include utils.media('>=large') {
      display: inline-block;
      margin-bottom: 0;
    }
  }
}

h4 {
  margin-top: var(--kirby-spacing-s);
}

.icon {
  width: $icon-size;
  height: $icon-size;
  margin-right: var(--kirby-spacing-xxs);
  margin-left: var(--kirby-spacing-m);
  color: currentcolor;
  fill: currentcolor;
  vertical-align: bottom;
}

/* stylelint-disable selector-pseudo-element-no-unknown */
::ng-deep :not(pre) > code[class*='language-'],
::ng-deep pre[class*='language-'] {
  background-color: var(--kirby-light-tint);
  border: 1px solid var(--kirby-medium);
}
