<div class="example">
  <cookbook-action-sheet-example></cookbook-action-sheet-example>
  <cookbook-code-viewer [html]="exampleHtml"></cookbook-code-viewer>
  <p>
    To show the action sheet, create an
    <code>ActionSheetConfig</code>
    and pass it to
    <code>modalController.showActionSheet</code>
    . Each item must to be of type
    <code>ActionSheetItem</code>
    .
    <!-- prettier-ignore -->
    <cookbook-code-viewer language="ts">const config: ActionSheetConfig={{ '{' }}
    header: 'Your action sheet header',
    subheader: 'Your action sheet sub-header',
    items: [
        {{ '{' }} id: '1', text: 'Option 1' {{ '}' }},
        {{ '{' }} id: '2', text: 'Option 2' {{ '}' }},
        {{ '{' }} id: '3', text: 'Option 3' {{ '}' }},
    ],
    cancelButtonText: 'Custom cancel',
{{ '}' }};
this.modalController.showActionSheet(config);</cookbook-code-viewer>
    (Optional) if you need to obtain data back from the action sheet, you can pass a callback
    function:
    <!-- prettier-ignore -->
    <cookbook-code-viewer language="ts">this.modalController.showActionSheet(config, onItemSelect);</cookbook-code-viewer>
    where
    <code>onItemSelect</code>
    can be e.g.:
    <!-- prettier-ignore -->
    <cookbook-code-viewer language="ts">onItemSelect(item: ActionSheetItem) {{ '{' }}...{{ '}' }}</cookbook-code-viewer>
    We can use
    <code>modalController.hideTopmost</code>
    to hide (and destroy its component) the topmost action sheet. We can pass an optional result
    parameter to it, which is then going to be available inside the callback
  </p>
  <h4>Action sheet properties:</h4>
  <cookbook-api-description-properties
    [properties]="properties"
  ></cookbook-api-description-properties>
</div>
