@use '@kirbydesign/core/src/scss/utils';

.example-properties {
  display: none;

  @include utils.media('>=medium') {
    display: unset;
  }

  dl {
    display: grid;
    grid-template: auto / auto 1fr;

    dt {
      padding-right: var(--kirby-spacing-xxxs);
    }

    dd {
      margin: 0;
      font-style: italic;
    }
  }
}

kirby-card.nested-modal-configuration {
  margin-top: var(--kirby-spacing-l);
  margin-bottom: var(--kirby-spacing-l);

  details {
    margin-top: var(--kirby-spacing-m);
    border: 1px solid var(--kirby-medium);
    border-radius: var(--kirby-spacing-xxxs);
    padding: var(--kirby-spacing-xxs) var(--kirby-spacing-xxs) 0;

    summary {
      cursor: pointer;
      margin: calc(var(--kirby-spacing-xxs) * -1) calc(var(--kirby-spacing-xxs) * -1) 0;
      padding: var(--kirby-spacing-xxs);
    }

    &[open] {
      padding: var(--kirby-spacing-xxs);
      border-bottom-left-radius: var(--kirby-spacing-s);
      border-bottom-right-radius: var(--kirby-spacing-s);

      summary {
        border-bottom: 1px dashed var(--kirby-medium);
        margin-bottom: var(--kirby-spacing-xs);
      }
    }
  }
}

kirby-form-field {
  margin-top: var(--kirby-spacing-m);

  // Prevents iOS Safari / Ionic scrollAssist from causing the form field to
  // jump in modals when a label is present. !important is required to
  // override Ionic's dynamic JavaScript inline styling.
  input[kirby-input] {
    &.cloned-input {
      top: 0 !important;
      transform: none !important;
    }
  }
}

.size-selector-heading {
  margin-bottom: 0;

  em {
    font-size: smaller;
  }
}
