@use '@kirbydesign/core/src/scss/utils';

.example-properties {
  display: none;

  @include utils.media('>=medium') {
    display: unset;
  }

  dl {
    display: grid;
    grid-template: auto / auto 1fr;

    dt {
      padding-right: utils.size('xxxs');
    }

    dd {
      margin: 0;
      font-style: italic;
    }
  }
}

kirby-card.nested-modal-configuration {
  margin-top: utils.size('l');
  margin-bottom: utils.size('l');

  cookbook-example-configuration-wrapper {
    margin-top: utils.size('m');
  }
}

kirby-form-field {
  margin-top: utils.size('m');
}
