<div class="example">
  <p>
    Toasts are the most subtle 'notification' available in Kirby. These messages give users
    immediate feedback after taking an action. Users don't need to dismiss toast messages, as they
    appear only for a moment before they disappear.
  </p>
  <p>There are two types of toasts:</p>

  <ul>
    <li>Success is used for confirmations on an action</li>
    <li>Warning is used for warnings, eg. something the user should be aware of</li>
  </ul>

  <h2>Default</h2>
  <p>By default, toasts will automatically dismiss after 4 seconds (4000ms).</p>
  <cookbook-example-viewer [html]="defaultExample.template" [ts]="defaultExample.codeSnippet">
    <div class="example-frame">
      <cookbook-toast-example-default #defaultExample></cookbook-toast-example-default>
    </div>
  </cookbook-example-viewer>

  <h2>Duration</h2>
  <p>
    You can customize how long the toast is displayed using the
    <code>durationInMs</code>
    property. Set it to
    <code>0</code>
    to keep the toast visible until it is dismissed programmatically.
  </p>
  <cookbook-example-viewer [html]="durationExample.template" [ts]="durationExample.codeSnippet">
    <div class="example-frame">
      <cookbook-toast-example-duration #durationExample></cookbook-toast-example-duration>
    </div>
  </cookbook-example-viewer>

  <h2>Programmatic Dismiss</h2>
  <p>
    The
    <code>showToast()</code>
    method returns a
    <code>Promise&lt;Overlay&gt;</code>
    that resolves to an overlay object. You can use this to dismiss the toast programmatically by
    calling
    <code>dismiss()</code>
    .
  </p>
  <cookbook-example-viewer [html]="dismissExample.template" [ts]="dismissExample.codeSnippet">
    <div class="example-frame">
      <cookbook-toast-example-dismiss #dismissExample></cookbook-toast-example-dismiss>
    </div>
  </cookbook-example-viewer>

  <h2>Callback</h2>
  <p>
    If you need to know when the toast is dismissed, you can pass a callback function as the second
    argument:
  </p>
  <!-- prettier-ignore -->
  <cookbook-code-viewer language="ts">this.toastController.showToast(config, () => {{ '{' }}
  console.log('Toast was dismissed'){{ '}' }});</cookbook-code-viewer>

  <h3>Best Practice</h3>
  <ul>
    <li>
      Use a toast when
      <ul>
        <li>it is not critical for the user to read the message.</li>
        <li>
          you don't have clear instructions and/or the user can find the given information in the
          screen shown.
        </li>
      </ul>
    </li>
    <li>Keep the amount of text below 1 line.</li>
  </ul>

  <h2>Importing</h2>
  <cookbook-import-viewer [imports]="'ToastController'"></cookbook-import-viewer>

  <h2>ToastController</h2>
  <h3>Methods</h3>
  <cookbook-api-description-methods [methods]="methods"></cookbook-api-description-methods>

  <h2>ToastConfig</h2>
  <h3>Properties</h3>
  <cookbook-api-description-properties
    [properties]="properties"
  ></cookbook-api-description-properties>

  <h2>Overlay (return type)</h2>
  <h3>Properties</h3>
  <cookbook-api-description-properties
    [properties]="overlayProperties"
  ></cookbook-api-description-properties>
</div>
