<div class="example">
    <kirby-chip-example></kirby-chip-example>
    <kirby-html-viewer [html]="exampleHtml"></kirby-html-viewer>
    <h4>Properties:</h4>
    <table class="cookbook-properties">
      <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Input values</th>
      </thead>
      <tbody>
        <tr>
          <td><code>title</code></td>
          <td>Yeah, use this as lable.</td>
          <td><code>string</code></td>
        </tr>
        <tr>
          <td><code>isSelected</code></td>
          <td>Mark chip selected</td>
          <td><code>boolean</code></td>
        </tr>    
      </tbody>
    </table>     
</div>