<div class="example">
    <kirby-chip-example></kirby-chip-example>
    <kirby-code-viewer [html]="exampleHtml"></kirby-code-viewer>
    <h4>Properties:</h4>
    <table class="cookbook-properties">
      <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Input values</th>
      </thead>
      <tbody>
        <tr>
          <td><code>text</code></td>
          <td>The text displayed inside the chip.</td>
          <td><code>string</code></td>
        </tr>
        <tr>
          <td><code>isSelected</code></td>
          <td>show chip as selected</td>
          <td><code>boolean</code></td>
        </tr>    
      </tbody>
    </table>     
</div>