@import './libs/designsystem/src/lib/scss/utils';

$page-header-bg: #1c1c1c;
$page-header-color: #f4f1e8;
$page-header-height: 7rem;
$page-gutter: 1rem;

:host {
  @include media('>=large') {
    grid-area: sidebar;
  }
}

.page-links {
  @include media('>=large') {
    display: none;
  }
}

.side-nav {
  display: none;
  position: absolute;
  top: 0;
  z-index: 900;
  background-color: get-color('white');
  padding: 0 20px;
  box-shadow: get-elevation(4);
  @include media('>=large') {
    box-shadow: none;
    display: block;
    position: static;
    background-color: transparent;
    padding: 0;
  }
  &.is-open {
    display: block;
  }

  &__item {
    text-decoration: none;
    color: get-text-color('semi-dark');
    display: block;
    padding: 8px 20px;
    opacity: 1;
    max-height: 50px;
    transition: opacity 100ms, max-height 200ms ease-in, padding 200ms ease-in;
    will-change: max-height, padding;
    &:hover,
    &:focus {
      color: get-text-color('black');
    }
    &.is-selected {
      color: get-text-color('black');
      font-weight: bold;
      background-color: get-color('semi-light');
    }
    &.hidden {
      opacity: 0;
      max-height: 0;
      padding: 0 0;
      pointer-events: none;
    }
    &:first-child {
      margin-top: 15px;
    }
    &:last-child {
      margin-bottom: 15px;
    }
  }

  .is-selected {
    font-weight: bold;
  }
}

.filter-container {
  position: relative;
}

.clear-button {
  position: absolute;
  right: 0;
  top: 0;
}
