@use '@kirbydesign/core/src/scss/utils';
@use '@kirbydesign/core/src/scss/opt-out';

$link-padding: 5px;
$link-border-radius: 3px;
$menu-padding-mobile: utils.size('m');
$divider-inset: utils.size('xxxxs');
$divider-spacing: utils.size('xxs');

:host {
  @include utils.media('>=large') {
    grid-area: sidebar;
  }
}

nav {
  @include utils.media('>=large') {
    display: none;
  }
}

section {
  display: none;
  position: absolute;
  min-height: 100vh;
  top: 0;
  z-index: utils.z('modal');
  background-color: utils.get-color('white');
  padding: 0 $menu-padding-mobile;
  box-shadow: utils.get-elevation(4);

  @include utils.media('<large') {
    height: 100vh;
    overflow: auto;
  }

  @include utils.media('>=large') {
    box-shadow: none;
    display: block;
    position: static;
    background-color: transparent;
    padding: 0;
    min-height: unset;
  }

  &.is-open {
    display: block;
  }

  a {
    @include opt-out.link;

    text-decoration: none;
    color: utils.get-text-color('semi-dark');
    display: block;
    padding: $link-padding;
    margin: 0 utils.size('xxxxs');
    border-radius: $link-border-radius;

    &:hover,
    &:focus {
      color: utils.get-text-color('black');
      background-color: utils.get-color('light');
    }

    &.is-selected {
      color: utils.get-text-color('black');
      font-weight: bold;
      background-color: utils.get-color('semi-light');
    }

    &.is-hidden {
      opacity: 0;
      max-height: 0;
      padding: 0;
      pointer-events: none;
    }
  }
}

.filter {
  position: relative;
}

.clear-button {
  position: absolute;
  right: 0;
  top: 0;
}

hr {
  margin: utils.size('xxxs'), 0;
  border: solid 1px utils.get-color('light');
  border-bottom: none;
  margin-block: $divider-spacing;
  margin-inline: $divider-inset;

  &:last-child {
    border-color: transparent;
  }
}
