<section [class.is-open]="isMenuOpen">
  <kirby-card
    [hasPadding]="true"
    (keydown.ArrowUp)="onLinksArrowUpDown($event, 'resources')"
    (keydown.ArrowDown)="onLinksArrowUpDown($event, 'resources')"
  >
    <h2 class="kirby-text-normal">Resources</h2>
    <hr />
    <nav>
      <ul>
        <li *ngFor="let item of navigationItems">
          <a
            [routerLink]="item.path"
            *ngIf="item.path; else externalUrl"
            routerLinkActive="is-selected"
            #resourceLink
          >
            {{ item.name }}
          </a>
          <ng-template #externalUrl>
            <a #externalUrl #resourceLink [href]="item.externalUrl" target="_blank">
              <span class="kirby-external-icon">{{ item.name }}</span>
            </a>
          </ng-template>
        </li>
      </ul>
    </nav>
  </kirby-card>

  <kirby-card
    [hasPadding]="true"
    (keydown.ArrowUp)="onLinksArrowUpDown($event, 'components')"
    (keydown.ArrowDown)="onLinksArrowUpDown($event, 'components')"
  >
    <h2 class="kirby-text-normal">Components</h2>
    <hr />
    <div class="filter">
      <kirby-form-field>
        <input
          kirby-input
          size="md"
          placeholder="Filter components..."
          (input)="onFilterChange($event.target.value)"
          (keydown.ArrowDown)="onFilterArrowDown($event)"
          [ngModel]="filter"
        />
      </kirby-form-field>
      <button
        *ngIf="filter.length > 0"
        kirby-button
        size="sm"
        [noDecoration]="true"
        class="clear-button"
        (click)="onFilterChange('')"
      >
        <kirby-icon name="close"></kirby-icon>
      </button>
    </div>
    <ng-container *ngFor="let item of filteredShowcaseRoutes; let isLast = last">
      <a
        *ngFor="let link of item"
        [routerLink]="link.path"
        routerLinkActive="is-selected"
        (click)="closeMenu()"
        #componentLink
      >
        {{ link.name }}
      </a>
      <hr *ngIf="!isLast" />
    </ng-container>
  </kirby-card>
</section>
