<section class="side-nav" [ngClass]="{ 'is-open': isMenuOpen }">
  <nav class="page-links">
    <ng-container *ngFor="let item of navigationLinks">
      <a
        *ngIf="item.routerLink"
        [routerLink]="item.routerLink"
        [routerLinkActive]="'is-selected'"
        [routerLinkActiveOptions]="{ exact: false }"
        class="side-nav__item"
        (click)="onToggleMenu()"
        >{{ item.text }}
      </a>
      <a *ngIf="item.externalUrl" [href]="item.externalUrl" class="side-nav__item" target="blank"
        >{{ item.text }}
      </a>
    </ng-container>
  </nav>
  <div class="filter-container">
    <kirby-form-field>
      <input
        kirby-input
        [size]="'md'"
        placeholder="Filter components..."
        (input)="onFilterChange($event.target.value)"
        (keydown)="onFilterKeyDown($event)"
        [ngModel]="filter"
      />
    </kirby-form-field>
    <button
      *ngIf="filter.length > 0"
      kirby-button
      size="sm"
      attentionLevel="4"
      class="clear-button"
      (click)="onFilterChange('')"
    >
      <kirby-icon name="close"></kirby-icon>
    </button>
  </div>

  <kirby-card (keydown)="onLinksKeyDown($event)">
    <a
      *ngFor="let item of filteredShowcaseRoutes"
      [routerLink]="item.path"
      [class]="{ 'is-selected': item.active, 'is-hidden': item.hidden }"
      class="side-nav__item"
      (click)="onComponentClick(item)"
      #componentLink
      >{{ item.name }}
    </a>
  </kirby-card>
</section>
