Button  {
    background-color: transparent;
    padding: 0;
    margin: 0;
    height: 20;
    width: 50;
    vertical-align: top;
    android-elevation: 0;
    android-dynamic-elevation-offset: 0; 
    font-size: 12;
}