@use '~@kirbydesign/core/src/scss/utils';

:host {
  position: absolute;
  inset: 0;
}

.spacing {
  margin-block: utils.size('s');
}

.container {
  display: flex;
  flex-direction: column;
  gap: utils.size('s');
}
