<!-- This container is only needed due to layout of larger screen sizes -->
<kirby-page title="For you" defaultBackHref="/">
  <kirby-page-content>
    <div class="container">
      <div class="app-header">
        <!-- Hidden on small screen sizes-->
      </div>

      <kirby-card class="spacing" [hasPadding]="true"
        ><h2>Credits in account</h2>
        <h1>2.000.000 DKK</h1>
      </kirby-card>
      <kirby-card class="spacing" [hasPadding]="true">
        <h2>Investments - In Total</h2>
        <h1>400.000 DKK</h1>
        <div class="inside-kirby-card-grid">
          <p>Price movement since bought</p>
          <kirby-flag class="align-center" themeColor="danger">-500 DKK</kirby-flag>
          <p>Return this year</p>
          <kirby-flag class="align-center" themeColor="success">2000 DKK</kirby-flag>
        </div>
      </kirby-card>
      <kirby-card class="spacing" [hasPadding]="true"
        ><h2>Overview of spending</h2>

        <kirby-chart type="column" [data]="data" [labels]="labels"></kirby-chart>
      </kirby-card>

      <div class="max-width-container">
        <div class="grid-container">
          <div class="grid-item half-at-tablet-up third-at-desktop-up">
            <article>
              <kirby-card class="align-center" [hasPadding]="true" (click)="onCardSelect()">
                <kirby-icon name="recurring"></kirby-icon><br />Fixed payments</kirby-card
              >
            </article>
          </div>
          <div class="grid-item half-at-tablet-up third-at-desktop-up">
            <article>
              <kirby-card
                class="align-center"
                [hasPadding]="true"
                themeColor="secondary"
                (click)="onCardSelect()"
                ><kirby-icon name="swap"></kirby-icon><br />Pay and transfer</kirby-card
              >
            </article>
          </div>
          <div class="grid-item half-at-tablet-up third-at-desktop-up">
            <article>
              <kirby-card class="align-center" [hasPadding]="true" (click)="onCardSelect()"
                ><kirby-icon name="payment-card"></kirby-icon><br />Card</kirby-card
              >
            </article>
          </div>
        </div>
      </div>
    </div>
  </kirby-page-content>
</kirby-page>
