@use '@kirbydesign/core/src/scss/utils';

:host {
  display: inline-block;
}

:host-context(.ion-page) {
  kirby-card {
    top: var(--header-height, 0);
  }
}

:host-context(.ion-page.drawer) {
  kirby-card {
    top: 0;
  }
}

fieldset {
  border: 1px solid var(--kirby-border-color, utils.get-color('medium'));

  legend {
    color: utils.get-text-color('semi-dark');
    text-align: var(--text-align, initial);
  }
}

kirby-card {
  position: fixed;
  z-index: utils.z('default') + 1;
  top: 0;
  right: 0;
  margin-top: utils.$border-radius;
  font-size: utils.font-size('xs');
  opacity: 0.5;
  transition-property: transform, border-radius;
  transition-duration: utils.get-transition-duration('short');
  transition-timing-function: utils.get-transition-easing('enter-exit');
  transform: rotate(-90deg) translateY(-#{utils.$border-radius + utils.size('xs')});
  transform-origin: top right;
  padding: utils.size('xxs');

  --kirby-border-color: transparent;
  --text-align: center;

  @include utils.media('>=medium') {
    top: 0;
    transform: translateX(40%);
    padding: utils.size('s');

    --text-align: initial;
    --kirby-border-color: initial;
  }

  &:hover,
  &:active {
    opacity: unset;
    transform: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    --kirby-border-color: initial;
  }
}
