@if (configAppearance === 'toggle') {
  <button kirby-button attentionLevel="3" (click)="toggleConfig()">
    Configure
    @if (!showConfig) {
      <kirby-icon name="menu-outline"></kirby-icon>
    }
    @if (showConfig) {
      <kirby-icon name="menu"></kirby-icon>
    }
  </button>
}

@if (configAppearance !== 'block') {
  <kirby-card>
    <ng-container *ngTemplateOutlet="fieldset"></ng-container>
  </kirby-card>
} @else {
  <ng-container *ngTemplateOutlet="fieldset"></ng-container>
}

<ng-template #fieldset>
  <fieldset>
    <legend>{{ title }}</legend>
    <ng-content></ng-content>
  </fieldset>
</ng-template>
