@use '@kirbydesign/core/src/scss/utils';

:host {
  display: inline-block;

  &.toggle {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    right: utils.size('s');
    top: calc(utils.size('s') + var(--ion-safe-area-top));

    &.show-config {
      kirby-card {
        display: initial;
      }
    }

    kirby-card {
      display: none;
    }
  }

  &.snap {
    kirby-card {
      position: fixed;
      margin-top: utils.$border-radius;
      opacity: 0.5;
      transition-property: transform, border-radius;
      transition-duration: utils.get-transition-duration('short');
      transition-timing-function: utils.get-transition-easing('enter-exit');
      transform: rotate(-90deg) translateY(-#{utils.$border-radius + utils.size('xs')});
      transform-origin: top right;

      &:hover,
      &:active {
        opacity: unset;
        transform: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        --kirby-border-color: initial;
      }
    }
  }
}

:host-context(.ion-page) {
  kirby-card {
    top: var(--header-height, 0);
  }
}

:host-context(.ion-page.drawer) {
  kirby-card {
    top: 0;
  }
}

fieldset {
  border: 1px solid var(--kirby-border-color, utils.get-color('medium'));

  legend {
    color: utils.get-text-color('semi-dark');
    text-align: var(--text-align, initial);
  }
}

kirby-card {
  z-index: utils.z('default') + 1;
  font-size: utils.font-size('xs');
  padding: utils.size('xxs');
  top: 0;
  right: 0;
}
