@use '@kirbydesign/core/src/scss/utils';

:host {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: utils.size('s');

  @include utils.media('>=medium') {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card-content {
  padding: utils.size('s');
}
