<cookbook-card-example
  [hasHeader]="true"
  [hasPadding]="true"
  title="Card header flagged success"
  subtitle=""
  flagged="success"
></cookbook-card-example>
<cookbook-card-example
  [hasHeader]="true"
  [hasPadding]="true"
  title="Card header flagged warning"
  subtitle=""
  flagged="warning"
></cookbook-card-example>
<cookbook-card-example
  [hasHeader]="true"
  [hasPadding]="true"
  title="Card header flagged danger"
  subtitle=""
  flagged="danger"
></cookbook-card-example>
<cookbook-card-example
  [hasHeader]="true"
  [hasPadding]="true"
  title="Card header flagged info"
  subtitle=""
  flagged="info"
></cookbook-card-example>
