<div class="example">
  <cookbook-icon-example></cookbook-icon-example>
  <cookbook-code-viewer [html]="exampleHtml"></cookbook-code-viewer>
  <h4>Properties:</h4>
  <cookbook-api-description-properties
    [properties]="properties"
  ></cookbook-api-description-properties>
  <br />
  Use
  <code>'customName'</code>
  if you want to use custom icons. For adding custom icons, use
  <code>IconRegistryService</code>
  in your
  <code>NgModule</code>
  's constructor to add custom icons.
  <!-- prettier-ignore -->
  <cookbook-code-viewer language="ts">import {{ '{' }} IconRegistryService {{ '}' }} from '&#64;kirbydesign/designsystem';

const customIcons = [
    {{ '{' }} 
      name: 'customIconName',
      svg: '[PATH_TO_SVG_FILE]',
    {{ '},' }}
    ...
];

&#64;NgModule({{ '{' }} ... {{ '}' }} )
export class MyModule {{ '{' }} 
  constructor(iconRegistryService: IconRegistryService) {{ '{' }} 
    iconRegistryService.addIcons(customIcons);
  {{ '}' }} 
{{ '}' }}</cookbook-code-viewer>

  <div class="performance">
    <div class="title">
      <ion-icon name="information-circle"></ion-icon>
      <h4>Performance:</h4>
    </div>

    <div class="info">
      <p>
        A bonus with the web component is that it uses Intersection Observer to only request icons
        which are viewable by the users (icons above the fold). The component will dynamically load
        an SVG for each icon, so your app is only requesting the icons that you need.
      </p>
      <p>
        Also note that only visible icons are loaded, and icons which are "below the fold" and
        hidden from the user's view do not make fetch requests for the svg resource.
        <a href="https://ionicons.com/usage">Read more</a>
      </p>
    </div>
    <div></div>
  </div>
</div>
