<div class="example">
  <p>
    Kirby comes pre-packaged with a set of icons hand-crafted to be round and friendly. They are
    used together with other components to explain actions and functions of the UI.
  </p>

  <h2>Setup</h2>
  <p>
    To setup the Kirby icons ensure that the
    <code>.svg</code>
    files used by Kirby are copied to your output folder as
    <a
      href="https://github.com/kirbydesign/designsystem?tab=readme-ov-file#icons"
      class="kirby-external-icon"
      target="_blank"
    >
      explained in our readme file
    </a>
  </p>
  <p>
    If the icons exists at another location, it is possible to configure the path that the icons are
    loaded from by providing the
    <code>BUILT_IN_ICONS_URL</code>
    injection token.
  </p>

  <kirby-divider [hasMargin]="true"></kirby-divider>
  <p>
    The icon component only request icons visible to the the user (icons above the fold). The
    component will dynamically load an SVG for each icon, so your app is only requesting the icons
    that you need.
  </p>

  <h2>Default Icons (click to copy)</h2>
  <cookbook-example-viewer [html]="defaultHtmlSnippet">
    <cookbook-icon-default-example></cookbook-icon-default-example>
  </cookbook-example-viewer>

  <h2>Sizes</h2>
  <cookbook-example-viewer [html]="sizesHtmlSnippet">
    <cookbook-icon-sizes-example></cookbook-icon-sizes-example>
  </cookbook-example-viewer>

  <h2>Custom Icons</h2>
  <p>
    For adding custom icons, use
    <code>IconRegistryService</code>
    in your
    <code>NgModule</code>
    . We recommend registering icons that are reused across an application in a top-level module. If
    icons are registered in modules that are not shared across the application consider namespacing
    them, e.g.
    <code>my-feature-custom-icon-name</code>
    to avoid collisions.
  </p>

  <p>
    Once registered custom icons can be used via the
    <code>name</code>
    property similar to default icons.
  </p>

  <!-- prettier-ignore -->
  <cookbook-example-viewer [ts]="iconRegistrationCodeSnippet" [html]="">
    <cookbook-icon-custom-example></cookbook-icon-custom-example>
  </cookbook-example-viewer>

  <h2>Properties:</h2>
  <cookbook-api-description-properties
    [properties]="properties"
  ></cookbook-api-description-properties>
</div>
