<p>Breakpoint tokens define responsive layout thresholds.</p>

<p>
  They are available via the
  <code>media('>=[name]')</code>
  mixin for media queries, or as CSS custom properties.
</p>

<table class="kirby-table">
  <thead>
    <tr>
      <th>Name</th>
      <th class="custom-property-cell">CSS Custom Property</th>
      <th>Base value</th>
    </tr>
  </thead>
  <tbody>
    @for (token of breakpoints; track token.name) {
      <tr class="kirby-selectable-row" (click)="copyBtn.copy()">
        <td>
          <code>{{ token.name }}</code>
        </td>
        <td>
          <code>{{ token.cssVar }}</code>
          <cookbook-copy-token #copyBtn [cssVar]="token.cssVar"></cookbook-copy-token>
        </td>
        <td>{{ token.description }}</td>
      </tr>
    }
  </tbody>
</table>
