<div class="example">
  <cookbook-alert-example></cookbook-alert-example>
  <p>&nbsp;</p>
  <p>
    To show an alert, inject the Kirby
    <code>modalController</code>
    in your constructor, create an
    <code>AlertConfig</code>
    and pass it to
    <code>modalController.showAlert</code>
    .
    <cookbook-code-viewer [ts]="alertConfigWithIcon"></cookbook-code-viewer>
  </p>
  <p>
    <code>title</code>
    and
    <code>message</code>
    properties in
    <code>AlertConfig</code>
    also accept an Observable for dynamic values:
    <br />
    <em>
      (see "Example on github" for implementation details of the
      <code>remainingSeconds$</code>
      timer)
    </em>
    :
    <cookbook-code-viewer [ts]="alertConfigWithDynamicValues"></cookbook-code-viewer>
  </p>
  <p>
    <em>[Optional]</em>
    If you need to obtain data back from the alert, you can pass a callback function:
    <!-- prettier-ignore -->
    <cookbook-code-viewer language="ts">this.modalController.showAlert(config, onAlertClose);

private onAlertClose(result: boolean) {{ '{' }}
    ...
{{ '}' }}</cookbook-code-viewer>
  </p>

  <h2>Accessibility</h2>
  <p>
    Alerts have a
    <!-- prettier-ignore -->
    <a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/dialog_role">dialog</a>
    role and implement focus management and keyboard support accordingly.
  </p>
  <p>
    When opened, focus is moved into the alert. Focus is trapped within the alert while it is open,
    preventing users from navigating to elements outside the alert. Upon closing, focus is moved
    back to where it was before showing the alert.
  </p>

  <h3>Labeling</h3>
  <p>
    The alert title is automatically used as a label to add context for assistive technologies. For
    example, screen readers use the label to announce when the modal dialog appears and to give
    proper context when interacting with the content within.
  </p>
  <p>This emphasizes the importance of providing a meaningful title for all alerts.</p>

  <h2>Alert config properties</h2>
  <cookbook-api-description-properties
    [properties]="properties"
  ></cookbook-api-description-properties>
</div>
