<div class="example">
  <cookbook-alert-example></cookbook-alert-example>
  <p>&nbsp;</p>
  <p>
    To show an alert, inject the Kirby
    <code>alertController</code>
    in your constructor, create an
    <code>AlertConfig</code>
    and pass it to
    <code>alertController.showAlert</code>
    .
    <cookbook-code-viewer [ts]="alertConfigWithIcon"></cookbook-code-viewer>
  </p>
  <p>
    <code>title</code>
    and
    <code>message</code>
    properties in
    <code>AlertConfig</code>
    also accept an Observable for dynamic values:
    <br />
    <em>
      (see "Example on github" for implementation details of the
      <code>remainingSeconds$</code>
      timer)
    </em>
    :
    <cookbook-code-viewer [ts]="alertConfigWithDynamicValues"></cookbook-code-viewer>
  </p>
  <p>
    <em>[Optional]</em>
    If you need to obtain data back from the alert, you can subscribe to the
    <code>onWillDismiss</code>
    and
    <code>onDidDismiss</code>
    events like this:
    <!-- prettier-ignore -->
    <cookbook-code-viewer [ts]="observableCodeSnippet"></cookbook-code-viewer>
  </p>
  <h4>Alert config properties:</h4>
  <cookbook-api-description-properties
    [properties]="properties"
  ></cookbook-api-description-properties>
</div>
