<div class="modal-wrapper" #modalWrapper tabindex="-1" (window:focus)="onFocusChange()" (window:focusout)="onFocusChange()">
    <div class="modal-header">
        <h2 class="text-{{config.titleHorizontalAlignment}} title">{{ config.title }}</h2>
    </div>
    <div class="modal-content">    
        <ng-container *ngComponentOutlet="config.component"></ng-container>
    </div>
    <kirby-floating-action-button role="button" 
            class="dismiss-button" 
            (click)="onModalDismiss()" 
            (keydown)="onModalDismiss($event)" 
            tabindex="0">
        <kirby-icon [name]="config.closeIconName"></kirby-icon>
    </kirby-floating-action-button>
</div>