.modal {
    margin: 20;
    margin-top: 35;
    border-radius: 8;
    horizontal-align: center;
    vertical-align: middle;
    background-color: white;
}

.modal-container{
    padding: 25;
    padding-bottom: 10;
}