@import "../../scss/web-imports";

.modal {
  margin-top: 35;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  horizontal-align: center;
  vertical-align: middle;
  background-color: white;
  width: 100%;
}
