<div class="example">
  <cookbook-example-viewer [html]="toggleButtonExample.template">
    <cookbook-toggle-button-example #toggleButtonExample></cookbook-toggle-button-example>
  </cookbook-example-viewer>

  <h2>Toggle Button properties:</h2>
  <cookbook-api-description-properties
    [properties]="properties"
  ></cookbook-api-description-properties>
  <h2>Button properties:</h2>
  <cookbook-api-description-properties
    [properties]="buttonProperties"
  ></cookbook-api-description-properties>
</div>
