<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Kirby Chart</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
  <div id="chart"></div>
  <script src="nativescript-webview-interface.js"></script>
  <script src="highcharts.js"></script>
  <script>
    (function () {
        var oWebViewInterface = window.nsWebViewInterface;

        /**
         * Registers handlers for native events.
         */
        function addNativeMsgListener() {
            var chart;
            oWebViewInterface.on('loadChartData', function (chartData) {
                configureChartOptions(chartData);
                chart = Highcharts.chart('chart', chartData.options);
            });
            
            oWebViewInterface.on('updateChart', function (chartData) {
                configureChartOptions(chartData);
                chart = Highcharts.chart('chart', chartData.options);
            });
        }

        function configureChartOptions(chartData) {
            chartData.options.chart.height = chartData.height;
            if (chartData.options.chart.type === 'pie') {
                chartData.options.plotOptions.pie.point.events.legendItemClick = function(e) {
                    return e.preventDefault();
                }
            }
        }

        function init() {
            addNativeMsgListener();
        }

        init();
    })();
  </script>      
</body>
</html>
