:host {
  display: flex;
}

.form-state {
  margin-top: var(--kirby-spacing-xs);
  border-top: 1px solid var(--kirby-medium);
  padding: var(--kirby-spacing-xxs);

  h4 {
    margin-bottom: var(--kirby-spacing-xxxs);
    font-weight: var(--kirby-font-weight-normal);
  }

  p {
    margin: 0;
    font-size: var(--kirby-font-size-xs);
    line-height: var(--kirby-line-height-xs);
  }

  span {
    background-color: var(--kirby-danger);
    color: var(--kirby-white);
    margin-right: var(--kirby-spacing-xxxs);
    padding: 0 var(--kirby-spacing-xxxxs);
    border-radius: var(--kirby-spacing-xxxs);
  }

  span.state-true {
    background-color: var(--kirby-success);
    color: var(--kirby-success-contrast);
  }
}
