@use 'sass:map';
@use '@kirbydesign/core/src/scss/utils';

kirby-card {
  width: map.get(utils.$breakpoints, xsmall);

  @include utils.media('>=large') {
    width: map.get(utils.$breakpoints, medium);
  }

  kirby-card-header {
    padding: utils.size('xxxs');
    padding-bottom: 0;
    background-color: utils.get-color('warning');
    color: utils.get-color('warning-contrast');
  }

  kirby-item:not(:last-child) {
    border-bottom: 1px utils.get-color('background-color') solid;
  }
}
