@import '../../../kirby/scss/utils';

:host {
  display: block;
  padding: size('s');
  background-color: get-color('background-color');

  > * {
    display: block;
  }

  > * + * {
    margin-top: size('m');
  }
}
