<kirby-card>
  <kirby-item>
    <kirby-label>
      <kirby-badge themeColor="success">1</kirby-badge>
      <kirby-badge themeColor="warning">1</kirby-badge>
    </kirby-label>
    <kirby-label>
      <h3>Title</h3>
      <h4>Subtitle</h4>
    </kirby-label>
    <kirby-label>
      <h3>Value</h3>
      <h4>Subvalue</h4>
    </kirby-label>
  </kirby-item>
</kirby-card>


<kirby-item>
  <kirby-icon name="checkmark-selected"></kirby-icon>
  <kirby-label>
    <h3>Title</h3>
    <h4>Subtitle</h4>
  </kirby-label>
  <kirby-label>
    <h3>Value</h3>
    <h4>Subvalue</h4>
  </kirby-label>
</kirby-item>

<kirby-item>
  <kirby-label>
    <h3>Title</h3>
  </kirby-label>
  <kirby-label>
    <h3>Value</h3>
  </kirby-label>
</kirby-item>

<kirby-item>
  <kirby-avatar overlay="true">
    <kirby-icon name="cog"></kirby-icon>
    <kirby-badge>
      <kirby-icon name="attach"></kirby-icon>
    </kirby-badge>
  </kirby-avatar>
  <kirby-label>
    <h3>Title</h3>
  </kirby-label>

</kirby-item>

<kirby-item>
  <kirby-label>
    <h3>Title</h3>
  </kirby-label>
  <kirby-toggle></kirby-toggle>
</kirby-item>

<kirby-item>
  <kirby-label>
    <h3>Title</h3>
    <h4>Subtitle</h4>
  </kirby-label>
  <button kirby-button size="sm">Small Button</button>
</kirby-item>



<kirby-item>
  <kirby-avatar overlay="true">
    <kirby-icon name="cog"></kirby-icon>
    <kirby-badge>
      <kirby-icon name="attach"></kirby-icon>
    </kirby-badge>
  </kirby-avatar>
  <kirby-label>
    <h3>ALM.Brand forsikring A/S</h3>
    <h4>Familiens - Basisforsikring</h4>
    <h4>Totalkonto - Budgetkonto</h4>
  </kirby-label>
  <kirby-label>
    <h3>Value</h3>
  </kirby-label>
</kirby-item>

<kirby-item>
  <kirby-avatar overlay="true" slot="start">
    <kirby-icon name="cog"></kirby-icon>
    <kirby-badge>
      <kirby-icon name="attach"></kirby-icon>
    </kirby-badge>
  </kirby-avatar>
  <kirby-label expand>
    <h3>Køb af bolig fordi jeg</h3>
    <h6>i dag</h6>
  </kirby-label>
  <kirby-label>
    <p>Hey Marvin, så er der nye papire klar til
      underskrift, men du skal lige kigge</p>
  </kirby-label>
</kirby-item>

<kirby-item>
  <kirby-avatar overlay="true" slot="start">
    <kirby-icon name="cog"></kirby-icon>
    <kirby-badge>
      <kirby-icon name="attach"></kirby-icon>
    </kirby-badge>
  </kirby-avatar>
  <kirby-label>
    <h3>Lorem ipsum quam notem andamus gepulowitzh onga bonga bimmelon sid est insula</h3>
    <h6>Telefon, Internet, Streaming tjenester og andet militærmusik</h6>
  </kirby-label>
  <button kirby-button size="sm" slot="end">Small Button</button>
</kirby-item>

<kirby-item>
  <kirby-avatar overlay="true">
    <kirby-icon name="cog"></kirby-icon>
  </kirby-avatar>
  <kirby-label>
    <h3>Title</h3>
    <h6>Subtitle</h6>
  </kirby-label>
  <kirby-label>
    <h3>Value</h3>
  </kirby-label>
</kirby-item>

<kirby-item>
    <kirby-avatar overlay="true">
      <kirby-icon name="cog"></kirby-icon>
    </kirby-avatar>
    <kirby-label>
      <h3>Mad og indkøb</h3>
    </kirby-label>
    <kirby-label>
      <h3>-849,00</h3>
    </kirby-label>
</kirby-item>

<kirby-item>
  <kirby-avatar overlay="true">
    <kirby-icon name="cog"></kirby-icon>
  </kirby-avatar>
  <kirby-label>
    <h3>Mad og indkøb</h3>
    <h6>16.07.2019</h6>
  </kirby-label>
  <kirby-label>
    <h3>Value</h3>
  </kirby-label>
</kirby-item>

<kirby-item>
  <kirby-avatar overlay="true">
    <kirby-icon name="cog"></kirby-icon>
  </kirby-avatar>
  <kirby-label>
    <h3 class="bold">Mad og indkøb</h3>
  </kirby-label>
  <kirby-icon name="checkmark-selected"></kirby-icon>
</kirby-item>

<kirby-item>
  <kirby-avatar overlay="true">
    <kirby-icon name="cog"></kirby-icon>
  </kirby-avatar>
  <kirby-label>
    <h3>Mad og indkøb</h3>
    <h3>Mad og indkøb</h3>
    <h3>Mad og indkøb</h3>
    <h3>Mad og indkøb</h3>
    <h3>Mad og indkøb</h3>
    <h3>Mad og indkøb</h3>
    <h3>Mad og indkøb</h3>
    <h3>Mad og indkøb</h3>
  </kirby-label>
</kirby-item>

<kirby-item>
  <kirby-label>
    <h3 class="bold">Beholdning</h3>
  </kirby-label>
  <kirby-label>
    <h3>50 stk</h3>
    <h6>2 depoter</h6>
  </kirby-label>
</kirby-item>
