<h1>Messages</h1>

<kirby-item>
  <h3>Title</h3>
  <h3>Value</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, amet explicabo fugiat minus non quod ullam. A blanditiis illum inventore laudantium veritatis! Aliquam consectetur fuga molestias nam omnis sequi sit?</p>
</kirby-item>

<kirby-item>
  <kirby-avatar text="c" overlay="true"></kirby-avatar>
  <h3>Value</h3>
</kirby-item>

<h1>Documents</h1>

<kirby-item>
  <kirby-avatar text="c" overlay="true"></kirby-avatar>
  <div>
    <h3>Title</h3>
    <h3>Subtitle</h3>
    <h3>Sub Subtitle</h3>
  </div>
  <h5>Value</h5>
</kirby-item>

<kirby-item>
  <kirby-avatar text="c" overlay="true"></kirby-avatar>
  <h3>Value</h3>
</kirby-item>

<h1>Account</h1>

<kirby-item>
  <div>
    <kirby-badge themeColor="success" text="1"></kirby-badge>
    <kirby-badge themeColor="warning" text="1"></kirby-badge>
  </div>
  <kirby-avatar overlay="true">
    <kirby-icon name="cog"></kirby-icon>
    <kirby-badge>
      <kirby-icon name="attach"></kirby-icon>
    </kirby-badge>
  </kirby-avatar>
  <div>
    <h3>Title</h3>
    <h4>Subtitle</h4>
  </div>
  <div slot="end">
    <h3>Value</h3>
    <h4>Sub detail</h4>
  </div>
</kirby-item>

<kirby-item>
  <kirby-avatar overlay="true">
    <kirby-icon name="cog"></kirby-icon>
    <kirby-badge>
      <kirby-icon name="attach"></kirby-icon>
    </kirby-badge>
  </kirby-avatar>
  <h3>Title</h3>
  <h3>Value</h3>
</kirby-item>

<h1>Selectbox</h1>

<h1>Truncate</h1>
<kirby-item>
  <kirby-avatar text="c" overlay="true"></kirby-avatar>
  <div>
    <h3>Title</h3>
    <h4>This is a very very very very very very long subtitle</h4>
  </div>
  <div slot="end">
    <h3>Value</h3>
    <h3>Sub detail</h3>
  </div>
</kirby-item>

<kirby-item>
  <kirby-avatar text="c" overlay="true" slot="start"></kirby-avatar>
  <div>
    <h3>Title</h3>
    <h4>Subtitle</h4>
  </div>
  <div>
    <h3>This is a very very very very very very long value</h3>
    <h4>Sub detail</h4>
  </div>
</kirby-item>

<kirby-item>
  <kirby-avatar text="c" overlay="true" slot="start"></kirby-avatar>
  <div>
    <h3>Title</h3>
    <h4>Subtitle</h4>
  </div>
  <div>
    <h3>Value</h3>
    <h4>This is a very very very very very very long sub detail</h4>
  </div>
</kirby-item>
