<kirby-item>
  <kirby-avatar overlay="true">
    <kirby-icon name="cog"></kirby-icon>
    <kirby-badge>
      <kirby-icon name="attach"></kirby-icon>
    </kirby-badge>
  </kirby-avatar>
  <kirby-label>
    <h3>ALM.Brand forsikring A/S</h3>
    <h4>Familiens - Basisforsikring</h4>
    <h4>Totalkonto - Budgetkonto</h4>
  </kirby-label>
  <kirby-label>
    <h3>Value</h3>
  </kirby-label>
</kirby-item>

<kirby-item>
  <kirby-avatar overlay="true" slot="start">
    <kirby-icon name="cog"></kirby-icon>
    <kirby-badge>
      <kirby-icon name="attach"></kirby-icon>
    </kirby-badge>
  </kirby-avatar>
  <kirby-label expand>
    <h3>Køb af bolig fordi jeg...</h3>
    <h6>i dag</h6>
  </kirby-label>
  <kirby-label position="stacked">
    <p>Hey Marvin, så er der nye papire klar til
      underskrift, men du skal lige kigge</p>
  </kirby-label>
</kirby-item>
