@import '../../../scss/native-imports';

$color-gray: #333333; 

.background {
     background-color: transparent;
     align-items: center;
     flex-wrap: wrap;
     justify-content: center;
     align-content: flex-start;
}

.doughnut-chart {
    background-color: transparent;
    height: 205;
    width: 205;
}

%legend-shared {
    background-color: transparent;
}

.legend-stack {
    @extend %legend-shared;
}

.legend-label {
    @extend %legend-shared;
    margin: 0;
    padding-bottom: 10;
    text-align: left;
    vertical-align: center;
}

.legend-text {
    @extend %legend-shared;
    font-size: font-size("n");
    color: $color-gray;
}

.roboto {
    font-family: 'Roboto';
}
