<div class="example">
  <cookbook-circular-progress-example></cookbook-circular-progress-example>
  <cookbook-code-viewer [html]="exampleHtml"></cookbook-code-viewer>
  <h4>Properties:</h4>
  <table class="cookbook-properties">
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Input values</th>
      <th>Default</th>
    </thead>
    <tbody>
      <tr>
        <td><code>value</code></td>
        <td>Sets the progress percentage</td>
        <td><code>number</code><br />[0-100]</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>
</div>
