@use '@kirbydesign/core/src/scss/utils';

.section-header {
  padding: 0 utils.size('s') utils.size('xxs') utils.size('xxs');
  display: flex;
  justify-content: flex-end;

  span {
    padding-left: utils.size('s');
  }
}
