.section-header {
  padding: 0 var(--kirby-spacing-s) var(--kirby-spacing-xxs) var(--kirby-spacing-xxs);
  display: flex;
  justify-content: flex-end;

  span {
    padding-left: var(--kirby-spacing-s);
  }
}
