<kirby-page title="Reorder">
  <kirby-page-content>
    <header class="section-header">
      @for (headerText of headerTexts; track headerText) {
        <span class="kirby-text-small-light">
          {{ headerText }}
        </span>
      }
    </header>
    <kirby-reorder-list
      (itemReorder)="doReorderItem($event)"
      (subItemReorder)="doReorderShadowAccount($event)"
      subItemsName="shadowAccounts"
      [items]="items"
    >
      <kirby-item
        *kirbyListItemTemplate="let reorderItem; let isSubItem = isSubItem"
        reorderable="true"
      >
        <kirby-label>
          <h3 [ngClass]="{ 'kirby-text-bold': !isSubItem }">{{ reorderItem.title }}</h3>
          @if (!reorderItem.isOwnAccount) {
            <p detail>{{ reorderItem.ownerName }}</p>
          }
        </kirby-label>
        <kirby-toggle
          slot="end"
          [checked]="true"
          [attr.aria-label]="'hide or show account ' + reorderItem.title"
        ></kirby-toggle>
      </kirby-item>
    </kirby-reorder-list>
  </kirby-page-content>
</kirby-page>
