<p>
  The
  <code>kirby-item-group</code>
  is a layout container for grouping related content.
</p>
<p>
  It is ideal for grouping
  <code>kirby-item</code>
  and
  <code>kirby-item-sliding</code>
  . The group will also make sure that screen-readers will notify users of the existence of this
  grouping, if an item inside it recieves focus, via its group-role.
</p>

<h2>Item Group</h2>
<cookbook-simple-item-group-example #itemGroupExample></cookbook-simple-item-group-example>
<cookbook-example-viewer [html]="itemGroupExample.template"></cookbook-example-viewer>

<h2>Section Header in Item Group</h2>
<cookbook-item-group-with-section-header-example
  #sectionHeaderExample
></cookbook-item-group-with-section-header-example>
<cookbook-example-viewer [html]="sectionHeaderExample.template"></cookbook-example-viewer>
