@import '../../../scss/utils';

:host {
  background: get-color('success');
  ion-item-option {
    --background: #{get-color('success')};
  }
}

@each $color-name, $color-value in $main-colors {
  :host[themecolor='#{$color-name}'] {
    background-color: #{get-color($color-name)};
    ion-item-option {
      --background: #{get-color($color-name)};
    }
  }
}
