<div class="example-container">
  <h1>Accordion</h1>

  <h2>Simple accordion</h2>
  <div class="example-frame">
    <cookbook-accordion-default-example></cookbook-accordion-default-example>
  </div>

  <h2>Accordion with item initially expanded</h2>
  <div class="example-frame">
    <cookbook-accordion-expanded-example></cookbook-accordion-expanded-example>
  </div>

  <h2>Accordion inside a card</h2>
  <div class="example-frame">
    <cookbook-accordion-card-example></cookbook-accordion-card-example>
  </div>

  <h2>Accordion with list</h2>
  <div class="example-frame">
    <cookbook-accordion-with-list-example></cookbook-accordion-with-list-example>
  </div>

  <h2>Accordion inside a card with list</h2>
  <div class="example-frame">
    <cookbook-accordion-with-list-in-card-example></cookbook-accordion-with-list-in-card-example>
  </div>

  <h2>Accordion Toggle event</h2>
  <div class="example-frame">
    <cookbook-accordion-events-example></cookbook-accordion-events-example>
  </div>

  <h2>Accordion with heading level</h2>
  <div class="example-frame">
    <cookbook-accordion-heading-level-example></cookbook-accordion-heading-level-example>
  </div>
</div>
