@import './libs/designsystem/src/lib/scss/utils';

h2:not(:first-child) {
  margin-top: size('l');
}

cookbook-example-viewer > *:first-child {
  display: block;
  margin-bottom: size('s');
  max-width: 550px;
}
