<div class="example">
  <h2>Accordion</h2>
  <p>
    An accordion is a vertically stacked list of headers that reveal or hide related sections of
    content.
  </p>
  <p>
    <em>
      <strong>Note:</strong>
      Accordion uses Angular animations for animating between its collapsed and expanded state. As
      no other components depend on the package it is not bundled with Kirby for performance reasons
      and should instead be provided in the application as detailed in the Angular docs for
      <a href="https://angular.dev/guide/animations#enabling-the-animations-module">
        enabling the animations module
      </a>
      .
    </em>
  </p>
  <cookbook-example-viewer [html]="accordionDefaultExample.template">
    <cookbook-accordion-default-example
      #accordionDefaultExample
    ></cookbook-accordion-default-example>
  </cookbook-example-viewer>

  <h2>Accordion with an initially expanded item</h2>
  <cookbook-example-viewer [html]="accordionExpandedExample.template">
    <cookbook-accordion-expanded-example
      #accordionExpandedExample
    ></cookbook-accordion-expanded-example>
  </cookbook-example-viewer>

  <h2>Accordion inside a card</h2>
  <cookbook-example-viewer [html]="accordionCardExample.template">
    <cookbook-accordion-card-example #accordionCardExample></cookbook-accordion-card-example>
  </cookbook-example-viewer>

  <h2>Accordion toggle event</h2>
  <cookbook-example-viewer
    [html]="accordionEventExample.template"
    [ts]="accordionEventExample.codeSnippet"
  >
    <cookbook-accordion-events-example #accordionEventExample></cookbook-accordion-events-example>
  </cookbook-example-viewer>

  <h2>Properties:</h2>
  <cookbook-api-description-properties
    [properties]="properties"
  ></cookbook-api-description-properties>

  <h2>Events</h2>
  <cookbook-api-description-events [events]="events"></cookbook-api-description-events>
</div>
