<h2>Bar Chart built from configs</h2>

<p>
  This page describes how to implement various types of bar charts using the Kirby standard
  configurations. If you would like a guide on how to get started on Kirby chart configs, go to
  <a routerLink="../../guides/chart-config">this guide</a>
  .
</p>

<h3>Demo data</h3>
<p>The data used to exemplify these charts is displayed below:</p>

<p>
  <cookbook-code-viewer [inlineLabel]="true" [ts]="data" [language]="'ts'"></cookbook-code-viewer>
</p>

<h3>Bar chart</h3>
<kirby-card [hasPadding]="true">
  <cookbook-example-viewer
    [html]="baseBarConfigExample.template"
    [ts]="baseBarConfigExample.codeSnippet"
  >
    <cookbook-chart-example-config-base-bar
      #baseBarConfigExample
    ></cookbook-chart-example-config-base-bar>
  </cookbook-example-viewer>
</kirby-card>
