@import "../../scss/web-imports";

.spinner {
  overflow: hidden;
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 auto;
}

.inner-circle,
.outer-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: get-color("kirby-primary");
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.outer-circle {
  animation-delay: -1.0s;
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
  }
}