@import '../../../scss/utils';

:host {
  display: block;
  .group-inner {
    box-shadow: get-elevation(2);
    border-radius: $border-radius;
    overflow: hidden;
  }
}

:host-context(kirby-list) {
  &:not(:last-child) {
    margin-bottom: size('s');
  }

  .group-inner {
    ::ng-deep kirby-item-sliding:last-child {
      --item-border-color: green;
    }
  }
}
