<kirby-list [items]="myItems" (itemSelect)="onItemSelect($event)">
  <kirby-list-cell
    *kirbyListCell="let account"
    [lineOne]="account.title"
    lineTwo="{{ account.detail === 0 ? null : account.detail }}"
  >
  </kirby-list-cell>
  <kirby-list-cell
    *kirbyListCell="let account"
    [lineOne]="account.subTitle"
    alignHorisontal="flex-end"
  ></kirby-list-cell>
  <kirby-list-cell
    *kirbyListCell="let account"
    [lineOne]="account.amount"
    alignVertical="center"
    alignHorisontal="flex-end"
  ></kirby-list-cell>
</kirby-list>

<hr />

<kirby-list
  [items]="myItems"
  (itemSelect)="onItemSelect($event)"
  [getSectionName]="getSectionName"
>
  <kirby-list-section-header
    *kirbyListSectionHeader="let section"
    [title]="section"
  ></kirby-list-section-header>
  <kirby-list-cell
    *kirbyListCell="let item"
    [lineOne]="item.title"
    [lineTwo]="item.detail"
    flexGrow="10"
  ></kirby-list-cell>
  <kirby-list-cell
    *kirbyListCell="let item"
    [lineOne]="item.amount"
    flexGrow="1"
    alignVertical="flex-start"
    alignHorisontal="flex-end"
  ></kirby-list-cell>
</kirby-list>

<hr />

<kirby-list [items]="myItems" (itemSelect)="onItemSelect($event)">
  <kirby-list-cell
    *kirbyListCell="let item"
    [lineOne]="item.title"
    [lineTwo]="item.detail"
    flexGrow="10"
  ></kirby-list-cell>
  <!-- you can make custom cells using the kirbyListCell directive -->
  <div *kirbyListCell="let item">custom cell {{ item.subTitle }}</div>
  <kirby-list-cell
    *kirbyListCell="let item"
    [lineOne]="item.amount"
    flexGrow="1"
    alignVertical="flex-start"
    alignHorisontal="flex-end"
  ></kirby-list-cell>
</kirby-list>

<hr />

<kirby-list [items]="myItems" (itemSelect)="onItemSelect($event)">
  <kirby-list-header
    *kirbyListHeader
    [left]="'Navn'"
    [middle]="'Afkast ÅTD'"
    [right]="'Værdi'"
  ></kirby-list-header>
  <kirby-list-item
    *kirbyListItem="let item"
    [title]="item.title"
    [amount]="item.amount"
  ></kirby-list-item>
</kirby-list>
