<kirby-list [sections]="mySectionListWithOneElement">
  <kirby-list-item *kirbyListItem="let item" [item]="item" (click)="onClick(item)"></kirby-list-item>
</kirby-list>

<hr>

<kirby-list [sections]="mySectionListWithOneElement">
  <kirby-list-item *kirbyListItem="let item" [title]="item.title" [amount]="item.amount" (click)="onClick(item)"></kirby-list-item>
</kirby-list>

<hr>


<kirby-list [sections]="mySectionListWithManyElements">
    <kirby-list-section-header *kirbyListSectionHeader></kirby-list-section-header>
    <kirby-list-item *kirbyListItem="let item" [title]="item.title" [amount]="item.amount" [detail]="item.detail" (click)="onClick(item)"></kirby-list-item>
</kirby-list>
  
<hr>

<!-- If you wish to use your own template, just add the *kirbyListItem="let item" to the element -->

<kirby-list [items]="myItems" (rowClick)="onClick($event)">
  <ng-container *kirbyListItem="let item">
    <span>{{item.title}}</span>
  </ng-container>
</kirby-list>

