<kirby-list [items]="myItems">
  <kirby-list-item *kirbyListItem="let item" [item]="item" (click)="onClick(item)"></kirby-list-item>
</kirby-list>

<hr>

<kirby-list [items]="myItems">
  <kirby-list-item *kirbyListItem="let item" [title]="item.title" [amount]="item.amount" (click)="onClick(item)"></kirby-list-item>
</kirby-list>

<hr>


<kirby-list [items]="mySections[0].items" [sections]="mySections">
    <kirby-list-header *kirbyListHeader="let columns" [left]="'Left'" [middle]="'Middle'" [right]="'Right'"></kirby-list-header>
    <kirby-list-section-header *kirbyListSectionHeader="let title"></kirby-list-section-header>
    <!--<kirby-list-section-header *kirbyListSectionHeader="let section" [title]="section.t.s"></kirby-list-section-header>-->
    <kirby-list-item *kirbyListItem="let item" [title]="item.title" [amount]="item.amount" [detail]="item.detail" (click)="onClick(item)"></kirby-list-item>
</kirby-list>
  
<hr>

<!-- If you wish to use your own template, just add the *kirbyListItem="let item" to the element -->

<kirby-list [items]="myItems" (rowClick)="onClick($event)">
  <ng-container *kirbyListItem="let item">
    <span>{{item.title}}</span>
  </ng-container>
</kirby-list>

