<table class="api-description">
  <thead>
    @if (columns.name) {
      <th>{{ columns.name }}</th>
    }
    @if (columns.description) {
      <th>{{ columns.description }}</th>
    }
    @if (columns.type) {
      <th>{{ columns.type }}</th>
    }
  </thead>
  <tbody>
    @for (method of methods; track method) {
      <tr>
        @if (columns.name) {
          <td>
            <code>{{ method.name }}</code>
          </td>
        }
        @if (columns.description) {
          <td class="description">{{ method.description }}</td>
        }
        @if (columns.type) {
          <td>
            <code>{{ method.signature }}</code>
          </td>
        }
      </tr>
    }
  </tbody>
</table>
