@use './shared';

:host {
  display: flex;
  gap: var(--kirby-spacing-m);
}

kirby-card {
  max-width: var(--kirby-breakpoint-xsmall);

  &:not(.outlined) {
    // avoid content jumping when no outline:
    border: 1px solid transparent;
  }
}

fieldset {
  align-self: flex-start;
}
