@use '@kirbydesign/core/src/scss/utils';

:host {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: utils.size('s');

  @include utils.media('>=medium') {
    flex-direction: row;
  }
}
