<main>
  <section>
    <div class="safe-area-inline">
      <div class="max-width-container gutter">
        <h1>Grid Layout - Extended Example</h1>
      </div>
      <div class="max-width-container">
        <div class="grid-container">
          <div class="grid-item half-at-tablet-up">
            <article>
              <div class="gutter">
                <h2>Heading level 2</h2>
              </div>
              <kirby-card hasPadding="true">
                <div class="box example-text align-center">1</div>
              </kirby-card>
            </article>
          </div>
          <div class="grid-item half-at-tablet-up">
            <article>
              <div class="gutter">
                <h2>Heading level 2</h2>
              </div>
              <kirby-card hasPadding="true">
                <div class="box example-text align-center">2</div>
              </kirby-card>
            </article>
          </div>
          <div class="grid-item half-at-tablet-up">
            <article>
              <div class="gutter">
                <h2>Heading level 2</h2>
              </div>
              <kirby-card hasPadding="true">
                <div class="box example-text align-center">3</div>
              </kirby-card>
            </article>
          </div>
          <div class="grid-item half-at-tablet-up">
            <article>
              <div class="gutter">
                <h2>Heading level 2</h2>
              </div>
              <kirby-card hasPadding="true">
                <div class="box example-text align-center">4</div>
              </kirby-card>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="safe-area-inline">
    <div class="max-width-container gutter">
      <div class="box">
        <button kirby-button size="lg">Add</button>
        <p class="align-center">
          Strategy bonds IRA lucrative Fitch rates bondholders securities fiat public managed 401k
          risk market index.
        </p>
      </div>
    </div>
  </div>

  <section>
    <div class="safe-area-inline">
      <div class="max-width-container gutter">
        <h1>Heading level 1</h1>
        <p>
          Strategy bonds IRA lucrative Fitch rates bondholders securities fiat public managed 401k
          risk market index.
        </p>
      </div>
      <div class="max-width-container">
        <div class="grid-container">
          <div class="grid-item half-at-tablet-up third-at-desktop-up">
            <article>
              <kirby-card hasPadding="true">
                <h2>Heading level 2</h2>
                <p>
                  Fluctuate interest rates Dow Jones receive rise government term municipal market
                  Nikkei passively return performance. Public finance holder fiat established bonds
                  hedge fund benchmark.
                </p>
              </kirby-card>
            </article>
          </div>
          <div class="grid-item half-at-tablet-up third-at-desktop-up">
            <article>
              <kirby-card hasPadding="true">
                <h2>Heading level 2</h2>
                <p>
                  Fluctuate interest rates Dow Jones receive rise government term municipal market
                  Nikkei passively return performance. Public finance holder fiat established bonds
                  hedge fund benchmark.
                </p>
              </kirby-card>
            </article>
          </div>
          <div class="grid-item half-at-tablet-up third-at-desktop-up">
            <article>
              <kirby-card hasPadding="true">
                <h2>Heading level 2</h2>
                <p>
                  Fluctuate interest rates Dow Jones receive rise government term municipal market
                  Nikkei passively return performance. Public finance holder fiat established bonds
                  hedge fund benchmark.
                </p>
              </kirby-card>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--
    Hidden area for demonstrating non-essential parts of the layout.
    Only visible when inside a containing element with class="debug".
    Apply class="debug" to <main> to make the not-grid area visible.
  -->
  <div class="not-grid">
    <div class="safe-area-inline">
      <div class="max-width-container gutter">
        <div id="example-1" class="box example-text align-center">
          <div class="h1">max-width + gutter + safe area</div>
          .safe-area-inline > .max-width-container.gutter
        </div>
      </div>
    </div>
    <div class="safe-area-inline">
      <div id="example-2" class="box example-text align-center">
        <div class="h1">Full width + safe area</div>
        .safe-area-inline
      </div>
    </div>
    <div id="example-3" class="box example-text align-center">
      <div class="h1">Full width</div>
    </div>
  </div>
</main>
