<kirby-checkbox-example></kirby-checkbox-example>
<kirby-code-viewer [html]="exampleHtml"></kirby-code-viewer>
<h4>Properties:</h4>
<table class="cookbook-properties">
  <thead>
    <th>Name</th>
    <th>Description</th>
    <th>Input values</th>
    <th>Default</th>
  </thead>
  <tbody>
    <tr>
      <td><code>checked</code></td>
      <td>Checks- and unchecks the checkbox</td>
      <td><code>boolean</code></td>
      <td>false</td>
    </tr>
    <tr>
      <td><code>color</code></td>
      <td>Specifies the fill color of the checkbox</td>
      <td><code>"primary" || "secondary" || "tertiary" || "warning" || "success" || "danger"</code></td>
      <td>"primary"</td>
    </tr>
    <tr>
      <td><code>shape</code></td>
      <td>Specifies if the checkbox will be square or circle shaped</td>
      <td><code>"square" || "circle</code></td>
      <td>"square"</td>
    </tr>
  </tbody>
</table>