<kirby-checkbox-example></kirby-checkbox-example>
<kirby-html-viewer [html]="exampleHtml"></kirby-html-viewer>
<h4>Properties:</h4>
<table class="cookbook-properties">
  <thead>
    <th>Name</th>
    <th>Description</th>
    <th>Input values</th>
    <th>Default</th>
  </thead>
  <tbody>
    <tr>
      <td><code>color</code></td>
      <td>Specifies the fill color of the checkbox</td>
      <td><code>"primary" || "secondary" || "tertiary"</code></td>
      <td>"primary"</td>
    </tr>
    <tr>
      <td><code>shape</code></td>
      <td>Specifies if the checkbox will be square or circle shaped</td>
      <td><code>"square" || "circle</code></td>
      <td>"square"</td>
    </tr>
  </tbody>
</table>