@use '@kirbydesign/core/src/scss/utils';

h2 {
  margin-top: utils.size('l');
  margin-bottom: 0;
}

.note {
  color: utils.get-text-color('danger');
  font-size: utils.font-size('xs');
}

.icon-item-container {
  width: 112px;
  padding: 8px;
  display: inline-block;
  text-align: center;
}

.icon-item-inner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
}

.icon-item-title {
  display: block;
  max-width: 112px;
  font-size: 12px;
  color: rgb(0 0 0 / 60%);
  white-space: nowrap;
}

kirby-icon {
  width: 100%;
}

.options {
  width: 100%;
  margin-bottom: utils.size('m');
}

.colors {
  display: flex;
  width: 100%;
  margin-bottom: utils.size('m');
  flex-wrap: wrap;
}

.color-button {
  background: none;
  border: none;
  cursor: pointer;
  margin: utils.size('s');
  width: 70px;

  &__txt {
    display: block;
    width: 100%;
  }
}

.color {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

@each $color-name, $color-value in utils.$main-colors {
  .color--#{$color-name} {
    background-color: utils.get-color($color-name);
  }
}
