<cookbook-dropdown-example-configuration
  [size]="size"
  (sizeChanged)="setSize($event)"
></cookbook-dropdown-example-configuration>
<h2>Simple</h2>
<h3>Default</h3>
<cookbook-example-viewer [html]="defaultExample.template">
  <div class="example-frame">
    <cookbook-dropdown-example-default
      [size]="size"
      #defaultExample
    ></cookbook-dropdown-example-default>
  </div>
</cookbook-example-viewer>
<h3>Scroll</h3>
<cookbook-example-viewer [html]="scrollExample.template">
  <div class="example-frame">
    <cookbook-dropdown-example-scroll
      [size]="size"
      #scrollExample
    ></cookbook-dropdown-example-scroll>
  </div>
</cookbook-example-viewer>
<h3>Pre-selected</h3>
<cookbook-example-viewer [html]="preSelectedExample.template">
  <div class="example-frame">
    <cookbook-dropdown-example-pre-selected
      [size]="size"
      #preSelectedExample
    ></cookbook-dropdown-example-pre-selected>
  </div>
</cookbook-example-viewer>
<h3>Block level</h3>
<cookbook-example-viewer [html]="expandExample.template">
  <div class="example-frame">
    <cookbook-dropdown-example-expand
      [size]="size"
      #expandExample
    ></cookbook-dropdown-example-expand>
  </div>
</cookbook-example-viewer>
<h3>Right aligned</h3>
<cookbook-example-viewer [html]="rightAlignedExample.template" [css]="rightAlignedExample.styles">
  <div class="example-frame">
    <cookbook-dropdown-example-right-aligned
      [size]="size"
      #rightAlignedExample
    ></cookbook-dropdown-example-right-aligned>
  </div>
</cookbook-example-viewer>
<h3>Attention level</h3>
<cookbook-example-viewer [html]="attentionLevelExample.template">
  <div class="example-frame">
    <cookbook-dropdown-example-attention-level
      [size]="size"
      #attentionLevelExample
    ></cookbook-dropdown-example-attention-level>
  </div>
</cookbook-example-viewer>
<h3>Event handler</h3>
<cookbook-example-viewer [html]="itemSelectExample.template">
  <div class="example-frame">
    <cookbook-dropdown-example-item-select
      [size]="size"
      #itemSelectExample
    ></cookbook-dropdown-example-item-select>
  </div>
</cookbook-example-viewer>
<h2>Advanced</h2>
<h3>Custom Item template</h3>
<cookbook-example-viewer [html]="customItemTemplateExample.template">
  <div class="example-frame">
    <cookbook-dropdown-example-custom-item-template
      [size]="size"
      #customItemTemplateExample
    ></cookbook-dropdown-example-custom-item-template>
  </div>
</cookbook-example-viewer>
<h3>Forms</h3>
<cookbook-example-viewer [html]="formsExample.template" [ts]="formsExample.codeSnippet">
  <div class="example-frame">
    <cookbook-dropdown-example-ng-forms
      [size]="size"
      #formsExample
    ></cookbook-dropdown-example-ng-forms>
  </div>
</cookbook-example-viewer>

<h2>Keyboard support</h2>
<cookbook-example-viewer [html]="keyboardSupportExample.template">
  <div class="example-frame">
    <cookbook-dropdown-example-keyboard-support
      [size]="size"
      #keyboardSupportExample
    ></cookbook-dropdown-example-keyboard-support>
  </div>
</cookbook-example-viewer>
<p>
  The component has full keyboard support for opening the dropdown and navigating between and
  selecting items in the dropdown.
</p>
<p>The following keys can be used to open the dropdown when the dropdown button has focus:</p>
<!-- prettier-ignore -->
<ul>
  <li>
    <kbd>Enter</kbd>, <kbd>Space</kbd> and 
<kbd>Alt</kbd> + <kbd>&#8595;</kbd>
 opens dropdown without moving focus or changing selection.
  </li>
    <li>
    <kbd>Home</kbd> opens dropdown and moves focus to the first dropdown item.
  </li>
  <li>
    <kbd>End</kbd> opens dropdown and moves focus to the last dropdown item.
  </li>
  <li>
    <kbd>&#8593;</kbd> opens dropdown and moves focus to first dropdown item.
  </li>
    <li>
    <kbd>&#8595;</kbd>  opens dropdown without moving focus or changing selection.
  </li>
    <li>
    <kbd>A</kbd>-<kbd>Z</kbd> opens the dropdown and moves focus to the first option that matches the typed character.
  </li>
</ul>
<p>The following keys can be used to navigate and select within the dropdown:</p>
<!-- prettier-ignore -->
<ul>
  <li>
    <kbd>Enter</kbd> and <kbd>Space</kbd> sets value of focused item and closes the dropdown.
  </li>
  <li>
    <kbd>Escape</kbd> closes the dropdown.
  </li>
  <li>
    <kbd>&#8593;</kbd> moves focus to the previous dropdown item. If focus is on the first dropdown item, focus will not move.
  </li>
  <li>
    <kbd>&#8595;</kbd> moves focus to the next dropdown item. If focus is on the last dropown item, focus will not move.
  </li>
    <li>
    <kbd>Alt</kbd> + <kbd>&#8593;</kbd>  sets value of focused item and closes the dropdown.
  </li>
  <li>
    <kbd>Home</kbd> moves focus to the first dropdown item.
  </li>
  <li>
    <kbd>End</kbd> moves focus to the last dropdown item.
  </li>
    <li>
    <kbd>PageUp</kbd> jumps focus up to first option.
  </li>
  <li>
    <kbd>PageDown</kbd> 	jumps focus down to last option.
  </li>
  <li>
    <kbd>A</kbd>-<kbd>Z</kbd> moves focus to the next dropdown item whose label starts with the typed character.
  </li>
  <li>
    <kbd>Tab</kbd> sets value of focused item, closes the dropdown and moves focus to the next element in the tab sequence outside the control.
  </li>
</ul>

<h2>Accessibility</h2>
<p>
  The Dropdown implements the
  <a
    class="kirby-external-icon"
    target="_blank"
    href="https://www.w3.org/WAI/ARIA/apg/patterns/combobox/examples/combobox-select-only/"
  >
    Select-only Combobox Pattern
  </a>
  from ARIA Authoring Practices Guide.
</p>
<p>
  The Dropdown is a button that toggles a list of items. To ensure screen readers announce the
  dropdown correctly, it is required to provide either an
  <code>aria-label</code>
  or an
  <code>aria-labelledby</code>
  attribute to give it an accessible name. The dropdown component will apply this attribute to the
  internal button element.
</p>

<kirby-divider [hasMargin]="true"></kirby-divider>
<h2>Properties:</h2>
<cookbook-api-description-properties
  [properties]="properties"
></cookbook-api-description-properties>
<h2>Events:</h2>
<cookbook-api-description-events [events]="events"></cookbook-api-description-events>
<h2>Methods:</h2>
<cookbook-api-description-methods [methods]="methods"></cookbook-api-description-methods>
