@use '@kirbydesign/core/src/scss/utils';
@use '../showcase.shared';

h2:not(:first-child) {
  margin-top: utils.size('l');
}

h3 {
  border-bottom: 1px dotted utils.get-color('medium');
}

cookbook-example-viewer {
  margin-bottom: utils.size('l');
}

.config-columns {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--kirby-spacing-xl);

  .list {
    flex: 1 1 300px;
  }
}
