@import '../../scss/utils';

.toolbar {
  --background: #{get-color('background-color')};
  --color: #{get-color('background-color-contrast')};
}

.item {
  &-start {
    margin-left: size('s');
    margin-right: size('s');
  }

  &-primary {
    margin-left: size('s');
    margin-right: size('xxxs');
  }

  &-secondary {
    margin-left: size('xxxs');
    margin-right: size('s');
  }
}
