@import '../../scss/native-imports';


.toolbar {
  background-color:  #{get-color('background-color')};
  color: #{get-color('background-color-contrast')};

  @each $color-name, $color-value in $main-colors {
    &.#{$color-name} {
      background-color:  #{get-color($color-name)};
      color: #{get-color($color-name+'-contrast')};
    }
  }
  
}




  

  

