@use 'sass:map';

kirby-card {
  margin-block: var(--kirby-spacing-m);
  max-width: fit-content;

  kirby-dropdown + kirby-dropdown {
    margin-top: var(--kirby-spacing-s);
  }

  &.attention-levels {
    max-width: 320px;
  }
}

p {
  margin-top: var(--kirby-spacing-s);
}

.column-layout {
  display: flex;
  flex-flow: column wrap;
  gap: var(--kirby-spacing-m);
}

.constrain-width {
  align-items: flex-start;
}
