<h2>Item</h2>
<kirby-item class="base-shape">Plain Item</kirby-item>

<h2>Items in group</h2>
<kirby-item-group class="first-last-item-padding">
  <ion-item-divider style="background: transparent;">Hello</ion-item-divider>
  <div class="base-shape">
    <kirby-item>Plain Item</kirby-item>
    <kirby-item>Plain Item</kirby-item>
    <kirby-item>Plain Item</kirby-item>
  </div>
</kirby-item-group>

<h2>Items in list</h2>
<kirby-list-experimental class="base-shape">
  <kirby-card><kirby-item>Plain Item</kirby-item></kirby-card>
  <kirby-card><kirby-item>Plain Item</kirby-item></kirby-card>
  <kirby-card><kirby-item>Plain Item</kirby-item></kirby-card>
</kirby-list-experimental>

<h2>Items in group in list</h2>
<kirby-list-experimental class="item-spacing first-last-item-padding">
  <kirby-item-group class="base-shape">
    <kirby-item>Plain Item</kirby-item>
    <kirby-item>Plain Item</kirby-item>
    <kirby-item>Plain Item</kirby-item>
  </kirby-item-group>
  <kirby-item-group class="base-shape">
    <div class="base-shape">
      <kirby-card><kirby-item>Plain Item</kirby-item></kirby-card>
      <kirby-card><kirby-item>Plain Item</kirby-item></kirby-card>
      <kirby-card><kirby-item>Plain Item</kirby-item></kirby-card>
    </div>
  </kirby-item-group>
</kirby-list-experimental>
