<div class="example">
  <p>
    Lists are made up of multiple rows of items which can contain text, buttons, toggles, icons,
    thumbnails, and much more. Lists generally contain items with similar data content, such as
    images and text.
  </p>
  <p>
    Lists support several interactions including swiping items to reveal options, dragging to
    reorder items within the list, and deleting items.
  </p>
</div>

<h2>List with items</h2>

<cookbook-example-viewer [html]="listItemsExample.template">
  <div class="example-frame">
    <cookbook-list-items-example #listItemsExample></cookbook-list-items-example>
  </div>
</cookbook-example-viewer>

<h2>List with items with no dividers</h2>
<cookbook-example-viewer [html]="listItemsNoDividersExample.template">
  <div class="example-frame">
    <cookbook-list-items-no-dividers-example
      #listItemsNoDividersExample
    ></cookbook-list-items-no-dividers-example>
  </div>
</cookbook-example-viewer>

<h2>List with selectable items</h2>
<p>
  In order to make items selectable a callback must provided to
  <code>(itemSelect)</code>
  as shown below. If the item should have a darker background on hover and change the cursor to a
  pointer, then
  <code>[selectable]="true"</code>
  must be provided to the
  <code>kirby-item</code>
  component in the template. The selected item is highligted in bold by default. This behaviour can
  be suppressed by passing
  <code>[disableSelectionHighlight]="true"</code>
  to the list component.
</p>

<cookbook-example-viewer [html]="listWithSelectableItemsExample.template">
  <div class="example-frame">
    <cookbook-list-selectable-items-example
      #listWithSelectableItemsExample
    ></cookbook-list-selectable-items-example>
  </div>
</cookbook-example-viewer>

<h2>List with header and footer</h2>
<cookbook-example-viewer [html]="listWithHeaderAndFooterExample.template">
  <div class="example-frame">
    <cookbook-list-with-header-and-footer-example
      #listWithHeaderAndFooterExample
    ></cookbook-list-with-header-and-footer-example>
  </div>
</cookbook-example-viewer>

<h2>List with sections</h2>
<cookbook-example-viewer [html]="listWithSectionsExample.template">
  <div class="example-frame">
    <cookbook-list-with-sections-example
      #listWithSectionsExample
    ></cookbook-list-with-sections-example>
  </div>
</cookbook-example-viewer>

<h2>List with standalone items</h2>
<p>
  Stand alone items are enabled by passing the
  <code>getStandAloneByProperty</code>
  to the list.
  <code>getStandAloneByProperty</code>
  is the name of the property on the item that defines if the item should stand alone. In this
  example some of the items have
  <code>isStandAlone: true</code>
  .
</p>

<cookbook-example-viewer [html]="listWithStandAloneExample.template">
  <div class="example-frame">
    <cookbook-list-with-stand-alone-example
      #listWithStandAloneExample
    ></cookbook-list-with-stand-alone-example>
  </div>
</cookbook-example-viewer>

<h2>List with sections and standalone items</h2>
<cookbook-example-viewer [html]="listWithSectionsAndStandAloneExample.template">
  <div class="example-frame">
    <cookbook-list-with-sections-and-stand-alone-example
      #listWithSectionsAndStandAloneExample
    ></cookbook-list-with-sections-and-stand-alone-example>
  </div>
</cookbook-example-viewer>

<h2>Accessibility</h2>
<p>
  If the list has no apparent heading or does not in itself communicate a clear purpose, consider
  adding an accessible name to help screen reader users understand the purpose and content of the
  list.
</p>

<p>
  It is possible to provide an accessible name for your list using the
  <code>aria-label</code>
  or
  <code>aria-labelledby</code>
  attribute on the
  <code>kirby-list</code>
  element.
</p>
<p>The label you provide will be announced together with the number of items in the list.</p>

<h2>Importing</h2>
<cookbook-import-viewer
  [imports]="['ListComponent', 'ItemComponent', 'LabelComponent']"
></cookbook-import-viewer>
<p>
  <em>
    <strong>Please note:</strong>
    The
    <code>ListModule</code>
    bundles the various directives and components relevant for building lists, and can be used
    instead of individual imports for convenience.
  </em>
</p>

<h2>API:</h2>
<cookbook-api-description-properties
  [properties]="properties"
></cookbook-api-description-properties>
