<div class="example">
  <p>
    Lists are made up of multiple rows of items which can contain text, buttons, toggles, icons,
    thumbnails, and much more. Lists generally contain items with similar data content, such as
    images and text.
  </p>
  <p>
    Lists support several interactions including swiping items to reveal options, dragging to
    reorder items within the list, and deleting items.
  </p>
</div>

<div class="page-example">
  <div>
    <h2>List with items:</h2>
    <cookbook-code-viewer [html]="items"></cookbook-code-viewer>
  </div>

  <div>
    <cookbook-iphone src="/examples/list/with-items" showExternalLink="true"></cookbook-iphone>
  </div>
</div>

<div class="page-example">
  <div>
    <h2>List with items with no dividers:</h2>
    <cookbook-code-viewer [html]="noDividersExampleTemplate"></cookbook-code-viewer>
  </div>

  <cookbook-iphone
    src="/examples/list/with-items-no-dividers"
    showExternalLink="true"
  ></cookbook-iphone>
</div>

<div class="page-example">
  <div>
    <h2>List with selectable items:</h2>
    <p>
      In order to make items selectable a callback must provided to
      <code>(itemSelect)</code>
      as shown below. If the item should have a darker background on hover and change the cursor to
      a pointer, then
      <code>[selectable]="true"</code>
      must be provided to the
      <code>kirby-item</code>
      component in the template. The selected item is highligted in bold by default. This behaviour
      can be suppressed by passing
      <code>[disableSelectionHighlight]="true"</code>
      to the list component.
    </p>
    <cookbook-code-viewer [html]="selectableItemsExampleTemplate"></cookbook-code-viewer>
  </div>

  <div>
    <cookbook-iphone
      src="/examples/list/with-selectable-items"
      showExternalLink="true"
    ></cookbook-iphone>
  </div>
</div>

<div class="page-example">
  <div>
    <h2>List with colored items:</h2>
    <cookbook-code-viewer [html]="coloredItemsExampleTemplate"></cookbook-code-viewer>
  </div>

  <div>
    <cookbook-iphone
      src="/examples/list/with-colored-items"
      showExternalLink="true"
    ></cookbook-iphone>
  </div>
</div>

<div class="page-example">
  <div>
    <h2>List with sections and colored items:</h2>
    <cookbook-code-viewer [html]="sectionsAndColoredItemsExampleTemplate"></cookbook-code-viewer>
  </div>

  <div>
    <cookbook-iphone
      src="/examples/list/with-sections-and-colored-items"
      showExternalLink="true"
    ></cookbook-iphone>
  </div>
</div>

<div class="page-example">
  <div>
    <h2>List with header and footer:</h2>
    <cookbook-code-viewer [html]="headerAndFooterExampleTemplate"></cookbook-code-viewer>
  </div>

  <div>
    <cookbook-iphone
      src="/examples/list/with-header-and-footer"
      showExternalLink="true"
    ></cookbook-iphone>
  </div>
</div>

<div class="page-example">
  <div>
    <h2>List with sections:</h2>
    <cookbook-code-viewer [html]="sectionsExampleTemplate"></cookbook-code-viewer>
  </div>

  <div>
    <cookbook-iphone src="/examples/list/with-sections" showExternalLink="true"></cookbook-iphone>
  </div>
</div>

<div class="page-example">
  <div>
    <h2>List with standalone items:</h2>
    <p>
      Stand alone items are enabled by passing the
      <code>getStandAloneByProperty</code>
      to the list.
      <code>getStandAloneByProperty</code>
      is the name of the property on the item that defines if the item should stand alone. In this
      example some of the items have
      <code>isStandAlone: true</code>
      .
    </p>

    <cookbook-code-viewer [html]="standAloneExampleTemplate"></cookbook-code-viewer>
  </div>

  <div>
    <cookbook-iphone
      src="/examples/list/with-stand-alone"
      showExternalLink="true"
    ></cookbook-iphone>
  </div>
</div>

<div class="page-example">
  <div>
    <h2>List with sections and standalone items:</h2>
    <cookbook-code-viewer [html]="sectionsAndStandAloneExampleTemplate"></cookbook-code-viewer>
  </div>

  <div>
    <cookbook-iphone
      src="/examples/list/with-sections-and-stand-alone"
      showExternalLink="true"
    ></cookbook-iphone>
  </div>
</div>

<h2>API:</h2>
<cookbook-api-description-properties
  [properties]="properties"
></cookbook-api-description-properties>
