.card-option-button-group {
  display: flex;
  justify-content: center;
  gap: var(--kirby-spacing-xxs);
  padding: var(--kirby-spacing-xxs);
}

button {
  height: var(--kirby-size-fat-finger);
  width: var(--kirby-size-fat-finger);
  border: none;
  border-radius: var(--kirby-border-radius-circle);
  margin: 0;
  color: #fff;
  cursor: pointer;

  &.white {
    background-color: var(--kirby-white);

    &:hover {
      background-color: var(--kirby-white-shade);
    }
  }

  &.light {
    background-color: var(--kirby-light);
    outline: #fff 2px solid;
    border: #fff 2px solid;

    &:hover {
      background-color: var(--kirby-light-shade);
    }
  }

  &.dark {
    background-color: var(--kirby-dark);

    &:hover {
      background-color: var(--kirby-dark-shade);
    }
  }

  &.secondary {
    background-color: var(--kirby-secondary);

    &:hover {
      background-color: var(--kirby-secondary-shade);
    }
  }

  &:active {
    transform: scale(0.95);
  }
}
