@import './libs/designsystem/src/lib/scss/utils';

fieldset {
  border: 1px solid var(--kirby-border-color, get-color('medium'));

  legend {
    color: get-text-color('semi-dark');
  }

  kirby-checkbox {
    padding-right: size('xxxs');
  }
}

[scroll-into-view] {
  display: flex;
  flex-direction: column;
  padding: size('l');
  margin-bottom: size('m');
  background: url('https://images.unsplash.com/photo-1496737018672-b1a6be2e949c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80')
    no-repeat center;

  @include media('>=medium') {
    padding: size('xxxl') * 2 size('l');
  }

  button {
    margin-left: auto;
  }
}

label {
  display: block;
  font-size: font-size('s');
  font-weight: font-weight('light');
  line-height: line-height('s');
  margin-bottom: size('xxxs');
  padding: 0 size('s');
}
