<ScrollView>
    <Stacklayout class="wrapper">
      <kirby-segmented-control [items]="[{ text: 'Default', id: 'default', checked: true }, { text: 'Themes', id: 'themes' }]" (segmentClick)="onSegmentClick($event)">
      </kirby-segmented-control>
      <ng-container *ngIf="activeTab === 'default'">
          <WrapLayout orientation="horizontal" class="chip-example">
            <kirby-chip text="kirby"></kirby-chip>
            <kirby-chip text="kirby" isSelected="true"></kirby-chip>
          </WrapLayout>
      </ng-container>
      <ng-container *ngIf="activeTab === 'themes'">
          <kirby-card [themeColor]="themeColor" class="card">
          <Stacklayout orientation="horizontal">
              <kirby-chip text="kirby"></kirby-chip>
              <kirby-chip text="kirby" isSelected="true"></kirby-chip>    
            </Stacklayout>
          </kirby-card>
          <ListPicker #themeColorPicker [items]="items"
            textField="text"
            valueField="value"
           (selectedValueChange)="themeColor = themeColorPicker.selectedValue;"></ListPicker>
        </ng-container>
    </Stacklayout>
</ScrollView>
