$_badge-position-map: (
  'sm': (
    top: size('-xxs'),
    right: size('-xs'),
  ),
  'md': (
    top: size('-xxs'),
    right: size('-xxs'),
  ),
  'lg': (
    top: 0,
    right: size('xxs'),
  ),
);

@function _badge-top($key) {
  $position: map-get($_badge-position-map, $key);
  @return map-get($position, top);
}

@function _badge-font-right($key) {
  $position: map-get($_badge-position-map, $key);
  @return map-get($position, right);
}

@mixin _badge-position($key) {
  top: #{_badge-top($key)};
  right: #{_badge-font-right($key)};
}