<GridLayout 
  [kirbyElevation]="this.shadow ? 4 : null"
  (loaded)="onViewLoaded($event)" 
  class="avatar" 
  columns="*" 
  rows="auto" 
  horizontalAlignment="center" 
  verticalAlignment="center">
  <Image [visibility]="imageSrc ? 'visible' : 'collapse'" class="image" [src]="imageSrc" [automationText]="altText"></Image>
  <GridLayout class="overlay" [visibility]="overlay ? 'visible' : 'collapse'"></GridLayout>
  <GridLayout
    columns="*" 
    rows="auto" 
    horizontalAlignment="center" 
    verticalAlignment="center" 
    [visibility]="imageSrc ? 'collapse' : 'visible'">
    <ng-content *ngIf="!text" select="kirby-icon"></ng-content>
    <Label *ngIf="text" class="avatar-text" horizontalAlignment="center" [text]="text" verticalAlignment="center"></Label>
  </GridLayout>
  <AbsoluteLayout class="badge-wrapper">
    <GridLayout class="badge-container">
      <ng-content select="kirby-badge"></ng-content>
    </GridLayout>
  </AbsoluteLayout>
</GridLayout>
