<GridLayout (loaded)="onViewLoaded($event)" class="avatar" columns="*" rows="auto" horizontalAlignment="center" verticalAlignment="center">
  <Image [visibility]="imageSrc ? 'visible' : 'collapse'" class="image" [src]="imageSrc" [automationText]="altText"></Image>
  <GridLayout class="overlay" [visibility]="overlay ? 'visible' : 'collapse'"></GridLayout>
  <GridLayout
    columns="*" 
    rows="auto" 
    horizontalAlignment="center" 
    verticalAlignment="center" 
    [visibility]="imageSrc ? 'collapse' : 'visible'">
    <ng-content select="kirby-icon"></ng-content>
  </GridLayout>
</GridLayout>