@import '../../scss/utils';
@import '../icon/icon.component.shared';

$image-diameter-small: 40px;
$image-diameter-medium: 56px;
$image-diameter-large: 96px;
$badge-diameter: 16px;

@function get-badge-position($avatar-diameter) {
  $cos-to-45-degrees: 0.70710678118;
  $avatar-radius: $avatar-diameter / 2;
  $position-from-center: round($cos-to-45-degrees * $avatar-radius);
  $position-from-edge: $avatar-radius - $position-from-center;
  $badge-radius: $badge-diameter / 2;
  $badge-position: $position-from-edge - $badge-radius;
  @return $badge-position;
}

:host {
  --kirby-badge-elevation: #{get-elevation(2)};
  --kirby-badge-position: absolute;
  --kirby-badge-right: #{get-badge-position($image-diameter-small)};
  --kirby-badge-top: #{get-badge-position($image-diameter-small)};
  --kirby-badge-zindex: 2;
  position: relative;
}

.avatar {
  //default to size 'sm'
  width: $image-diameter-small;
  height: $image-diameter-small;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  &.shadow {
    box-shadow: 0px 2px 4px 2px rgba(113, 113, 113, 0.4);
  }

  &.overlay::before {
    content: '';
    background-color: #333;
    opacity: 0.05;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  img {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    width: 100%;
  }

  ::ng-deep kirby-icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    //default to icon size 'sm'
    @include _icon-size('sm');
  }
}

:host(.sm) {
  .avatar {
    width: $image-diameter-small;
    height: $image-diameter-small;

    ::ng-deep kirby-icon {
      @include _icon-size('sm');
    }

    .avatar-text {
      font-size: font-size('s');
    }
  }
}

:host(.md) {
  --kirby-badge-right: #{get-badge-position($image-diameter-medium)};
  --kirby-badge-top: #{get-badge-position($image-diameter-medium)};

  .avatar {
    width: $image-diameter-medium;
    height: $image-diameter-medium;

    ::ng-deep kirby-icon {
      @include _icon-size('md');
    }

    .avatar-text {
      font-size: font-size('m');
    }
  }
}

:host(.lg) {
  --kirby-badge-right: #{get-badge-position($image-diameter-large)};
  --kirby-badge-top: #{get-badge-position($image-diameter-large)};

  .avatar {
    width: $image-diameter-large;
    height: $image-diameter-large;

    ::ng-deep kirby-icon {
      @include _icon-size('lg');
    }

    .avatar-text {
      font-size: font-size('xl');
    }
  }
}
