@import "../../scss/web-imports";
$image-diameter-small:  40px;
$image-diameter-medium: 56px;
$image-diameter-large:  96px;

.image-wrapper {
  width: $image-diameter-small;
  height: $image-diameter-small;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  
  &.show-shadow {
    box-shadow: 0px 2px 4px 2px rgba(113, 113, 113, 0.4);
  }

  &.show-overlay::before {
    content: "";
    background-color: #333;
    opacity: 0.05;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &.medium {
    width: $image-diameter-medium;
    height: $image-diameter-medium;
  }

  &.large {
    width: $image-diameter-large;
    height: $image-diameter-large;
  } 

  img {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    width: 100%;
  }
}