@import './libs/designsystem/src/lib/scss/utils';

$item-height: size('xxxl');
$dot-size: size('xxs');
$dot-margin: size('xxxs');

:host {
  display: block;
  height: 100%;
  padding: size('s');
  background-color: get-color('background-color');
}

.flag {
  width: 8px;
  height: 8px;
  border-radius: 50%;

  &.success {
    background: var(--kirby-success);
  }
  &.warning {
    background: var(--kirby-warning);
  }

  &:not(:last-child) {
    margin-bottom: 2px;
  }
}
