$item-height: var(--kirby-spacing-xxxl);
$dot-size: var(--kirby-spacing-xxs);
$dot-margin: var(--kirby-spacing-xxxs);

:host {
  display: block;
  height: 100%;
  padding: var(--kirby-spacing-s);
  background-color: var(--kirby-background-color);
}

.flag {
  width: 8px;
  height: 8px;
  border-radius: var(--kirby-border-radius-circle);

  &.success {
    background: var(--kirby-success);
  }

  &.warning {
    background: var(--kirby-warning);
  }

  &:not(:last-child) {
    margin-bottom: 2px;
  }
}
