<div class="example">
  <cookbook-button-example [themeColor]="themeColor"></cookbook-button-example>
  <div>
    <select (change)="onChange($event.target.value)">
      <option
        *ngFor="let color of themeColors"
        value="{{ color }}"
        [attr.selected]="themeColor === color ? true : null"
      >
        Card color: {{ color }}
      </option>
    </select>
  </div>
  <h2>Button with attention level</h2>
  <kirby-card hasPadding="true" class="attention-levels">
    <button kirby-button attentionLevel="1">Attention Level 1</button>
    <button kirby-button attentionLevel="2">Attention Level 2</button>
    <button kirby-button attentionLevel="3">Attention Level 3</button>
  </kirby-card>
  <cookbook-code-viewer [html]="exampleHtml"></cookbook-code-viewer>
  <cookbook-api-description-properties
    [properties]="properties"
  ></cookbook-api-description-properties>
</div>
