<div class="example">
  <kirby-header-actions [visibleActions]="2">
    <button kirby-button>
      <kirby-icon name="kirby"></kirby-icon>
      Action 1
    </button>
    <button kirby-button>
      <kirby-icon name="kirby"></kirby-icon>
    </button>
    <button kirby-button [attentionLevel]="'3'" (click)="clicked($event)">
      Action 2
      <kirby-icon name="kirby"></kirby-icon>
    </button>
    <button kirby-button [attentionLevel]="'3'">
      <kirby-icon name="kirby"></kirby-icon>
      Action 3
    </button>
    <button kirby-button [attentionLevel]="'3'">Action 4</button>
  </kirby-header-actions>
  <cookbook-button-example [themeColor]="themeColor"></cookbook-button-example>
  <div>
    <select (change)="onChange($event.target.value)">
      <option
        *ngFor="let color of themeColors"
        value="{{ color }}"
        [attr.selected]="themeColor === color ? true : null"
      >
        Card color: {{ color }}
      </option>
    </select>
  </div>
  <cookbook-code-viewer [html]="exampleHtml"></cookbook-code-viewer>
  <cookbook-api-description-properties
    [properties]="properties"
  ></cookbook-api-description-properties>
</div>
