@use '@kirbydesign/core/src/scss/utils';

h2:not(:first-child) {
  margin-top: utils.size('xl');
}

h3 {
  margin-top: utils.size('l');
}

cookbook-toggle-button-example {
  padding: 0;
  margin-bottom: utils.size('s');
}

cookbook-code-viewer {
  // display: block;
  margin-top: utils.size('xl');
}
