@use '@kirbydesign/core/src/scss/utils';

h2 {
  margin-top: utils.size('xl');
}

cookbook-toggle-button-example {
  padding: 0;
  margin-bottom: utils.size('s');
}

cookbook-code-viewer {
  display: block;
  margin-top: utils.size('xl');
}

.btn-group-container {
  border: 1px dotted red;
  resize: horizontal;
  overflow-x: auto;
}
