@use '../showcase.shared';
@use '@kirbydesign/core/src/scss/utils';

.example-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: utils.size('xl');
  margin-bottom: utils.size('xl');
}
