@use 'sass:map';
@use '@kirbydesign/core/src/scss/utils';

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  background: utils.get-color('background-color');
  padding: utils.size('s');

  @include utils.media('>=medium') {
    padding: utils.size('l');
  }

  > * {
    display: block;
    margin: utils.size('s') 0;
  }

  kirby-card {
    width: 100%;
    max-width: map.get(utils.$breakpoints, 'xsmall');
  }
}
