<kirby-card [hasPadding]="true">
  <h2>Number</h2>
  <cookbook-badge-example-number></cookbook-badge-example-number>
</kirby-card>
<kirby-card [hasPadding]="true">
  <h2>Text</h2>
  <cookbook-badge-example-text></cookbook-badge-example-text>
</kirby-card>
<kirby-card [hasPadding]="true">
  <h2>Icon</h2>
  <cookbook-badge-example-icon></cookbook-badge-example-icon>
</kirby-card>
<kirby-card [hasPadding]="true">
  <h2>Small Badge</h2>
  <cookbook-badge-example-small></cookbook-badge-example-small>
</kirby-card>
