@use '@kirbydesign/core/src/scss/utils';

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  background: var(--kirby-background-color);
  padding: var(--kirby-spacing-s);

  @include utils.media('>=medium') {
    padding: var(--kirby-spacing-l);
  }

  > * {
    display: block;
    margin: var(--kirby-spacing-s) 0;
  }

  kirby-card {
    width: 100%;
    max-width: var(--kirby-breakpoint-xsmall);
  }
}
