@import '../examples.shared';

h1 {
  text-align: center;
}

@include media('>medium') {
  .mobile {
    display: none;
  }
}

fieldset {
  margin-top: size('xl');
  display: flex;

  label {
    cursor: pointer;
    padding-left: size(xxxs);
    transform: translateY(size(xxxxs) * -1);
  }
}
