@use '@kirbydesign/core/src/scss/utils';
@use '../examples.shared';

:host {
  overflow-y: auto;
}

h1 {
  text-align: center;
}

@include utils.media('>medium') {
  .mobile {
    display: none;
  }
}
