@use '../examples.shared';
@use '../modal-playground.shared';

kirby-card {
  margin-top: var(--kirby-spacing-l);

  kirby-card-header {
    em {
      font-size: smaller;
    }
  }
}

cookbook-modal-example-size-selector {
  margin-bottom: var(--kirby-spacing-m);
}
