<article>
  <h1>Kirby Guides</h1>
  <p>
    This section of the cookbook aims to bring together a few simple guides for common tasks. The
    guides are not complete solutions but working examples and code you can use as a starting point
    in your projects.
  </p>

  <h2>Virtual Scrolling</h2>
  <table>
    <thead>
      <tr>
        <th scope="col">Example</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a [routerLink]="'/examples/virtual-scroll-list'">List with virtual scrolling</a>
        </td>
        <td>
          <p>
            Basic list with virtual scrolling based on the Angular CDK Virtual Scroller. At the
            moment, CDK Virtual Scroller only supports fixed sized elements. For further information
            see
            <a href="https://ionicframework.com/docs/angular/virtual-scroll">Ionic Docs</a>
            and
            <a href="https://material.angular.io/cdk/scrolling/overview">
              CDK Virtual Scrolling docs.
            </a>
          </p>
          <a [routerLink]="'virtual-scroll-list'">Show me the code</a>
        </td>
      </tr>
    </tbody>
  </table>

  <h2>Grid Layout</h2>
  <table>
    <thead>
      <tr>
        <th scope="col">Layout Recipe</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a [routerLink]="'/examples/grid-layout-single-container'">Single grid container</a>
        </td>
        <td>
          <p>
            Basic example. Everything is within a single grid container. Contains some decorational
            styles, but no additional layout styles.
          </p>
          <a [routerLink]="'grid-layout-single-container'">Show me the code</a>
        </td>
      </tr>
      <tr>
        <td>
          <a [routerLink]="'/examples/grid-layout-multiple-containers'">Multiple grid containers</a>
        </td>
        <td>
          <p>
            The same layout as the single grid container example. Created with multiple grid
            containers. Contains some decorational styles, but no additional layout styles.
          </p>
          <a [routerLink]="'grid-layout-multiple-containers'">Show me the code</a>
        </td>
      </tr>
      <tr>
        <td>
          <a [routerLink]="'/examples/grid-layout-extended'">Extended example</a>
        </td>
        <td>
          <p>
            The same layout as the basic examples, but with additional layout styles applied, e.g.,
            there are constructs for a max-width container and for gutter.
          </p>
          <a [routerLink]="'grid-layout-extended'">Show me the code</a>
        </td>
      </tr>
    </tbody>
  </table>

  <h2>Chart config</h2>
  <table>
    <thead>
      <tr>
        <th scope="col">Guide</th>
        <th scope="col">Showcases</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a [routerLink]="'chart-config'">Setting up a base chart</a>
        </td>
        <td>
          <p>
            Creating charts using Kirby's configurations. To see more ways to implement charts, see
            the
            <a [routerLink]="['../../showcase/chart-stock-config']">showcases</a>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</article>
