<kirby-empty-state
  iconName="help"
  title="No items"
  subtitle="You don't have any items. Call support to add some items to your account."
>
  <button kirby-button>Call support</button>
</kirby-empty-state>
<hr />
<kirby-empty-state
  title="No items"
  subtitle="You don't have any items. Call support to add some items to your account."
>
  <button kirby-button>Call support</button>
</kirby-empty-state>
<hr />
<kirby-empty-state
  iconName="football"
  title="No items"
  subtitle="You don't have any items. Call support to add some items to your account."
></kirby-empty-state>
<hr />
<kirby-empty-state
  title="No items"
  subtitle="You don't have any items. Call support to add some items to your account."
></kirby-empty-state>
<hr />
<kirby-empty-state iconName="help">
  <button kirby-button>Call support</button>
</kirby-empty-state>
<hr />
<kirby-empty-state
  iconName="help"
  title="Theme Color"
  subtitle="You can change color using theme color"
  themeColor="warning"
></kirby-empty-state>
<kirby-empty-state
  iconName="help"
  title="Line break"
  subtitle="You can make line breaks using '\n' or '&amp;&#35;10;'&#10;&#10;This is on another line"
></kirby-empty-state>
<hr />
<kirby-empty-state
  iconName="help"
  title="Button attention levels"
  subtitle="All slotted buttons will be rendered with attention level 3, except the first button if it is configured with attention level 1."
>
  <button kirby-button attentionLevel="1">Call support</button>
  <button kirby-button attentionLevel="2">Mail support</button>
  <button kirby-button attentionLevel="3">Get directions</button>
</kirby-empty-state>
