<div class="example">
    <kirby-alert-example></kirby-alert-example>
    <kirby-code-viewer [html]="exampleHtml"></kirby-code-viewer>
    <p>
        To show the alert, create an <code>AlertConfig</code> and pass it to <code>modalController.showAlert</code>.
        <kirby-code-viewer language="ts">const config: AlertConfig={{ '{' }}
    title: 'Your alert title',
    message: 'Your alert message',
    okBtnText: string;
    cancelBtnText: string;
{{ '}' }};

this.modalController.showAlert(config);</kirby-code-viewer>
        (Optional) if you need to obtain data back from the alert, you can pass a callback function:
        <kirby-code-viewer language="ts">this.modalController.showAlert(config, myCallback);</kirby-code-viewer>
        where <code>myCallback</code> can be e.g.:
        <kirby-code-viewer language="ts">myCallback(selection: boolean) {{ '{' }}
    ...
{{ '}' }}</kirby-code-viewer>
    </p>
    <h4>Alert config properties:</h4>
    <kirby-showcase-properties [properties]="properties"></kirby-showcase-properties>
</div>