<div class="example">
    <kirby-alert-example></kirby-alert-example>
    <kirby-code-viewer [html]="exampleHtml"></kirby-code-viewer>
    <p>
        To show the alert, create an <code>AlertConfig</code> and pass it to <code>modalController.showAlert</code>.
        <kirby-code-viewer language="ts">const config: AlertConfig={{ '{' }}
    title: 'Your alert title',
    message: 'Your alert message',
    okBtnText: string;
    cancelBtnText: string;
{{ '}' }};

this.modalController.showAlert(config);</kirby-code-viewer>
        (Optional) if you need to obtain data back from the alert, you can pass a callback function:
        <kirby-code-viewer language="ts">this.modalController.showAlert(config, myCallback);</kirby-code-viewer>
        where <code>myCallback</code> can be e.g.:
        <kirby-code-viewer language="ts">myCallback(selection: boolean) {{ '{' }}
    ...
{{ '}' }}</kirby-code-viewer>
    </p>

    <h4>Showing an Alert from an RxJs Observable</h4>
    <p>When using an alert, it would some times be useful to use it in an <code>Observable</code> stream (one example hereof would be using it in conjunction
        with a state-management library, such as <b>NgRx</b>).
    </p>
    <p>To facilitate that, an operator is created, that can be put in the "pipe" of an <code>Observable</code>:</p>
    <kirby-code-viewer language="ts"><![CDATA[const obs$ = ... // some observable is constructed.
obs$.pipe(
    modalController.operators.showAlert(config)
)
.subscribe((res) => console.log('The response from the alert is:', res);]]></kirby-code-viewer>
    <br>

    <h4>Alert config properties:</h4>
    <kirby-showcase-properties [properties]="properties"></kirby-showcase-properties>
</div>
