@use '@kirbydesign/core/src/scss/utils';
@use './shared';

kirby-card:has(.buttons) {
  margin-top: utils.size(xxs);

  .buttons {
    display: flex;
    justify-content: space-around;
  }

  p {
    margin: 0;
    margin-top: utils.size(xs);
  }
}
