@use './shared';

kirby-card:has(.buttons) {
  margin-top: var(--kirby-spacing-xxs);

  .buttons {
    display: flex;
    justify-content: space-around;
  }

  p {
    margin: 0;
    margin-top: var(--kirby-spacing-xs);
  }
}
