@use '@kirbydesign/core/src/scss/utils';
@use '@kirbydesign/core/src/scss/themes';

:host {
  grid-area: footer;
  background-color: var(--kirby-surface-card-bg);
  text-align: center;
  padding: utils.size('xl') 0;

  p {
    margin: 0;
  }
}
