@use '@kirbydesign/core/src/scss/utils';
@use '../showcase.shared';

.example-frame {
  position: relative;
  margin-bottom: utils.size('xxs');
  border: 1px solid #ddd;
  border-radius: 12px;
  padding-block: utils.size('m');
}
