<kirby-card [hasPadding]="true" themeColor="primary">
  <kirby-card-header title="Primary" subtitle='themeColor="primary"'></kirby-card-header>
  <div>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia facere molestias recusandae
    necessitatibus.
  </div>
</kirby-card>

<kirby-card [hasPadding]="true" themeColor="secondary">
  <kirby-card-header title="Secondary" subtitle='themeColor="secondary"'></kirby-card-header>
  <div>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia facere molestias recusandae
    necessitatibus.
  </div>
</kirby-card>

<kirby-card [hasPadding]="true" themeColor="tertiary">
  <kirby-card-header title="Tertiary" subtitle='themeColor="tertiary"'></kirby-card-header>
  <div>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia facere molestias recusandae
    necessitatibus.
  </div>
</kirby-card>

<kirby-card [hasPadding]="true" themeColor="success">
  <kirby-card-header title="Success" subtitle='themeColor="success"'></kirby-card-header>
  <div>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia facere molestias recusandae
    necessitatibus.
  </div>
</kirby-card>

<kirby-card [hasPadding]="true" themeColor="warning">
  <kirby-card-header title="Warning" subtitle='themeColor="warning"'></kirby-card-header>
  <div>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia facere molestias recusandae
    necessitatibus.
  </div>
</kirby-card>

<kirby-card [hasPadding]="true" themeColor="danger">
  <kirby-card-header title="Danger" subtitle='themeColor="danger"'></kirby-card-header>
  <div>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia facere molestias recusandae
    necessitatibus.
  </div>
</kirby-card>

<kirby-card [hasPadding]="true" themeColor="light">
  <kirby-card-header title="Light" subtitle='themeColor="light"'></kirby-card-header>
  <div>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia facere molestias recusandae
    necessitatibus.
  </div>
</kirby-card>

<kirby-card [hasPadding]="true" themeColor="medium">
  <kirby-card-header title="Medium" subtitle='themeColor="medium"'></kirby-card-header>
  <div>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia facere molestias recusandae
    necessitatibus.
  </div>
</kirby-card>

<kirby-card [hasPadding]="true" themeColor="dark">
  <kirby-card-header title="Dark" subtitle='themeColor="dark"'></kirby-card-header>
  <div>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia facere molestias recusandae
    necessitatibus.
  </div>
</kirby-card>
