@use '@kirbydesign/core/src/scss/utils';
@use '../shared/example-frame';

:host {
  display: block;
  height: 100%;
  overflow-x: hidden;
  background: var(--kirby-background-color);
  padding-inline: var(--kirby-spacing-m);
  padding-block: var(--kirby-spacing-s);
  box-sizing: border-box;

  @include utils.media('>=medium') {
    padding: var(--kirby-spacing-l);
  }

  h2:not(:first-child) {
    margin-top: var(--kirby-spacing-l);
  }

  h3 {
    margin-top: var(--kirby-spacing-xs);
    margin-bottom: var(--kirby-spacing-xxxs);
  }
}
