@use '@kirbydesign/core/src/scss/utils';

:host {
  display: block;
  height: 100%;
  overflow-x: hidden;
  background: utils.get-color('background-color');
  padding: utils.size('s');
  box-sizing: border-box;

  @include utils.media('>=medium') {
    padding: utils.size('l');
  }

  h2:not(:first-child) {
    margin-top: utils.size('l');
  }

  h3 {
    font-size: utils.font-size('xs');
    line-height: #{'calc(24 / 12)'}; // calculated from old px values
    color: utils.get-color('semi-dark');
    text-transform: uppercase;
    margin-top: utils.size('xs');
    margin-bottom: utils.size('xxxs');
  }
}
