<div class="example">
  <h2>Default usage</h2>
  <cookbook-example-viewer [html]="defaultSmallExample.template">
    <cookbook-progress-circle-example-default-small
      #defaultSmallExample
    ></cookbook-progress-circle-example-default-small>
  </cookbook-example-viewer>
  <cookbook-example-viewer [html]="defaultMediumExample.template">
    <cookbook-progress-circle-example-default-medium
      #defaultMediumExample
    ></cookbook-progress-circle-example-default-medium>
  </cookbook-example-viewer>
  <cookbook-example-viewer [html]="defaultLargeExample.template">
    <cookbook-progress-circle-example-default-large
      #defaultLargeExample
    ></cookbook-progress-circle-example-default-large>
  </cookbook-example-viewer>

  <h2>With content</h2>
  <cookbook-example-viewer [html]="contentStepsExample.template">
    <cookbook-progress-circle-example-content-steps
      #contentStepsExample
    ></cookbook-progress-circle-example-content-steps>
  </cookbook-example-viewer>
  <cookbook-example-viewer [html]="contentIconExample.template" [css]="contentIconExample.styles">
    <cookbook-progress-circle-example-content-icon
      #contentIconExample
    ></cookbook-progress-circle-example-content-icon>
  </cookbook-example-viewer>
  <cookbook-example-viewer [html]="contentPercentExample.template">
    <cookbook-progress-circle-example-content-percent
      #contentPercentExample
    ></cookbook-progress-circle-example-content-percent>
  </cookbook-example-viewer>

  <h2>Dynamic</h2>
  <cookbook-example-viewer [html]="animatedExample.template" [ts]="animatedExample.codeSnippet">
    <cookbook-progress-circle-example-animated
      #animatedExample
    ></cookbook-progress-circle-example-animated>
  </cookbook-example-viewer>

  <h2>In card</h2>
  <cookbook-example-viewer [html]="cardExample.template" [css]="cardExample.styles">
    <cookbook-progress-circle-example-card #cardExample></cookbook-progress-circle-example-card>
  </cookbook-example-viewer>

  <h2>Properties</h2>
  <cookbook-showcase-properties [properties]="properties"></cookbook-showcase-properties>
</div>
