h2:not(:first-child) {
  margin-top: var(--kirby-spacing-l);
}

h3 {
  border-bottom: 1px dotted var(--kirby-medium);
}

cookbook-example-viewer {
  margin-bottom: var(--kirby-spacing-l);

  > * {
    display: block;
    margin-bottom: var(--kirby-spacing-s);
  }
}
