<div class="example">
  <h2>Default</h2>
  <cookbook-example-viewer [html]="defaultExample.template">
    <cookbook-progress-circle-example-default
      #defaultExample
    ></cookbook-progress-circle-example-default>
  </cookbook-example-viewer>

  <h2>Sizes</h2>

  <cookbook-example-viewer [html]="sizesExample.template">
    <cookbook-progress-circle-example-sizes #sizesExample></cookbook-progress-circle-example-sizes>
  </cookbook-example-viewer>

  <h2>With content</h2>

  <h3>Steps</h3>
  <cookbook-example-viewer [html]="contentStepsExample.template">
    <cookbook-progress-circle-example-content-steps
      #contentStepsExample
    ></cookbook-progress-circle-example-content-steps>
  </cookbook-example-viewer>

  <h3>Avatar and icon</h3>
  <cookbook-example-viewer [html]="contentIconExample.template">
    <cookbook-progress-circle-example-content-avatar
      #contentIconExample
    ></cookbook-progress-circle-example-content-avatar>
  </cookbook-example-viewer>

  <h3>Percent</h3>
  <cookbook-example-viewer [html]="contentPercentExample.template">
    <cookbook-progress-circle-example-content-percent
      #contentPercentExample
    ></cookbook-progress-circle-example-content-percent>
  </cookbook-example-viewer>

  <h2>Dynamic</h2>
  <cookbook-example-viewer [html]="animatedExample.template" [ts]="animatedExample.codeSnippet">
    <cookbook-progress-circle-example-animated
      #animatedExample
    ></cookbook-progress-circle-example-animated>
  </cookbook-example-viewer>

  <h2>In card</h2>
  <cookbook-example-viewer [html]="cardExample.template">
    <cookbook-progress-circle-example-card #cardExample></cookbook-progress-circle-example-card>
  </cookbook-example-viewer>

  <h2>Accessibility</h2>
  <p>
    An accessible name should generally be added to help screen reader users understand the purpose
    and content of th progress circle. It can be provided using either the
    <code>aria-labelledby</code>
    if a visual label is present, or
    <code>aria-label</code>
    if only an accessible name is needed for your
    <code>progress-circle</code>
    element
  </p>

  <p>
    It is possible to provide an accessible name for your progress circle using the
    <code>aria-label</code>
    <code>aria-labelledby</code>
    attribute on the
    <code>progress-circle</code>
    element.
  </p>
  <p>The label you provide will be announced together with the progress circle.</p>

  <h2>Importing</h2>
  <cookbook-import-viewer [imports]="'ProgressCircleComponent'"></cookbook-import-viewer>

  <h2>Properties</h2>
  <cookbook-api-description-properties
    [properties]="properties"
  ></cookbook-api-description-properties>
</div>
