<div class="example">
  <h3>Default</h3>
  <cookbook-example-viewer [html]="defaultExample.template">
    <cookbook-progress-circle-example-default
      #defaultExample
    ></cookbook-progress-circle-example-default>
  </cookbook-example-viewer>
  <cookbook-example-viewer [html]="defaultLargeExample.template">
    <cookbook-progress-circle-example-default-large
      #defaultLargeExample
    ></cookbook-progress-circle-example-default-large>
  </cookbook-example-viewer>

  <h3>With content</h3>
  <cookbook-example-viewer [html]="contentStepsExample.template">
    <cookbook-progress-circle-example-content-steps
      #contentStepsExample
    ></cookbook-progress-circle-example-content-steps>
  </cookbook-example-viewer>
  <cookbook-example-viewer [html]="contentIconExample.template" [css]="contentIconExample.styles">
    <cookbook-progress-circle-example-content-icon
      #contentIconExample
    ></cookbook-progress-circle-example-content-icon>
  </cookbook-example-viewer>
  <cookbook-example-viewer [html]="contentPercentExample.template">
    <cookbook-progress-circle-example-content-percent
      #contentPercentExample
    ></cookbook-progress-circle-example-content-percent>
  </cookbook-example-viewer>

  <h3>Dynamic</h3>
  <cookbook-example-viewer [html]="animatedExample.template" [ts]="animatedExample.codeSnippet">
    <cookbook-progress-circle-example-animated
      #animatedExample
    ></cookbook-progress-circle-example-animated>
  </cookbook-example-viewer>

  <h3>In card</h3>
  <cookbook-example-viewer [html]="cardExample.template" [css]="cardExample.styles">
    <cookbook-progress-circle-example-card #cardExample></cookbook-progress-circle-example-card>
  </cookbook-example-viewer>

  <h3>Properties</h3>
  <cookbook-showcase-properties [properties]="properties"></cookbook-showcase-properties>
</div>
