@import './libs/designsystem/src/lib/scss/utils';

h3:not(:first-child) {
  margin-top: size('l');
}

cookbook-example-viewer {
  margin-bottom: size('l');

  > * {
    display: block;
    margin-bottom: size('s');
  }
}
