<p>
  <em>
    <strong>Note:</strong>
    the default behaviour and styling of the stock chart might change in the near future as work is
    still being done to enhance it. More details can be found on
    <a href="https://github.com/kirbydesign/designsystem/issues/1943" target="_blank">this issue</a>
    in the Github repository.
  </em>
</p>
<p>
  The stock chart visualizes the price of a security over time where time is along the x-axis and
  the price is on the y-axis.
</p>
<p>
  The
  <code>kirby-stock-chart</code>
  element shares a lot of its API with the
  <code>kirby-chart</code>
  element. For more info and examples see:
  <a routerLink="/home/showcase/chart">the chart showcase</a>
  .
</p>
<p>
  The labels of the x-axis show the day and month of the datapoints. If you need a different
  increment, ie. hours or years you should provide your own labels through the `labels` property.
</p>
<p>
  <b>Please note</b>
  that this chart only accepts data where each datapoint consists of a value for both x and y.
</p>
<small>
  <pre>
  {{ '{' }}
    x: 1231831920, // Time as epoch timestamp
    y: 10 // Value at time 'x'
  {{ '}' }}
</pre
  >
</small>

<p>
  <kirby-card variant="flat" [hasPadding]="_cardHasPadding">
    <cookbook-example-viewer [html]="stockExample.template" [ts]="stockExample.codeSnippet">
      <cookbook-chart-example-stock #stockExample></cookbook-chart-example-stock>
    </cookbook-example-viewer>
  </kirby-card>
</p>
<h2>Stock Chart with multiple datasets</h2>
<p>
  It is possible to show and compare the price of multiple securities in one chart. The
  <code>ChartDataLabelOptions</code>
  property
  <code>valueSuffix</code>
  can be useful if for example data comes in percent. By setting
  <code>valueSuffix</code>
  to the string
  <code>'%'</code>
  values in the data labels will be suffixed with '%' as can be seen on the below example.
</p>
<p>
  <kirby-card variant="flat" [hasPadding]="_cardHasPadding">
    <cookbook-example-viewer
      [html]="stockComparisonExample.template"
      [ts]="stockComparisonExample.codeSnippet"
    >
      <cookbook-chart-example-stock-comparison
        #stockComparisonExample
      ></cookbook-chart-example-stock-comparison>
    </cookbook-example-viewer>
  </kirby-card>
</p>

<kirby-divider [hasMargin]="true"></kirby-divider>

<h2>API Description</h2>
<cookbook-api-description-properties
  [properties]="_apiDescriptionProperties"
></cookbook-api-description-properties>

<kirby-divider [hasMargin]="true"></kirby-divider>
<h2>ChartDataLabelOptions Description</h2>
<cookbook-api-description-properties
  [properties]="_chartDataLabelOptions"
></cookbook-api-description-properties>

<kirby-divider [hasMargin]="true"></kirby-divider>
<h2>CSS Custom Properties</h2>
<cookbook-api-description-properties
  [properties]="_cssCustomProperties"
  [columns]="_cssCustomPropertiesColumns"
></cookbook-api-description-properties>
