@use '@kirbydesign/core/src/scss/utils';

h2:not(:first-child),
h3:not(:first-child) {
  margin-top: utils.size('l');
}

h3 {
  border-bottom: 1px dotted utils.get-color('medium');
}

cookbook-segmented-control-example-default,
cookbook-segmented-control-example-grouped {
  margin-bottom: utils.size('xs');
}

.badge-note {
  margin-top: utils.size('s');
}
