<div class="example">
  <cookbook-example-viewer [html]="example.template">
    <div>
      <cookbook-segmented-control-example #example></cookbook-segmented-control-example>
    </div>
  </cookbook-example-viewer>

  <h2>Properties:</h2>
  <cookbook-showcase-properties [properties]="properties"></cookbook-showcase-properties>

  <p class="badge-note">
    <sup>*</sup> If you want a badge on the SegmentItem then you add a badge object in the
    SegmentItem array. The description of the badge is used as aria-label. Note that badges are only
    applied when the mode is 'default'.
    <a
      href="https://github.com/kirbydesign/designsystem/blob/master/libs/designsystem/src/lib/components/segmented-control/segment-item.ts"
      >See the interface for SegmentItem</a
    >.
  </p>
</div>
