<!-- This container is only needed due to layout of larger screen sizes -->
<div class="container">
  <!-- Hidden on small screen sizes-->
  <kirby-avatar size="sm" overlay="true" text="Logo" class="logo">
  </kirby-avatar>

  <kirby-tab-bar>

    <kirby-tab-button routerLink="dashboard">
      <kirby-icon name="person-outline"></kirby-icon>
      Dashboard
    </kirby-tab-button>

    <kirby-tab-button routerLink="account">
      <kirby-icon name="accounts-outline"></kirby-icon>
      Account
    </kirby-tab-button>

    <kirby-tab-button routerLink=".">
      <kirby-icon name="inbox"></kirby-icon>
      Inbox
      <kirby-badge themeColor="danger">1</kirby-badge>
    </kirby-tab-button>

    <kirby-tab-button (click)="openMenu()">
      <kirby-icon name="menu-outline"></kirby-icon>
      Menu
    </kirby-tab-button>

  </kirby-tab-bar>
</div>
