<div class="example">
  <cookbook-chart-example></cookbook-chart-example>
  <div class="code-example">
    <cookbook-code-viewer [html]="exampleHtml"></cookbook-code-viewer>
    <h4>Properties:</h4>
    <table class="cookbook-properties">
      <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Input values</th>
      </thead>
      <tbody>
        <tr>
          <td><code>height</code></td>
          <td>The height of the chart in px for web and dp for native</td>
          <td><code>number</code></td>
        </tr>
        <tr>
          <td><code>options</code></td>
          <td>The highcharts options to render the chart with</td>
          <td>
            Read highcharts options docs
            <a href="https://api.highcharts.com/highcharts/" target="_blank">here</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
