<p>
  <em>
    Looking for the stock chart? It has been moved to a separate
    <code>kirby-stock-chart</code>
    element!
    <br />
    See:
    <a routerLink="/home/showcase/chart-stock">the stock chart showcase</a>
    .
  </em>
</p>
<p>
  The
  <code>kirby-chart</code>
  component is used to show data in various chart types. To show the default column chart all that
  is needed is a
  <code>number[]</code>
  which will produce a simple chart using colors from the
  <a target="_blank" href="/home/showcase/colors">Kirby color palette</a>
  as can be seen below.
</p>

<p>
  It is possible to customize the
  <code>kirby-chart</code>
  component with different chart types, labels, interactions, more complex datasets & custom
  options.
</p>
<p>
  <kirby-card variant="flat" [hasPadding]="_cardHasPadding">
    <cookbook-example-viewer [html]="simpleColumnExample.template">
      <cookbook-chart-example-simple-column
        #simpleColumnExample
      ></cookbook-chart-example-simple-column>
    </cookbook-example-viewer>
  </kirby-card>
</p>

<kirby-divider [hasMargin]="true"></kirby-divider>

<h2>Types of Charts</h2>
<p>
  The type of a
  <code>kirby-chart</code>
  is set through the
  <code>type</code>
  input property.
</p>

<h3>Column Chart</h3>
<p>The column chart visualizes data from different categories as rectangles.</p>
<p>
  To render a column chart set
  <code>type</code>
  to
  <code>"column"</code>
  .
</p>
<p>
  <kirby-card variant="flat" [hasPadding]="_cardHasPadding">
    <cookbook-example-viewer [html]="columnExample.template" [ts]="columnExample.codeSnippet">
      <cookbook-chart-example-column #columnExample></cookbook-chart-example-column>
    </cookbook-example-viewer>
  </kirby-card>
</p>

<h3>Bar Chart</h3>
<p>The bar chart visualizes data from different categories as rectangles along the x-axis.</p>
<p>
  To render a bar chart set
  <code>type</code>
  to
  <code>'bar'</code>
  .
</p>
<p>
  <kirby-card variant="flat" [hasPadding]="_cardHasPadding">
    <cookbook-example-viewer [html]="barExample.template">
      <cookbook-chart-example-bar #barExample></cookbook-chart-example-bar>
    </cookbook-example-viewer>
  </kirby-card>
</p>

<h3>Line Chart</h3>
<p>The line chart visualizes data from different categories as a line along the x-axis.</p>
<p>
  To render a line chart set
  <code>type</code>
  to
  <code>'line'</code>
  .
</p>
<p>
  <kirby-card variant="flat" [hasPadding]="_cardHasPadding">
    <cookbook-example-viewer [html]="lineExample.template">
      <cookbook-chart-example-line #lineExample></cookbook-chart-example-line>
    </cookbook-example-viewer>
  </kirby-card>
</p>

<kirby-divider [hasMargin]="true"></kirby-divider>

<h2 id="custom-options">Custom Options</h2>
<p>
  The
  <code>kirby-chart</code>
  component is based on
  <a target="_blank" href="https://www.chartjs.org/docs/latest/">chart.js</a>
  . Under the hood all Kirby chart types are a set of pre-configured options for chart.js that has
  been Kirbyfied.
</p>
<p>
  These options can be overwritten via the
  <code>customOptions</code>
  input property. Among other things, this can be useful for implementing interactions with your
  charts and creating stacked bar charts.
</p>
<p>
  While customization can be nice and opens for the possibility of more varied charts; it also allow
  you to create charts that are not very kirby-esque, for example by changing the colors to
  something outside of the
  <a target="_blank" href="/home/showcase/colors">Kirby color palette</a>
  .
</p>
<p>
  Therefore if there is a customization you seem to be making again and again do not hesitate to
  create an issue in our Github repo to get a standard implementation of your chart.
</p>
<p>
  For documentation on the options object see the
  <a target="_blank" href="https://www.chartjs.org/docs/latest/general/options.html">
    chart.js options documentation
  </a>
  .
</p>

<h3>Interacting with charts</h3>
<p>
  It is possible to implement various interactions using custom options. The following example
  implements a simple click event listener; for a more detailed explanation of possible interactions
  see
  <a target="_blank" href="https://www.chartjs.org/docs/latest/configuration/interactions.html">
    the chart.js interactions documentation
  </a>
  .
</p>
<p>
  <kirby-card variant="flat" [hasPadding]="_cardHasPadding">
    <cookbook-example-viewer
      [html]="interactionExample.template"
      [ts]="interactionExample.codeSnippet"
    >
      <cookbook-chart-example-interaction #interactionExample></cookbook-chart-example-interaction>
    </cookbook-example-viewer>
  </kirby-card>
</p>

<h3 id="stacked-bar-and-column-charts">Stacked Bar & column charts</h3>
<p>Stacked charts can be created using a combination of custom options and datasets.</p>
<p>
  <kirby-card variant="flat" [hasPadding]="_cardHasPadding">
    <cookbook-example-viewer [html]="stackedExample.template" [ts]="stackedExample.codeSnippet">
      <cookbook-chart-example-column-stacked
        #stackedExample
      ></cookbook-chart-example-column-stacked>
    </cookbook-example-viewer>
  </kirby-card>
</p>

<h3>Option resolving</h3>
<p>
  Besides custom options it is also possible to provide options for each dataset as can be seen in
  the above
  <i>stacked bar & column charts</i>
  example where it is used to change the background- & hover background color for one of the
  datsets.
</p>

<p>Options are resolved such that:</p>
<ul>
  <li>Defaults are overwritten by custom options.</li>
  <li>Custom options are overwritten by dataset options.</li>
</ul>

<kirby-divider [hasMargin]="true"></kirby-divider>

<h2><a id="datasets">Datasets</a></h2>
<p>
  It is possible to provide data as an array of
  <a target="_blank" href="https://www.chartjs.org/docs/next/general/data-structures.html">
    chart.js datasets
  </a>
  . This allows for example to have several bars for each category in a column chart and mixing
  different types of charts. Also each dataset can be customized with custom options.
</p>
<p>
  The following is an example of using 3 seperate datasets in a single chart where one of them is
  used to draw a line:
</p>
<p>
  <kirby-card variant="flat" [hasPadding]="_cardHasPadding">
    <cookbook-example-viewer
      [html]="multipleDatasetsExample.template"
      [ts]="multipleDatasetsExample.codeSnippet"
    >
      <cookbook-chart-example-multiple-datasets
        #multipleDatasetsExample
      ></cookbook-chart-example-multiple-datasets>
    </cookbook-example-viewer>
  </kirby-card>
</p>

<kirby-divider [hasMargin]="true"></kirby-divider>

<h2>Annotations</h2>
<p>
  <strong>Note:</strong>
  It is currently not possible to use annotations with type
  <code>point</code>
  as these are not rendered. For progress see issue
  <a target="_blank" href="https://github.com/kirbydesign/designsystem/issues/1674" target="_blank">
    #1674
  </a>
  <br />
</p>
<p>
  Lines, boxes, ellipses can be drawn to annotate the charts using the
  <code>annotations</code>
  input property. Annotations are drawn using the
  <a target="_blank" href="https://www.chartjs.org/chartjs-plugin-annotation/1.0.2/">
    chartjs-plugin-annotation
  </a>
  plugin for Chart.js
</p>

<p>
  The Chart component has some defaults for the different chart types - these can however be
  overwritten on a per annotation basis.
</p>

<p>More documentation of the individual annotation types can be found here:</p>
<ul>
  <li>
    <a
      target="_blank"
      href="https://www.chartjs.org/chartjs-plugin-annotation/1.0.2/guide/types/box.html"
    >
      Box annotation documentation
    </a>
  </li>
  <li>
    <a
      target="_blank"
      href="https://www.chartjs.org/chartjs-plugin-annotation/1.0.2/guide/types/ellipse.html"
    >
      Ellipse annotation documentation
    </a>
  </li>
  <li>
    <a
      target="_blank"
      href="https://www.chartjs.org/chartjs-plugin-annotation/1.0.2/guide/types/line.html"
    >
      Line annotation documentation
    </a>
  </li>
</ul>

<p>
  The following example shows a chart annotated with a line that has a different draw time than the
  default, box, ellipse and a line that has been customized to not be dashed.
</p>

<p>
  <kirby-card variant="flat" [hasPadding]="_cardHasPadding">
    <cookbook-example-viewer
      [html]="annotationsExample.template"
      [ts]="annotationsExample.codeSnippet"
    >
      <cookbook-chart-example-annotations #annotationsExample></cookbook-chart-example-annotations>
    </cookbook-example-viewer>
  </kirby-card>
</p>

<kirby-divider [hasMargin]="true"></kirby-divider>

<h2>Line Chart with fill</h2>
<p>The fill allows for better visual explanation by allowing for different colors between lines.</p>
<p>
  To render the fill set the
  <code>fill</code>
  inside your dataset.
</p>
<p>
  More information can be found here:
  <a href="https://www.chartjs.org/docs/latest/samples/area/line-datasets.html">Area charts</a>
</p>
<p>
  <kirby-card variant="flat" [hasPadding]="_cardHasPadding">
    <cookbook-example-viewer [html]="lineAreaExample.template" [ts]="lineAreaExample.codeSnippet">
      <cookbook-chart-example-area-line #lineAreaExample></cookbook-chart-example-area-line>
    </cookbook-example-viewer>
  </kirby-card>
</p>

<kirby-divider [hasMargin]="true"></kirby-divider>
<h2>Responsiveness</h2>
<p>
  The chart component takes 100% width of whatever container it is placed in. The height has to be
  set manually either via the
  <code>height</code>
  input property or the
  <code>--kirby-chart-height</code>
  custom css property.
</p>
<h3>Resize delay</h3>
<p>
  The chart will be redrawn whenever the size of its container changes. This will happen with a
  delay of 10 milliseconds to debounce the drawing and make resizing smoother.
</p>
<p>
  It is possible to change this delay through the
  <code>customOptions</code>
  input property by setting
  <a
    target="_blank"
    href="https://www.chartjs.org/docs/master/configuration/responsive.html#configuration-options"
  >
    <code>resizeDelay</code>
  </a>
  to a delay in milliseconds.
</p>
<h3>Aspect Ratio</h3>
The aspect ratio of the chart is not preserved whenever it is resized. This can be changed using
<code>customOptions</code>
by setting
<a
  target="_blank"
  href="https://www.chartjs.org/docs/master/configuration/responsive.html#configuration-options"
>
  <code>maintainAspectRatio</code>
</a>
to
<code>false</code>
.

<kirby-divider [hasMargin]="true"></kirby-divider>
<h2>Accessibility</h2>
<p>
  The charts are unfortunately not accessible out-of-the-box. This is because the charts are drawn
  using a canvas element which renders it as a rasterized image; meaning there is no structured
  content that can be read aloud by a screen reader. This makes it act much like an
  <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img">
    image element
  </a>
  .
</p>
<p>
  As a fallback for screen readers structured content can be slotted that a screen reader will read
  aloud; see the below example.
</p>
<p>
  For more on accessibility when working with the canvas element have a look at
  <a target="_blank" href="https://pauljadam.com/demos/canvas.html">
    this great article from Paul J. Adam
  </a>
  .
</p>

<p>
  <kirby-card variant="flat" [hasPadding]="_cardHasPadding">
    <cookbook-example-viewer
      [html]="accessibilityExample.template"
      [ts]="accessibilityExample.codeSnippet"
    >
      <cookbook-chart-example-accessibility
        #accessibilityExample
      ></cookbook-chart-example-accessibility>
    </cookbook-example-viewer>
  </kirby-card>
</p>
<kirby-divider [hasMargin]="true"></kirby-divider>

<h2>API Description</h2>
<cookbook-api-description-properties
  [properties]="_apiDescriptionProperties"
></cookbook-api-description-properties>
<h2>CSS Custom Properties</h2>
<cookbook-api-description-properties
  [properties]="_cssCustomProperties"
  [columns]="_cssCustomPropertiesColumns"
></cookbook-api-description-properties>
