<div class="example">
  <!--  <cookbook-example-viewer [html]="line1.template" [ts]="line1.codeSnippet">
    <cookbook-chart-example-line-1 #line1> </cookbook-chart-example-line-1>
  </cookbook-example-viewer>

  <cookbook-example-viewer [html]="line2.template" [ts]="line2.codeSnippet">
    <cookbook-chart-example-line-2 #line2> </cookbook-chart-example-line-2>
  </cookbook-example-viewer>

  <cookbook-example-viewer [html]="line3.template" [ts]="line3.codeSnippet">
    <cookbook-chart-example-line-3 #line3> </cookbook-chart-example-line-3>
  </cookbook-example-viewer>

  <cookbook-example-viewer [html]="areaspline1.template" [ts]="areaspline1.codeSnippet">
    <cookbook-chart-example-areaspline-1 #areaspline1> </cookbook-chart-example-areaspline-1>
  </cookbook-example-viewer>
  <cookbook-example-viewer [html]="areaspline.template">
    <cookbook-chart-example-areaspline #areaspline> </cookbook-chart-example-areaspline>
  </cookbook-example-viewer>

  <cookbook-example-viewer [html]="timeseries1.template" [ts]="timeseries1.codeSnippet">
    <cookbook-chart-example-timeseries-1 #timeseries1> </cookbook-chart-example-timeseries-1>
  </cookbook-example-viewer>
  -->
  <cookbook-example-viewer [html]="timeseries2.template" [ts]="timeseries2.codeSnippet">
    <cookbook-chart-example-timeseries-2 #timeseries2> </cookbook-chart-example-timeseries-2>
  </cookbook-example-viewer>

  <cookbook-example-viewer [html]="timeseries.template">
    <cookbook-chart-example-timeseries #timeseries> </cookbook-chart-example-timeseries>
  </cookbook-example-viewer>
  <!--
  <cookbook-example-viewer [html]="bar21.template" [ts]="bar21.codeSnippet">
    <cookbook-chart-example-bar-1 #bar21> </cookbook-chart-example-bar-1>
  </cookbook-example-viewer>

  <cookbook-example-viewer [html]="bar22.template" [ts]="bar22.codeSnippet">
    <cookbook-chart-example-bar-2 #bar22> </cookbook-chart-example-bar-2>
  </cookbook-example-viewer>
  <cookbook-example-viewer [html]="bar23.template" [ts]="bar23.codeSnippet">
    <cookbook-chart-example-bar-3 #bar23> </cookbook-chart-example-bar-3>
  </cookbook-example-viewer>
  <cookbook-example-viewer [html]="column.template" [ts]="column.codeSnippet">
    <cookbook-chart-example-column #column> </cookbook-chart-example-column>
  </cookbook-example-viewer>

  <cookbook-example-viewer [html]="horbar.template" [ts]="horbar.codeSnippet">
    <cookbook-chart-example-horizontal-bar #horbar> </cookbook-chart-example-horizontal-bar>
  </cookbook-example-viewer>

  <cookbook-example-viewer [html]="bar.template" [ts]="bar.codeSnippet">
    <cookbook-chart-example-bar #bar> </cookbook-chart-example-bar>
  </cookbook-example-viewer>

  <cookbook-example-viewer [html]="doughnut.template" [ts]="doughnut.codeSnippet">
    <cookbook-chart-example-doughnut-1 #doughnut> </cookbook-chart-example-doughnut-1>
  </cookbook-example-viewer>
  <cookbook-example-viewer [html]="donut.template">
    <cookbook-chart-example-donut #donut> </cookbook-chart-example-donut>
  </cookbook-example-viewer>
  <cookbook-example-viewer [html]="pie1.template" [ts]="pie1.codeSnippet">
    <cookbook-chart-example-pie-1 #pie1> </cookbook-chart-example-pie-1>
  </cookbook-example-viewer>
  <cookbook-example-viewer [html]="pie.template">
    <cookbook-chart-example-pie #pie> </cookbook-chart-example-pie>
  </cookbook-example-viewer>

  <cookbook-example-viewer [html]="activityGauge.template">
    <cookbook-chart-example-activity-gauge #activityGauge> </cookbook-chart-example-activity-gauge>
  </cookbook-example-viewer>
  -->
</div>
