<cookbook-chart-deprecated-example-donut></cookbook-chart-deprecated-example-donut>
<cookbook-chart-deprecated-example-pie></cookbook-chart-deprecated-example-pie>
<cookbook-chart-deprecated-example-timeseries></cookbook-chart-deprecated-example-timeseries>
<cookbook-chart-deprecated-example-areaspline></cookbook-chart-deprecated-example-areaspline>
<cookbook-chart-deprecated-example-activity-gauge></cookbook-chart-deprecated-example-activity-gauge>
<cookbook-chart-deprecated-example-bar></cookbook-chart-deprecated-example-bar>
<cookbook-chart-deprecated-example-column></cookbook-chart-deprecated-example-column>
