$prototype-color: rgb(0, 198, 224);
$prototype-color-bg: rgb(232, 246, 255) ;

.main-container {
  flex-direction: column-reverse;
}

.landscape.android740 :host .main-container {
  flex-direction: row;
}

.menu-container {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 120 dp;
  background-color: $prototype-color-bg;
}

.landscape.android740 :host .menu-container {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 120 dp;
  background-color: $prototype-color-bg;
}

.content-container {
  height: 100%;
}

.landscape.android740 :host .content-container {
  width: 100%;
}

.menu-icon {
  width: 32dp;
  height: 32dp;
  margin-left: 16dp;
  margin-right: 16dp;
}

.landscape.android740 :host .menu-icon {
  width: 32dp;
  height: 32dp;
  margin-top: 16dp;
  margin-bottom: 16dp;
}
