<!-- <header></header> -->
<main>
  <div class="wrapper--app">
    <div class="app-content">
      <aside>
        <nav>
          <a href="#" class="menu-button">
            <kirby-icon name="office"></kirby-icon>
            MIN SIDE
          </a>
          <a href="#" class="menu-button menu-button--align-center">
            <kirby-icon name="bubble"></kirby-icon>
            CHAT
          </a>
          <button class="menu-button menu-button--align-right menu-button--only-mobile" (click)="onClickMenu()">
            <kirby-icon name="paragraph-right"></kirby-icon>
            MENU
          </button>
          <kirby-app-menu (menuToggled)="onMenuToggle($event)" [isMenuOpen]="homeIsMenuOpen"></kirby-app-menu>
        </nav>
      </aside> 
      <section style="min-height: 200vh; flex: 1 0 auto; color:rgb(83, 83, 83); padding: 2rem; text-transform: uppercase">
        <h1>Awesome content here...</h1>
        <router-outlet name="main"></router-outlet>
      </section>
    </div>
  </div>
</main>
<!-- <footer></footer> -->
