@import '../../../kirby/scss/web-imports';

$page-header-bg: #1C1C1C;
$page-header-color: #F4F1E8; 
$page-header-height: 7rem;
$page-gutter: 1rem;
$page-max-width: 1280px;
$prototype-color: rgb(0, 198, 224);
$prototype-color-bg: rgb(232, 246, 255) ;

// TODO Global wrappers?
.wrapper--app {
  max-width: $page-max-width;
  margin-left: auto;
  margin-right: auto;
}

.app-content {
  display: flex;
  flex-direction: column;

  @include media('>=xlarge') {
    flex-direction: row;
  }
}

aside {
  background-color: $prototype-color-bg;
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  @include media('>=xlarge') {
    flex-basis: 14rem;
    margin: 0;
  }
}

nav {
  width: 100%;
  height: 3.5rem;
  padding: 1rem 0;
  color: $prototype-color;
  background-color: $prototype-color-bg;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  @include media('>=xlarge') {
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.menu-button {
  color: $prototype-color;
  text-decoration: none;
  appearance: none;
  border: none;
  background: none;
  font-size: 0.7rem;
  margin: 0;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &--align-right {
    align-items: flex-end;
  }

  &--align-center {
    align-items: center;
  }

  & kirby-icon {
    margin: 0 0 0.2rem;
  }

  @include media('>=xlarge') {
    min-width: 15rem;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;

    &--align-left,
    &--align-right {
      align-items: center;
    }

    &--only-mobile {
      display: none;
    }
    & kirby-icon {
      margin: 0 0.5rem 0;
    }
  }
}
