$prototype-color: rgb(0, 198, 224);
$prototype-color-bg: rgb(232, 246, 255) ;

.main-container {
  flex-direction: column-reverse;
}

.landscape.android740 :host .main-container {
  flex-direction: row;
}

.menu-container {
  flex-direction: row;
  height: 200 dp;
  background-color: $prototype-color-bg;
}

.landscape.android740 :host .menu-container {
  flex-direction: column;
  width: 200 dp;
  background-color: $prototype-color-bg;
}

.content-container {
  height: 100%;
}

.landscape.android740 :host .content-container {
  width: 100%;
}
