<kirby-card isDisabled="true">
  <kirby-card-header title="Disabled" subtitle='isDisabled="true"'></kirby-card-header>  
  <div class="card-content">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia facere molestias recusandae necessitatibus.
  </div>
</kirby-card>

<kirby-card>
  <kirby-card-header title="Default"></kirby-card-header>  
  <div class="card-content">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia facere molestias recusandae necessitatibus.
  </div>
</kirby-card>

<kirby-card isHighlighted="true">
  <kirby-card-header title="Highlighted" subtitle='isHighlighted="true"'></kirby-card-header>  
  <div class="card-content">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia facere molestias recusandae necessitatibus.
  </div>
</kirby-card>
