<kirby-card elevation="disabled">
  <kirby-card-header title="Disabled" subtitle='elevation="disabled"'></kirby-card-header>  
  <div class="card-content">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia facere molestias recusandae necessitatibus.
  </div>
</kirby-card>

<kirby-card elevation="default">
  <kirby-card-header title="Default"></kirby-card-header>  
  <div class="card-content">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia facere molestias recusandae necessitatibus.
  </div>
</kirby-card>

<kirby-card elevation="highlighted">
  <kirby-card-header title="Highlighted" subtitle='elevation="highlighted"'></kirby-card-header>  
  <div class="card-content">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia facere molestias recusandae necessitatibus.
  </div>
</kirby-card>
