@import '../../../kirby/scss/native-imports';

.segment-example{
  padding-top:20;
  .segment-data {
      height: 300;
      margin-top: 20;
      border-radius: 10;
      background: get-color('white');
      Label {
          margin-top:50;
          text-align: center;
      }
  }
}