@import '../showcase.shared';

cookbook-iphone {
  float: right;
}

.desktop {
  display: none;
}

@include media('>medium') {
  .mobile {
    display: none;
  }
  .desktop {
    display: initial;
  }
}
