@import "../../scss/web-imports";

:host {
  --kirby-badge-background-color: #{get-color('primary')};
  --kirby-badge-color: #{get-color('primary-contrast')};
  --ion-color-base: var(--kirby-badge-background-color);
  --ion-color-contrast: var(--kirby-badge-color);

  ion-badge {
    --padding-top: 3px;
    --padding-end: 5px;
    --padding-bottom: 4px;
    --padding-start: 5px;
    border-radius: 8px;
    min-width: 16px;
    min-height: 16px;
    font-size: font-size('xxs');
    position: relative;
  }

  ::ng-deep kirby-icon {
    --kirby-icon-font-size: #{font-size('n')};
    position: absolute;
    top: 0;
    left: 0;
  }
}

@each $color-name, $color-value in $notification-colors {
  :host(.#{$color-name}) {
    --kirby-badge-background-color: #{get-color($color-name)};
    --kirby-badge-color: #{get-color($color-name+'-contrast')};
  }
}

:host(.danger) {
  --kirby-badge-color: #{get-color('white')};
}

:host(.white) {
  --kirby-badge-background-color: #{get-color('white')};
  --kirby-badge-color: #{get-color('white-contrast')};
}