@import "../../scss/web-imports";

:host {
  --ion-color-base: #{get-color('kirby-primary')};
  --ion-color-contrast: #{get-color('kirby-primary-contrast')};

  &[colortype='primary'] {
    --ion-color-base: #{get-color('kirby-primary')};
    --ion-color-contrast: #{get-color('kirby-primary-contrast')};
  }

  &[colortype='secondary'] {
    --ion-color-base: #{get-color('kirby-contrast-light')};
    --ion-color-contrast: #{get-color('kirby-contrast-dark')};
  }

  &[colortype='tertiary'] {
    --ion-color-base: #{get-color('kirby-tertiary')};
    --ion-color-contrast: #{get-color('kirby-tertiary-contrast')};
  }

  &[colortype='success'] {
    --ion-color-base: #{get-color('kirby-success')};
    --ion-color-contrast: #{get-color('kirby-success-contrast')};
  }
  
  &[colortype='warning'] {
    --ion-color-base: #{get-color('kirby-warning')};
    --ion-color-contrast: #{get-color('kirby-warning-contrast')};
  }

  &[colortype='danger'] {
    --ion-color-base: #{get-color('kirby-danger')};
    --ion-color-contrast: #{get-color('kirby-contrast-light')};
  }
}
