@import "../../scss/web-imports";

:host {
  --ion-color-base: #{get-color('kirby-primary')};
  --ion-color-contrast: get-color('kirby-primary-contrast');

  &[colortype='primary'] {
    --ion-color-base: #{get-color('kirby-primary')};
    --ion-color-contrast: get-color('kirby-primary-contrast');
  }

  &[colortype='secondary'] {
    --ion-color-base: #{get-color('kirby-secondary')};
    --ion-color-contrast: #{get-color('kirby-secondary-contrast')};
  }

  &[colortype='danger'] {
    --ion-color-base: #{get-color('kirby-danger')};
    --ion-color-contrast: #{get-color('kirby-white')};
  }

  &[colortype='alert'] {
    --ion-color-base: #{get-color('kirby-alert')};
    --ion-color-contrast: #{get-color('kirby-alert-contrast')};
  }
}
