@import "../../scss/web-imports";

:host {
  --kirby-badge-background-color: #{get-color('primary')};
  --kirby-badge-color: #{get-color('primary-contrast')};
  --ion-color-base: var(--kirby-badge-background-color);
  --ion-color-contrast: var(--kirby-badge-color);
}

@each $color-name, $color-value in $main-colors {
  :host(.#{$color-name}) {
    --kirby-badge-background-color: #{get-color($color-name)};
    --kirby-badge-color: #{get-color($color-name+'-contrast')};
  }
}

:host(.danger) {
  --kirby-badge-color: #{get-color('white')};
}
