@import "../../scss/native-imports";

.badge { 
  font-size: font-size("xxs");
  border-radius: size("xs");
  background-color: get-color('danger');
  color: get-color('contrast-light', true, $kirby-colors);
  height: size("s");
  min-width: size("s");
  padding-left: size("xxs");
  padding-right: size("xxs");    
  white-space: nowrap;
  
  &[colortype='primary']  {
    color: get-color('primary-contrast');
    background-color: get-color('primary');
  }
  
  &[colortype='secondary'] {
    color: get-color('secondary-contrast');
    background-color: get-color('secondary');
  }

  &[colortype='tertiary'] {
    color: get-color('tertiary-contrast');
    background-color: get-color('tertiary');
  }

  &[colortype='success'] {
    color: get-color('success-contrast');
    background-color: get-color('success');
  }

  &[colortype='warning'] {
    color: get-color('warning-contrast');
    background-color: get-color('warning');
  }
  
  &[colortype='danger'] {
    color: get-color('contrast-light');
    background-color: get-color('danger');
  }
}

.badge-label {
  height: 100%; // Needed for IOS
}



