@import "../../scss/native-imports";

.badge { 
  font-size: font-size("xxs");
  border-radius: size("xs");
  background-color: get-color('danger');
  color: get-color('white');
  height: size("s");
  min-width: size("s");
  padding-left: size("xxs");
  padding-right: size("xxs");    
  white-space: nowrap;

  @each $color-name, $color-value in $main-colors {
    &[themeColor='#{$color-name}'] {
      background-color: #{get-color($color-name)};
      color: #{get-color($color-name+'-contrast')};
    }
  }

  &[themeColor='danger'] {
    color: get-color('white');
  }
}

.badge-label {
  height: 100%; // Needed for IOS
}



