@import '../../scss/utils';

:root {
  --kirby-badge-elevation: none;
  --kirby-badge-position: relative;
  --kirby-badge-left: 0;
  --kirby-badge-right: 0;
  --kirby-badge-top: 0;
  --kirby-badge-zindex: none;
}

:host {
  --kirby-badge-background-color: #{get-color('white')};
  --kirby-badge-color: #{get-color('white-contrast')};
  --ion-color-base: var(--kirby-badge-background-color);
  --ion-color-contrast: var(--kirby-badge-color);

  position: var(--kirby-badge-position);
  left: var(--kirby-badge-left);
  right: var(--kirby-badge-right);
  top: var(--kirby-badge-top);
  z-index: var(--kirby-badge-zindex);

  ion-badge {
    --padding-top: 3px;
    --padding-end: 5px;
    --padding-bottom: 4px;
    --padding-start: 5px;
    box-sizing: border-box; //Fixes https://github.com/kirbydesign/designsystem/issues/537
    border-radius: 8px;
    min-width: 16px;
    min-height: 16px;
    font-size: font-size('xxs');
    position: relative;
    box-shadow: var(--kirby-badge-elevation);
  }

  ::ng-deep kirby-icon {
    --kirby-icon-font-size: #{font-size('n')};
    position: absolute;
    top: 0;
    left: 0;
  }
}

@each $color-name, $color-value in $notification-colors {
  :host(.#{$color-name}) {
    --kirby-badge-background-color: #{get-color($color-name)};
    --kirby-badge-color: #{get-color($color-name + '-contrast')};
  }
}

:host(.danger) {
  --kirby-badge-color: #{get-color('white')};
}

:host(.white) {
  --kirby-badge-background-color: #{get-color('white')};
  --kirby-badge-color: #{get-color('white-contrast')};
}
