@import '../../scss/web-imports';

$grid-item-min-height: 172px;
$grid-item-min-width: 304px;
$grid-max-columns: 2; 

:host {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax($grid-item-min-height, auto);
  grid-column-gap: size("gutter-small");
  grid-row-gap: size("gutter-small");
  max-width: $page-max-width;
  margin: size("gutter") auto;
  padding: 0 size("gutter");
  
  @include media(">=small") {
    grid-column-gap: size("gutter");
    grid-row-gap: size("gutter");    
  }

  @include media(">=medium") {
    grid-template-columns: repeat($grid-max-columns, minmax($grid-item-min-width, 1fr));
  }
}

@for $i from 1 through $grid-max-columns {
  ::ng-deep .grid-item--col-#{$i} {
    @include media(">=medium") {
      grid-column: span $i;
    }
  }
}
    