@import '../../scss/utils';

:host {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-auto-rows: minmax(var(--kirby-grid-item-min-height, auto), auto);
  grid-column-gap: size('xxs');
  grid-row-gap: size('xxs');
  max-width: var(--kirby-page-max-width);
  margin: 0 auto;

  @include media('>=small') {
    grid-column-gap: size('s');
    grid-row-gap: size('s');
  }

  @include media('>=medium') {
    @for $i from 1 through 10 {
      &[max-columns='#{$i}'] {
        grid-template-columns: repeat($i, 1fr);
      }
    }
  }
}

@for $i from 1 through 10 {
  ::ng-deep .grid-item--col-#{$i} {
    @include media('>=medium') {
      grid-column: span $i;
    }
  }
}
