@import '../../scss/web-imports';

$grid-item-min-height: 172px;

:host {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax($grid-item-min-height, auto);
  grid-column-gap: size("gutter-small");
  grid-row-gap: size("gutter-small");
  max-width: $page-max-width;
  margin: size("gutter-small") auto;
  padding: 0 size("gutter-small");
  
  @include media(">=small") {
    grid-column-gap: size("gutter");
    grid-row-gap: size("gutter");  
    margin: size("gutter") auto;
    padding: 0 size("gutter");  
  }

  @include media(">=medium") {
    @for $i from 1 through 10 {
      &[max-columns="#{$i}"] {
        grid-template-columns: repeat($i, 1fr);
      }
    }
  }
}

@for $i from 1 through 10 {
  ::ng-deep .grid-item--col-#{$i} {
    @include media(">=medium") {
      grid-column: span $i;
    }
  }
}
    