<!-- https://material.angular.io/cdk/portal/overview -->

<div class="example">
  <p>
    A menu is a list of actions that displays in a popup. Menu replaces action-sheet both on mobile
    and web.
  </p>

  <p>
    The menu's default slot accepts one or multiple
    <code><a routerLink="/home/showcase/item">kirby-item</a></code>
    . Additionally, the menu renders a default button that opens the menu. This button can be
    replaced by a custom button by providing a
    <code>kirby-button</code>
    as a content child of the menu as shown
    <a href="#" (click)="scrollTo(customButton)">here</a>
    .
  </p>

  <p>
    The menu supports the use of portals, which enables the user to render the menu in a different
    part of the DOM. This can be useful in case of issues with the stacking context. This is further
    described in the
    <a href="#" (click)="scrollTo(portal)">Portal</a>
    section.
  </p>
</div>
<h2>Examples</h2>
<h3>Basic</h3>
<div class="page-example">
  <div>
    <cookbook-example-viewer [html]="menuDefaultExample.template">
      <cookbook-menu-default-example #menuDefaultExample></cookbook-menu-default-example>
    </cookbook-example-viewer>
  </div>
</div>

<h3>Selectable items</h3>
<p>This example demonstrates how to set custom actions on the elements in the menu.</p>
<div class="page-example">
  <div>
    <cookbook-example-viewer [html]="menuSelectableExample.template">
      <cookbook-menu-selectable-example #menuSelectableExample></cookbook-menu-selectable-example>
    </cookbook-example-viewer>
  </div>
</div>

<h3>Advanced items</h3>
<p>
  Since the Menu accepts Items, it is possible to customize these. The example below demonstrates
  how to add a toggle to an Item in the list.
</p>
<p>
  <em>
    <strong>Please note:</strong>
    You should set
    <code>[closeOnSelect]="false"</code>
    if you don't want the menu to close right away when an item is clicked.
  </em>
</p>
<div class="page-example">
  <div>
    <cookbook-example-viewer [html]="menuAdvancedExample.template">
      <cookbook-menu-advanced-example #menuAdvancedExample></cookbook-menu-advanced-example>
    </cookbook-example-viewer>
  </div>
</div>

<h3>Menu placement</h3>
<p>
  By default the menu will open underneath the button and towards the right side of the screen. The
  placement of the menu can be configured through the
  <code>placement</code>
  input as shown below.
</p>

<div class="page-example">
  <div>
    <cookbook-example-viewer [html]="menuPlacementExample.template">
      <cookbook-menu-custom-placement-example
        #menuPlacementExample
      ></cookbook-menu-custom-placement-example>
    </cookbook-example-viewer>
  </div>
</div>

<h3 #customButton>Custom button</h3>
<p>
  By default a button is displayed and its functionality handled by the menu component. Should you
  need to modify the button, for example adding a directive or an attribute to it, you can provide
  your own button as shown in the example code.
</p>

<p>
  <strong>
    <em>The custom button won't receive the default values provided by the menu component.</em>
  </strong>
</p>

<div class="page-example">
  <div>
    <cookbook-example-viewer [html]="menuCustomButtonExample.template">
      <cookbook-menu-custom-button-example
        #menuCustomButtonExample
      ></cookbook-menu-custom-button-example>
    </cookbook-example-viewer>
  </div>
</div>

<h2 #portal>Portal</h2>
<p>
  The menu supports the use of portals to place its content in another part of the DOM. This can be
  done by providing the menu with a
  <code>PortalOutletConfig</code>
  , or a reference to a
  <code>HTMLElement</code>
  that is passed to the
  <code>DOMPortalOutlet</code>
  input.
</p>

<p>
  Most use cases should be easily handled by using the
  <code>PortalOutletConfig</code>
  input.
</p>

<p>
  <strong>
    <em>
      The use of portal should only be used when necessary. It might break styling and/or angular
      functionality, so use with care.
    </em>
  </strong>
</p>

<h3>
  <code>DOMPortalOutlet</code>
  - Portal with outlet
</h3>
<!-- <p>
  This example will describe and show how to use
  <code>DOMPortalOutlet</code>
  input.
</p> -->

<p>
  The
  <code>DOMPortalOutlet</code>
  input must be a reference to a unique DOM element, such as the
  <code>body</code>
  .
</p>

<!-- <p>
  By providing a reference to an
  <code>HTMLElement</code>
  to the
  <code>DOMPortalOutlet</code>
  input, you can place the menu content in a different part of the DOM. Please note that the
  referenced DOM element should be unique.
</p> -->

<!-- <p>
  Providing the
  <code>HTMLElement</code>
  for
  <code>DOMPortalOutlet</code>
  , can for example be achieved by using:
  <code>document.getElementsByTagName(outletTag)[0] as HTMLElement</code>
  . Here outlet tag references a known tag in the DOM, for which there should only exists one. This
  could for example be one of the top elements in the DOM. This is not generalized, since each
  project may have different tags for which they want the content to be placed under. This approach
  is also to prevent the need for adjusting the DOM with an extra base element, when the need for
  portal arises.
</p> -->
<div class="page-example">
  <div>
    <h3>How it looks</h3>
    <p>
      One of the cases where it might be necessary to use portal, is when the menu is placed inside
      a
      <code>kirby-list</code>
      . The example below exemplifies how it looks when the menu is not placed correctly in the
      stack.
    </p>

    <!-- This is only here to make sure the example has the same width as the other example -->
    <cookbook-example-viewer>
      <cookbook-menu-portal-in-list-wrapper-example>
        <p header>
          A menu in a
          <code>kirby-list</code>
          &nbsp;
          <b>without</b>
          &nbsp;
          <code>DOMPortalOutlet</code>
        </p>
        <div body>
          <cookbook-menu-portal-example [isOutletElementSet]="false"></cookbook-menu-portal-example>
          <-- The menu is cut off by the list.
        </div>
      </cookbook-menu-portal-in-list-wrapper-example>
    </cookbook-example-viewer>
    <br />
    <cookbook-example-viewer [html]="menuPortalExample.template">
      <cookbook-menu-portal-in-list-wrapper-example>
        <p header>
          A menu in a
          <code>kirby-list</code>
          &nbsp;
          <b>with</b>
          a
          <code>DOMPortalOutlet</code>
        </p>
        <p>
          The
          <code>outletElement</code>
          is {{ isOutletElementSet }}
        </p>
        <div body>
          <cookbook-menu-portal-example
            #menuPortalExample
            [isOutletElementSet]="true"
          ></cookbook-menu-portal-example>
          <-- The menu renders outside the menu.
        </div>
      </cookbook-menu-portal-in-list-wrapper-example>
    </cookbook-example-viewer>
  </div>
</div>

<h3>
  <code>PortalOutletConfig</code>
  - Automatically get portal outlet
</h3>

<p></p>

<p>
  This example will describe and show how to use
  <code>PortalOutletConfig</code>
  input.
</p>
<p>
  Providing a
  <code>PortalOutletConfig</code>
  to the
  <code>PortalOutletConfig</code>
  input, will let the menu component automatically handle getting and setting of the desired
  <code>HTMLElement</code>
  for which the menu content should portal to.
</p>
<p>
  <code>PortalOutletConfig</code>
  consists of a selector and a value. Selector is the various ways you would fetch an element from
  the document object, i.e id, class, tag and name. Value is the corresponding value associated with
  the selector
</p>
<p>Example:</p>

<cookbook-code-viewer [html]="portalOutletConfigExampleHTML"></cookbook-code-viewer>
<cookbook-code-viewer [ts]="portalOutletConfigExampleTS"></cookbook-code-viewer>

<div class="page-example">
  <div>
    <cookbook-example-viewer
      [html]="menuPortalConfigExample.template"
      [ts]="menuPortalConfigExample.codeSnippet"
    >
      <cookbook-menu-portal-config-example
        #menuPortalConfigExample
      ></cookbook-menu-portal-config-example>
    </cookbook-example-viewer>
  </div>
</div>

<h2>Properties:</h2>
<cookbook-api-description-properties
  [properties]="properties"
></cookbook-api-description-properties>
