<div class="example">
  <p>
    A menu is a list of actions that displays in a popup. Menu replaces action-sheet both on mobile
    and web.
  </p>
  <p>
    It is up to the user of menu to add individual kirby-items to get the desired outcome. Menu
    simply provides the shell of handling the popup and related button. All functionality that is
    expected from an item in the list, is up to the user to implement. See examples.
  </p>
  <p>
    By default a simple button with the icon 'more' is used. A custom kirby-button can be provided
    as content-child to menu, which will override the default button.
  </p>
  <p>
    <em>
      <strong>Note:</strong>
      Only
      <code>kirby-item</code>
      are allowed as children of a menu. This is to ensure consistency in design and implementation
    </em>
  </p>
  <h3>Portal</h3>
  <p>
    There might be issues with the stacking context, that is your menu is being overlapped by other
    content on the page, which requires the use of portal to fix. The use of portal enables us to
    move an element in the DOM from one parent node into another node in DOM, effectively changing
    the moved elements stacking context.
  </p>
  <p>
    Menu has an input
    <code>DOMPortalOutlet</code>
    which takes in a
    <code>HTMLElement</code>
    . It is your task to provide a reference to the DOM element for which you want to portal the
    menu content into. This can example be achieved by using:
    <code>document.getElementsByTagName(outletTag)[0] as HTMLElement</code>
    . Here outlet tag references a known tag in the DOM, for which there should only exists one.
    This could for example be one of the top elements in the DOM. This is not generalized, since
    each project may have different tags for which they want the content to be placed under. This
    approach is also to prevent the need for adjusting the DOM with an extra base element, when the
    need for portal arises.
  </p>
  <strong>
    <em>
      The use of portal should only be used when necessary. It might break styling and/or angular
      functionality, so use with care.
    </em>
  </strong>
</div>
<div class="page-example">
  <div>
    <h2>Menu: Simple</h2>
    <cookbook-example-viewer [html]="menuDefaultExample.template">
      <cookbook-menu-default-example #menuDefaultExample></cookbook-menu-default-example>
    </cookbook-example-viewer>
  </div>
</div>

<div class="page-example">
  <div>
    <h2>Menu: Selectable items</h2>
    <cookbook-example-viewer [html]="menuSelectableExample.template">
      <cookbook-menu-selectable-example #menuSelectableExample></cookbook-menu-selectable-example>
    </cookbook-example-viewer>
  </div>
</div>

<div class="page-example">
  <div>
    <h2>Menu: Advanced item</h2>
    <cookbook-example-viewer [html]="menuAdvancedExample.template">
      <cookbook-menu-advanced-example #menuAdvancedExample></cookbook-menu-advanced-example>
    </cookbook-example-viewer>
  </div>
</div>

<div class="page-example">
  <div>
    <h2>Menu: Placement</h2>
    <cookbook-example-viewer [html]="menuPlacementExample.template">
      <cookbook-menu-custom-placement-example
        #menuPlacementExample
      ></cookbook-menu-custom-placement-example>
    </cookbook-example-viewer>
  </div>
</div>

<div class="page-example">
  <div>
    <h2>Menu: Custom button</h2>
    <cookbook-example-viewer [html]="menuCustomButtonExample.template">
      <cookbook-menu-custom-button-example
        #menuCustomButtonExample
      ></cookbook-menu-custom-button-example>
    </cookbook-example-viewer>
  </div>
</div>

<div class="page-example">
  <div>
    <h2>Menu: Portal</h2>
    <cookbook-example-viewer [html]="menuPortalExample.template">
      <cookbook-menu-portal-example #menuPortalExample></cookbook-menu-portal-example>
    </cookbook-example-viewer>
  </div>
</div>

<h2>Properties:</h2>
<cookbook-api-description-properties
  [properties]="properties"
></cookbook-api-description-properties>
