<div class="example">
  <h2>Colors</h2>
  <cookbook-example-viewer [html]="colorsExample.template">
    <cookbook-flag-example-colors #colorsExample></cookbook-flag-example-colors>
  </cookbook-example-viewer>
  <h2>Sizes</h2>
  <cookbook-example-viewer [html]="sizesExample.template">
    <cookbook-flag-example-sizes #sizesExample></cookbook-flag-example-sizes>
  </cookbook-example-viewer>

  <h4>Properties:</h4>
  <cookbook-api-description-properties
    [properties]="properties"
  ></cookbook-api-description-properties>
</div>
