<kirby-page [maxWidth]="maxWidth">
  <kirby-page-content>
    <fieldset>
      <legend>Max Width</legend>
      <select [(ngModel)]="maxWidth">
        <option
          *ngFor="let option of maxWidthOptions"
          value="{{ option.value }}"
          [attr.selected]="maxWidthOptions === option.value ? true : null"
        >
          {{ option.text }}
        </option>
      </select>

      <kirby-checkbox
        (checkedChange)="onCheckedChange($event)"
        text="Ignore kirby page padding"
        [checked]="ignorePagePadding"
      ></kirby-checkbox>
    </fieldset>

    <div class="example">
      <h1>Carousel demo</h1>

      <!-------------------- EXAMPLE 1 ---------------------->

      <h2>Example 1 (5 items)</h2>
      <kirby-carousel
        [slidesOptions]="configExample1"
        [noPadding]="ignorePagePadding"
        [slides]="slides"
        (selectedSlide)="getDataFromActiveSlide($event)"
      >
        <kirby-card *kirbyCarouselSlide="let slide; let i = index" [hasPadding]="true">
          <kirby-card-header [title]="slide.title" [subtitle]="slide.subtitle"></kirby-card-header>

          <div class="card-content">
            {{ slide.cardContent }}
          </div>
        </kirby-card>

        <!-- <button kirby-button size="xs" attentionLevel="3">Vis alle</button> -->
      </kirby-carousel>
    </div>
  </kirby-page-content>
</kirby-page>
