<kirby-page [maxWidth]="maxWidth">
  <kirby-page-content>
    <fieldset>
      <legend>Max Width</legend>
      <select [(ngModel)]="maxWidth">
        <option
          *ngFor="let option of maxWidthOptions"
          value="{{ option.value }}"
          [attr.selected]="maxWidthOptions === option.value ? true : null"
        >
          {{ option.text }}
        </option>
      </select>

      <kirby-checkbox
        (checkedChange)="onCheckedChange($event)"
        text="Ignore kirby page padding"
        [checked]="ignorePagePadding"
      ></kirby-checkbox>
    </fieldset>

    <div class="example">
      <h1>Carousel demo</h1>

      <!-------------------- EXAMPLE 1 ---------------------->

      <h2>Example 1 (5 items)</h2>
      <kirby-carousel
        [config]="configExample1"
        [prevButtonClass]="'example1-prev'"
        [nextButtonClass]="'example1-next'"
        [paginationClass]="'example1-pagination'"
        [noPadding]="ignorePagePadding"
      >
        <kirby-carousel-slide>
          <kirby-card [hasPadding]="true">
            <kirby-card-header
              [title]="'Flagged card header 1'"
              [flagged]="'success'"
            ></kirby-card-header>

            <strong>A flagged card</strong>
            <p>
              This is a card that uses a
              <em>kirby-card-header</em>
              with the
              <code>flagged</code>
              input set.
            </p>
            <p>
              Possible values for the flagged header are:
              <br />
              <code>'success' | 'warning' | 'danger' | 'info'</code>
            </p>
            <p>Use the buttons below to see the different options 👇</p>
          </kirby-card>
        </kirby-carousel-slide>
        <kirby-carousel-slide>
          <kirby-card [hasPadding]="true">
            <kirby-card-header
              [title]="'Flagged card header 2'"
              [flagged]="'warning'"
            ></kirby-card-header>

            <strong>A flagged card</strong>
            <p>
              This is a card that uses a
              <em>kirby-card-header</em>
              with the
              <code>flagged</code>
              input set.
            </p>
            <p>
              Possible values for the flagged header are:
              <br />
              <code>'success' | 'warning' | 'danger' | 'info'</code>
            </p>
            <p>Use the buttons below to see the different options 👇</p>
          </kirby-card>
        </kirby-carousel-slide>
        <kirby-carousel-slide>
          <kirby-card [hasPadding]="true">
            <kirby-card-header
              [title]="'Flagged card header 3'"
              [flagged]="'danger'"
            ></kirby-card-header>

            <strong>A flagged card</strong>
            <p>
              This is a card that uses a
              <em>kirby-card-header</em>
              with the
              <code>flagged</code>
              input set.
            </p>
            <p>
              Possible values for the flagged header are:
              <br />
              <code>'success' | 'warning' | 'danger' | 'info'</code>
            </p>
            <p>Use the buttons below to see the different options 👇</p>
          </kirby-card>
        </kirby-carousel-slide>

        <kirby-carousel-slide>
          <kirby-card [hasPadding]="true">
            <kirby-card-header
              [title]="'Flagged card header 4'"
              [flagged]="'warning'"
            ></kirby-card-header>

            <strong>A flagged card</strong>
            <p>
              This is a card that uses a
              <em>kirby-card-header</em>
              with the
              <code>flagged</code>
              input set.
            </p>
            <p>
              Possible values for the flagged header are:
              <br />
              <code>'success' | 'warning' | 'danger' | 'info'</code>
            </p>
            <p>Use the buttons below to see the different options 👇</p>
          </kirby-card>
        </kirby-carousel-slide>

        <kirby-carousel-slide>
          <kirby-card [hasPadding]="true">
            <kirby-card-header
              [title]="'Flagged card header 5'"
              [flagged]="'success'"
            ></kirby-card-header>

            <strong>A flagged card</strong>
            <p>
              This is a card that uses a
              <em>kirby-card-header</em>
              with the
              <code>flagged</code>
              input set.
            </p>
            <p>
              Possible values for the flagged header are:
              <br />
              <code>'success' | 'warning' | 'danger' | 'info'</code>
            </p>
            <p>Use the buttons below to see the different options 👇</p>
          </kirby-card>
        </kirby-carousel-slide>

        <kirby-carousel-slide>
          <kirby-card [hasPadding]="true">
            <kirby-card-header
              [title]="'Flagged card header 6'"
              [flagged]="'warning'"
            ></kirby-card-header>

            <strong>A flagged card</strong>
            <p>
              This is a card that uses a
              <em>kirby-card-header</em>
              with the
              <code>flagged</code>
              input set.
            </p>
            <p>
              Possible values for the flagged header are:
              <br />
              <code>'success' | 'warning' | 'danger' | 'info'</code>
            </p>
            <p>Use the buttons below to see the different options 👇</p>
          </kirby-card>
        </kirby-carousel-slide>

        <kirby-carousel-slide>
          <kirby-card [hasPadding]="true">
            <kirby-card-header
              [title]="'Flagged card header 7'"
              [flagged]="'danger'"
            ></kirby-card-header>

            <strong>A flagged card</strong>
            <p>
              This is a card that uses a
              <em>kirby-card-header</em>
              with the
              <code>flagged</code>
              input set.
            </p>
            <p>
              Possible values for the flagged header are:
              <br />
              <code>'success' | 'warning' | 'danger' | 'info'</code>
            </p>
            <p>Use the buttons below to see the different options 👇</p>
          </kirby-card>
        </kirby-carousel-slide>

        <kirby-carousel-slide>
          <kirby-card [hasPadding]="true">
            <kirby-card-header
              [title]="'Flagged card header 8'"
              [flagged]="'warning'"
            ></kirby-card-header>

            <strong>A flagged card</strong>
            <p>
              This is a card that uses a
              <em>kirby-card-header</em>
              with the
              <code>flagged</code>
              input set.
            </p>
            <p>
              Possible values for the flagged header are:
              <br />
              <code>'success' | 'warning' | 'danger' | 'info'</code>
            </p>
            <p>Use the buttons below to see the different options 👇</p>
          </kirby-card>
        </kirby-carousel-slide>

        <kirby-carousel-slide>
          <kirby-card [hasPadding]="true">
            <kirby-card-header
              [title]="'Flagged card header 9'"
              [flagged]="'success'"
            ></kirby-card-header>

            <strong>A flagged card</strong>
            <p>
              This is a card that uses a
              <em>kirby-card-header</em>
              with the
              <code>flagged</code>
              input set.
            </p>
            <p>
              Possible values for the flagged header are:
              <br />
              <code>'success' | 'warning' | 'danger' | 'info'</code>
            </p>
            <p>Use the buttons below to see the different options 👇</p>
          </kirby-card>
        </kirby-carousel-slide>
      </kirby-carousel>

      <!-------------------- EXAMPLE 2 ---------------------->

      <h2>Example 2 (3 items)</h2>
      <kirby-carousel
        [config]="configExample2"
        [prevButtonClass]="'example2-prev'"
        [nextButtonClass]="'example2-next'"
        [paginationClass]="'example2-pagination'"
        [noPadding]="ignorePagePadding"
      >
        <kirby-carousel-slide>
          <kirby-card [hasPadding]="true">
            <kirby-card-header
              [title]="'Flagged card header'"
              [flagged]="'success'"
            ></kirby-card-header>

            <strong>A flagged card</strong>
            <p>
              This is a card that uses a
              <em>kirby-card-header</em>
              with the
              <code>flagged</code>
              input set.
            </p>
            <p>
              Possible values for the flagged header are:
              <br />
              <code>'success' | 'warning' | 'danger' | 'info'</code>
            </p>
            <p>Use the buttons below to see the different options 👇</p>
          </kirby-card>
        </kirby-carousel-slide>
        <kirby-carousel-slide>
          <kirby-card [hasPadding]="true">
            <kirby-card-header
              [title]="'Flagged card header'"
              [flagged]="'warning'"
            ></kirby-card-header>

            <strong>A flagged card</strong>
            <p>
              This is a card that uses a
              <em>kirby-card-header</em>
              with the
              <code>flagged</code>
              input set.
            </p>
            <p>
              Possible values for the flagged header are:
              <br />
              <code>'success' | 'warning' | 'danger' | 'info'</code>
            </p>
            <p>Use the buttons below to see the different options 👇</p>
          </kirby-card>
        </kirby-carousel-slide>
        <kirby-carousel-slide>
          <kirby-card [hasPadding]="true">
            <kirby-card-header
              [title]="'Flagged card header'"
              [flagged]="'danger'"
            ></kirby-card-header>

            <strong>A flagged card</strong>
            <p>
              This is a card that uses a
              <em>kirby-card-header</em>
              with the
              <code>flagged</code>
              input set.
            </p>
            <p>
              Possible values for the flagged header are:
              <br />
              <code>'success' | 'warning' | 'danger' | 'info'</code>
            </p>
            <p>Use the buttons below to see the different options 👇</p>
          </kirby-card>
        </kirby-carousel-slide>
      </kirby-carousel>

      <!-------------------- EXAMPLE 3 ---------------------->

      <h2>Example 3 (6 items & centered items)</h2>
      <kirby-carousel
        [config]="configExample3"
        [prevButtonClass]="'example3-prev'"
        [nextButtonClass]="'example3-next'"
        [paginationClass]="'example3-pagination'"
        [noPadding]="ignorePagePadding"
      >
        <kirby-carousel-slide>
          <kirby-card [hasPadding]="true">
            <kirby-card-header
              [title]="'Flagged card header'"
              [flagged]="'success'"
            ></kirby-card-header>

            <strong>A flagged card</strong>
            <p>
              This is a card that uses a
              <em>kirby-card-header</em>
              with the
              <code>flagged</code>
              input set.
            </p>
            <p>
              Possible values for the flagged header are:
              <br />
              <code>'success' | 'warning' | 'danger' | 'info'</code>
            </p>
            <p>Use the buttons below to see the different options 👇</p>
          </kirby-card>
        </kirby-carousel-slide>
        <kirby-carousel-slide>
          <kirby-card [hasPadding]="true">
            <kirby-card-header
              [title]="'Flagged card header'"
              [flagged]="'warning'"
            ></kirby-card-header>

            <strong>A flagged card</strong>
            <p>
              This is a card that uses a
              <em>kirby-card-header</em>
              with the
              <code>flagged</code>
              input set.
            </p>
            <p>
              Possible values for the flagged header are:
              <br />
              <code>'success' | 'warning' | 'danger' | 'info'</code>
            </p>
            <p>Use the buttons below to see the different options 👇</p>
          </kirby-card>
        </kirby-carousel-slide>
        <kirby-carousel-slide>
          <kirby-card [hasPadding]="true">
            <kirby-card-header
              [title]="'Flagged card header'"
              [flagged]="'danger'"
            ></kirby-card-header>

            <strong>A flagged card</strong>
            <p>
              This is a card that uses a
              <em>kirby-card-header</em>
              with the
              <code>flagged</code>
              input set.
            </p>
            <p>
              Possible values for the flagged header are:
              <br />
              <code>'success' | 'warning' | 'danger' | 'info'</code>
            </p>
            <p>Use the buttons below to see the different options 👇</p>
          </kirby-card>
        </kirby-carousel-slide>

        <kirby-carousel-slide>
          <kirby-card [hasPadding]="true">
            <kirby-card-header
              [title]="'Flagged card header'"
              [flagged]="'warning'"
            ></kirby-card-header>

            <strong>A flagged card</strong>
            <p>
              This is a card that uses a
              <em>kirby-card-header</em>
              with the
              <code>flagged</code>
              input set.
            </p>
            <p>
              Possible values for the flagged header are:
              <br />
              <code>'success' | 'warning' | 'danger' | 'info'</code>
            </p>
            <p>Use the buttons below to see the different options 👇</p>
          </kirby-card>
        </kirby-carousel-slide>

        <kirby-carousel-slide>
          <kirby-card [hasPadding]="true">
            <kirby-card-header
              [title]="'Flagged card header'"
              [flagged]="'success'"
            ></kirby-card-header>

            <strong>A flagged card</strong>
            <p>
              This is a card that uses a
              <em>kirby-card-header</em>
              with the
              <code>flagged</code>
              input set.
            </p>
            <p>
              Possible values for the flagged header are:
              <br />
              <code>'success' | 'warning' | 'danger' | 'info'</code>
            </p>
            <p>Use the buttons below to see the different options 👇</p>
          </kirby-card>
        </kirby-carousel-slide>

        <kirby-carousel-slide>
          <kirby-card [hasPadding]="true">
            <kirby-card-header
              [title]="'Flagged card header'"
              [flagged]="'warning'"
            ></kirby-card-header>

            <strong>A flagged card</strong>
            <p>
              This is a card that uses a
              <em>kirby-card-header</em>
              with the
              <code>flagged</code>
              input set.
            </p>
            <p>
              Possible values for the flagged header are:
              <br />
              <code>'success' | 'warning' | 'danger' | 'info'</code>
            </p>
            <p>Use the buttons below to see the different options 👇</p>
          </kirby-card>
        </kirby-carousel-slide>
      </kirby-carousel>
    </div>
  </kirby-page-content>
</kirby-page>
