<kirby-card [hasPadding]="true">
  <cookbook-chart-example-simple-column></cookbook-chart-example-simple-column>
</kirby-card>

<kirby-card [hasPadding]="true">
  <cookbook-chart-example-bar></cookbook-chart-example-bar>
</kirby-card>

<kirby-card [hasPadding]="true">
  <cookbook-chart-example-column></cookbook-chart-example-column>
</kirby-card>

<kirby-card [hasPadding]="true">
  <cookbook-chart-example-line></cookbook-chart-example-line>
</kirby-card>

<kirby-card [hasPadding]="true">
  <cookbook-chart-example-area-line></cookbook-chart-example-area-line>
</kirby-card>

<kirby-card [hasPadding]="true">
  <cookbook-chart-example-column-stacked></cookbook-chart-example-column-stacked>
</kirby-card>

<kirby-card [hasPadding]="true">
  <cookbook-chart-example-multiple-datasets></cookbook-chart-example-multiple-datasets>
</kirby-card>
