@function _get-map-prop($map, $key) {
  @if map-has-key($map, $key) {
    @return map-get($map, $key);
  }

  @error 'Unknown key `#{$key}`.';
  @return null;
}

@function size($key: 'm') {
  $negative: str-index($key, '-') == 1;
  @if ($negative) {
    $key: str-slice($key, 2, -1);
  }
  $value: get-unit-value(_get-map-prop($sizes, $key));
  @return if($negative, unquote('-' + $value), $value);
}

@function z($key) {
  @return _get-map-prop($z-layers, $key);
}

@function font-size($key: 'n') {
  @if ($key == 'display') {
    @warn 'Display key is deprecated';
  }
  @return get-unit-value(_get-map-prop($font-sizes, $key));
}

@function line-height($key: 'm') {
  @return get-unit-value(_get-map-prop($line-height, $key));
}

@function get-unit-value($value) {
  @if ($native == false) {
    @return $value * 1px;
  } @else {
    @return $value;
  }
}

@function font-weight($key: 'normal') {
  @return _get-map-prop($font-weight, $key);
}

@function get-color($variant, $getValueOnly: false, $map: $kirby-colors) {
  $value: _get-map-prop($map, $variant);
  @if $getValueOnly == true or $native == true {
    @return $value;
  } @else {
    @return unquote('var(--kirby-' + $variant+ ')');
  }
}
