/*
  SPACINGS
****************************************************************************/
$sizes: (
  xxxl: 56px,
  xxl:  48px,
  xl:   40px,
  l:    32px,
  m:    24px,
  s:    16px,
  xs:   12px,
  xxs:   8px, 
  xxxs:  4px
) !default;

/*
  FONT SETTINGS 
****************************************************************************/
$font-sizes: (
  xxl: 48px, // Not usedpx, yet 
  xl: 40px, // Not usedpx, yet
  l:  32px,
  m:  22px,
  n:  16px,
  s:  14px,
  xs: 12px,
  xxs: 10px
) !default;

$line-height: (
  xxl: 34px, // Not used in typography
  xl: 38px, // h1 - Not decided yet..
  l: 26px,  // Not used in typography
  m: 21px,  // Not used in typography
  n: 24px,  // h2, h3 and p all use this....(Weird rhythm?)
  s: 20px,  // For text-small
  xs: 14px, // For text-xsmall
  xxs: 11px // For text-xxsmall
) !default;

$font-weight: (
  light: 300,
  normal: 400,
  bold: 700
) !default;

/*
  Z - Index overview
****************************************************************************/
$z-layers: (
  default: 1,
  segmentBadge: 2,
  modal-overlay: 900,
  modal: 901
) !default;

$border-radius: 20px !default;

/* Breakpoints
****************************************************************************/
$breakpoints: (
  small: 361px, 
  medium: 721px, 
  large: 1025px,
  xlarge: 60em, 
  xxlarge: 80em 
) !default;
