@import './functions';

/*
  SPACINGS
****************************************************************************/
$sizes: (
  xxxl: 56,
  xxl:  48,
  xl:   40,
  l:    32,
  m:    24,
  s:    16,
  xs:    8,   
  xxs:   4,
);

/*
  FONT SETTINGS 
****************************************************************************/
$font-sizes: (
  display: 32, // Deprecated
  xxl: 48, // Not used, yet 
  xl: 40, // Not used, yet
  l:  32,
  m:  22,
  n:  16,
  s:  14,
  xs: 12,
  xxs: 10
);

$line-height: (
  display: 41,  // Designers/UX's haven't made up their minds yet on this one.
  xxl: 34, // UX - Not decided yet..
  xl: 38, // h1 - Not decided yet..
  l: 26,  // UX - Not decided yet..
  m: 21,  // UX - Not decided yet..
  n: 24,  // h2, h3 and p all use this....(Weird rhythm?)
  s: 20,  // For text-small
  xs: 14, // For text-xsmall
  xxs: 11 // For text-xxsmall
);

$font-weight: (
  light: 300,
  normal: 400,
  bold: 700
);

/*
  Z - Index overview
****************************************************************************/
$z-layers: (
  default: 1,
  segmentBadge: 2,
  modal-overlay: 900,
  modal: 901
);

$border-radius: get-unit-value(20);
