@import "../utils";
/*
  Text alignment and wrapping behaviour
****************************************************************************/
.kirby {
  &-text-left {
    text-align: left !important;
  }

  &-text-right {
    text-align: right !important;
  }

  &-text-center {
    text-align: center !important;
  }

  &-text-justify {
    text-align: justify !important;
  }

  &-text-nowrap {
    white-space: nowrap !important;
  }
}
/*
  Weight and types
****************************************************************************/
.kirby {
  &-text-light {
    font-weight: font-weight('light') !important;
  }

  &-text-bold {
    font-weight: font-weight('bold') !important;
  }

  &-text-mono {
    font-family: Lucida Console,Lucida Sans Typewriter,Monaco,monospace !important;
  }

  &-text-muted {
    color: get-color('semi-dark') !important;
  }
}

