@import "../base/settings";
@import "../base/functions";

body {
  font-size: font-size("n");
  color: get-color("grey-9");
}

.kirby-typography {
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  p, .p {
    font-weight: font-weight("normal");
    margin: 0;
    margin-top: size("m");
  }
}

.kirby-typography h1,
.kirby-typography .h1,
.kirby-text-l {
  font-size: font-size("l");
  font-weight: font-weight("bold");
}

.kirby-typography h2,
.kirby-typography .h2,
.kirby-text-medium {
  font-size: font-size("m");
  font-weight: font-weight("bold");
}

.kirby-typography h3,
.kirby-typography .h3,
.kirby-text-body-bold {
  font-size: font-size("n");
  font-weight: font-weight("bold");
}

.kirby-typography p,
.kirby-text-body {
  font-size: font-size("n");
}

.kirby-text-small {
  font-size: font-size("s");
}

.kirby-text-small-light {
  font-size: font-size("s");
  font-weight: font-weight("light");
}

.kirby-text-xsmall {
  font-size: font-size("xs");
}

.kirby-text-xxsmall {
  font-size: font-size("xxs");
}
