h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
p,
.p {
  margin: 0;
  margin-bottom: size('s');
}

kirby-app .page-title {
  > h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}

.kirby-text-display-1 {
  font-size: font-size('xxxxl');
  font-weight: font-weight('light');
  line-height: normal;
}

.kirby-text-display-2 {
  font-size: font-size('xxxl');
  font-weight: font-weight('light');
  line-height: normal;
}

.kirby-text-display-3 {
  font-size: font-size('xxl');
  font-weight: font-weight('light');
  line-height: normal;
}

h1,
.h1,
.kirby-text-xlarge {
  font-size: font-size('xl');
  @supports (font: -apple-system-headline) {
    font: -apple-system-headline;
    font-family: var(--kirby-font-family);
    font-size: 1.4em;
  }
  font-weight: font-weight('bold');
}

h2,
.h2,
.kirby-text-large {
  font-size: font-size('l');
  @supports (font: -apple-system-headline) {
    font: -apple-system-headline;
    font-family: var(--kirby-font-family);
    font-size: 1.2em;
  }
  font-weight: font-weight('bold');
}

h3,
.h3,
.kirby-text-medium {
  font-size: font-size('m');
  @supports (font: -apple-system-headline) {
    font: -apple-system-headline;
    font-family: var(--kirby-font-family);
    font-size: 1.1em;
  }
  font-weight: font-weight('bold');
}

p,
.p,
.kirby-text-normal {
  font-size: font-size('n');
  @supports (font: -apple-system-body) {
    font: -apple-system-body;
    font-family: var(--kirby-font-family);
  }
}

.kirby-text-small {
  font-size: font-size('s');
  @supports (font: -apple-system-subheadline) {
    font: -apple-system-subheadline;
    font-family: var(--kirby-font-family);
  }
}

.kirby-text-small-light {
  @extend .kirby-text-small;
  font-weight: font-weight('light');
}

.kirby-text-xsmall {
  font-size: font-size('xs');
  @supports (font: -apple-system-caption1) {
    font: -apple-system-caption1;
    font-family: var(--kirby-font-family);
  }
}

.kirby-text-xxsmall {
  font-size: font-size('xxs');
  line-height: line-height('xxs');

  @supports (font: -apple-system-caption1) {
    font: -apple-system-caption1;
    font-family: var(--kirby-font-family);
  }
}

.kirby-text-bold {
  font-weight: font-weight('bold');
}
