@import "../base/settings";
@import "../base/functions";

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
p, .p {
  margin: 0;
  margin-bottom: size("s");
}

h1,
.h1,
.kirby-text-large {
  font-size: font-size("l");
  font-weight: font-weight("bold");
}

h2,
.h2,
.kirby-text-medium {
  font-size: font-size("m");
  font-weight: font-weight("bold");
}

h3,
.h3,
.kirby-text-normal-bold {
  font-size: font-size("n");
  font-weight: font-weight("bold");
}

.p,
.kirby-text-normal {
  font-size: font-size("n");
}

.kirby-text-small {
  font-size: font-size("s");
}

.kirby-text-small-light {
  font-size: font-size("s");
  font-weight: font-weight("light");
}

.kirby-text-xsmall {
  font-size: font-size("xs");
}

.kirby-text-xxsmall {
  font-size: font-size("xxs");
}
