:host {
  display: block;
}

h4 {
  margin: var(--kirby-spacing-s) 0;
}

pre {
  position: relative;

  span.label {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 1;
    color: var(--kirby-text-color-semi-dark);
    border: 1px solid var(--kirby-medium);
    border-top: none;
    border-right: none;
    padding: var(--kirby-spacing-xxxxs);
    font-size: 0.75em;
  }
}

code {
  white-space: pre-wrap;
}
