@import './libs/designsystem/src/lib/scss/utils';
h4 {
  margin: size('s') 0;
}

pre {
  position: relative;

  span.label {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 1;
    color: get-text-color('semi-dark');
    border: 1px solid get-color('medium');
    border-top: none;
    border-right: none;
    padding: size('xxxxs');
    font-size: 0.75em;
  }
}

code {
  white-space: pre-wrap;
}
