<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        text=""
        [defaultHref]="defaultBackHref"
        icon="assets/kirby/icons/svg/arrow-back.svg"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div [@visibility]="toolbarTitleVisibility">
        <ng-container *ngTemplateOutlet="toolbarTitleTemplate"></ng-container>
      </div>
    </ion-title>
    <ion-buttons *ngIf="stickyActionsTemplate" slot="primary" #stickyToolbarButtons>
      <div [@visibility]="toolbarStickyActionsVisibility">
        <ng-container *ngTemplateOutlet="stickyActionsTemplate"></ng-container>
      </div>
    </ion-buttons>
    <ion-buttons *ngIf="fixedActionsTemplate" slot="secondary" #fixedToolbarButtons>
      <div [@visibility]="toolbarFixedActionsVisibility">
        <ng-container *ngTemplateOutlet="fixedActionsTemplate"></ng-container>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true">
  <div class="content-inner">
    <div
      *ngIf="hasPageTitle"
      class="page-title"
      [class.has-actions]="hasActionsInPage"
      [ngClass]="{
        'text-center': titleAlignment === 'center',
        'text-right': titleAlignment === 'right'
      }"
      #pageTitle
    >
      <ng-container *ngTemplateOutlet="customTitleTemplate"></ng-container>
      <h1 *ngIf="!customTitleTemplate">
        <ng-container *ngTemplateOutlet="simpleTitleTemplate"></ng-container>
      </h1>
      <div *ngIf="pageActionsTemplate">
        <ng-container *ngTemplateOutlet="pageActionsTemplate"></ng-container>
      </div>
      <ng-content *ngIf="!pageActionsTemplate" select="kirby-page-actions"></ng-content>
    </div>

    <ng-container *ngTemplateOutlet="customContentTemplate"></ng-container>
    <ng-content *ngIf="!customContentTemplate" select="kirby-page-content"></ng-content>
  </div>

  <div slot="fixed" class="fixed-content" *ngIf="fixedContentTemplate">
    <div class="content-inner">
      <ng-container *ngTemplateOutlet="fixedContentTemplate"></ng-container>
    </div>
  </div>
</ion-content>

<ng-template #simpleTitleTemplate>{{ title }}</ng-template>
<ng-template #simpleToolbarTitleTemplate>{{ toolbarTitle }}</ng-template>
