@import '../../scss/utils';

/*
 * Page Header
 */
ion-header, ion-toolbar {
  --background: #{get-color('background-color')};
  max-width: 768px;
  margin: 0 auto;

}

ion-toolbar {
  --border-width: 0 !important;
  --padding-start: #{size('xs')};
  --padding-end: #{size('xs')};

  ion-buttons {
    // TODO: It's only possible to overwrite button background-color / border-color by changing kirby-white and kirby-medium, this should be changed in button component
    --kirby-white: transparent;
    --kirby-medium: transparent;
  }
}

ion-back-button {
  --color: #{get-color('black')};
  --icon-font-size: 24px;
  width: 32px;
  height: 32px;
  background-color: #{get-color('light')};
  margin-bottom: size('xxs');
  border-radius: 50%;
  display: none;

  @include media (">=large") {
    display: block;
  }
}

ion-icon.sc-ion-back-button-ios {
  width: 24px;
}

/*
 * Page Title
 */
.page-title {
  margin-left: size('xs');
  margin-top: size('xxs');
  margin-bottom: size('xl');

  display: flex;
  justify-content: space-between;
  align-items: center;

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}

/*
 * Page Content
 */
ion-content {
  --padding-start: #{size('xs')};
  --padding-end: #{size('xs')};
  --background: #{get-color('background-color')};

  .content-inner {
    max-width: 720px;
    margin: 0 auto;
  }  

  /*
  * Fixed content
  */
  .fixed-content {
    width: 100%;
    position: absolute;
    bottom: 0;
    .content-inner {
      position: relative;
    }
  }
}
