<ion-header class="page-header">
    <ion-toolbar class="page-toolbar">
        <ion-buttons slot="start">
            <ion-back-button text="" [defaultHref]="defaultBackHref" icon="arrow-back" class="back-button"></ion-back-button>
        </ion-buttons>
        <ion-title [@visibility]="pageHeaderTitleIsVisibleState">
            <ng-container [ngTemplateOutlet]="title"></ng-container>
        </ion-title>
        <ion-buttons slot="primary">
            <div [@visibility]="pageHeaderTitleIsVisibleState" #pageHeaderButtons>
                <ng-container [ngTemplateOutlet]="titleActions"></ng-container>
            </div>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="page-content">

    <div class="page-content-inner">
        <div class="page-title-container" *ngIf="!onlyShowPageTitleInHeader" #pageTitleContainer>
            <div class="page-title">
                <h1 [style.textAlign]="pageTitleAlign">
                    <ng-container [ngTemplateOutlet]="title"></ng-container>
                </h1>
                <div class="page-title-actions">
                    <ng-container [ngTemplateOutlet]="titleActions"></ng-container>
                </div>
            </div>
        </div>

        <ng-container [ngTemplateOutlet]="content"></ng-container>
    </div>

    <div slot="fixed" class="page-fixed-content" *ngIf="fixedContent">
        <div class="page-fixed-content-inner">
            <ng-container [ngTemplateOutlet]="fixedContent"></ng-container>
        </div>
    </div>
</ion-content>
