<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" [defaultHref]="defaultBackHref" icon="assets/icons/arrow-back.svg"></ion-back-button>
        </ion-buttons>
        <ion-title [@visibility]="toolbarContentVisibility">
            <ng-container *ngTemplateOutlet="toolbarTitleTemplate"></ng-container>
        </ion-title>
        <ion-buttons slot="primary" [@visibility]="toolbarContentVisibility" #toolbarButtons>
            <ng-container *ngTemplateOutlet="actionsTemplate"></ng-container>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="content-inner">
        <div class="page-title" *ngIf="hasPageTitle" #pageTitle>
            <h1 [style.textAlign]="titleAlignment">
                <ng-container *ngTemplateOutlet="this.titleTemplate"></ng-container>
            </h1>
            <div *ngIf="actionsTemplate">
                <ng-container *ngTemplateOutlet="actionsTemplate"></ng-container>
            </div>
            <ng-content *ngIf="!actionsTemplate" select="kirby-page-actions"></ng-content>

        </div>

        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
        <ng-content *ngIf="!contentTemplate" select="kirby-page-content"></ng-content>
    </div>

    <div slot="fixed" class="fixed-content" *ngIf="fixedContent">
        <div class="content-inner">
            <ng-container *ngTemplateOutlet="fixedContent"></ng-container>
        </div>
    </div>
</ion-content>

<ng-template #simpleTitleTemplate>{{title}}</ng-template>
<ng-template #simpleToolbarTitleTemplate>{{toolbarTitle}}</ng-template>
