<article>
  <h1>Kirby Layout Recipes</h1>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus dignissimos error quo,
    deleniti voluptatum eveniet inventore pariatur a sapiente, quos magnam reprehenderit assumenda
    eos rem cupiditate. Molestias libero optio deserunt.
  </p>
  <h2>Grid Layout</h2>
  <table>
    <thead>
      <tr>
        <th>Recipe</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Core - single grid container</td>
        <td>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur neque eaque
          exercitationem molestiae ut sapiente dolorem veniam, sint qui incidunt et fuga inventore
          blanditiis veritatis magnam earum, nulla mollitia labore?
        </td>
      </tr>
      <tr>
        <td>Core - multiple grid containers</td>
        <td>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur neque eaque
          exercitationem molestiae ut sapiente dolorem veniam, sint qui incidunt et fuga inventore
          blanditiis veritatis magnam earum, nulla mollitia labore?
        </td>
      </tr>
      <tr>
        <td>Extended</td>
        <td>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur neque eaque
          exercitationem molestiae ut sapiente dolorem veniam, sint qui incidunt et fuga inventore
          blanditiis veritatis magnam earum, nulla mollitia labore?
        </td>
      </tr>
    </tbody>
  </table>
  <div class="example">
    <cookbook-code-viewer [html]="exampleHtml"></cookbook-code-viewer>
    <cookbook-grid-layout-core-example></cookbook-grid-layout-core-example>
  </div>
</article>
