@import "../../../kirby/scss/web-imports";
.colors {
  display: flex;
  width: 100%;
  margin-bottom: size('m');
  flex-wrap: wrap;
}

.color-button {
  background: none;
  border: none;
  cursor: pointer;
  margin: size('s');
  width: 70px;

  &__txt {
    display: block;
    width: 100%;
  }
}

.color {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

@each $color-name, $color-value in $main-colors {
  .color--#{$color-name} {
    background-color: get-color($color-name);
  }
}