<kirby-card>
    <kirby-calendar 
        [disableWeekends]="disableWeekends" 
        [disablePastDates]="disablePastDates" 
        [disableFutureDates]="disableFutureDates" 
        [disabledDates]="setDisabledDates ? disabledDates : null"
        [minDate]="setMinDate ? minDate : null"
        [maxDate]="setMaxDate ? maxDate : null"
        [selectedDate]="selectedDate"
        (dateChange)="onDateChange($event)">
    </kirby-calendar>
    
    <div>
        <kirby-button (click)="selectNextMonth()" text="Next month" [isOutlinedOnFocus]="false"></kirby-button>
        <kirby-button (click)="selectToday()" attentionLevel="2" text="Now" [isOutlinedOnFocus]="false"></kirby-button>
    </div>
</kirby-card>

<div *ngIf="selectedDate">
    Selected Date: {{ selectedDate | date }}
</div>