<kirby-card>
    <kirby-calendar 
        [disableWeekends]="true" 
        [disablePastDates]="true" 
        [disableDates]="disableDatesArray" 
        [selectedDate]="selectedDate" 
        (dateChange)="onDateChange($event)">
    </kirby-calendar>
    
    <div>
        <button kirby-button (click)="selectNextMonth()">Next month</button>
        <button kirby-button (click)="selectToday()" themeColor="secondary">Now</button>
    </div>
</kirby-card>

<div *ngIf="selectedDate">
    Selected Date: {{ selectedDate | date }}
</div>