@import '../../../kirby/scss/utils';

kirby-card {
  width: 320px;
  margin-bottom: 20px;

  div {
    display: flex;
    border-top: 1px solid get-color('medium');

    button {
      font-size: 14px;
      width: 100%;
      height: 50px;
      border-radius: 0;
      margin: auto;
      outline: none;
    }
  }
}
