$_icon-size-map: (
  'sm': (
    font-size: size('m'),
    padding: size('xxs'),
  ),
  'md': (
    font-size: size('l'),
    padding: size('s'),
  ),
  'lg': (
    font-size: size('xxxl'),
    padding: size('m'),
  ),
);

@function _icon-font-size($key) {
  $size: map-get($_icon-size-map, $key);
  @return map-get($size, font-size);
}

@function _icon-padding($key) {
  $size: map-get($_icon-size-map, $key);
  @return map-get($size, padding);
}

@mixin _icon-size($key) {
  --kirby-icon-font-size: #{_icon-font-size($key)};
  --kirby-icon-padding: #{_icon-padding($key)};
}
