@import '../../scss/web-imports';
@import './icon.component.shared';

:host {
  //default to icon size 'sm'
  @include _icon-size('sm');

  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--kirby-icon-font-size);

  .outline {
    border: 3px solid currentColor;
    padding: var(--kirby-icon-padding);
    border-radius: size('xxxl') * 3;
  }

  svg path {
    fill: currentColor;
    stroke: currentColor;
  }
}

:host(.sm) {
  @include _icon-size('sm');
}

:host(.md) {
  @include _icon-size('md');
}

:host(.lg) {
  @include _icon-size('lg');
}

@each $color-name, $color-value in $main-colors {
  :host(.#{$color-name}) {
    color: get-color($color-name);
  }
}
