@import '../../scss/native-imports';
 
Label {
    font-family: "Ionicons", "ionicons";

    &.small {
        font-size: 16px;
    }

    &.large {
        font-size: 32px;
    }

    &.primary {
        color: get-color('primary');
    }
    
    &.secondary {
        color: get-color('secondary');
    }
    
    &.tertiary {
        color: get-color('tertiary');
    }

    &.warning {
        color: get-color('warning');
    }

    &.success {
        color: get-color('success');
    }

    &.danger {
        color: get-color('danger');
    }
}   
