@import '../../scss/utils';
@import './icon.component.shared';

:host {
  //default to icon size 'sm'
  @include _icon-size('sm');

  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--kirby-icon-font-size);
  margin-left: var(--kirby-icon-margin-left, unset);
  margin-right: var(--kirby-icon-margin-right, unset);

  svg path {
    fill: currentColor;
    stroke: currentColor;
  }
}

:host(.sm) {
  @include _icon-size('sm');
}

:host(.md) {
  @include _icon-size('md');
}

:host(.lg) {
  @include _icon-size('lg');
}

@each $color-name, $color-value in $main-colors {
  :host(.#{$color-name}) {
    color: get-color($color-name);
  }
}

:host-context(kirby-item) {
  &[slot='start'] {
    margin-inline-end: size('xxs');
  }
  &[slot='end'] {
    margin-inline-start: size('xxs');
  }
}
