@import '../../scss/web-imports';

:host {
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: size('m');
}

:host(.sm) {
  font-size: size('m');
}

:host(.md) {
  font-size: size('l');
}

:host(.lg) {
  font-size: size('xxxl');
}
