@import '../../scss/web-imports';

:host {
  display: inline-block;
  font-size: size('m');

  svg path {
    fill: currentColor;
    stroke: currentColor;
  }
}

.outline {
  border: solid 3px currentColor;
  padding: size('m');
  border-radius: 50%;
}

:host(.sm) {
  font-size: size('m');
}

:host(.md) {
  font-size: size('l');
}

:host(.lg) {
  font-size: size('xxxl');
}

@each $color-name, $color-value in $main-colors {
  :host(.#{$color-name}) {
    color: get-color($color-name);
  }
}
