@import '../../scss/utils';
@import './icon.component.shared';

:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--kirby-icon-font-size, icon-font-size('sm'));
  margin-left: var(--kirby-icon-margin-left, unset);
  margin-right: var(--kirby-icon-margin-right, unset);

  svg path {
    fill: currentColor;
    stroke: currentColor;
  }
}

:host(.sm) {
  --kirby-icon-font-size: #{icon-font-size('sm')};
}

:host(.md) {
  --kirby-icon-font-size: #{icon-font-size('md')};
}

:host(.lg) {
  --kirby-icon-font-size: #{icon-font-size('lg')};
}

@each $color-name, $color-value in $main-colors {
  :host(.#{$color-name}) {
    color: get-color($color-name);
  }
}

:host-context(kirby-item) {
  &[slot='start'] {
    margin-inline-end: size('xxs');
  }
  &[slot='end'] {
    margin-inline-start: size('xxs');
  }
}
