@import "../../../scss/web-imports";
:host {
    /* @Polyfill  
     * This is the way to hide scrollbar
     * Firefox, IE, Chrome
     * */
   overflow: hidden;
  .scrollable {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-bottom: -30px;
    padding-bottom: 30px;
    @include media('>=medium') {
      justify-content: center;
      margin-bottom: -50px;
      padding-bottom: 50px;
    }
  }
}
  