<div class="example">
  <div class="page-example">
    <div>
      <h2>Reorder list:</h2>
      <cookbook-code-viewer [html]="exampleHtml"></cookbook-code-viewer>
    </div>

    <div>
      <cookbook-iphone src="/examples/reorder-list" showExternalLink="true"></cookbook-iphone>
    </div>
  </div>
  <h2>Remarks:</h2>
  <p>{{ remarks }}</p>
  <h2>Properties:</h2>
  <cookbook-showcase-properties [properties]="properties"></cookbook-showcase-properties>
  <h2>Events:</h2>
  <cookbook-showcase-properties
    [properties]="events"
    [columns]="eventColumns"
  ></cookbook-showcase-properties>
  <h2>Methods:</h2>
  <cookbook-showcase-properties
    [properties]="methods"
    [columns]="methodColumns"
  ></cookbook-showcase-properties>
</div>
