<div class="example">
  <cookbook-list-swipe-example></cookbook-list-swipe-example>
  <cookbook-code-viewer [html]="exampleHtml"></cookbook-code-viewer>
</div>

<h2>Accessibility</h2>
<h3>Lists</h3>
<p>
  Always provide an accessible label for your list using the
  <code>aria-label</code>
  or
  <code>aria-labelledby</code>
  attribute on the
  <code>kirby-list</code>
  .
  <br />
  More information can be found in the
  <a href="https://cookbook.kirby.design/#/home/showcase/list">List.</a>
  .
</p>
