/* 
  You can add global styles to this file, and also import other style files 

  ******
  NOTE: THIS FILE DOES NOT APPLY STYLES TO NATIVESCRIPT
  ******
*/

// Import common styles
@import "~prismjs/themes/prism";
@import "./kirby/scss/web-imports";
@import "./kirby/scss/themes/common-themes";

@font-face {
  font-family: "Effra";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("/assets/fonts/effraregular-webfont.woff2") format("woff2"),
    url("/assets/fonts/effraregular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Effra";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src:
    url("/assets/fonts/effralight-webfont.woff2") format("woff2"),
    url("/assets/fonts/effralight-webfont.woff") format("woff");
}

@font-face {
  font-family: "Effra";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("/assets/fonts/effrabold-webfont.woff2") format("woff2"),
    url("/assets/fonts/effrabold-webfont.woff") format("woff");
}

:root { 
  --ion-font-family: "Effra";
  font-family: var(--ion-font-family);
}

body, html {
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
  box-sizing: border-box;
}

*, 
*:before, *:after {
  box-sizing: inherit; 
}

:root {
  @each $color, $color-name in map-get($themes, 'default') {
    --#{$color}: #{$color-name};
  }
}

// Generates all the theme variables 
@each $themeName, $theme in $themes {
  .theme--#{$themeName} {
    --kirby-primary: #{get-color('primary', $theme)};
    --kirby-on-primary: #{get-color('on-primary', $theme)};
    --kirby-secondary: #{get-color('secondary', $theme)};
    --kirby-on-secondary: #{get-color('on-secondary', $theme)};
    --kirby-surface: #{get-color('surface', $theme)};
    --kirby-on-surface: #{get-color('on-surface', $theme)};
  }
}

