.calendar-example {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

kirby-calendar-example,
.example-wrapper {
  margin-right: 20px;
}

h2.custom-example {
  margin-top: 40px;
}

kirby-checkbox + label {
  cursor: pointer;
  margin-left: 4px;
}
