
.calendar-example {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

kirby-calendar-example,
kirby-calendar-card-example {
    margin-right: 20px;
}

h2.custom-example {
    margin-top: 40px;
}
