<div class="example">
    <kirby-empty-state-example></kirby-empty-state-example>
    <kirby-code-viewer [html]="exampleHtml"></kirby-code-viewer>
    <h4>Properties:</h4>
    <table class="cookbook-properties">
      <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Input values</th>
      </thead>
      <tbody>
        <tr>
          <td><code>iconName</code></td>
          <td>Name of the icon (see <a routerLink="/home/showcase/icon">icons</a>).</td>
          <td><code>string</code></td>
        </tr>
        <tr>
          <td><code>title</code></td>
          <td>The title.</td>
          <td><code>string</code></td>
        </tr>
        <tr>
          <td><code>subtitle</code></td>
          <td>The text beneath the title.</td>
          <td><code>string</code></td>
        </tr>
      </tbody>
    </table>
</div>