<h2>Simple</h2>
<kirby-item-example-simple></kirby-item-example-simple>
<kirby-item-example-simple-two-lines></kirby-item-example-simple-two-lines>
<kirby-item-example-simple-three-lines></kirby-item-example-simple-three-lines>
<kirby-item-example-simple-two-value-lines></kirby-item-example-simple-two-value-lines>

<h2>Picker</h2>
<kirby-item-example-picker-default></kirby-item-example-picker-default>
<kirby-item-example-picker-default-selected></kirby-item-example-picker-default-selected>
<kirby-item-example-picker-avatar-selected></kirby-item-example-picker-avatar-selected>

<h2>FAB menu</h2>
<kirby-item-example-fab-menu></kirby-item-example-fab-menu>

<h2>Attachment</h2>
<kirby-item-example-attachment></kirby-item-example-attachment>

<h2>Settings</h2>
<kirby-item-example-settings></kirby-item-example-settings>
<kirby-item-example-settings-disabled></kirby-item-example-settings-disabled>

<h2>Flagged</h2>
<kirby-item-example-flagged></kirby-item-example-flagged>

<h2>Avatar</h2>
<kirby-item-example-avatar></kirby-item-example-avatar>
<kirby-item-example-avatar-date></kirby-item-example-avatar-date>
<kirby-item-example-avatar-flagged></kirby-item-example-avatar-flagged>
<kirby-item-example-avatar-flagged-three-lines></kirby-item-example-avatar-flagged-three-lines>

<h2>Message</h2>
<kirby-item-example-horizontal></kirby-item-example-horizontal>

<h2>Button</h2>
<kirby-item-example-button></kirby-item-example-button>
