@import './libs/designsystem/src/lib/scss/utils';

code {
  background-color: get-color('medium');
  color: get-color('medium-contrast');
  padding: 0.2rem 0.5rem;
  border-radius: 2px;
  white-space: nowrap;
}

.fonts {
  display: flex;
  flex-wrap: wrap;

  cookbook-code-viewer {
    flex: 1;
    flex-basis: 200px;
  }

  code {
    padding: 0.25rem 0 0 0;
    display: block;
    color: get-color('dark');
    background-color: transparent;
  }

  code.highlight {
    font-weight: font-weight('bold');
  }
}

/* prettier-ignore */
.sample {
  &-header-1,
  &-header-2,
  &-header-3,
  &-body,
  &-body-small,
  &-body-small-light,
  &-body-xsmall {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &-display-1 {
    &::after {
      content: '(#{font-size('xxxxl')})';
    }
  }

  &-display-2 {
    &::after {
      content: '(#{font-size('xxxl')})';
    }
  }

  &-display-3 {
    &::after {
      content: '(#{font-size('xxl')})';
    }
  }

  &-header-1 {
    &::after {
      content: '(#{font-size('xl')})';
    }
  }

  &-header-2 {
    &::after {
      content: '(#{font-size('l')})';
    }
  }

  &-header-3 {
    &::after {
      content: '(#{font-size('m')})';
    }
  }

  &-body {
    &::after {
      content: '(#{font-size('n')})';
    }    
  }

  &-body-small {
    &::after {
      content: '(#{font-size('s')})';
    }    
  }

  &-body-xsmall {
    &::after {
      content: '(#{font-size('xs')})';
    }    
  }
}

[class^='sample-']::after {
  color: get-text-color('danger');
  font-size: font-size('xs');
  margin-left: size('s');
}

.info-box {
  background-color: get-color('white');
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border: 1px solid get-color('medium');
}
