<p>
  The font sizes can be set by either using the font classes, e.g.
  <code>kirby-text-large</code>
  , or by using the right tags like
  <code>h1, h2 & h3</code>
</p>
<p>Font can also be set with the font-size function directly on your own classes, e.g:</p>
<pre>
  .my-own-class {{ '{' }}
    font-size: font-size("l");
    ...
  {{ '}' }}
</pre>
<div class="fonts">
  <div>
    <p class="kirby-text-display-1">Display 1</p>
    <div class="info-box">
      <code>font-size: font-size("xxxxl");</code>
      <code>font-weight: font-weight("black");</code>
      <code class="highlight">CLASS: kirby-text-display-1</code>
    </div>

    <p class="kirby-text-display-2">Display 2</p>
    <div class="info-box">
      <code>font-size: font-size("xxxl");</code>
      <code>font-weight: font-weight("black");</code>
      <code class="highlight">CLASS: kirby-text-display-2</code>
    </div>

    <p class="kirby-text-display-3">Display 3</p>
    <div class="info-box">
      <code>font-size: font-size("xxl");</code>
      <code>font-weight: font-weight("black");</code>
      <code class="highlight">CLASS: kirby-text-display-3</code>
    </div>

    <h1 class="sample-header-1 kirby-text-xlarge">h1 - Heading 1</h1>
    <div class="info-box">
      <code>font-size: font-size("xl");</code>
      <code>font-weight: font-weight("black");</code>
      <code class="highlight">CLASS: h1 or .kirby-text-xlarge</code>
    </div>

    <h2 class="sample-header-2 kirby-text-large">h2 - Heading 2</h2>
    <div class="info-box">
      <code>font-size: font-size("l");</code>
      <code>font-weight: font-weight("bold");</code>
      <code class="highlight">CLASS: h2 or kirby-text-large</code>
    </div>

    <h3 class="sample-header-3 kirby-text-medium">h3 - Heading 3</h3>
    <div class="info-box">
      <code>font-size: font-size("m");</code>
      <code>font-weight: font-weight("bold");</code>
      <code class="highlight">CLASS: h3 or kirby-text-medium</code>
    </div>

    <h4 class="sample-header-4 h4">h4 - Section header</h4>
    <div class="info-box">
      <code>font-size: font-size("n");</code>
      <code>font-weight: font-weight("bold");</code>
      <code class="highlight">CLASS: h4</code>
    </div>

    <p class="sample-body kirby-text-normal">p - Paragraph (Default body font)</p>
    <div class="info-box">
      <code>font-size: font-size("n");</code>
      <code class="highlight">CLASS: kirby-text-normal</code>
    </div>

    <p class="sample-body-small kirby-text-small">Small text</p>
    <div class="info-box">
      <code>font-size: font-size("s");</code>
      <code class="highlight">CLASS: kirby-text-small</code>
    </div>

    <p class="sample-body-small-light kirby-text-small-light">Small text - light</p>
    <div class="info-box">
      <code>font-size: font-size("s");</code>
      <code>font-weight: font-weight("light");</code>
      <code class="highlight">CLASS: kirby-text-small-light</code>
    </div>

    <p class="sample-body-xsmall kirby-text-xsmall">x-small text</p>
    <div class="info-box">
      <code>font-size: font-size("xs");</code>
      <code class="highlight">CLASS: kirby-text-xsmall</code>
    </div>

    <p class="sample-body-xxsmall kirby-text-xxsmall">xx-small text</p>
    <div class="info-box">
      <code>font-size: font-size("xxs");</code>
      <code class="highlight">CLASS: kirby-text-xxsmall</code>
    </div>
  </div>
  <cookbook-code-viewer [html]="exampleHtml"></cookbook-code-viewer>
</div>
