<div class="kirby-grid" spacing="3">
  <div class="kirby-grid-item" xs="12" sm="6">
    <cookbook-card-example></cookbook-card-example>
  </div>
  <div class="kirby-grid-item" xs="12" sm="6">
    <cookbook-card-example></cookbook-card-example>
  </div>
  <div class="kirby-grid-item" xs="12">
    <cookbook-card-example></cookbook-card-example>
  </div>
  <div class="kirby-grid-item" xs="12" sm="12" xl="4">
    <cookbook-card-example></cookbook-card-example>
  </div>
  <div class="kirby-grid-item" xs="12" sm="12" xl="4">
    <cookbook-card-example></cookbook-card-example>
  </div>
  <div class="kirby-grid-item" xs="12" sm="12" xl="4">
    <cookbook-card-example></cookbook-card-example>
  </div>
  <div class="kirby-grid-item" xs="12">
    <cookbook-card-example></cookbook-card-example>
  </div>
  <div class="kirby-grid-item" xs="12" sm="6">
    <cookbook-card-example></cookbook-card-example>
  </div>
  <div class="kirby-grid-item" xs="12" sm="6">
    <cookbook-card-example></cookbook-card-example>
  </div>
</div>
