<div class="app">
  <div column="tertiary" class="kirby-color-brightness-dark">
    <div style="background-color: #005b67">
      <kirby-segmented-control
        [items]="defaultItems"
        [value]="defaultItems[0]"
      ></kirby-segmented-control>
    </div>
    <div style="background-color: #01352c">
      <kirby-segmented-control
        [items]="defaultItems"
        [value]="defaultItems[0]"
      ></kirby-segmented-control>
    </div>
    <div style="background-color: #1a4341">
      <kirby-segmented-control
        [items]="defaultItems"
        [value]="defaultItems[0]"
      ></kirby-segmented-control>
    </div>
    <div style="background-color: #2c872d">
      <kirby-segmented-control
        [items]="defaultItems"
        [value]="defaultItems[0]"
      ></kirby-segmented-control>
    </div>
    <div style="background-color: #064060">
      <kirby-segmented-control
        [items]="defaultItems"
        [value]="defaultItems[0]"
      ></kirby-segmented-control>
    </div>
    <div style="background-color: #353535">
      <kirby-segmented-control
        [items]="defaultItems"
        [value]="defaultItems[0]"
      ></kirby-segmented-control>
    </div>
    <div style="background-color: #00594e">
      <kirby-segmented-control
        [items]="defaultItems"
        [value]="defaultItems[0]"
      ></kirby-segmented-control>
    </div>
    <div style="background-color: #002c5b">
      <kirby-segmented-control
        [items]="defaultItems"
        [value]="defaultItems[0]"
      ></kirby-segmented-control>
    </div>
  </div>

  <div column="greyscale">
    <div dark-bg class="kirby-color-brightness-dark">
      <kirby-segmented-control
        [items]="defaultItems"
        [value]="defaultItems[0]"
      ></kirby-segmented-control>
    </div>

    <div light-bg class="kirby-color-brightness-light">
      <kirby-segmented-control
        [items]="defaultItems"
        [value]="defaultItems[0]"
      ></kirby-segmented-control>
    </div>

    <div white-bg class="kirby-color-brightness-white">
      <kirby-segmented-control
        [items]="defaultItems"
        [value]="defaultItems[0]"
      ></kirby-segmented-control>
    </div>
  </div>
</div>
