@import './libs/designsystem/src/lib/scss/utils';

:host {
  display: block;
  height: 100%;
  background: get-color('background-color');
  padding: size('s');

  @include media('>=medium') {
    padding: size('l');
  }

  h3 {
    font-size: font-size('xs');
    color: get-color('semi-dark');
    text-transform: uppercase;
    margin-top: size('xs');
    margin-bottom: size('xxxs');
  }

  .example {
    margin-bottom: size('s');
  }
}
