<h3>Default</h3>
<cookbook-segmented-control-example-default
  class="example"
></cookbook-segmented-control-example-default>

<h3>Grouped</h3>
<cookbook-segmented-control-example-grouped
  class="example"
></cookbook-segmented-control-example-grouped>

<h3>Segmented Control (Default) with Badge</h3>
<cookbook-segmented-control-example-with-badge
  class="example"
></cookbook-segmented-control-example-with-badge>

<h3>Segmented Control on different theme colors</h3>
<cookbook-segmented-control-example-color
  class="example"
></cookbook-segmented-control-example-color>
