<h1>Segmented Control</h1>

<h2>Default</h2>
<cookbook-segmented-control-example-default></cookbook-segmented-control-example-default>

<h2>Sizes</h2>
<cookbook-segmented-control-example-sizes></cookbook-segmented-control-example-sizes>

<h2>Modes</h2>
<cookbook-segmented-control-example-modes></cookbook-segmented-control-example-modes>

<h2>Grouped</h2>
<cookbook-segmented-control-example-grouped></cookbook-segmented-control-example-grouped>

<h2>With Badge</h2>
<cookbook-segmented-control-example-with-badge></cookbook-segmented-control-example-with-badge>

<h2>Color</h2>
<cookbook-segmented-control-example-color></cookbook-segmented-control-example-color>

<h2>Angular Forms</h2>
<cookbook-segmented-control-reactive-forms-example></cookbook-segmented-control-reactive-forms-example>
