@import '../../kirby/scss/web-imports';

$page-header-bg: #1C1C1C;
$page-header-color: #F4F1E8;
$page-header-height: 7rem;
$page-gutter: 1rem;

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
  max-width: $page-max-width;
  margin: 0 auto;
  @include media(">=large") {
    padding-right: $page-gutter;
  }
}

section {
  flex-grow: 1;
  background-color: #fff;
  margin: 2rem 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  padding: 1rem 2rem;
  overflow: hidden;
}
