<kirby-page
  title="Tab Navigation Page"
  subtitle="Page example with tab navigation"
  defaultBackHref="/"
>
  <kirby-tab-navigation *kirbyPageStickyContent>
    <kirby-tab-navigation-item>
      <span>Item 1</span>
    </kirby-tab-navigation-item>
    <kirby-tab-navigation-item>
      <span>Item 2</span>
      <kirby-badge themeColor="warning">
        <kirby-icon name="attach"></kirby-icon>
      </kirby-badge>
    </kirby-tab-navigation-item>
    <kirby-tab-navigation-item>
      <span>Item 3</span>
      <kirby-badge themeColor="success">3</kirby-badge>
    </kirby-tab-navigation-item>
    <kirby-tab-navigation-item><span>Item 4</span></kirby-tab-navigation-item>
    <kirby-tab-navigation-item><span>Item 5 longer</span></kirby-tab-navigation-item>
    <kirby-tab-navigation-item><span>Item 6 longer</span></kirby-tab-navigation-item>
  </kirby-tab-navigation>
  <kirby-page-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi aperiam deserunt
      dolore error esse laborum magni natus nihil optio perferendis placeat, quae sed, sequi sunt
      totam voluptatem! Dicta, quaerat!
    </p>
    <p>
      Aut, dignissimos dolorum ducimus et rem reprehenderit rerum sunt ut! Ad aliquid beatae cum
      esse et eveniet facere natus numquam obcaecati qui quia quisquam quo repellat repudiandae sit,
      soluta voluptatibus!
    </p>
    <p>
      Aspernatur dolore enim incidunt libero molestiae nostrum quasi? Accusamus aut culpa dolores
      doloribus laborum nesciunt voluptates! Consectetur cumque doloremque eius esse et excepturi
      hic, inventore mollitia nisi, reiciendis, tempora unde!
    </p></kirby-page-content
  >
</kirby-page>
