@use '../../../../../libs/designsystem/src/lib/scss/utils';

.changelog,
.pull-requests {
  list-style: none;
  margin-bottom: utils.size('m');

  li {
    margin-bottom: utils.size('xxs');
  }
}

.version-title,
a {
  color: utils.get-text-color('black');
  text-decoration: none;
  display: inline-block;

  &:hover {
    color: utils.get-color('primary');
  }
}

kirby-badge {
  margin-left: utils.size('xxs');
}
