<div class="example">
  <kirby-segmented-chip-control-example></kirby-segmented-chip-control-example>
  <kirby-code-viewer [html]="exampleHtml"></kirby-code-viewer>
  <h4>Properties:</h4>
  <table class="cookbook-properties">
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Input values</th>
    </thead>
    <tbody>
      <tr>
        <td><code>items</code></td>
        <td>Array of items</td>
        <td><code>string[]</code></td>
      </tr>
      <tr>
        <td><code>chipSelect</code></td>
        <td>It will emit the selected chip</td>
        <td><code>function</code></td>
      </tr>
      <tr>
        <td><code>selectedItem</code></td>
        <td>Name of chip to be selected</td>
        <td><code>string</code></td>
      </tr>
    </tbody>
  </table>
</div>