<div class="example">
  <p>
    Data Tables allow the consumer to show large amounts of complex data in tabular form, with rows
    and columns. Columns can be named through the use of headers.
  </p>

  <h2>Data table with minimal data</h2>
  <cookbook-example-viewer [html]="dataTableDefaultExample.template">
    <cookbook-data-table-default-example
      #dataTableDefaultExample
    ></cookbook-data-table-default-example>
  </cookbook-example-viewer>

  <h2>Data table wrapped in a Kirby Card</h2>
  <p>Data table wrapped in a card with selectable rows.</p>
  <cookbook-example-viewer [html]="dataTableCardExample.template">
    <cookbook-data-table-card-example #dataTableCardExample></cookbook-data-table-card-example>
  </cookbook-example-viewer>

  <h2>Sortable table</h2>
  <p>
    Data table wrapped in a card with sorting. In this example the
    <code>Name</code>
    ,
    <code>Height</code>
    &
    <code>Weight</code>
    headings are sortable. We recommend to visit the
    <a
      href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort#sorting_array_of_objects"
      class="kirby-external-icon"
      target="_blank"
    >
      MDN docs
    </a>
    on sorting, if you're performing client side sorting.
  </p>
  <cookbook-example-viewer [html]="dataTableSortableExample.template">
    <cookbook-data-table-sortable-example
      #dataTableSortableExample
    ></cookbook-data-table-sortable-example>
  </cookbook-example-viewer>

  <p>
    Please note that the Kirby data table does not do any sorting. The sorting logic must be
    implemented manually and can be triggered by adding the Angular
    <code>(click)</code>
    event listener as shown in the code example above. By adding
    <code>[sortable]="true"</code>
    to a
    <code>th</code>
    element, it will render the sorting icon (up/down arrow) when the element is clicked.
  </p>
</div>

<h2>API Description</h2>
<cookbook-api-description-properties
  [properties]="_apiDescriptionPropertiesTable"
></cookbook-api-description-properties>
