<div class="example">
  <p>
    Data Tables allow the consumer to show large amounts of complex data in tabular form, with rows
    and columns. Columns can be named through the use of headers.
  </p>
  <p>
    <i>
      <strong>Please note:</strong>
      Kirby data table is very modular. This means that it lacks a number of features and all uses
      should be thoroughly aligned with a designer before use (use the corresponding design
      guidelines).
    </i>
  </p>
  Prominent features that are missing include:
  <ul>
    <li>Built in responsivity (i.e., no scroll/collapsible columns/etc.)</li>
    <li>Draggable rown</li>
    <li>Built in simple sort</li>
  </ul>

  <h2>Minimalistic data table</h2>
  <cookbook-example-viewer [html]="dataTableDefaultExample.template">
    <cookbook-data-table-default-example
      #dataTableDefaultExample
    ></cookbook-data-table-default-example>
  </cookbook-example-viewer>

  <h2>Complex data table</h2>
  <p>Data table wrapped with card, with selectable rows, and sorting on header press.</p>
  <cookbook-example-viewer [html]="dataTableCardExample.template">
    <cookbook-data-table-card-example #dataTableCardExample></cookbook-data-table-card-example>
  </cookbook-example-viewer>
</div>

<h2>API Description</h2>
<cookbook-api-description-properties
  [properties]="_apiDescriptionPropertiesTable"
></cookbook-api-description-properties>
