<div class="example">
  <p>A data table displays similar information in rows and columns.</p>
  <p>
    The Kirby Data Table adds styling on top of the built in table HTML element which makes it very
    flexible as consumers are in complete control of the layout.
  </p>
  <p>
    <strong>Please note:</strong>
    This also means that Kirby Data Table is not intended for highly complex use cases where large
    datasets need to be manipulated and rendered efficiently.
  </p>

  <h2>Data table with minimal data</h2>
  <cookbook-example-viewer [html]="dataTableDefaultExample.template">
    <cookbook-data-table-default-example
      #dataTableDefaultExample
    ></cookbook-data-table-default-example>
  </cookbook-example-viewer>

  <h2>Data table wrapped with Kirby Card</h2>
  <p>Data table wrapped with card and with selectable rows.</p>
  <cookbook-example-viewer [html]="dataTableCardExample.template">
    <cookbook-data-table-card-example #dataTableCardExample></cookbook-data-table-card-example>
  </cookbook-example-viewer>
</div>
