<div class="example">
  <div class="header-example-container">
    <p>
      Header is a component that manages the layout of the header section of
      <code>kirby-page</code>
      . It is responsive and will change the layout according to the device size. It allows for a
      wide range of use cases including support for avatar, flags etc.
    </p>

    <h2>Default</h2>

    <cookbook-example-viewer [html]="defaultExample.template">
      <div class="header-example">
        <cookbook-header-example-default #defaultExample></cookbook-header-example-default>
      </div>
    </cookbook-example-viewer>
  </div>

  <div class="header-example-container">
    <h2>Flag</h2>
    <p>
      A flag can be used to indicate a status. To use a flag you simply add a
      <code>&lt;kirby-flag&gt;</code>
      in the header which will position the flag correctly and manage spacing.
    </p>
    <cookbook-example-viewer [html]="flagExample.template">
      <div class="header-example">
        <cookbook-header-example-flag #flagExample></cookbook-header-example-flag>
      </div>
    </cookbook-example-viewer>
  </div>

  <div class="header-example-container">
    <h2>Key value</h2>
    <p>
      In some cases a number is the primary information on a page. When that's the case you should
      use the
      <code>value</code>
      prop
      <em>in addition to</em>
      the
      <code>title</code>
      prop. This will highlight the value on the page and make the title secondary as shown in the
      example below:
    </p>
    <cookbook-example-viewer [html]="valueExample.template">
      <div class="header-example">
        <cookbook-header-example-value #valueExample></cookbook-header-example-value>
      </div>
    </cookbook-example-viewer>
  </div>

  <div class="header-example-container">
    <h2>Avatar</h2>
    <p>
      You can use an avatar within the header, e.g. to show a category for the content. You simply
      add a
      <code>kirby-avatar</code>
      in the header which will position the avatar correctly and manage spacing.
      <br />
      <em>
        <strong>Please note:</strong>
        This will change the layout to centered.
      </em>
    </p>
    <cookbook-example-viewer [html]="avatarExample.template">
      <div class="header-example">
        <cookbook-header-example-avatar #avatarExample></cookbook-header-example-avatar>
      </div>
    </cookbook-example-viewer>
  </div>
  <div class="header-example-container">
    <h3>Progress Circle with Avatar</h3>
    <p>
      The avatar can also be nested within a
      <code>kirby-progress-circle</code>
      to show progress:
    </p>
    <cookbook-example-viewer [html]="progressCircleExample.template">
      <div class="header-example">
        <cookbook-header-example-progress-circle-with-avatar
          #progressCircleExample
        ></cookbook-header-example-progress-circle-with-avatar>
      </div>
    </cookbook-example-viewer>
  </div>

  <div class="header-example-container">
    <h2>Scaling of title</h2>
    <p>
      Titles are default rendered as
      <code>h1</code>
      .
    </p>
    <p>
      It's possible to enable auto-scaling of the header title. This will scale both font-size &
      line-height between h1 -> h3 depending on amount of text and maximum number of lines
      configured. If the text cannot fit within the configured number of lines it will be truncated
      using an ellipsis (
      <code>&mldr;</code>
      ).
    </p>
    <p>
      This can be configured by setting the
      <code>titleMaxLines="NUMBER OF MAXIMUM LINES"</code>
      attribute of
      <code>kirby-header</code>
      .
    </p>
    <cookbook-example-viewer [html]="titleScalingExample.template">
      <div class="header-example">
        <cookbook-header-example-title-scaling
          #titleScalingExample
        ></cookbook-header-example-title-scaling>
      </div>
    </cookbook-example-viewer>
  </div>

  <div class="header-example-container">
    <h2>Actions</h2>
    <p>
      Actions can be included in the header area and will by default always be shown in the toolbar
      on small screens. The actions place themselves in the toolbar to the right. It is designed to
      optimize the screen real estate for the content area on mobile phones.
    </p>

    <p>
      On larger screen sizes the actions starts out in the header area, before moving to the toolbar
      when the page is scrolled past the actions.
    </p>

    <p>Actions can be suppplied through:</p>
    <ul>
      <li>
        <a href="#" (click)="scrollTo(actionGroup)">Action Group component - common use case</a>
      </li>
      <li>
        <a href="#" (click)="scrollTo(customActions)">Custom Actions - complex scenarios</a>
      </li>
    </ul>

    <p>
      <em>
        <strong>Please note:</strong>
        In both cases the element containing the actions (e.g.
        <code>kirby-action-group</code>
        or an
        <code>ng-container</code>
        ) needs to be decorated with the
        <code>*kirbyHeaderActions</code>
        directive for the page and header components to render the actions in both locations.
      </em>
    </p>

    <h3 #actionGroup>Action Group</h3>
    <p>
      In most use cases actions should be suppplied using the
      <code>kirby-action-group</code>
      component as shown below. This component has sensible defaults for showing the primary
      action(s) as button(s) and collapsing the rest of the actions into a "more" menu.
    </p>

    <p>
      Actions are supplied to the Action Group via slotted buttons. Only two actions are shown in
      the toolbar, and if more that two actions are supplied, one action and a "more" menu button
      will be shown, while the remaining actions are collapsed into the "more" menu.
    </p>
    <p>
      All button interactions are expected to happen via a click-listener of type
      <code>(click)="someFunction()"</code>
      so the Action Group can make sure to fire the corresponding function for collapsed actions
      inside the "more" menu.
    </p>

    <cookbook-iphone
      viewMode="full-size"
      [showViewModeToggle]="true"
      src="/examples/page/header-and-action-group"
      showExternalLink="true"
    ></cookbook-iphone>

    <cookbook-example-viewer [html]="actionGroupTemplate"></cookbook-example-viewer>
  </div>

  <div class="header-example-container">
    <h4>Header Action Group</h4>
    <p>
      <em>
        <strong>Please note:</strong>
        A follow-up release will soon allow the action group to be placed in the header area on
        small screens and expand beyond two options when space permits for all screen sizes. This
        additional feature can simply be enabled on examples such as the one above once it lands.
      </em>
    </p>
  </div>
  <div class="header-example-container">
    <h3 #customActions>Custom Actions</h3>
    <p>
      When more control is needed over how actions are shown the
      <code>*kirbyHeaderActions</code>
      directive can be applied to the custom actions element itself - e.g. a
      <code>kirby-menu</code>
      when only secondary actions are needed.
    </p>
    <p>
      When several action elements needs to be combined they can be grouped in an
      <code>ng-container</code>
      which is then decorated with the
      <code>*kirbyHeaderActions</code>
      directive.
    </p>
    <p>
      In the example below a primary action button that displays a menu is combined with a "more"
      menu for secondary actions.
    </p>

    <cookbook-iphone
      viewMode="full-size"
      [showViewModeToggle]="true"
      src="/examples/page/header-and-custom-actions"
      showExternalLink="true"
    ></cookbook-iphone>

    <cookbook-example-viewer [html]="customActionsTemplate"></cookbook-example-viewer>
  </div>

  <div class="header-example-container">
    <h2>Custom Section</h2>
    <p>
      An optional custom section can be added to the header, e.g. to add more subtitles, trends or
      status in relation to the key value or title.
    </p>
    <p>
      Decorate your custom section with the
      <code>*kirbyHeaderCustomSection</code>
      directive, which will position the custom section correctly and manage spacing as shown in the
      example below:
    </p>
    <cookbook-example-viewer
      [html]="customSectionExample.template"
      [css]="customSectionExample.styles"
    >
      <div class="header-example">
        <cookbook-header-example-custom-section
          #customSectionExample
        ></cookbook-header-example-custom-section>
      </div>
    </cookbook-example-viewer>
  </div>

  <div class="header-example-container">
    <h2>Combined</h2>
    <p>This example shows all the above options combined:</p>
    <cookbook-example-viewer [html]="combinedExample.template" [css]="combinedExample.styles">
      <div class="header-example">
        <cookbook-header-example-combined #combinedExample></cookbook-header-example-combined>
      </div>
    </cookbook-example-viewer>
  </div>

  <h1>API</h1>
  <h2>Header Properties:</h2>
  <cookbook-api-description-properties
    [properties]="properties"
  ></cookbook-api-description-properties>
</div>
