<div class="example">
  <div class="header-example-container">
    <p>
      Header is a component that manages the layout of the header section of
      <code>kirby-page</code>
      . It is responsive and will change the layout according to the device size. It allows for a
      wide range of use cases including support for avatar, flags etc.
    </p>

    <h2>Default</h2>

    <cookbook-example-viewer [html]="defaultExample.template">
      <div class="header-example">
        <cookbook-header-example-default #defaultExample></cookbook-header-example-default>
      </div>
    </cookbook-example-viewer>
  </div>

  <div class="header-example-container">
    <h2>Flag</h2>
    <p>
      A flag can be used to indicate a status. To use a flag you simply add a
      <code>&lt;kirby-flag&gt;</code>
      in the header which will position the flag correctly and manage spacing.
    </p>
    <cookbook-example-viewer [html]="flagExample.template">
      <div class="header-example">
        <cookbook-header-example-flag #flagExample></cookbook-header-example-flag>
      </div>
    </cookbook-example-viewer>
  </div>

  <div class="header-example-container">
    <h2>Key value</h2>
    <p>
      In some cases a number is the primary information on a page. When that's the case you should
      use the
      <code>value</code>
      prop
      <em>in addition to</em>
      the
      <code>title</code>
      prop. This will highlight the value on the page and make the title secondary as shown in the
      example below:
    </p>
    <cookbook-example-viewer [html]="valueExample.template">
      <div class="header-example">
        <cookbook-header-example-value #valueExample></cookbook-header-example-value>
      </div>
    </cookbook-example-viewer>
  </div>

  <div class="header-example-container">
    <h2>Avatar</h2>
    <p>
      You can use an avatar within the header, e.g. to show a category for the content. You simply
      add a
      <code>kirby-avatar</code>
      in the header which will position the avatar correctly and manage spacing.
    </p>
    <cookbook-example-viewer [html]="avatarExample.template">
      <div class="header-example">
        <cookbook-header-example-avatar #avatarExample></cookbook-header-example-avatar>
      </div>
    </cookbook-example-viewer>
  </div>

  <div class="header-example-container">
    <h2>Action Group</h2>
    <p>
      An action group can be included in the header area and will by default always be shown in the
      toolbar on mobile. The actions place themselves in the toolbar to the right. It is designed to
      optimize the screen real estate for the content area on mobile phones.
    </p>

    <p>
      On larger screen sizes the action group starts out in the header area, before moving to the
      toolbar when the page is scrolled past the action group.
    </p>

    <p>
      Actions are supplied to the Action Group via slotted buttons. Only two actions are shown in
      the toolbar, and if more that two actions are supplied, one action and a more menu button will
      be shown, while the remaining actions are collapsed into the more menu.
    </p>
    <p>
      All button interactions are expected to happen via a click-listener of type
      <code>(click)="someFunction()"</code>
      so the Action Group can make sure to fire the corresponding function for collapsed actions
      inside the more menu.
    </p>

    <cookbook-iphone
      showViewToggleWithDefault="full-size"
      src="/examples/page/header"
      showExternalLink="true"
    ></cookbook-iphone>

    <cookbook-example-viewer [html]="actionGroupTemplate"></cookbook-example-viewer>
  </div>

  <div class="header-example-container">
    <h2>Header Action Group</h2>
    <p>
      <strong>Please note:</strong>
      A follow-up release will soon allow the action group to be placed in the header area on mobile
      and expand beyond two options when space permits for all screen sizes. This additional feature
      can simply be enabled on examples such as the one above once it lands.
    </p>
  </div>

  <h1>API</h1>
  <h2>Header Properties:</h2>
  <cookbook-api-description-properties
    [properties]="properties"
  ></cookbook-api-description-properties>
</div>
