<table class="api-description">
  <thead>
    <th *ngIf="columns.Name">{{ columns.Name }}</th>
    <th *ngIf="columns.Description">{{ columns.Description }}</th>
    <th *ngIf="columns.Type">{{ columns.Type }}</th>
  </thead>
  <tbody>
    <tr *ngFor="let event of events">
      <td *ngIf="columns.Name">
        <code>{{ event.name }}</code>
      </td>
      <td *ngIf="columns.Description" class="description">{{ event.description }}</td>
      <td *ngIf="columns.Type">
        <ng-container *ngIf="event.signature">
          <code>{{ event.signature }}</code>
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>
