<table class="api-description">
  <thead>
    @if (columns.name) {
      <th>{{ columns.name }}</th>
    }
    @if (columns.description) {
      <th>{{ columns.description }}</th>
    }
    @if (columns.type) {
      <th>{{ columns.type }}</th>
    }
  </thead>
  <tbody>
    @for (event of events; track event) {
      <tr>
        @if (columns.name) {
          <td>
            <code>{{ event.name }}</code>
          </td>
        }
        @if (columns.description) {
          <td class="description">{{ event.description }}</td>
        }
        @if (columns.type) {
          <td>
            @if (event.signature) {
              <code>{{ event.signature }}</code>
            }
          </td>
        }
      </tr>
    }
  </tbody>
</table>
