<kirby-page [title]="transactions.text">
  <kirby-page-content>
    <h1>{{ transactions.amount.amount }}</h1>
    <p>{{ transactions.date.utc }}</p>

    <div class="spacing">
      <button kirby-button [size]="'sm'" [attentionLevel]="'3'">Reconcile amount</button>
      <button kirby-button [size]="'sm'" [attentionLevel]="'3'">Divide amount</button>
    </div>

    <h2>Category</h2>
    <kirby-card class="spacing" [hasPadding]="true"> {{ transactions.category.id }}</kirby-card>
    <h2>Details</h2>
    <div>
      <p>{{ transactions.balance.amount }} {{ transactions.amount.currencyCode }}</p>
    </div>
  </kirby-page-content>
</kirby-page>
