<div class="example">
  <h1>
    <code>kirby-toolbar</code>
    has been removed
  </h1>
  <p>
    Use
    <code>kirby-page</code>
    instead as this has toolbar functionality integrated.
  </p>
  <!-- 
    href is being used instead of routerLink on purpose, 
    see issue: https://github.com/kirbydesign/designsystem/issues/1489
  -->
  <p>
    See
    <a href="/home/showcase/page">the page showcase</a>
    for more information.
  </p>
  <p>
    A seperate toolbar component currently exists in Sketch. This will be removed in the future.
  </p>
  <p>
    This cookbook page will be removed once the discrepancy between Sketch and the library has been
    fixed.
  </p>
</div>
