@import "../../../kirby/scss/utils";

:host {
    padding: 2px;
    width: 100%;
}

hr {
    visibility: hidden;
}

h2 {
    margin-top: size('xl');
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: size('s');

    h2 {
        margin: 0;
    }
}

kirby-card {
    margin: 5px;
    width: 330px;

    @include media(">=large") {
        width: 500px;
    }

    kirby-card-header {
        padding: size('xxxs');
        padding-bottom: 0;
        background-color: get-color('warning');
        color: get-color('warning-contrast');
    }
      
}