@import '../../../kirby/scss/utils';

:host {
  padding: 2px;
  width: 100%;
}

hr {
  visibility: hidden;
}

h2 {
  margin-top: size('xl');
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: size('s');

  h2 {
    margin: 0;
  }
}
