@import '../../../scss/web-imports';
 
:host {
    .item-content {
        display: flex;
        flex-direction: column;
        
        ion-icon {
            width: 24px;
            height: 24px;
            margin: auto;
        }

        ion-label {
            text-align: center;
            text-transform: none;
            font-size: font-size("s");
            font-weight: font-weight("bold");
        }
    }
    
    ion-item-option {
        display: flex;
        height: 100%;
        min-width: 87px;
        --background: unset;
        --color: unset;
    }
}


@each $color-name, $color-value in $main-colors {
    :host(.#{$color-name}) {
        --background: #{get-color($color-name)};
        --color: #{get-color($color-name+'-contrast')};
    }
}
