@import '../../../scss/native-imports';

.header {
  margin: 16;
}

.title {
    font-size: font-size("n");
    font-weight: font-weight("normal");
    width: 100%;
    text-align: center;
}

.subtitle {
    font-size: font-size("s");
    font-weight: font-weight("normal");
    margin-top: 4;
    width: 100%;
    text-align: center;
}
