<p>
  Radio button is a control that allows the user to select one option from a set while seeing all
  available options.
</p>
<p>
  Radios should be used inside of a
  <code>kirby-radio-group</code>
  . Pressing on a radio will check it. They can also be checked programmatically by setting the
  <code>value</code>
  property of the parent
  <code>kirby-radio-group</code>
  to the value of the radio.
</p>
<p>
  When radios are inside of a radio group, only one radio in the group will be checked at any time.
  Pressing a radio will check it and uncheck the previously selected radio, if there is one. If a
  radio is not in a group with another radio, then both radios will have the ability to be checked
  at the same time.
</p>
<ul>
  <li>
    Display a plain list of radios
    <a href="#" (click)="scrollTo(default)">with just a string array</a>
  </li>
  <li>
    Supported
    <a href="#" (click)="scrollTo(radioStates)">radio states</a>
  </li>
  <li>
    Supported
    <a href="#" (click)="scrollTo(radioSizes)">radio sizes</a>
  </li>
  <li>
    Support for
    <a href="#" (click)="scrollTo(multilineLabel)">mulitline label</a>
  </li>
  <li>
    Support for
    <a href="#" (click)="scrollTo(simpleDataBinding)">simple data binding</a>
  </li>
  <li>
    Support for
    <a href="#" (click)="scrollTo(twoWayBinding)">two way binding</a>
  </li>
  <li>
    Customize radios with
    <a href="#" (click)="scrollTo(customRadioTemplate)">custom radio templates</a>
  </li>
  <li>
    Use radio group
    <a href="#" (click)="scrollTo(inFormField)">in a form field</a>
  </li>
  <li>
    Use radio group
    <a href="#" (click)="scrollTo(inItem)">in an item</a>
  </li>
  <li>
    Use radio group in a form with
    <a href="#" (click)="scrollTo(ngforms)">ngForms</a>
    :
    <ul>
      <li><a href="#" (click)="scrollTo(reactiveForms)">Reactive forms</a></li>
      <li><a href="#" (click)="scrollTo(templateDrivenForms)">Template driven forms</a></li>
    </ul>
  </li>
</ul>
<h2 #default>Default</h2>
<p>
  To display a plain list of radio buttons simply provide the options as a plain
  <code>string[]</code>
  array to the
  <code>items</code>
  property of the
  <code>&lt;kirby-radio-group&gt;</code>
  wrapper component:
</p>
<cookbook-example-viewer [html]="defaultExample.template">
  <cookbook-radio-default-example #defaultExample></cookbook-radio-default-example>
</cookbook-example-viewer>

<h2 #radioStates>States</h2>
<cookbook-example-viewer [html]="statesExample.template">
  <cookbook-radio-states-example #statesExample></cookbook-radio-states-example>
</cookbook-example-viewer>

<h2 #radioSizes>Sizes</h2>
<p>
  The size applies to the clickable/tapable area (highlighted in the examples below). The radio icon
  always has the same size.
</p>
<cookbook-example-viewer [html]="sizesExample.template">
  <cookbook-radio-sizes-example #sizesExample></cookbook-radio-sizes-example>
</cookbook-example-viewer>

<h2 #multilineLabel>Multiline Label</h2>
<p>
  Line breaks can be made by using
  <code>&#92;n</code>
  or
  <code>&amp;&#35;10;</code>
  .
</p>
<cookbook-example-viewer [html]="radioMultilineExample.template">
  <cookbook-radio-multiline-example #radioMultilineExample></cookbook-radio-multiline-example>
</cookbook-example-viewer>

<h2 #simpleDataBinding>Simple data binding</h2>
<p>
  <code>&lt;kirby-radio-group&gt;</code>
  supports data binding using simple
  <code>&#64;Input</code>
  property and
  <code>&#64;Output</code>
  event binding.
</p>
<p>
  You can
  <strong>supply an array of any data type</strong>
  through the
  <code>items</code>
  property - just remember to also set the
  <code>itemTextProperty</code>
  to the member of your data that you want to show as the label (defaults to
  <code>'text'</code>
  ).
</p>
<p>
  To
  <strong>pre-select</strong>
  an option you can set the selected item in the
  <code>value</code>
  property of
  <code>&lt;kirby-radio-group&gt;</code>
  .
  <br />
  This can also be achieved by setting the index of the selected item in the
  <code>selectedIndex</code>
  property.
</p>
<p>
  To
  <strong>disable</strong>
  an option you can set the
  <code>itemDisabledProperty</code>
  of
  <code>&lt;kirby-radio-group&gt;</code>
  to the member of a
  <code>boolean</code>
  property in your data (defaults to
  <code>'disabled'</code>
  ).
</p>
<p>
  To be notified when the
  <strong>selected value changes</strong>
  you can bind the
  <code>valueChange</code>
  event of
  <code>&lt;kirby-radio-group&gt;</code>
  .
</p>
<cookbook-example-viewer [html]="bindingExample.template" [ts]="bindingExample.codeSnippet">
  <cookbook-radio-example-binding #bindingExample></cookbook-radio-example-binding>
</cookbook-example-viewer>
<h2 #twoWayBinding>Two-way data binding</h2>
<p>
  To bind the value of the selected radio to a property on your host componenent, you can use
  Angular's two-way data binding syntax
  <code>[()]</code>
  (also known as
  <em>banana in a box</em>
  ) that combines the brackets of property binding,
  <code>[]</code>
  , with the parentheses of event binding,
  <code>()</code>
  :
  <cookbook-code-viewer [html]="bindingExample.twoWayBindingTemplate"></cookbook-code-viewer>
</p>

<h2 #customRadioTemplate>Custom radio template</h2>
<p>If you need to customize the radio buttons you can either:</p>
<ol>
  <li>
    Slot any number of
    <code>&lt;kirby-radio&gt;</code>
    between the opening and closing tags of
    <code>&lt;kirby-radio-group&gt;</code>
    in your template.
    <br />
    <em>
      <strong>Please note:</strong>
      In this case you should omit setting the
      <code>items</code>
      property of
      <code>&lt;kirby-radio-group&gt;</code>
      .
    </em>
    <br />
    &nbsp;
  </li>
  <li>
    Supply a custom item template through the
    <code>*kirbyListItemTemplate</code>
    directive. Just remember to include a
    <code>&lt;kirby-radio&gt;</code>
    inside your template with the
    <code>value</code>
    property set to your data item and the
    <code>text</code>
    property set to the textual representation of your data item.
  </li>
</ol>

<cookbook-example-viewer
  [html]="customContentExample.template"
  [ts]="customContentExample.codeSnippet"
  [css]="customContentExample.styles"
>
  <cookbook-radio-custom-content-example
    #customContentExample
  ></cookbook-radio-custom-content-example>
</cookbook-example-viewer>

<h2 #inFormField>In Form Field</h2>
<p>
  Radios can placed within a
  <code>&lt;kirby-form-field&gt;</code>
  and assigned a label and an optional message.
  <br />
  Clicking the label will focus the selected radio, if any, otherwise the first radio.
</p>
<p>
  <strong>Validation</strong>
  <br />
  If validation for the field fails you can set the
  <code>hasError</code>
  property of
  <code>&lt;kirby-radio-group&gt;</code>
  (and optionally an error message through the
  <code>message</code>
  property of
  <code>&lt;kirby-form-field&gt;</code>
  ).
</p>
<cookbook-example-viewer [html]="inFormFieldExample.template">
  <cookbook-radio-in-form-field-example #inFormFieldExample></cookbook-radio-in-form-field-example>
</cookbook-example-viewer>

<h2 #inItem>In Item</h2>
<p>
  To render radio buttons as part of an item (e.g. inside a card) you can either supply the item
  template through the
  <code>*kirbyListItemTemplate</code>
  directive (see list example below) or you can simply nest the items inside the
  <code>&lt;kirby-radio-group&gt;</code>
  wrapper component using static markup or an
  <code>*ngFor</code>
  loop.
</p>

<p>
  This example groups a
  <code>kirby-radio</code>
  and
  <code>kirby-label</code>
  inside a
  <code>kirby-item</code>
  .
  <br />
  The radio can be left aligned using
  <code>slot="start"</code>
  or right-aligned using
  <code>slot="end"</code>
  .
  <br />
  <em>
    <strong>Please note:</strong>
    Always remember to wrap the list of items in a
    <code>&lt;kirby-radio-group&gt;</code>
    .
  </em>
</p>
<cookbook-example-viewer [html]="inItemExample.template" [ts]="inItemExample.codeSnippet">
  <cookbook-radio-in-item-example #inItemExample></cookbook-radio-in-item-example>
</cookbook-example-viewer>

<h2 #inList>In List</h2>
<em>See "In Item" example above.</em>

<h2 #ngforms>ngForms</h2>
<p>
  <code>kirby-radio-group</code>
  implements the
  <a href="https://angular.io/api/forms/ControlValueAccessor" target="_blank">
    control value accessor interface
  </a>
  , which means it is ngForms-enabled. This allows you to use it directly in
  <a href="https://angular.io/guide/forms" target="_blank">template driven</a>
  and
  <a href="https://angular.io/guide/reactive-forms" target="_blank">reactive forms</a>
  .
</p>
<h3 #reactiveForms>Reactive Forms</h3>
<p>
  To use radios in a reactive form, bind your form control to
  <code>&lt;kirby-radio-group&gt;</code>
  with simple data binding:
</p>
<!-- prettier-ignore -->
<cookbook-code-viewer language="html" [inlineLabel]="true">&lt;kirby-radio-group [formControl]="yourFormControl"&gt;
// or simply:
&lt;kirby-radio-group formControlName="yourFormControlName"&gt;
</cookbook-code-viewer>

<cookbook-example-viewer
  [html]="reactiveFormExample.template"
  [ts]="reactiveFormExample.codeSnippet"
>
  <cookbook-radio-reactive-forms-example
    #reactiveFormExample
  ></cookbook-radio-reactive-forms-example>
</cookbook-example-viewer>

<h3 #templateDrivenForms>Template Driven Forms</h3>
<p>
  To use radios in a template driven form, simply two-way bind your selected value to
  <code>&lt;kirby-radio-group&gt;</code>
  with
  <code>ngModel</code>
  :
</p>

<!-- prettier-ignore -->
<cookbook-code-viewer language="html" [inlineLabel]="true">&lt;kirby-radio-group [(ngModel)]="selected"&gt;
</cookbook-code-viewer>

<cookbook-example-viewer
  [html]="templateDrivenFormExample.template"
  [ts]="templateDrivenFormExample.codeSnippet"
>
  <cookbook-radio-template-driven-forms-example
    #templateDrivenFormExample
  ></cookbook-radio-template-driven-forms-example>
</cookbook-example-viewer>

<h2>Properties</h2>
<h3>Radio:</h3>
<cookbook-api-description-properties
  [properties]="radioProperties"
></cookbook-api-description-properties>

<h3>Radio Group:</h3>
<cookbook-api-description-properties
  [properties]="radioGroupProperties"
></cookbook-api-description-properties>

<h2>Events</h2>
<h3>Radio Group:</h3>
<cookbook-api-description-events [events]="groupEvents"></cookbook-api-description-events>
