<div class="example">
  <kirby-reorder-list-example></kirby-reorder-list-example>
  <kirby-code-viewer [html]="exampleHtml"></kirby-code-viewer>
  <h2>Remarks:</h2>
  <p>{{ remarks }}</p>
  <h2>Properties:</h2>
  <kirby-showcase-properties [properties]="properties"></kirby-showcase-properties>
  <h2>Events:</h2>
  <kirby-showcase-properties
    [properties]="events"
    [columns]="eventColumns"
  ></kirby-showcase-properties>
  <h2>Methods:</h2>
  <kirby-showcase-properties
    [properties]="methods"
    [columns]="methodColumns"
  ></kirby-showcase-properties>
</div>
