<ion-backdrop *ngIf="reorderActive" [tappable]="false" [visible]="true" [stopPropagation]="false">
</ion-backdrop>
<header class="section-header">
  <ng-container *ngTemplateOutlet="defaultHeaderTemplate"></ng-container>
</header>
<ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
  <div *ngFor="let reorderItem of items">
    <kirby-card>
      <ng-container
        *ngTemplateOutlet="itemTemplate || defaultItemTemplate; context: { $implicit: reorderItem }"
      ></ng-container>
      <div *ngIf="reorderItem[subItemsName]" #reorderGroupContainer>
        <ion-reorder-group (ionItemReorder)="doSubReorder($event, reorderItem)" disabled="false">
          <div *ngFor="let subItem of reorderItem[subItemsName]">
            <ng-container
              *ngTemplateOutlet="
                itemTemplate || defaultItemTemplate;
                context: { $implicit: subItem, isSubItem: true }
              "
            ></ng-container>
          </div>
        </ion-reorder-group>
      </div>
    </kirby-card>
  </div>
</ion-reorder-group>

<ng-template #defaultItemTemplate let-item>
  <kirby-item [reorderable]="true">
    <h3>{{ getTextFromItem(item) }}</h3>
  </kirby-item>
</ng-template>

<ng-template #defaultHeaderTemplate>
  <!-- <span class="kirby-text-small-light">Flyt</span> -->
</ng-template>
