@import './libs/designsystem/src/lib/scss/utils';

:host {
  display: flex;
}

cookbook-example-configuration-wrapper {
  margin-left: size('xl');
}

.selection {
  margin: 0;
  font-size: font-size('xs');
  line-height: line-height('xs');
  font-style: italic;
}

span {
  background-color: var(--kirby-danger);
  margin-right: size('xxxs');
  padding: 0 size('xxxxs');
  border-radius: size('xxxs');
}

span.state-true {
  background-color: var(--kirby-success);
}
