@import './libs/designsystem/src/lib/scss/utils';

:host {
  display: flex;
}

cookbook-example-configuration-wrapper {
  margin-left: size('xxs');

  @include media('>=medium') {
    margin-left: size('xl');
  }
}

.form-state {
  margin-top: size('xs');
  border-top: 1px solid get-color('medium');
  padding: size('xxs');

  h4 {
    margin-bottom: size('xxxs');
    font-weight: font-weight('normal');
  }

  p {
    margin: 0;
    font-size: font-size('xs');
    line-height: line-height('xs');
  }

  span {
    background-color: get-color('danger');
    color: get-color('white');
    margin-right: size('xxxs');
    padding: 0 size('xxxxs');
    border-radius: size('xxxs');
  }

  span.state-true {
    background-color: get-color('success');
    color: get-color('success-contrast');
  }
}
