@import "../../../scss/web-imports";

// Global modal styling can be found at scss/web/_ionic.scss

.modal-wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;

  .modal-header {
    display: flex;
    justify-content: flex-end;
    padding: size('s');

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      font-weight: font-weight("bold");
    }
    
    .text-left {
      text-align: left;
    }

    .text-center {
      text-align: center;
    }

    .text-right {
      text-align: right;
    }

    .close-btn {
      &.outside {
        position: absolute;
        top: -#{size('s')};
        transform: translateY(-100%);
      }
    }
  }

  .modal-content {
    height: 100%;
    overflow-y: auto;
    padding-left: size('s');
    padding-right: size('s');
  }
}
