@import '../../../scss/utils';

// Global modal styling can be found at scss/base/_ionic.scss

:host {
  padding-top: size('s');
}

ion-header ion-toolbar {
  --border-width: 0;
  --background: transparent;
}

// Prevent iOS safe-area padding-top as this is
// already applied on the top-level modal itself
// in /scss/_global-styles.scss:
:host(.drawer) ion-header ion-toolbar {
  padding-top: 0;
}

ion-title {
  box-sizing: border-box;
  padding-inline-start: calc(48px + var(--padding-start));
  padding-inline-end: calc(48px + var(--padding-end));
  font-size: font-size('l');
  font-weight: font-weight('bold');
}

:host(.drawer) ion-title {
  font-size: font-size('m');
}

ion-content {
  --background: transparent;

  @include slotted('*') {
    box-sizing: border-box;
  }

  --padding-top: #{size('m')};
  --padding-start: #{size('s')};
  --padding-end: #{size('s')};

  @include media('>=medium') {
    --padding-start: #{size('xxxl')};
    --padding-end: #{size('xxxl')};
  }
}
