<div class="modal-wrapper" #modalWrapper tabindex="-1" (window:focus)="onFocusChange()" (window:focusout)="onFocusChange()">
    <div class="modal-header">
        <div class="title-container">
            <span class="text-{{config.closeBtnPlacement === 'inside' ? 'left' : 'center'}} title">{{ config.title }}</span>
        </div>
        <kirby-floating-action-button *ngIf="config.closeBtnPlacement !== 'hidden'" role="button"
                class="close-btn {{ config.closeBtnPlacement }}"
                (click)="onModalDismiss($event)" 
                (keydown)="onModalDismiss($event)" 
                tabindex="0">
            <kirby-icon [name]="config.closeIconName"></kirby-icon>
        </kirby-floating-action-button>
    </div>    
    <div class="modal-content">    
        <ng-container *ngComponentOutlet="config.component; injector: componentPropsInjector"></ng-container>
    </div>
</div>
