@import "../../../scss/native-imports";

.modal-wrapper {
  padding-top: size('l');

  .modal {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background-color: get-color('background-color');
    
    .full-scroll-height {
      height: 100%;  
    }
    
    .scroll-view {
      padding: size('s');
    }

    .modal-button {
      margin-top: size('xs'); 
    }

    Label {
      font-weight: font-weight('bold');
    }

    .title {
      padding: size('s');
    }

    &.tall-screen {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    &.wide-screen {
      .scroll-view, .title {
        padding-left: size('xxxl');
        padding-right: size('xxxl');
      }
    }
  }
}
