@import '../../../scss/utils';

// Global modal styling can be found at scss/base/_ionic.scss

.modal-wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
  transform-origin: top center;

  .modal-header {
    display: grid;
    justify-content: flex-end;
    grid-template-columns: [start]#{size('xl')} [title]1fr [end]#{size('xl')};
    padding: 0 size('s');

    .title {
      grid-area: title;
      text-align: center;
      margin: size('m') 0;
    }

    > *:first-child:not(.title) {
      grid-area: start;
      align-self: center;
    }

    > *:last-child:not(.title) {
      grid-area: end;
      align-self: center;
    }
  }

  .modal-content {
    height: 100%;
    overflow-y: auto;
    padding-left: size('s');
    padding-right: size('s');
  }
}
