@import '../../../scss/utils';

// Global modal styling can be found at scss/base/_ionic.scss

ion-toolbar {
  --border-width: 0 !important;
  --background: #{get-color('background-color')};
}

ion-title {
  box-sizing: border-box;
  padding-inline-start: calc(48px + var(--padding-start));
  padding-inline-end: calc(48px + var(--padding-end));
  font-size: font-size('l');
  font-weight: font-weight('bold');
  &.drawer {
    font-size: font-size('m');
  }
}

ion-content {
  --background: #{get-color('background-color')};

  @include slotted('*') {
    box-sizing: border-box;
  }

  --padding-start: #{size('s')};
  --padding-end: #{size('s')};

  @include media('>=medium') {
    --padding-start: #{size('xxxl')};
    --padding-end: #{size('xxxl')};
  }
}
