@import "../../../scss/native-imports";

.modal-wrapper {
  padding-top: size('l');

  .modal {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background-color: get-color('background-color');

    .close-icon {
      margin-top: size('xs'); 
    }
    
    .title-bar {  
      Label {
        font-weight: font-weight('bold');
      }
    
      .title {
        padding: size('s');
      }
    }    
  }  
}
