<div
  class="modal-wrapper"
  #modalWrapper
  tabindex="-1"
  (window:focus)="onFocusChange()"
  (window:focusout)="onFocusChange()"
>
  <div class="modal-header">
    <div *ngIf="config.flavor === 'drawer'">
      <ng-container *ngTemplateOutlet="closeButton; context: { icon: 'arrow-down' }"></ng-container>
    </div>
    <span
      class="title"
      [class.text-center]="config.flavor === 'drawer'"
      [class.text-left]="config.flavor === 'modal'"
    >
      {{ config.title }}
    </span>
    <div *ngIf="config.flavor === 'modal'">
      <ng-container *ngTemplateOutlet="closeButton; context: { icon: 'close' }"></ng-container>
    </div>
    <div *ngIf="config.flavor === 'drawer' && config.drawerSupplementaryAction">
      <ng-container
        *ngTemplateOutlet="supplementaryButton; context: { btn: config.drawerSupplementaryAction }"
      ></ng-container>
    </div>
  </div>
  <div class="modal-content">
    <ng-container
      *ngComponentOutlet="config.component; injector: componentPropsInjector"
    ></ng-container>
  </div>
</div>

<ng-template #closeButton let-icon="icon">
  <button
    kirby-button
    attentionLevel="4"
    role="button"
    tabindex="0"
    (click)="onModalDismiss($event)"
    (keydown)="onModalDismiss($event)"
  >
    <kirby-icon [name]="icon"></kirby-icon>
  </button>
</ng-template>

<ng-template #supplementaryButton let-btn="btn">
  <button
    kirby-button
    attentionLevel="2"
    role="button"
    tabindex="0"
    (click)="btn.action($event)"
    (keydown)="btn.action($event)"
  >
    <kirby-icon [name]="btn.iconName"></kirby-icon>
  </button>
</ng-template>
