@import "../../../scss/web-imports";

// Global modal styling can be found at scss/web/_ionic.scss

.kirby-modal-wrapper {
  display: flex;
  flex-flow: column;

  .modal-header {
    display: flex;
    justify-content: flex-end;
    padding: size('s');
    @include media('>=medium') {
      padding-left: size('xxxl');
      padding-right: size('xxxl');
    }

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      font-weight: font-weight("bold");
    }
    
    .text-left {
      text-align: left;
    }

    .text-center {
      text-align: center;
    }

    .text-right {
      text-align: right;
    }
  }

  .modal-content {
    padding-left: size('s');
    padding-right: size('s');
    @include media('>=medium') {
      padding-left: size('xxxl');
      padding-right: size('xxxl');
    }
  }
}
