<ModalStack class="modal-wrapper" dismissEnabled="true" (showingModally)="onShowingModally($event)">
    <StackLayout class="modal" orientation="vertical" verticalAlignment="bottom">
        <GridLayout rows="auto" columns="*" class="title-bar">
            <Label row="0" verticalAlignment="center" horizontalAlignment="{{ config.closeBtnPlacement === 'inside' ? 'left' : 'center' }}" textWrap="true"
                text="{{ config.title }}"></Label>
            <AbsoluteLayout row="0" verticalAlignment="center" horizontalAlignment="right">
                <kirby-floating-action-button [showShadow]="false" (tap)="onModalDismiss()">
                    <kirby-icon [name]="config.closeIconName"></kirby-icon>
                </kirby-floating-action-button>
            </AbsoluteLayout>
        </GridLayout>
        <ScrollView class="content-scrollview">
            <ng-container *ngComponentOutlet="config.component; injector: componentPropsInjector"></ng-container>
        </ScrollView>
    </StackLayout>
</ModalStack>
