<ModalStack class="modal-wrapper"
        android:style="padding-top: {{outerPaddingTop}};" 
        dismissEnabled="true" 
        (showingModally)="onShowingModally($event)">
    <GridLayout rows="*, {{ modalMaxHeight }}, *"> <!-- center modal vertically -->
        <FlexboxLayout row="1" flexDirection="column" justifyContent="flex-end" [width]="isScreenTall ? modalMaxWidth : 'auto'">
            <StackLayout id="modal"
                    [class.wide-screen]="isScreenWide"
                    [class.tall-screen]="isScreenTall"
                    class="modal"
                    android:style="margin-bottom: {{innerMarginBottom}};">
                <StackLayout *ngIf="config.flavor === 'drawer'">
                    <ng-container *ngTemplateOutlet="drawer"></ng-container>
                </StackLayout>
                <StackLayout *ngIf="config.flavor === 'modal'">
                    <ng-container *ngTemplateOutlet="modal"></ng-container>
                </StackLayout>
            </StackLayout>
        </FlexboxLayout>
    </GridLayout>
</ModalStack>

<ng-template #drawer>
    <GridLayout rows="auto, {{ isContentExceedingModalMaxHeight ? '*' : 'auto' }}" columns="64, *, 64">
        <StackLayout row="0" col="0" class="modal-button">
            <ng-container *ngTemplateOutlet="closeIcon; context: { icon: 'arrow-down' }"></ng-container>
        </StackLayout>

        <StackLayout row="0" col="1" >
            <ng-container *ngTemplateOutlet="title; context: { horizontalAlignment: 'center' }"></ng-container>
        </StackLayout>
        
        <StackLayout row="0" col="2" class="modal-button" *ngIf="config.drawerSupplementaryAction">
            <ng-container *ngTemplateOutlet="supplementaryButton; context: { btn: config.drawerSupplementaryAction }"></ng-container>
        </StackLayout>
        
        <ScrollView [class.full-scroll-height]="isContentExceedingModalMaxHeight" row="1" colSpan="3">
            <StackLayout class="scroll-view">
                <ng-container *ngComponentOutlet="config.component; injector: componentPropsInjector"></ng-container>
            </StackLayout>
        </ScrollView>
    </GridLayout>
</ng-template>

<ng-template #modal>
    <GridLayout rows="auto, {{ isContentExceedingModalMaxHeight ? '*' : 'auto' }}" columns="*, 64">
        <StackLayout row="0" col="0" >
            <ng-container *ngTemplateOutlet="title; context: { horizontalAlignment: 'left' }"></ng-container>
        </StackLayout>
        
        <StackLayout row="0" col="1" class="modal-button">
            <ng-container *ngTemplateOutlet="closeIcon; context: { icon: 'close' }"></ng-container>
        </StackLayout>

        <ScrollView [class.full-scroll-height]="isContentExceedingModalMaxHeight" row="1" colSpan="2">
            <StackLayout class="scroll-view">
                <ng-container *ngComponentOutlet="config.component; injector: componentPropsInjector"></ng-container>
            </StackLayout>
        </ScrollView>
    </GridLayout>
</ng-template>

<ng-template #closeIcon let-icon="icon">
    <kirby-floating-action-button 
            [showShadow]="false" 
            (tap)="onModalDismiss()" 
            [isFloating]="false">
        <kirby-icon [name]="icon"></kirby-icon>
    </kirby-floating-action-button>
</ng-template>

<ng-template #supplementaryButton let-btn="btn">
    <kirby-floating-action-button
        [showShadow]="false"
        (tap)="btn.action($event)" 
        [isFloating]="false">
        <kirby-icon [name]="btn.iconName"></kirby-icon>
    </kirby-floating-action-button>
</ng-template>

<ng-template #title let-horizontalAlignment="horizontalAlignment">
    <Label class="title" 
        verticalAlignment="center" 
        [horizontalAlignment]="horizontalAlignment" 
        textWrap="true"
        text="{{ config.title }}"></Label>
</ng-template>
