<ModalStack class="modal-wrapper" android:style="padding-top: {{outerPaddingTop}};" dismissEnabled="true" (showingModally)="onShowingModally($event)">
    <AbsoluteLayout *ngIf="config.closeBtnPosition === 'outside'" horizontalAlignment="right">
        <ng-container *ngTemplateOutlet="closeBtn"></ng-container>
    </AbsoluteLayout>
    <StackLayout class="modal" android:style="margin-bottom: {{innerMarginBottom}};" orientation="vertical" verticalAlignment="bottom">
        <GridLayout rows="auto, *" columns="*, auto" class="title-bar">

            <Label class="title" row="0" col="0" verticalAlignment="center" horizontalAlignment="{{ config.titleHorizontalAlignment }}" textWrap="true"
                    text="{{ config.title }}"></Label>
            
            <StackLayout *ngIf="config.closeBtnPosition === 'inside'" row="0" col="1">
                <ng-container *ngTemplateOutlet="closeBtn"></ng-container>
            </StackLayout>
            
            <ScrollView height="100%" width="100%" row="1" colSpan="2">
                <ng-container *ngComponentOutlet="config.component; injector: componentPropsInjector"></ng-container>
            </ScrollView>
        </GridLayout>
    </StackLayout>
</ModalStack>

<ng-template #closeBtn>
    <kirby-floating-action-button [showShadow]="false" (tap)="onModalDismiss()" [isFloating]="false">
        <kirby-icon [name]="config.closeIconName"></kirby-icon>
    </kirby-floating-action-button>
</ng-template>
