<p>
  A list action is a way to add interaction to a list item. List actions can be used on both desktop
  (menu) and mobile devices (swipe).
  <br />
  Below are examples of how to use list actions.
</p>

<h1>Single action</h1>
<h2>Desktop</h2>
<cookbook-list-action-one-action-example #singleAction></cookbook-list-action-one-action-example>
<h2>Mobile</h2>
<p>
  The below example demonstrates what the list actions looks link on mobile (tip: swipe left to
  right)
</p>
<cookbook-iphone
  src="/examples/list/actions/single-action"
  showExternalLink="true"
></cookbook-iphone>

<h2>Code</h2>
<cookbook-code-viewer [html]="singleAction.template"></cookbook-code-viewer>
<cookbook-code-viewer [ts]="singleAction.actionsAndItemsExample"></cookbook-code-viewer>

<h1>Multiple actions</h1>
<cookbook-list-action-multiple-actions-example
  #multipleActions
></cookbook-list-action-multiple-actions-example>

<cookbook-iphone
  src="/examples/list/actions/multiple-actions"
  showExternalLink="true"
></cookbook-iphone>

<p>
  By adding another action, we get a different layout. In this case, instead of a button with the
  action icon, we get a
  <a routerLink="../menu">menu</a>
</p>
<cookbook-code-viewer [ts]="multipleActions.actionsExample"></cookbook-code-viewer>
