name: Kirby CI
on:
  push

defaults:
  run:
    shell: bash

jobs:
  lint_and_unittest:
    name: Lint & unit test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '10.16'
      - name: Install NPM dependencies
        run: npm ci
      - name: Run linting
        run: npm run lint
      - name: Run tests
        run: npm run test:ci
      - name: Generate coverage report
        run: npm run coverage-report || true

  build_kirby:
    name: Build Kirby lib
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '10.16'
      - name: Install NPM dependencies
        run: npm ci
      - name: Build Kirby lib
        run: npm run dist:designsystem

  bump_version:
    name: Bump version and create tag 
    needs: [lint_and_unittest, build_kirby]
    if: "!contains(github.event.head_commit.message, 'Bumping version to') && github.ref == 'refs/heads/master'"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '10.16'
        env:
          KEY: ${{secrets.ENCRYPTED_09E556D51FDC_KEY}}
          IV: ${{secrets.ENCRYPTED_09E556D51FDC_IV}}
      - name: Decrypt ssh key
        run: openssl aes-256-cbc -K $KEY -iv $IV -in scripts/ssh_key.enc -out ssh_key -d
      - name: Set up ssh agent with key
        run: |
          eval "$(ssh-agent -s)"
          chmod 600 ssh_key
          ssh-add ssh_key
      - name: Set git origin
        run: git remote set-url origin git@github.com:kirbydesign/designsystem.git
      - name: Bump version and push tags
        run: |
          git checkout -- package.json
          git --no-pager diff
          git checkout master
          npm version patch -m ":bookmark: Bumping version to %s"

  deploy_to_cookbook:
    name: Deploy cookbook
    needs: [lint_and_unittest, build_kirby]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '10.16'
      - name: Install NPM dependencies
        run: npm ci
      - name: Install Kubernetes CLI
        run: |
          sudo apt-get update
          sudo apt-get install -y apt-transport-https
          curl -s https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -
          echo "deb https://apt.kubernetes.io/ kubernetes-xenial main" | sudo tee -a /etc/apt/sources.list.d/kubernetes.list
          sudo apt-get update
          sudo apt-get install -y kubectl
      - name: Setup Helm to use version 2.12.3
        run: |
          curl https://storage.googleapis.com/kubernetes-helm/helm-v2.12.3-linux-amd64.tar.gz -o helm-linux-amd64.tar.gz
          tar xzf helm-linux-amd64.tar.gz
          sudo cp linux-amd64/helm /usr/bin/
          rm -rf linux-amd64
      - name: Build Kirby cookbook
        run: npm run dist:cookbook
      - name: Build Docker image
        run: docker build -t drbstaging.azurecr.io/kirbydesign/designsystem:git${{ github.sha }} .
      - name: Get branch name
        if: github.ref != 'refs/heads/master'
        run: |
          branchname="${GITHUB_REF##*/}"
          echo "Branchname: $branchname"
          branchname="${branchname//feature//}"
          echo "Branchname: $branchname"
          branchname="${branchname#?}"
          echo "Branchname: $branchname"
          releasename="kby-${branchname//[^a-zA-Z0-9]/-}"
          echo "Releasename: $releasename"
          releasename=$(tr [A-Z] [a-z] <<< "$releasename")
          echo "Releasename: $releasename"
          releasename=$(cut -c 1-53 <<< "$releasename")
          echo "Releasename: $releasename"
          echo "RELEASENAME=${releasename}" >> $GITHUB_ENV
      - name: Get release name
        if: github.ref == 'refs/heads/master'
        run: |
          echo "RELEASENAME=designsystem" >> $GITHUB_ENV
      - name: Get hostname for feature branch
        if: github.ref != 'refs/heads/master'
        env:
          DOMAIN: '650b277bd9a54e5cbadc.westeurope.aksapp.io'
        run: |
          chmod +x ./.scripts/dns.pl
          hostname=$(perl ./.scripts/dns.pl $DOMAIN "${RELEASENAME}")
          echo "HOSTNAME=${hostname}" >> $GITHUB_ENV
      - name: Get hostname for master branch
        if: github.ref == 'refs/heads/master'
        env:
          DOMAIN: '650b277bd9a54e5cbadc.westeurope.aksapp.io'
        run: |
          echo "HOSTNAME=cookbook" >> $GITHUB_ENV
      - name: Push Docker image
        env:
          DOCKER_REPO: 'drbstaging.azurecr.io/kirbydesign/designsystem'
          DOCKER_TAG: git${{github.sha}}
          DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
          DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
        run: |
          echo "pushing docker image $DOCKER_REPO:$DOCKER_TAG"
          echo $DOCKER_PASSWORD | docker login --username $DOCKER_USERNAME --password-stdin drbstaging.azurecr.io
          docker push $DOCKER_REPO:$DOCKER_TAG
      - name: Clone charts repo
        run: git clone https://github.com/Bankdata/charts.git charts
      - name: Decrypt Kubernetes config
        env:
          KEY: ${{secrets.ENCRYPTED_09E556D51FDC_KEY}}
          IV: ${{secrets.ENCRYPTED_09E556D51FDC_IV}}
        run: |
          openssl enc -d -aes-256-cbc -md sha512 -K $KEY -iv $IV -salt -in ./.scripts/kube-config.enc -out kube.config
      - name: Upgrade deployed cookbook using Helm
        env:
          DOCKER_REPO: 'drbstaging.azurecr.io/kirbydesign/designsystem'
          DOCKER_TAG: git${{github.sha}}
          DOMAIN: ${{ github.ref == 'refs/heads/master' && 'kirby.design' || '650b277bd9a54e5cbadc.westeurope.aksapp.io' }}
          HELM_CONFIG: ${{ github.ref == 'refs/heads/master' && 'config/helm/staging.yaml' || 'config/helm/branch.yaml' }}
        run: /usr/bin/helm upgrade --kubeconfig kube.config -i "${RELEASENAME}" charts/spa --set image.repository=$DOCKER_REPO --set image.tag=$DOCKER_TAG --set ingress.host="${HOSTNAME}".$DOMAIN -f $HELM_CONFIG
