name: Publish new version to npm - trigger on push to master (all changes)

on:
  pull_request:
    types: closed
    branches: experiment/1947-fix-publish-workflow-target
    # paths: 'libs/**'

# on:
#   push:
#     branches:
#       - experiment/1947-fix-publish-workflow-target
#     # paths:
#     #   - libs/**

defaults:
  run:
    shell: bash

jobs:
  # Bump core if there's changes to it. Designsystem is always bumped due to being downstream.
  bump_package_versions:
    name: Bump version and publish changed packages
    runs-on: ubuntu-latest
    steps:
      - name: Echo something
        run: |
          echo 'replicate bug'
      # - name: Checkout repo
      #   uses: actions/checkout@v2
      #   with:
      #     token: ${{secrets.VERSION_BUMP_GITHUB_TOKEN}}
      # - name: Kirby setup
      #   uses: ./.github/actions/kirby-setup
      # - name: Configure git
      #   run: |
      #     git config user.name "Kirby Bot"
      #     git config user.email "<>"
      # - name: Check if core has been modified
      #   id: modified-files
      #   uses: dorny/paths-filter@v2.9.2
      #   with:
      #     filters: |
      #       core:
      #         - 'libs/core/**'
      # - name: Create npm config
      #   if: steps.modified-files.outputs.core == 'true'
      #   run: |
      #     cd libs/core 
      #     echo '//registry.npmjs.org/:_authToken=${{secrets.NPM_PUBLISH_TOKEN}}' > ~/.npmrc
      # - name: Version bump core and update core dependency version in designsystem
      #   id: bump-core
      #   if: steps.modified-files.outputs.core == 'true'
      #   run: | # For explanation: https://github.com/kirbydesign/designsystem/pull/1722#issuecomment-928181479
      #     cd libs/core
      #     NEW_VERSION=$(npm version patch | cut -d v -f2) 
      #     cd ../../ 
      #     echo $(jq --arg version "$NEW_VERSION" '.dependencies["@kirbydesign/core"]=$version' libs/designsystem/package.json) > libs/designsystem/package.json
      #     npx prettier --write libs/designsystem/package.json
      #     git add libs/core/package.json libs/core/package-lock.json libs/designsystem/package.json 
      #     GIT_MESSAGE=":bookmark:Bumping version to $NEW_VERSION (core)"
      #     git commit -m "$GIT_MESSAGE"
      # - name: Publish core package to npm
      #   if: steps.modified-files.outputs.core == 'true'
      #   run: |
      #     npm run build:core
      #     cd libs/core
      #     npm publish --access public
      # - name: Create npm config
      #   run: echo '//registry.npmjs.org/:_authToken=${{secrets.NPM_PUBLISH_TOKEN}}' > ~/.npmrc
      # - name: Bump designsystem package
      #   run: npm version patch -m ":bookmark:Bumping version to %s (designsystem)"
      # - name: Build designsystem package and publish to npm
      #   run: npm run publish
      # - name: Push version bump(s) and tag to Github
      #   run: git push --follow-tags
