name: Publish new version to npm

on:
  pull_request:
    types: closed
    branches: master
    paths: 'libs/**'

defaults:
  run:
    shell: bash

jobs:
  bump_version_and_publish:
    name: Bump and publish new package version to npm
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged
    steps:
      - name: Checkout master branch
        uses: actions/checkout@v2
        with:
          token: ${{secrets.VERSION_BUMP_GITHUB_TOKEN}}
      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '10.16'
      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: npm-${{hashFiles('**/package-lock.json')}}
          restore-keys: | 
            npm-
      - name: Fetch Node Modules Cache
        uses: actions/cache@v2
        id: cache
        with:
          path: | 
            **/node_modules
          key: node-modules-${{ runner.o }}-${{env.NODE_VERSION}}-${{hashFiles('**/package.json')}}-${{hashFiles('**/package-lock.json')}}
      - name: Clean Install Dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci
      - name: Install NPM dependencies
        if: steps.cache.outputs.cache-hit == 'true'
      - name: Configure git
        run: |
          git config user.name "Kirby Bot"
          git config user.email "<>"
      - name: Create npm config
        run: echo '//registry.npmjs.org/:_authToken=${{secrets.NPM_PUBLISH_TOKEN}}' > ~/.npmrc
      - name: Bump version
        run: npm version patch -m ":bookmark:Bumping version to %s"
      - name: Build package and publish to npm
        run: npm run publish
      - name: Push version bump and tag to Github
        run: git push --follow-tags
