@use '@kirbydesign/core/src/scss/utils';

kirby-card {
  z-index: 3; // Ensure dropdown opens over configuration checkboxes
  overflow: visible; // Ensure dropdown isn't cut off
  width: 320px;
  margin-bottom: utils.size(xxs);

  .buttons {
    display: flex;
    justify-content: space-around;
  }

  p {
    margin: 0;
    margin-top: utils.size(xs);
  }
}
