<kirby-card>
  <kirby-calendar
    [timezone]="useTimezoneUTC ? 'UTC' : 'local'"
    [disableWeekends]="disableWeekends"
    [disablePastDates]="disablePastDates"
    [disableFutureDates]="disableFutureDates"
    [disabledDates]="setDisabledDates ? disabledDates : null"
    [enabledDates]="setEnabledDates ? enabledDates : null"
    [minDate]="setMinDate ? minDate : null"
    [maxDate]="setMaxDate ? maxDate : null"
    [todayDate]="setTodayDate ? todayDate : null"
    [selectedDate]="selectedDate"
    (dateChange)="onDateChange($event)"
    [yearNavigatorOptions]="showYearNavigator ? yearNavigatorOptions : null"
  ></kirby-calendar>

  <kirby-card-footer>
    <button kirby-button (click)="selectNextMonth()">Next month</button>
    <button kirby-button (click)="selectToday()" attentionLevel="2">Now</button>
  </kirby-card-footer>
</kirby-card>

<div *ngIf="selectedDate">
  Selected Date: {{ selectedDate | date: 'MMM d, y z':(useTimezoneUTC ? 'UTC' : undefined) }}
</div>
