@use '@kirbydesign/core/src/scss/utils';

@each $color-name, $color-value in utils.get-all-colors() {
  .color-sample.#{$color-name} {
    background-color: utils.get-color($color-name);
    color: utils.get-color($color-name + '-contrast');
  }
  .color-sample.#{$color-name}-tint {
    background-color: utils.get-color($color-name + '-tint');
  }
  .color-sample.#{$color-name}-shade {
    background-color: utils.get-color($color-name + '-shade');
  }
}

.color-box {
  background-color: utils.get-color('white');
  border: 1px solid utils.get-color('medium');
}

.text-color-box {
  @extend .color-box;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  @each $color-name, $color-value in utils.$text-colors {
    &.#{$color-name} {
      background-color: utils.get-text-color(
        $color-name + '-contrast',
        true,
        utils.$kirby-text-colors
      );
      color: utils.get-text-color($color-name);

      .color-values {
        color: inherit;

        dt:first-of-type,
        dd:first-of-type {
          color: inherit;
        }
      }
    }
  }
}

.color-samples {
  position: relative;
  height: utils.size('xxxl');
  width: utils.size('xxxl');
  max-width: utils.size('xxxl');
  margin-right: utils.size('xl');
  margin-bottom: utils.size('xl');
  flex: 1 0 auto;

  .color-sample {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    height: 100%;
    width: 100%;
    margin-top: auto;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;

    &:nth-child(2) {
      top: utils.size('xxs');
      left: utils.size('xxs');
      z-index: 2;
    }

    &:nth-child(3) {
      top: utils.size('s');
      left: utils.size('s');
      z-index: 1;
    }
  }
}

.color-sample-flex {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  pre {
    min-width: 250px;
    flex-grow: 1;
  }
}

.color-sample-example {
  border-radius: utils.size('s');
  margin: 0.5em 0;
  margin-right: utils.size('s');
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  min-height: 140px;
  min-width: 140px;

  > * {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.color-sample-on-text {
  grid-column: 1 / span 2;
  background-color: transparent;
}

.color-name {
  margin-bottom: utils.size('xxxs');
  width: 100%;
}

.color-values {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: utils.get-color('semi-dark');
  flex: 0 0 100px;
  margin-top: 0;

  dt:first-of-type,
  dd:first-of-type {
    color: utils.get-color('black');
  }
}

.color-palette {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: utils.size('m');
  list-style: none;
  padding: 0;
  margin: 0 0 utils.size('xl');

  li {
    display: flex;
    flex-wrap: wrap;
    padding: utils.size('s');
    min-height: utils.size('xxxl');
    box-sizing: content-box;
    cursor: pointer;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    }
  }
}

.text-color-palette {
  @extend .color-palette;

  li {
    cursor: inherit;
  }

  li:hover {
    transform: inherit;
    box-shadow: inherit;
  }
}

.color-sample-wrapper {
  background-color: utils.get-color('white');
  border: 1px solid utils.get-color('medium');
  padding: utils.size('s');
  overflow-x: auto;
  margin-bottom: utils.size('s');
}

@each $color, $color-ramp in utils.$decoration-colors {
  @each $shade, $color-value in $color-ramp {
    .#{$color}-#{$shade} {
      background-color: var(--kirby-decoration-color-#{$color}-#{$shade});
    }
  }
}

.color-palette-ramps {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: utils.size('m');
  margin-bottom: utils.size('xl');

  .color-box {
    padding: utils.size('s');
    grid-column-start: 1;
  }

  dl {
    display: grid;
    justify-items: center;
    gap: utils.size('xxs');

    dd {
      grid-row: 1;
      text-wrap: nowrap;
      margin-inline-start: 0;
      font-size: utils.font-size('xs');
    }

    dt {
      min-height: 2.5rem;
      min-width: 2.5rem;
      border-radius: utils.size('xxxs');
    }
  }
}
