<p>
  Below is the Kirby color palette. You can try out the different color combinations there and see
  how it can be used in the CSS in the code example box. All the colors are fetched from the
  <code>scss/themes/_colors.scss</code>
  file.
</p>
<div class="color-sample-wrapper">
  <div class="h2">Example use (Click on a color below to change it):</div>
  <div class="color-sample-flex">
    <div class="color-sample-example color-sample {{ selectedColor }}">
      <div class="color-sample-on-text">Contrast Text</div>
      <div class="color-sample {{ selectedColor }}-tint">Tint</div>
      <div class="color-sample {{ selectedColor }}-shade">Shade</div>
    </div>
    <pre class="language-css">
@use '@kirbydesign/designsystem/scss/utils';

.color-sample-example {{ '{' }}
  background-color: utils.get-color('{{ selectedColor }}');
  color: utils.get-color('{{ selectedOnColor }}');
{{ '}' }}
.color-sample-tint {{ '{' }}
  background-color: utils.get-color('{{ selectedColor }}-tint');
{{ '}' }}
.color-sample-shade {{ '{' }}
  background-color: utils.get-color('{{ selectedColor }}-shade');
{{ '}' }}</pre
    >
  </div>
</div>

<h2>Brand colors</h2>
<ng-container *ngTemplateOutlet="colorPalette; context: { $implicit: brandColors }"></ng-container>

<h2>Notification colors</h2>
<ng-container
  *ngTemplateOutlet="colorPalette; context: { $implicit: notificationColors }"
></ng-container>

<h2>Decoration colors</h2>
<ng-container
  *ngTemplateOutlet="decorationColorPalette; context: { $implicit: decorationColors }"
></ng-container>

<h2>System colors</h2>
<ng-container *ngTemplateOutlet="colorPalette; context: { $implicit: systemColors }"></ng-container>

<h2>Text colors</h2>
<ul class="text-color-palette">
  <li *ngFor="let color of textColors" class="text-color-box {{ color.name }}">
    <div>
      <h3 class="color-name">{{ color.name }}</h3>
      <dl class="kirby-text-xsmall color-values">
        <dt>Value</dt>
        <dd>{{ color.value }}</dd>
      </dl>
    </div>
  </li>
</ul>

<ng-template #colorPalette let-colors>
  <ul class="color-palette">
    <li *ngFor="let color of colors" class="color-box" (click)="onColorClick(color)">
      <h3 class="color-name">{{ color.name }}</h3>
      <div class="color-samples">
        <div class="color-sample {{ color.name }}">
          <h3>{{ color.name | slice: 0:2 }}</h3>
        </div>
        <div class="color-sample {{ color.tint.name }}"></div>
        <div class="color-sample {{ color.shade.name }}"></div>
      </div>
      <dl class="kirby-text-xsmall color-values">
        <dt>Base</dt>
        <dd>{{ color.value }}</dd>
        <dt>Tint</dt>
        <dd>{{ color.tint.value }}</dd>
        <dt>Shade</dt>
        <dd>{{ color.shade.value }}</dd>
        <dt>Contrast</dt>
        <dd>{{ color.contrast.value }}</dd>
      </dl>
    </li>
  </ul>
</ng-template>

<ng-template #decorationColorPalette let-colors>
  <div class="color-palette-ramps">
    <div *ngFor="let color of colors" class="color-box">
      <h3 class="color-name">{{ color.name }}</h3>
      <dl>
        <ng-container *ngFor="let ramp of color.ramp" class="color-box">
          <dd>{{ ramp.step }}</dd>
          <dt
            class="color-ramp-sample {{ color.name }}-{{ ramp.step }}"
            title="var(--kirby-decoration-color-{{ color.name }}-{{ ramp.step }})"
          ></dt>
        </ng-container>
      </dl>
    </div>
  </div>
</ng-template>
