@use '../design-token-table';
@use '../showcase.shared';
@use '../../shared/mini-toast';

@include design-token-table.copy-token-cell;

.color-swatch {
  display: block;
  width: var(--kirby-spacing-l);
  height: var(--kirby-spacing-l);
  border-radius: var(--kirby-border-radius-xs);
  transition: transform var(--kirby-transition-duration-quick);
}

tr:hover .color-swatch {
  transform: scale(110%);
}

.system-colors .color-swatch {
  border: var(--kirby-spacing-xxxxs) solid var(--kirby-medium);
}

.decoration-ramp {
  display: flex;
  gap: var(--kirby-spacing-xxs);
}

.decoration-swatch {
  display: block;
  width: var(--kirby-spacing-l);
  height: var(--kirby-spacing-l);
  border-radius: var(--kirby-border-radius-xs);
  cursor: pointer;
  position: relative;
  transition: transform var(--kirby-transition-duration-quick);

  @include mini-toast.copied;

  &:hover {
    transform: scale(110%);
  }
}
